workflows/Blue Sky Kiosk Intake
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Intake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-10T15:22:29.477Z",
  "id": "ghFkET8NVWsNJ0Fz",
  "isArchived": false,
  "meta": null,
  "name": "Blue Sky Kiosk Intake",
  "nodes": [
    {
      "parameters": {
        "path": "1945306b-e7f2-4f20-98e0-dd109ad45973",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8640162a-479a-4838-a4e0-ed7099363f23",
      "name": "Webhook",
      "webhookId": "1945306b-e7f2-4f20-98e0-dd109ad45973"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>New Patient Registration - Blue Sky Wellness Portal</title>\n<script src=\"https://cdn.tailwindcss.com\"></script>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n<link href=\"https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css\" rel=\"stylesheet\">\n<style>\n:where([class^=\"ri-\"])::before { content: \"\\f3c2\"; }\n@keyframes float1 {\nfrom { transform: translateX(-300px); }\nto { transform: translateX(calc(100vw + 300px)); }\n}\n@keyframes float2 {\nfrom { transform: translateX(calc(100vw + 300px)); }\nto { transform: translateX(-300px); }\n}\n@keyframes float3 {\nfrom { transform: translateX(-300px); }\nto { transform: translateX(calc(100vw + 300px)); }\n}\n@keyframes float4 {\nfrom { transform: translateX(calc(100vw + 300px)); }\nto { transform: translateX(-300px); }\n}\n@keyframes float5 {\nfrom { transform: translateX(-300px); }\nto { transform: translateX(calc(100vw + 300px)); }\n}\n</style>\n<script>\ntailwind.config = {\ntheme: {\nextend: {\ncolors: {\nprimary: '#0EA5E9',\nsecondary: '#E0F2FE'\n},\nborderRadius: {\n'none': '0px',\n'sm': '4px',\nDEFAULT: '8px',\n'md': '12px',\n'lg': '16px',\n'xl': '20px',\n'2xl': '24px',\n'3xl': '32px',\n'full': '9999px',\n'button': '8px'\n}\n}\n}\n}\n</script>\n</head>\n<body class=\"min-h-screen bg-secondary\">\n<div class=\"fixed inset-0 pointer-events-none overflow-hidden\">\n<div class=\"absolute w-[800px] h-[800px] -top-[200px] -right-[200px] opacity-5\">\n<svg viewBox=\"0 0 200 200\" xmlns=\"http://www.w3.org/2000/svg\">\n<path fill=\"#FFFFFF\" d=\"M45.5,-77.8C58.9,-70.1,69.5,-57.4,77.8,-43.1C86.1,-28.8,92.1,-14.4,91.9,-0.1C91.7,14.2,85.3,28.4,76.9,41.2C68.5,54,58.1,65.4,45.1,73.7C32.1,82,16.1,87.2,0.4,86.5C-15.2,85.8,-30.5,79.2,-44.1,70.5C-57.7,61.8,-69.7,51,-77.3,37.6C-84.9,24.2,-88.1,8.1,-86.9,-7.7C-85.7,-23.5,-80,-39,-70.2,-51.1C-60.4,-63.2,-46.4,-71.9,-32.4,-79.1C-18.4,-86.3,-4.4,-92,9.8,-89.1C24,-86.2,48,-85.6,45.5,-77.8Z\" transform=\"translate(100 100)\"/>\n</svg>\n</div>\n<div class=\"absolute w-[600px] h-[600px] top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 opacity-5\">\n<svg viewBox=\"0 0 100 100\">\n<path fill=\"#FFFFFF\" d=\"M50,10 Q90,50 50,90 Q10,50 50,10\"/>\n<path fill=\"#FFFFFF\" d=\"M45,10 L55,10 L55,90 L45,90 Z\" opacity=\"0.3\"/>\n</svg>\n</div>\n<div class=\"absolute top-0 left-0 w-full h-screen overflow-hidden\">\n<div class=\"cloud absolute opacity-30\" style=\"animation: float1 30s linear infinite;\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"300\">\n<path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n</svg>\n</div>\n<div class=\"cloud absolute opacity-20\" style=\"animation: float2 25s linear infinite; top: 20%;\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"260\">\n<path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n</svg>\n</div>\n<div class=\"cloud absolute opacity-25\" style=\"animation: float3 35s linear infinite; top: 40%;\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"280\">\n<path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n</svg>\n</div>\n</div>\n</div>\n<main class=\"min-h-screen py-8 relative\">\n<div class=\"container mx-auto px-4\">\n<div class=\"max-w-3xl mx-auto\">\n<div class=\"bg-white shadow-lg !rounded-button p-8 relative\">\n<div class=\"absolute -top-4 -right-4 w-24 h-24 bg-primary/10 rounded-full\"></div>\n<div class=\"absolute -bottom-8 -left-8 w-32 h-32 bg-secondary/30 rounded-full\"></div>\n<div class=\"absolute top-1/2 right-0 transform translate-x-1/2 -translate-y-1/2 w-16 h-16 bg-primary/5 rounded-full\"></div>\n<div class=\"flex items-center mb-8\">\n<a href=\"https://readdy.ai/home/3211fd7f-fafa-4d56-b567-988d0bfe9b28/08cc7da3-2441-4815-aa49-dad2ff2cad59\" data-readdy=\"true\" class=\"flex items-center text-gray-600 hover:text-primary\">\n<i class=\"ri-arrow-left-line mr-2\"></i>\n<span>Back</span>\n</a>\n</div>\n<div class=\"text-center mb-8\">\n<div class=\"w-[200px] h-[80px] mx-auto flex items-center justify-center mb-4\">\n<img src=\"https://static.readdy.ai/image/73bd3615439db17ac464c62bda5dad15/7107beea759536188be3ebb6ae179b54.png\" alt=\"Blue Sky Provention Center\" class=\"w-full h-full object-contain\">\n</div>\n<h1 class=\"text-2xl font-semibold mb-2\">New Patient Registration</h1>\n<div class=\"flex items-center justify-center gap-2 text-sm text-gray-500\">\n<span class=\"w-8 h-8 rounded-full bg-primary text-white flex items-center justify-center\">1</span>\n<span class=\"w-16 h-0.5 bg-gray-200\"></span>\n<span class=\"w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center\">2</span>\n<span class=\"w-16 h-0.5 bg-gray-200\"></span>\n<span class=\"w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center\">3</span>\n<span class=\"w-16 h-0.5 bg-gray-200\"></span>\n<span class=\"w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center\">4</span>\n</div>\n</div>\n<form id=\"registrationForm\" class=\"space-y-6\">\n<div id=\"step1\" class=\"space-y-6\">\n<div class=\"grid grid-cols-1 md:grid-cols-2 gap-6\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">First Name</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button focus:ring-2 focus:ring-primary focus:border-primary\" required>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Last Name</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button focus:ring-2 focus:ring-primary focus:border-primary\" required>\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Date of Birth</label>\n<input type=\"date\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button focus:ring-2 focus:ring-primary focus:border-primary\" required>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Gender</label>\n<div class=\"flex gap-4\">\n<label class=\"flex items-center\">\n<input type=\"radio\" name=\"gender\" value=\"male\" class=\"mr-2\">\n<span>Male</span>\n</label>\n<label class=\"flex items-center\">\n<input type=\"radio\" name=\"gender\" value=\"female\" class=\"mr-2\">\n<span>Female</span>\n</label>\n<label class=\"flex items-center\">\n<input type=\"radio\" name=\"gender\" value=\"other\" class=\"mr-2\">\n<span>Other</span>\n</label>\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Email</label>\n<input type=\"email\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button focus:ring-2 focus:ring-primary focus:border-primary\" required>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Phone Number</label>\n<input type=\"tel\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button focus:ring-2 focus:ring-primary focus:border-primary\" required>\n</div>\n<div class=\"space-y-4\">\n<label class=\"block text-sm font-medium text-gray-700\">Do you have a current Primary Care Physician?</label>\n<div class=\"flex items-center gap-4\">\n<button type=\"button\" class=\"px-4 py-2 border-2 border-primary text-primary hover:bg-primary/5 !rounded-button physician-toggle\" data-value=\"yes\">Yes</button>\n<button type=\"button\" class=\"px-4 py-2 border-2 border-gray-300 text-gray-700 hover:bg-gray-50 !rounded-button physician-toggle\" data-value=\"no\">No</button>\n</div>\n<div id=\"physicianDetails\" class=\"hidden space-y-4\">\n<input type=\"text\" placeholder=\"Physician's Name\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n<input type=\"text\" placeholder=\"Physician's Contact\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n</div>\n<div class=\"space-y-4\">\n<label class=\"block text-sm font-medium text-gray-700\">Do you currently have a gym membership?</label>\n<div class=\"flex items-center gap-4\">\n<button type=\"button\" class=\"px-4 py-2 border-2 border-primary text-primary hover:bg-primary/5 !rounded-button gym-toggle\" data-value=\"yes\">Yes</button>\n<button type=\"button\" class=\"px-4 py-2 border-2 border-gray-300 text-gray-700 hover:bg-gray-50 !rounded-button gym-toggle\" data-value=\"no\">No</button>\n</div>\n<div id=\"gymDetails\" class=\"hidden space-y-4\">\n<input type=\"text\" placeholder=\"Gym Name\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n<input type=\"text\" placeholder=\"Location\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n</div>\n</div>\n<div id=\"step2\" class=\"hidden space-y-6\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Past Medical Conditions</label>\n<textarea class=\"w-full px-4 py-2 border border-gray-300 !rounded-button h-24 resize-none\" placeholder=\"Please list any past medical conditions...\"></textarea>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Current Medications</label>\n<textarea class=\"w-full px-4 py-2 border border-gray-300 !rounded-button h-24 resize-none\" placeholder=\"Please list any current medications...\"></textarea>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Allergies</label>\n<textarea class=\"w-full px-4 py-2 border border-gray-300 !rounded-button h-24 resize-none\" placeholder=\"Please list any allergies...\"></textarea>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Family Medical History</label>\n<textarea class=\"w-full px-4 py-2 border border-gray-300 !rounded-button h-24 resize-none\" placeholder=\"Please describe any relevant family medical history...\"></textarea>\n</div>\n</div>\n<div id=\"step3\" class=\"hidden space-y-6\">\n<div class=\"space-y-6\">\n<h3 class=\"text-lg font-medium\">Primary Emergency Contact</h3>\n<div class=\"grid grid-cols-1 md:grid-cols-2 gap-6\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Full Name</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Relationship</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Phone Number</label>\n<input type=\"tel\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n</div>\n<div class=\"space-y-6\">\n<h3 class=\"text-lg font-medium\">Alternative Emergency Contact</h3>\n<div class=\"grid grid-cols-1 md:grid-cols-2 gap-6\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Full Name</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Relationship</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Phone Number</label>\n<input type=\"tel\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\">\n</div>\n</div>\n</div>\n<div id=\"step4\" class=\"hidden space-y-6\">\n<div class=\"space-y-6\">\n<h3 class=\"text-lg font-medium text-center mb-4\">Payment Information</h3>\n<div class=\"max-w-md mx-auto\">\n<div class=\"bg-gray-50 p-6 !rounded-button mb-8\">\n<div class=\"text-center\">\n<h4 class=\"text-xl font-semibold mb-2\">Platinum Membership</h4>\n<p class=\"text-3xl font-bold text-primary mb-2\"><span class=\"line-through mr-2\">$249</span>$97</p>\n<p class=\"text-sm text-gray-600\">First month bundle price</p>\n<p class=\"text-sm text-gray-500 mt-2\">$249 per month after initial bundle</p>\n</div>\n</div>\n<div class=\"space-y-4\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Card Number</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\" placeholder=\"1234 5678 9012 3456\" maxlength=\"19\">\n</div>\n<div class=\"grid grid-cols-2 gap-4\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Expiry Date</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\" placeholder=\"MM/YY\" maxlength=\"5\">\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">CVV</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\" placeholder=\"123\" maxlength=\"3\">\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Name on Card</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\" placeholder=\"John Doe\">\n</div>\n</div>\n</div>\n<div class=\"border-t border-gray-200 my-8\"></div>\n<div class=\"space-y-4\">\n<h3 class=\"text-lg font-medium\">Liability Waiver</h3>\n<div class=\"bg-gray-50 p-6 !rounded-button text-sm text-gray-600 leading-relaxed\">\n<p>I understand and agree that Blue Sky Wellness Center, its owners, staff, and affiliates are not liable for any injuries or damages that may occur during my participation in any activities or treatments at the facility. I acknowledge that I am participating voluntarily and assume all risks associated with my participation.</p>\n<p class=\"mt-4\">By signing below, I confirm that I have read, understood, and agree to the terms of this liability waiver. I also confirm that all the information provided in this registration form is accurate and complete to the best of my knowledge.</p>\n<div class=\"mt-4 flex items-center gap-2\">\n<input type=\"checkbox\" id=\"emailCopy\" class=\"rounded border-gray-300\">\n<label for=\"emailCopy\" class=\"text-sm text-gray-600\">Please email me a copy of this liability waiver</label>\n</div>\n</div>\n<div class=\"space-y-4 mt-4\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Digital Signature</label>\n<input type=\"text\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\" placeholder=\"Type your full legal name\" required>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 mb-1\">Date</label>\n<input type=\"date\" class=\"w-full px-4 py-2 border border-gray-300 !rounded-button\" required>\n</div>\n<label class=\"flex items-start gap-2 cursor-pointer\">\n<input type=\"checkbox\" class=\"mt-1\" required>\n<span class=\"text-sm text-gray-600\">I acknowledge that typing my name above constitutes a legal signature confirming that I have read and agree to the terms outlined in the liability waiver.</span>\n</label>\n</div>\n</div>\n</div>\n</div>\n<div class=\"flex justify-between pt-8\">\n<button type=\"button\" id=\"prevBtn\" class=\"hidden px-6 py-2 border-2 border-primary text-primary hover:bg-primary/5 !rounded-button\">Previous</button>\n<button type=\"button\" id=\"nextBtn\" class=\"ml-auto px-6 py-2 bg-primary text-white hover:bg-primary/90 !rounded-button\">Next</button>\n<button type=\"submit\" id=\"submitBtn\" class=\"hidden px-6 py-2 bg-primary text-white hover:bg-primary/90 !rounded-button\">Submit</button>\n</div>\n</form>\n</div>\n</div>\n</div>\n</main>\n<script>\nlet currentStep = 1;\nconst totalSteps = 4;\ndocument.querySelectorAll('.physician-toggle').forEach(btn => {\nbtn.addEventListener('click', () => {\ndocument.querySelectorAll('.physician-toggle').forEach(b => {\nb.classList.remove('border-primary', 'text-primary');\nb.classList.add('border-gray-300', 'text-gray-700');\n});\nbtn.classList.remove('border-gray-300', 'text-gray-700');\nbtn.classList.add('border-primary', 'text-primary');\ndocument.getElementById('physicianDetails').style.display = btn.dataset.value === 'yes' ? 'block' : 'none';\n});\n});\ndocument.querySelectorAll('.gym-toggle').forEach(btn => {\nbtn.addEventListener('click', () => {\ndocument.querySelectorAll('.gym-toggle').forEach(b => {\nb.classList.remove('border-primary', 'text-primary');\nb.classList.add('border-gray-300', 'text-gray-700');\n});\nbtn.classList.remove('border-gray-300', 'text-gray-700');\nbtn.classList.add('border-primary', 'text-primary');\ndocument.getElementById('gymDetails').style.display = btn.dataset.value === 'yes' ? 'block' : 'none';\n});\n});\ndocument.getElementById('nextBtn').addEventListener('click', () => {\nif (currentStep < totalSteps) {\ndocument.getElementById(`step${currentStep}`).classList.add('hidden');\ncurrentStep++;\ndocument.getElementById(`step${currentStep}`).classList.remove('hidden');\ndocument.getElementById('prevBtn').classList.remove('hidden');\nif (currentStep === totalSteps) {\ndocument.getElementById('nextBtn').classList.add('hidden');\ndocument.getElementById('submitBtn').classList.remove('hidden');\n}\nupdateProgressIndicators();\n}\n});\ndocument.getElementById('prevBtn').addEventListener('click', () => {\nif (currentStep > 1) {\ndocument.getElementById(`step${currentStep}`).classList.add('hidden');\ncurrentStep--;\ndocument.getElementById(`step${currentStep}`).classList.remove('hidden');\nif (currentStep === 1) {\ndocument.getElementById('prevBtn').classList.add('hidden');\n}\ndocument.getElementById('nextBtn').classList.remove('hidden');\ndocument.getElementById('submitBtn').classList.add('hidden');\nupdateProgressIndicators();\n}\n});\nfunction updateProgressIndicators() {\nconst indicators = document.querySelectorAll('.flex.items-center.justify-center.gap-2 span');\nindicators.forEach((indicator, index) => {\nif (index % 2 === 0) {\nif (Math.ceil(index/2) + 1 <= currentStep) {\nindicator.classList.remove('bg-gray-200');\nindicator.classList.add('bg-primary', 'text-white');\n} else {\nindicator.classList.remove('bg-primary', 'text-white');\nindicator.classList.add('bg-gray-200');\n}\n}\n});\n}\ndocument.querySelectorAll('.payment-method-btn').forEach(btn => {\nbtn.addEventListener('click', () => {\ndocument.querySelectorAll('.payment-method-btn').forEach(b => {\nb.classList.remove('border-primary', 'text-primary');\nb.classList.add('border-gray-300', 'text-gray-700');\n});\nbtn.classList.remove('border-gray-300', 'text-gray-700');\nbtn.classList.add('border-primary', 'text-primary');\nconst method = btn.dataset.method;\ndocument.getElementById('creditCardForm').style.display = method === 'credit' ? 'block' : 'none';\ndocument.getElementById('insuranceForm').style.display = method === 'insurance' ? 'block' : 'none';\n});\n});\ndocument.getElementById('registrationForm').addEventListener('submit', (e) => {\ne.preventDefault();\nconst successModal = document.createElement('div');\nsuccessModal.className = 'fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50';\nsuccessModal.innerHTML = `\n<div class=\"bg-white p-8 !rounded-button max-w-md w-full mx-4\">\n<div class=\"text-center\">\n<div class=\"w-16 h-16 bg-green-100 !rounded-button flex items-center justify-center mx-auto mb-4\">\n<i class=\"ri-check-line text-3xl text-green-500\"></i>\n</div>\n<h3 class=\"text-xl font-semibold mb-2\">Registration Successful!</h3>\n<p class=\"text-gray-600 mb-6\">Your registration has been completed successfully. We'll contact you shortly.</p>\n<a href=\"https://readdy.ai/home/3211fd7f-fafa-4d56-b567-988d0bfe9b28/08cc7da3-2441-4815-aa49-dad2ff2cad59\" data-readdy=\"true\">\n<button class=\"w-full px-6 py-2 bg-primary text-white hover:bg-primary/90 !rounded-button\">Return to Home</button>\n</a>\n</div>\n</div>\n`;\ndocument.body.appendChild(successModal);\n});\n</script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        20
      ],
      "id": "ba4d7068-a23c-4231-9d39-1a50544738a0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Medical Kiosk</title>\n  <script src=\"https://cdn.tailwindcss.com\"></script>\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n  <link href=\"https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css\" rel=\"stylesheet\">\n  <style>\n    :where([class^=\"ri-\"])::before { content: \"\\f3c2\"; }\n  </style>\n  <script>\n    tailwind.config = {\n      theme: {\n        extend: {\n          colors: {\n            primary: '#0EA5E9',\n            secondary: '#E0F2FE'\n          },\n          borderRadius: {\n            'none': '0px',\n            'sm': '4px',\n            DEFAULT: '8px',\n            'md': '12px',\n            'lg': '16px',\n            'xl': '20px',\n            '2xl': '24px',\n            '3xl': '32px',\n            'full': '9999px',\n            'button': '8px'\n          }\n        }\n      }\n    }\n    \n    // Function to navigate with the button pressed as a query parameter\n    function navigate(buttonType) {\n      const baseUrl = \"https://xl.epicpc.com/webhook/1945306b-e7f2-4f20-98e0-dd109ad45973\";\n      window.location.href = baseUrl + \"?button=\" + encodeURIComponent(buttonType);\n    }\n  </script>\n</head>\n<body class=\"min-h-screen bg-secondary\">\n  <div class=\"fixed inset-0 pointer-events-none overflow-hidden\">\n    <div class=\"absolute w-[800px] h-[800px] -top-[200px] -right-[200px] opacity-5\">\n      <svg viewBox=\"0 0 200 200\" xmlns=\"http://www.w3.org/2000/svg\">\n        <path fill=\"#FFFFFF\" d=\"M45.5,-77.8C58.9,-70.1,69.5,-57.4,77.8,-43.1C86.1,-28.8,92.1,-14.4,91.9,-0.1C91.7,14.2,85.3,28.4,76.9,41.2C68.5,54,58.1,65.4,45.1,73.7C32.1,82,16.1,87.2,0.4,86.5C-15.2,85.8,-30.5,79.2,-44.1,70.5C-57.7,61.8,-69.7,51,-77.3,37.6C-84.9,24.2,-88.1,8.1,-86.9,-7.7C-85.7,-23.5,-80,-39,-70.2,-51.1C-60.4,-63.2,-46.4,-71.9,-32.4,-79.1C-18.4,-86.3,-4.4,-92,9.8,-89.1C24,-86.2,48,-85.6,45.5,-77.8Z\" transform=\"translate(100 100)\"/>\n      </svg>\n    </div>\n    <div class=\"absolute w-[600px] h-[600px] top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 opacity-5\">\n      <svg viewBox=\"0 0 100 100\">\n        <path fill=\"#FFFFFF\" d=\"M50,10 Q90,50 50,90 Q10,50 50,10\"/>\n        <path fill=\"#FFFFFF\" d=\"M45,10 L55,10 L55,90 L45,90 Z\" opacity=\"0.3\"/>\n      </svg>\n    </div>\n    <div class=\"absolute top-0 left-0 w-full h-screen overflow-hidden\">\n      <div class=\"cloud absolute opacity-30\" style=\"animation: float1 30s linear infinite;\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"300\">\n          <path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n        </svg>\n      </div>\n      <div class=\"cloud absolute opacity-20\" style=\"animation: float2 25s linear infinite; top: 20%;\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"260\">\n          <path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n        </svg>\n      </div>\n      <div class=\"cloud absolute opacity-25\" style=\"animation: float3 35s linear infinite; top: 40%;\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"280\">\n          <path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n        </svg>\n      </div>\n      <div class=\"cloud absolute opacity-15\" style=\"animation: float4 28s linear infinite; top: 60%;\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"240\">\n          <path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n        </svg>\n      </div>\n      <div class=\"cloud absolute opacity-20\" style=\"animation: float5 32s linear infinite; top: 80%;\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 30\" width=\"290\">\n          <path fill=\"#0EA5E9\" d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"/>\n        </svg>\n      </div>\n    </div>\n    <style>\n      @keyframes float1 {\n        from { transform: translateX(-300px); }\n        to { transform: translateX(calc(100vw + 300px)); }\n      }\n      @keyframes float2 {\n        from { transform: translateX(calc(100vw + 300px)); }\n        to { transform: translateX(-300px); }\n      }\n      @keyframes float3 {\n        from { transform: translateX(-300px); }\n        to { transform: translateX(calc(100vw + 300px)); }\n      }\n      @keyframes float4 {\n        from { transform: translateX(calc(100vw + 300px)); }\n        to { transform: translateX(-300px); }\n      }\n      @keyframes float5 {\n        from { transform: translateX(-300px); }\n        to { transform: translateX(calc(100vw + 300px)); }\n      }\n    </style>\n  </div>\n  <main class=\"h-screen flex items-center justify-center relative\">\n    <div class=\"container mx-auto px-8\">\n      <div class=\"max-w-md mx-auto\">\n        <div class=\"p-8 bg-white shadow-lg !rounded-button hover:shadow-xl transition-all text-center\">\n          <div class=\"w-[280px] h-[120px] mx-auto flex items-center justify-center mb-4 overflow-hidden\">\n            <img src=\"https://static.readdy.ai/image/73bd3615439db17ac464c62bda5dad15/7107beea759536188be3ebb6ae179b54.png\" alt=\"Blue Sky Provention Center\" class=\"w-full h-full object-contain\">\n          </div>\n          <h2 class=\"text-2xl font-semibold mb-3\">Welcome</h2>\n          <p class=\"text-gray-500 mb-6 text-base\">Please check in to begin your visit</p>\n          <div class=\"flex flex-col gap-4\">\n            <button onclick=\"navigate('New Customer')\" class=\"w-full px-6 py-3 bg-primary text-white text-lg font-medium hover:bg-primary/90 !rounded-button flex items-center justify-center\">\n              <i class=\"ri-user-add-line mr-2\"></i>\n              New Customer\n            </button>\n            <button onclick=\"navigate('Existing Customer')\" class=\"w-full px-6 py-3 bg-white text-primary text-lg font-medium border-2 border-primary hover:bg-primary/5 !rounded-button flex items-center justify-center\">\n              <i class=\"ri-user-line mr-2\"></i>\n              Existing Customer\n            </button>\n            <button onclick=\"navigate('Forms')\" class=\"w-full px-6 py-3 bg-white text-primary text-lg font-medium border-2 border-primary hover:bg-primary/5 !rounded-button flex items-center justify-center\">\n              <i class=\"ri-calendar-line mr-2\"></i>\n              Forms\n            </button> \n          </div>\n        </div>\n      </div>\n    </div>\n  </main>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        -320
      ],
      "id": "94f041ff-6bb2-49fc-8482-cea96f2041d5",
      "name": "Intake"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Sign In - Blue Sky Wellness Portal</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\" />\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin />\n    <link\n      href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\"\n      rel=\"stylesheet\"\n    />\n    <link\n      href=\"https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css\"\n      rel=\"stylesheet\"\n    />\n    <style>\n      :where([class^=\"ri-\"])::before { content: \"\\f3c2\"; }\n      .cloud { pointer-events: none; }\n      @keyframes float1 { from { transform: translateX(-300px); } to { transform: translateX(calc(100vw + 300px)); } }\n      @keyframes float2 { from { transform: translateX(calc(100vw + 300px)); } to { transform: translateX(-300px); } }\n      @keyframes float3 { from { transform: translateX(-300px); } to { transform: translateX(calc(100vw + 300px)); } }\n      @keyframes float4 { from { transform: translateX(calc(100vw + 300px)); } to { transform: translateX(-300px); } }\n      @keyframes float5 { from { transform: translateX(-300px); } to { transform: translateX(calc(100vw + 300px)); } }\n    </style>\n    <script>\n      tailwind.config = {\n        theme: {\n          extend: {\n            colors: {\n              primary: \"#0EA5E9\",\n              secondary: \"#E0F2FE\",\n            },\n            borderRadius: {\n              none: \"0px\",\n              sm: \"4px\",\n              DEFAULT: \"8px\",\n              md: \"12px\",\n              lg: \"16px\",\n              xl: \"20px\",\n              \"2xl\": \"24px\",\n              \"3xl\": \"32px\",\n              full: \"9999px\",\n              button: \"8px\",\n            },\n          },\n        },\n      };\n    </script>\n  </head>\n  <body class=\"min-h-screen bg-secondary\">\n  <!-- Cal inline embed code begins -->\n<div style=\"width:100%;height:100%;overflow:scroll\" id=\"my-cal-inline\"></div>\n<script type=\"text/javascript\">\n  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement(\"script\")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === \"string\"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, [\"initNamespace\", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, \"https://app.cal.com/embed/embed.js\", \"init\");\nCal(\"init\", \"blue-sky-visit\", {origin:\"https://cal.com\"});\n \n  Cal.ns[\"blue-sky-visit\"](\"inline\", {\n    elementOrSelector:\"#my-cal-inline\",\n    config: {\"layout\":\"month_view\",\"theme\":\"light\"},\n    calLink: \"bkruse/blue-sky-visit\",\n  });\n \n  Cal.ns[\"blue-sky-visit\"](\"ui\", {\"theme\":\"light\",\"cssVarsPerTheme\":{\"light\":{\"cal-brand\":\"#6e9fcc\"},\"dark\":{\"cal-brand\":\"#fafafa\"}},\"hideEventTypeDetails\":false,\"layout\":\"month_view\"});\n</script>\n<!-- Cal inline embed code ends -->\n  </body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        240
      ],
      "id": "3b03025c-cab8-411b-96ab-e15332259098",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.button }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "e44c7b1e-958d-4e97-a9bc-1521d5ee8346"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "07b05eae-308e-4e25-935a-6335bdd07e29",
                    "leftValue": "={{ $json.query.button }}",
                    "rightValue": "New Customer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48ea5cd7-9fca-492f-83f6-ffa57c45a7d4",
                    "leftValue": "={{ $json.query.button }}",
                    "rightValue": "Existing Customer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d0c4be2c-8907-4704-a6f1-6da9ca3ff175",
                    "leftValue": "={{ $json.query.button }}",
                    "rightValue": "Forms",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        0
      ],
      "id": "f5801c63-2319-459b-bc12-7dff80b68b68",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Schedule Follow-up Appointment | Blue Sky Wellness Portal</title>\n<script src=\"https://cdn.tailwindcss.com\"></script>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n<link href=\"https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css\" rel=\"stylesheet\">\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js\"></script>\n<style>\n:where([class^=\"ri-\"])::before { content: \"\\f3c2\"; }\n.step-line::after {\ncontent: '';\nposition: absolute;\nleft: calc(50% + 2rem);\ntop: 50%;\nwidth: calc(100% - 4rem);\nheight: 2px;\nbackground: #E5E7EB;\n}\n.step.active .step-number {\nbackground-color: #0EA5E9;\ncolor: white;\n}\n.step.completed .step-number {\nbackground-color: #22C55E;\ncolor: white;\n}\n.time-slot:hover {\ntransform: translateY(-2px);\n}\n.time-slot.selected {\nborder-color: #0EA5E9;\nbackground-color: #E0F2FE;\n}\n.time-slot.disabled {\nopacity: 0.5;\ncursor: not-allowed;\n}\n.calendar-day:hover:not(.disabled) {\nbackground-color: #E0F2FE;\n}\n.calendar-day.selected {\nbackground-color: #0EA5E9;\ncolor: white;\n}\n.calendar-day.disabled {\ncolor: #9CA3AF;\ncursor: not-allowed;\n}\n.provider-card.selected {\nborder-color: #0EA5E9;\nbackground-color: #E0F2FE;\n}\n</style>\n<script>\ntailwind.config = {\ntheme: {\nextend: {\ncolors: {\nprimary: '#0EA5E9',\nsecondary: '#E0F2FE'\n},\nborderRadius: {\n'none': '0px',\n'sm': '4px',\nDEFAULT: '8px',\n'md': '12px',\n'lg': '16px',\n'xl': '20px',\n'2xl': '24px',\n'3xl': '32px',\n'full': '9999px',\n'button': '8px'\n}\n}\n}\n}\n</script>\n</head>\n<body class=\"min-h-screen bg-secondary\">\n<!-- Cal inline embed code begins -->\n<div style=\"width:100%;height:100%;overflow:scroll\" id=\"my-cal-inline\"></div>\n<script type=\"text/javascript\">\n  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement(\"script\")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === \"string\"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, [\"initNamespace\", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, \"https://app.cal.com/embed/embed.js\", \"init\");\nCal(\"init\", \"blue-sky-baseline\", {origin:\"https://cal.com\"});\n \n  Cal.ns[\"blue-sky-baseline\"](\"inline\", {\n    elementOrSelector:\"#my-cal-inline\",\n    config: {\"layout\":\"month_view\",\"theme\":\"light\"},\n    calLink: \"team/blue-sky-team/blue-sky-baseline\",\n  });\n \n  Cal.ns[\"blue-sky-baseline\"](\"ui\", {\"theme\":\"light\",\"cssVarsPerTheme\":{\"light\":{\"cal-brand\":\"#6e9fcc\"},\"dark\":{\"cal-brand\":\"#fafafa\"}},\"hideEventTypeDetails\":false,\"layout\":\"month_view\"});\n</script>\n<!-- Cal inline embed code ends -->\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        440
      ],
      "id": "229aa3b4-91c5-48cc-af82-c45d84d0fb42",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Schedule Follow-up Appointment | Blue Sky Wellness Portal</title>\n<script src=\"https://cdn.tailwindcss.com\"></script>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n<link href=\"https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css\" rel=\"stylesheet\">\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js\"></script>\n<style>\n:where([class^=\"ri-\"])::before { content: \"\\f3c2\"; }\n.step-line::after {\ncontent: '';\nposition: absolute;\nleft: calc(50% + 2rem);\ntop: 50%;\nwidth: calc(100% - 4rem);\nheight: 2px;\nbackground: #E5E7EB;\n}\n.step.active .step-number {\nbackground-color: #0EA5E9;\ncolor: white;\n}\n.step.completed .step-number {\nbackground-color: #22C55E;\ncolor: white;\n}\n.time-slot:hover {\ntransform: translateY(-2px);\n}\n.time-slot.selected {\nborder-color: #0EA5E9;\nbackground-color: #E0F2FE;\n}\n.time-slot.disabled {\nopacity: 0.5;\ncursor: not-allowed;\n}\n.calendar-day:hover:not(.disabled) {\nbackground-color: #E0F2FE;\n}\n.calendar-day.selected {\nbackground-color: #0EA5E9;\ncolor: white;\n}\n.calendar-day.disabled {\ncolor: #9CA3AF;\ncursor: not-allowed;\n}\n.provider-card.selected {\nborder-color: #0EA5E9;\nbackground-color: #E0F2FE;\n}\n</style>\n<script>\ntailwind.config = {\ntheme: {\nextend: {\ncolors: {\nprimary: '#0EA5E9',\nsecondary: '#E0F2FE'\n},\nborderRadius: {\n'none': '0px',\n'sm': '4px',\nDEFAULT: '8px',\n'md': '12px',\n'lg': '16px',\n'xl': '20px',\n'2xl': '24px',\n'3xl': '32px',\n'full': '9999px',\n'button': '8px'\n}\n}\n}\n}\n</script>\n</head>\n<body class=\"min-h-screen bg-secondary\">\n<div class=\"fixed inset-0 pointer-events-none overflow-hidden\">\n<div class=\"absolute w-[800px] h-[800px] -top-[200px] -right-[200px] opacity-5\">\n<svg viewBox=\"0 0 200 200\" xmlns=\"http://www.w3.org/2000/svg\">\n<path fill=\"#FFFFFF\" d=\"M45.5,-77.8C58.9,-70.1,69.5,-57.4,77.8,-43.1C86.1,-28.8,92.1,-14.4,91.9,-0.1C91.7,14.2,85.3,28.4,76.9,41.2C68.5,54,58.1,65.4,45.1,73.7C32.1,82,16.1,87.2,0.4,86.5C-15.2,85.8,-30.5,79.2,-44.1,70.5C-57.7,61.8,-69.7,51,-77.3,37.6C-84.9,24.2,-88.1,8.1,-86.9,-7.7C-85.7,-23.5,-80,-39,-70.2,-51.1C-60.4,-63.2,-46.4,-71.9,-32.4,-79.1C-18.4,-86.3,-4.4,-92,9.8,-89.1C24,-86.2,48,-85.6,45.5,-77.8Z\" transform=\"translate(100 100)\"/>\n</svg>\n</div>\n</div>\n<header class=\"fixed top-0 left-0 right-0 bg-white shadow-sm z-50\">\n<div class=\"container mx-auto px-4\">\n<div class=\"h-16 flex items-center justify-between\">\n<a href=\"https://readdy.ai/home/3211fd7f-fafa-4d56-b567-988d0bfe9b28/08cc7da3-2441-4815-aa49-dad2ff2cad59\" data-readdy=\"true\" class=\"flex items-center text-gray-600 hover:text-primary\">\n<i class=\"ri-arrow-left-line text-xl\"></i>\n<span class=\"ml-2\">Back</span>\n</a>\n<h1 class=\"text-xl font-semibold\">Schedule Follow-up Appointment</h1>\n<div class=\"w-[280px] h-[40px]\">\n<img src=\"https://static.readdy.ai/image/73bd3615439db17ac464c62bda5dad15/7107beea759536188be3ebb6ae179b54.png\" alt=\"Blue Sky Wellness Portal\" class=\"h-full object-contain\">\n</div>\n</div>\n</div>\n</header>\n<main class=\"container mx-auto px-4 pt-24 pb-8\">\n<div class=\"max-w-4xl mx-auto\">\n<div class=\"flex justify-between mb-8 relative\">\n<div class=\"step active flex-1 text-center relative z-10\">\n<div class=\"step-number w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center mx-auto mb-2\">1</div>\n<div class=\"text-sm font-medium\">Date & Time</div>\n</div>\n<div class=\"step flex-1 text-center relative z-10\">\n<div class=\"step-number w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center mx-auto mb-2\">2</div>\n<div class=\"text-sm font-medium\">Provider</div>\n</div>\n<div class=\"step flex-1 text-center relative z-10\">\n<div class=\"step-number w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center mx-auto mb-2\">3</div>\n<div class=\"text-sm font-medium\">Details</div>\n</div>\n<div class=\"step flex-1 text-center relative z-10\">\n<div class=\"step-number w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center mx-auto mb-2\">4</div>\n<div class=\"text-sm font-medium\">Review</div>\n</div>\n<div class=\"step-line absolute top-4 left-0 w-full z-0\"></div>\n</div>\n<div class=\"bg-white shadow-lg rounded-lg p-6\">\n<div class=\"mb-6\">\n<h2 class=\"text-xl font-semibold mb-2\">Step 1: Schedule Health Report Review (Virtual)</h2>\n<p class=\"text-gray-600 mb-4\">Please select a date 5-8 days from today for your virtual health report and action plan overview.</p>\n<div class=\"bg-blue-50 rounded-lg p-4 mb-4\">\n<h3 class=\"text-4xl font-bold text-gray-800 mb-2 text-center\">MARCH</h3>\n<p class=\"text-sm text-gray-600 text-center\">Available dates: March 15-18, 2025</p>\n</div>\n</div>\n<div class=\"hidden\" id=\"step2\">\n<h2 class=\"text-xl font-semibold mb-2\">Step 2: Schedule Next Bundle Visit</h2>\n<p class=\"text-gray-600 mb-4\">Please select a date approximately 8 weeks from today for your next bundle visit.</p>\n<div class=\"bg-blue-50 rounded-lg p-4 mb-4\">\n<p class=\"text-sm text-gray-600\">Available dates: Starting May 5, 2025</p>\n</div>\n</div>\n<div class=\"grid grid-cols-7 gap-1 mb-4\">\n<div class=\"text-center text-sm font-medium text-gray-600\">Sun</div>\n<div class=\"text-center text-sm font-medium text-gray-600\">Mon</div>\n<div class=\"text-center text-sm font-medium text-gray-600\">Tue</div>\n<div class=\"text-center text-sm font-medium text-gray-600\">Wed</div>\n<div class=\"text-center text-sm font-medium text-gray-600\">Thu</div>\n<div class=\"text-center text-sm font-medium text-gray-600\">Fri</div>\n<div class=\"text-center text-sm font-medium text-gray-600\">Sat</div>\n</div>\n<div class=\"grid grid-cols-7 gap-1 mb-6\">\n<div class=\"calendar-day disabled aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">26</div>\n<div class=\"calendar-day disabled aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">27</div>\n<div class=\"calendar-day disabled aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">28</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">1</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">2</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">3</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">4</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">5</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">6</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">7</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">8</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">9</div>\n<div class=\"calendar-day selected aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">10</div>\n<div class=\"calendar-day aspect-square flex items-center justify-center text-sm cursor-pointer rounded\">11</div>\n</div>\n<div class=\"mb-8\">\n<h3 class=\"text-lg font-medium mb-4\">Available Time Slots</h3>\n<div class=\"grid grid-cols-4 gap-3\">\n<div class=\"time-slot selected cursor-pointer border rounded-lg p-3 text-center transition-all\">\n<div class=\"text-sm font-medium\">9:00 AM</div>\n</div>\n<div class=\"time-slot cursor-pointer border rounded-lg p-3 text-center transition-all\">\n<div class=\"text-sm font-medium\">10:00 AM</div>\n</div>\n<div class=\"time-slot cursor-pointer border rounded-lg p-3 text-center transition-all\">\n<div class=\"text-sm font-medium\">11:00 AM</div>\n</div>\n<div class=\"time-slot disabled cursor-pointer border rounded-lg p-3 text-center transition-all\">\n<div class=\"text-sm font-medium\">2:00 PM</div>\n</div>\n<div class=\"time-slot cursor-pointer border rounded-lg p-3 text-center transition-all\">\n<div class=\"text-sm font-medium\">3:00 PM</div>\n</div>\n<div class=\"time-slot cursor-pointer border rounded-lg p-3 text-center transition-all\">\n<div class=\"text-sm font-medium\">4:00 PM</div>\n</div>\n</div>\n</div>\n<div class=\"flex justify-between\">\n<button class=\"px-6 py-2 border border-gray-300 rounded-button text-gray-600 hover:bg-gray-50\">Cancel</button>\n<button class=\"px-6 py-2 bg-primary text-white rounded-button hover:bg-primary/90\">Continue</button>\n</div>\n</div>\n</div>\n</main>\n<script>\ndocument.addEventListener('DOMContentLoaded', function() {\nlet currentStep = 1;\nconst calendarDays = document.querySelectorAll('.calendar-day:not(.disabled)');\nconst timeSlots = document.querySelectorAll('.time-slot:not(.disabled)');\nconst step2Element = document.getElementById('step2');\ncalendarDays.forEach(day => {\nday.addEventListener('click', () => {\ndocument.querySelector('.calendar-day.selected')?.classList.remove('selected');\nday.classList.add('selected');\n});\n});\ntimeSlots.forEach(slot => {\nslot.addEventListener('click', () => {\ndocument.querySelector('.time-slot.selected')?.classList.remove('selected');\nslot.classList.add('selected');\nconst selectedDate = document.querySelector('.calendar-day.selected')?.textContent;\nconst selectedTime = slot.querySelector('.text-sm').textContent;\nconst selectedDateTime = document.getElementById('selectedDateTime');\nconst selectedDateTimeText = document.getElementById('selectedDateTimeText');\nif(selectedDate && selectedTime) {\nselectedDateTime.classList.remove('hidden');\nselectedDateTimeText.textContent = `March ${selectedDate}, 2025 at ${selectedTime}`;\n}\n});\n});\ndocument.querySelector('button.bg-primary').addEventListener('click', () => {\nif (currentStep === 1) {\ncurrentStep = 2;\nstep2Element.classList.remove('hidden');\ndocument.querySelector('.calendar-day.selected')?.classList.remove('selected');\ndocument.querySelector('.time-slot.selected')?.classList.remove('selected');\ndocument.querySelector('h2').scrollIntoView({ behavior: 'smooth' });\n} else {\nconst confirmationDialog = document.createElement('div');\nconfirmationDialog.className = 'fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50';\nconfirmationDialog.innerHTML = `\n<div class=\"bg-white rounded-lg p-6 max-w-lg w-full mx-4\">\n<h3 class=\"text-xl font-semibold mb-4\">Appointment Confirmation</h3>\n<div class=\"space-y-4 mb-6\">\n<div class=\"bg-blue-50 rounded-lg p-4\">\n<h4 class=\"font-medium mb-2\">Health Report Review (Virtual)</h4>\n<p class=\"text-gray-600\">March 15, 2025 at 9:00 AM</p>\n</div>\n<div class=\"bg-blue-50 rounded-lg p-4\">\n<h4 class=\"font-medium mb-2\">Bundle Visit</h4>\n<p class=\"text-gray-600\">May 5, 2025 at 10:00 AM</p>\n</div>\n</div>\n<div class=\"flex flex-col gap-3\">\n<button id=\"sendReminder\" class=\"flex items-center justify-center gap-2 px-6 py-2 bg-primary text-white rounded-button hover:bg-primary/90\">\n<i class=\"ri-message-2-line\"></i>\nSend SMS Reminder\n</button>\n<button id=\"closeConfirmation\" class=\"px-6 py-2 border border-gray-300 rounded-button text-gray-600 hover:bg-gray-50\">Close</button>\n</div>\n</div>\n`;\ndocument.body.appendChild(confirmationDialog);\ndocument.getElementById('sendReminder').addEventListener('click', () => {\nconst reminderSent = document.createElement('div');\nreminderSent.className = 'fixed top-4 right-4 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg z-50 flex items-center gap-2';\nreminderSent.innerHTML = `\n<i class=\"ri-check-line\"></i>\n<span>Reminder sent successfully!</span>\n`;\ndocument.body.appendChild(reminderSent);\nsetTimeout(() => reminderSent.remove(), 3000);\n});\ndocument.getElementById('closeConfirmation').addEventListener('click', () => {\nconfirmationDialog.remove();\nconst appDownloadPrompt = document.createElement('div');\nappDownloadPrompt.className = 'fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50';\nappDownloadPrompt.innerHTML = `\n<div class=\"bg-white rounded-lg p-8 max-w-lg w-full mx-4\">\n  <div class=\"text-center mb-6\">\n    <div class=\"w-20 h-20 bg-primary/10 rounded-full flex items-center justify-center mx-auto mb-4\">\n      <i class=\"ri-smartphone-line text-primary text-3xl\"></i>\n    </div>\n    <h3 class=\"text-2xl font-semibold mb-2\">Get Our Mobile App</h3>\n    <p class=\"text-gray-600\">Stay connected and manage your appointments on the go with our mobile app</p>\n  </div>\n  <div class=\"grid grid-cols-2 gap-4 mb-6\">\n    <a href=\"#\" class=\"flex items-center justify-center gap-2 px-4 py-3 bg-black text-white rounded-button hover:bg-black/90\">\n      <i class=\"ri-apple-fill text-2xl\"></i>\n      <div class=\"text-left\">\n        <div class=\"text-xs\">Download on the</div>\n        <div class=\"font-medium\">App Store</div>\n      </div>\n    </a>\n    <a href=\"#\" class=\"flex items-center justify-center gap-2 px-4 py-3 bg-black text-white rounded-button hover:bg-black/90\">\n      <i class=\"ri-google-play-fill text-2xl\"></i>\n      <div class=\"text-left\">\n        <div class=\"text-xs\">Get it on</div>\n        <div class=\"font-medium\">Google Play</div>\n      </div>\n    </a>\n  </div>\n  <div class=\"flex flex-col gap-3\">\n    <button id=\"sendAppLink\" class=\"flex items-center justify-center gap-2 px-6 py-2 bg-primary text-white rounded-button hover:bg-primary/90\">\n      <i class=\"ri-message-2-line\"></i>\n      Send App Link via SMS\n    </button>\n    <button id=\"finalClose\" class=\"px-6 py-2 border border-gray-300 rounded-button text-gray-600 hover:bg-gray-50\">\n      Maybe Later\n    </button>\n  </div>\n</div>\n`;\ndocument.body.appendChild(appDownloadPrompt);\n\ndocument.getElementById('sendAppLink').addEventListener('click', () => {\n  const linkSent = document.createElement('div');\n  linkSent.className = 'fixed top-4 right-4 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg z-50 flex items-center gap-2';\n  linkSent.innerHTML = `\n    <i class=\"ri-check-line\"></i>\n    <span>App download link sent to your phone!</span>\n  `;\n  document.body.appendChild(linkSent);\n  setTimeout(() => linkSent.remove(), 3000);\n});\n\ndocument.getElementById('finalClose').addEventListener('click', () => {\n  appDownloadPrompt.remove();\n  window.location.href = '/';\n});\n});\n}\n});\n});\n</script>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        440
      ],
      "id": "245704a7-954e-4580-98b3-79de8d7116f0",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Sign In - Blue Sky Wellness Portal</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\" />\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin />\n    <link\n      href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\"\n      rel=\"stylesheet\"\n    />\n    <link\n      href=\"https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css\"\n      rel=\"stylesheet\"\n    />\n    <style>\n      :where([class^=\"ri-\"])::before { content: \"\\f3c2\"; }\n      .cloud { pointer-events: none; }\n      @keyframes float1 { from { transform: translateX(-300px); } to { transform: translateX(calc(100vw + 300px)); } }\n      @keyframes float2 { from { transform: translateX(calc(100vw + 300px)); } to { transform: translateX(-300px); } }\n      @keyframes float3 { from { transform: translateX(-300px); } to { transform: translateX(calc(100vw + 300px)); } }\n      @keyframes float4 { from { transform: translateX(calc(100vw + 300px)); } to { transform: translateX(-300px); } }\n      @keyframes float5 { from { transform: translateX(-300px); } to { transform: translateX(calc(100vw + 300px)); } }\n    </style>\n    <script>\n      tailwind.config = {\n        theme: {\n          extend: {\n            colors: {\n              primary: \"#0EA5E9\",\n              secondary: \"#E0F2FE\",\n            },\n            borderRadius: {\n              none: \"0px\",\n              sm: \"4px\",\n              DEFAULT: \"8px\",\n              md: \"12px\",\n              lg: \"16px\",\n              xl: \"20px\",\n              \"2xl\": \"24px\",\n              \"3xl\": \"32px\",\n              full: \"9999px\",\n              button: \"8px\",\n            },\n          },\n        },\n      };\n    </script>\n  </head>\n  <body class=\"min-h-screen bg-secondary\">\n    <div class=\"fixed inset-0 pointer-events-none overflow-hidden\">\n      <div\n        class=\"absolute w-[800px] h-[800px] -top-[200px] -right-[200px] opacity-5\"\n      >\n        <svg viewBox=\"0 0 200 200\" xmlns=\"http://www.w3.org/2000/svg\">\n          <path\n            fill=\"#FFFFFF\"\n            d=\"M45.5,-77.8C58.9,-70.1,69.5,-57.4,77.8,-43.1C86.1,-28.8,92.1,-14.4,91.9,-0.1C91.7,14.2,85.3,28.4,76.9,41.2C68.5,54,58.1,65.4,45.1,73.7C32.1,82,16.1,87.2,0.4,86.5C-15.2,85.8,-30.5,79.2,-44.1,70.5C-57.7,61.8,-69.7,51,-77.3,37.6C-84.9,24.2,-88.1,8.1,-86.9,-7.7C-85.7,-23.5,-80,-39,-70.2,-51.1C-60.4,-63.2,-46.4,-71.9,-32.4,-79.1C-18.4,-86.3,-4.4,-92,9.8,-89.1C24,-86.2,48,-85.6,45.5,-77.8Z\"\n            transform=\"translate(100 100)\"\n          />\n        </svg>\n      </div>\n      <div class=\"absolute top-0 left-0 w-full h-screen overflow-hidden\">\n        <div\n          class=\"cloud absolute opacity-30\"\n          style=\"animation: float1 30s linear infinite;\"\n        >\n          <svg\n            xmlns=\"http://www.w3.org/2000/svg\"\n            viewBox=\"0 0 100 30\"\n            width=\"300\"\n          >\n            <path\n              fill=\"#0EA5E9\"\n              d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"\n            />\n          </svg>\n        </div>\n        <div\n          class=\"cloud absolute opacity-20\"\n          style=\"animation: float2 25s linear infinite; top: 20%;\"\n        >\n          <svg\n            xmlns=\"http://www.w3.org/2000/svg\"\n            viewBox=\"0 0 100 30\"\n            width=\"260\"\n          >\n            <path\n              fill=\"#0EA5E9\"\n              d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"\n            />\n          </svg>\n        </div>\n        <div\n          class=\"cloud absolute opacity-25\"\n          style=\"animation: float3 35s linear infinite; top: 40%;\"\n        >\n          <svg\n            xmlns=\"http://www.w3.org/2000/svg\"\n            viewBox=\"0 0 100 30\"\n            width=\"280\"\n          >\n            <path\n              fill=\"#0EA5E9\"\n              d=\"M10 25 C10 15, 20 5, 30 5 S50 15, 50 5 S70 -5, 90 5 S100 15, 100 25 Z\"\n            />\n          </svg>\n        </div>\n      </div>\n    </div>\n \n    <main class=\"h-screen flex items-center justify-center relative\">\n      <div class=\"container mx-auto px-8\">\n        <div class=\"max-w-md mx-auto\">\n          <div class=\"p-8 bg-white shadow-lg !rounded-button\">\n            <div class=\"flex items-center mb-6\">\n              <a\n                href=\"https://readdy.ai/home/3211fd7f-fafa-4d56-b567-988d0bfe9b28/08cc7da3-2441-4815-aa49-dad2ff2cad59\"\n                data-readdy=\"true\"\n                class=\"flex items-center text-gray-600 hover:text-primary transition-colors\"\n              >\n                <i class=\"ri-arrow-left-line mr-2\"></i>\n                <span>Back</span>\n              </a>\n            </div>\n \n            <div class=\"text-center mb-8\">\n              <h2 class=\"text-2xl font-semibold mb-2\">Sign In</h2>\n              <p class=\"text-gray-500\">Please enter your details to check in</p>\n            </div>\n \n            <form id=\"loginForm\" class=\"space-y-6\">\n              <div class=\"relative\">\n                <div\n                  class=\"absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none\"\n                >\n                  <i class=\"ri-user-line text-gray-400\"></i>\n                </div>\n                <input\n                  type=\"text\"\n                  id=\"patientId\"\n                  class=\"w-full pl-10 pr-3 py-2 border-2 border-gray-200 !rounded-button focus:border-primary focus:outline-none\"\n                  placeholder=\"Patient ID or Phone Number\"\n                  required\n                />\n              </div>\n \n              <div class=\"relative\">\n                <div\n                  class=\"absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none\"\n                >\n                  <i class=\"ri-calendar-line text-gray-400\"></i>\n                </div>\n                <input\n                  type=\"date\"\n                  id=\"dob\"\n                  class=\"w-full pl-10 pr-3 py-2 border-2 border-gray-200 !rounded-button focus:border-primary focus:outline-none\"\n                  required\n                />\n              </div>\n \n              <div class=\"text-right\">\n                <button\n                  type=\"button\"\n                  id=\"forgotId\"\n                  class=\"text-primary hover:text-primary/80 text-sm font-medium\"\n                >\n                  Forgot ID?\n                </button>\n              </div>\n \n              <button\n                type=\"submit\"\n                class=\"w-full bg-primary text-white py-3 font-medium !rounded-button hover:bg-primary/90 transition-colors\"\n              >\n                Sign In\n              </button>\n            </form>\n          </div>\n \n          <div\n            id=\"successModal\"\n            class=\"hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center\"\n          >\n            <div class=\"bg-white p-8 !rounded-button max-w-md w-full mx-4\">\n              <div class=\"text-center mb-6\">\n                <div\n                  class=\"w-16 h-16 bg-green-100 !rounded-full flex items-center justify-center mx-auto mb-4\"\n                >\n                  <i class=\"ri-check-line text-green-500 text-3xl\"></i>\n                </div>\n                <h3 class=\"text-xl font-semibold mb-2\">Check-in Successful</h3>\n                <p class=\"text-gray-500\">Your appointment details:</p>\n              </div>\n              <div class=\"space-y-4 mb-6\">\n                <div class=\"flex justify-between items-center\">\n                  <span class=\"text-gray-600\">Date:</span>\n                  <span class=\"font-medium\">March 10, 2025</span>\n                </div>\n                <div class=\"flex justify-between items-center\">\n                  <span class=\"text-gray-600\">Time:</span>\n                  <span class=\"font-medium\">2:30 PM</span>\n                </div>\n                <div class=\"flex justify-between items-center\">\n                  <span class=\"text-gray-600\">Type:</span>\n                  <span class=\"font-medium\">Regular Check-up</span>\n                </div>\n              </div>\n              <button\n                id=\"closeModal\"\n                class=\"w-full bg-primary text-white py-3 font-medium !rounded-button hover:bg-primary/90\"\n              >\n                Continue\n              </button>\n            </div>\n          </div>\n \n          <div\n            id=\"forgotIdModal\"\n            class=\"hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center\"\n          >\n            <div class=\"bg-white p-8 !rounded-button max-w-md w-full mx-4\">\n              <h3 class=\"text-xl font-semibold mb-4\">\n                Forgot Your Patient ID?\n              </h3>\n              <p class=\"text-gray-500 mb-6\">\n                Please contact our front desk staff for assistance in retrieving\n                your Patient ID.\n              </p>\n              <button\n                id=\"closeForgotModal\"\n                class=\"w-full bg-primary text-white py-3 font-medium !rounded-button hover:bg-primary/90\"\n              >\n                Close\n              </button>\n            </div>\n          </div>\n        </div>\n      </div>\n    </main>\n \n    <script>\n      document.getElementById(\"loginForm\").addEventListener(\"submit\", function (e) {\n        e.preventDefault();\n        document.getElementById(\"successModal\").classList.remove(\"hidden\");\n      });\n \n      document.getElementById(\"closeModal\").addEventListener(\"click\", function () {\n        document.getElementById(\"successModal\").classList.add(\"hidden\");\n      });\n \n      document.getElementById(\"forgotId\").addEventListener(\"click\", function () {\n        document.getElementById(\"forgotIdModal\").classList.remove(\"hidden\");\n      });\n \n      document\n        .getElementById(\"closeForgotModal\")\n        .addEventListener(\"click\", function () {\n          document.getElementById(\"forgotIdModal\").classList.add(\"hidden\");\n        });\n    </script>\n  </body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        240
      ],
      "id": "03c3a212-f65f-4d79-a3e4-0fe6db31bc3e",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://sign.blueskycenters.com/d/dJYTQbEPtC91j6",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        640
      ],
      "id": "943ecafb-bc34-4b06-823e-cc62fc957490",
      "name": "Respond to Webhook5"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.46",
            "x-forwarded-for": "10.0.24.46",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Microsoft Edge\";v=\"134\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36 Edg/134.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "same-origin",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "referer": "https://xl.epicpc.com/webhook/1945306b-e7f2-4f20-98e0-dd109ad45973",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bi2wlGyWUrU8csBnMpC2ky94UMvv6i1l8%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BlOAQjwoHJTIaa%2BnRWw%2FuYu7Q4OoFm%2BVc%3D; cw_conversation=eyJhbGciOiJIUzI1NiJ9.eyJzb3VyY2VfaWQiOiJkOGU0ZmExYy0yMTk2LTQ3ODAtYjFhMi0zNGI5NzYyYWZhMjciLCJpbmJveF9pZCI6MX0.0lRACgYRzS4v3ie0Q3KCpE2J2om9Qu4ndLgNQa8saXU; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiYW9ldjhjM1NoOG5jMDNLc1A4R2dYK1dkUElNWFVaTWE0ejl6WjNZVndjZz0iLCJpYXQiOjE3NDE1MjUxMzMsImV4cCI6MTc0MjEyOTkzM30.rIaQjqTebvJyG_z9-oAyaV0qielGXsxoGWHwkfpqQ1I; theme=light; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2B9rEPPQh%2BQgL%2BHdLxCZQWlOFwT2H%2F8LDrkuS9zBZVLWhOALO9m9FpT8hGbiPP7iFgJMB3HjAhVwA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19RLDlPywLWdkMGfO3Xn%2BbKI84Cv8m8QDKOzSxqhxq2JxHORECRaWgQc8hR6DRGHlAg4Gt0yeve%2Fw4iuDMkybteRjl1IZO9XIWBHE4avxlOLfW8XyNwNJwTytB3QmZvDD4ctjKraqlUbChKqeHHC2usUGjty5y%2B%2B4A%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX18513nZVvpPOPHDWCF%2Fjsh%2Bfnk96qApEpxv4hyor4l%2FrfmmyrpNUkcmuCOnj7qsqpL7mfIScIO12KJ4iv9FXdWOe4CCXlfZnoTE8edA4t58ows5%2FLFLmLBsy%2F2z4lgo8NkKywRQp%2F8QyQ%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1741883060025%2C%220195904d-d03f-7753-a4d5-3d35dd8260c8%22%2C1741882773567%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fxl.epicpc.com%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FNRtCEtDPs1mxauoliyXVX2ggrWmOYrqciR0E38Sdj7pULh%2BxME%2FY2kunzUDkyGZP0jxnGMq0WOrYLzSR3y7rGc3edJ3W8%2FWjebFxNW4pfpUQCW7t4vMBXFMd2Io37cOxTMOz%2BMMUs2Q%3D%3D"
          },
          "params": {},
          "query": {
            "button": "New Customer"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/1945306b-e7f2-4f20-98e0-dd109ad45973",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-23T20:22:20.103Z",
  "versionId": "2fc010af-634d-4c34-86d1-14be43c46874"
}