workflows/EnVision Record Unlimited Joiners
{
  "active": true,
  "connections": {
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Provider Moderator Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "EnVision Room Display",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Provider Moderator Link2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto2": {
      "main": [
        [
          {
            "node": "PM Patient Info2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto4": {
      "main": [
        [
          {
            "node": "Meeting Ended Webhook Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crypto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Crypto6": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send Powershell CMD to RMM Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnVision Connect": {
      "main": [
        [
          {
            "node": "Identify Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Patient": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Meeting Running1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnVision Room Display": {
      "main": [
        [
          {
            "node": "Crypto5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Moderator Link": {
      "main": [
        [
          {
            "node": "Crypto14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Room1": {
      "main": [
        [
          {
            "node": "Get EnVision Agents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get EnVision Agents1": {
      "main": [
        [
          {
            "node": "CDN Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RMM Clients": {
      "main": [
        [
          {
            "node": "Split Out Site Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Site Names": {
      "main": [
        [
          {
            "node": "Filter to CDN Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve All Site Agents": {
      "main": [
        [
          {
            "node": "Map Room to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CDN Filter1": {
      "main": [
        [
          {
            "node": "Location Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Location Filter1": {
      "main": [
        [
          {
            "node": "Room Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RMM Clients1": {
      "main": [
        [
          {
            "node": "Split Out Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve All Site Agents1": {
      "main": [
        [
          {
            "node": "Map Room to Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Sites": {
      "main": [
        [
          {
            "node": "Filter to CDN Site1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to CDN Site1": {
      "main": [
        [
          {
            "node": "Map Site1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to CDN Site": {
      "main": [
        [
          {
            "node": "Map Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Site": {
      "main": [
        [
          {
            "node": "Retrieve All Site Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Identify Room",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Manual Record1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Map Room to Agent": {
      "main": [
        [
          {
            "node": "Send Powershell CMD to RMM Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Powershell CMD to RMM Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Crypto6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End Meeting Redirect": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Powershell CMD to RMM Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Room Filter1": {
      "main": [
        [],
        [
          {
            "node": "Send Powershell CMD to RMM Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Record1": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SuperVision EnVision": {
      "main": [
        [
          {
            "node": "Manual Record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Record2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Meeting Running",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Identify Room1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Meeting Running": {
      "main": [
        [
          {
            "node": "Crypto Is Meeting Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto Is Meeting Running": {
      "main": [
        [
          {
            "node": "HTTP Get Meeting Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Get Meeting Info": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Switch Create or Join",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Create or Join",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Identify Room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Meeting Running1": {
      "main": [
        [
          {
            "node": "Crypto Is Meeting Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Manual Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Moderator Link1": {
      "main": [
        [
          {
            "node": "Crypto7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "Provider Moderator Link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto7": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Crypto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto3": {
      "main": [
        [
          {
            "node": "Send Schedule Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Schedule Link2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Create or Join": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto Is Meeting Running1": {
      "main": [
        [
          {
            "node": "HTTP Get Meeting Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Get Meeting Info1": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "Switch Create or Join1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Create or Join1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Meeting Running2": {
      "main": [
        [
          {
            "node": "Crypto Is Meeting Running1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto8": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Crypto8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Create or Join1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Schedule Link": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto9": {
      "main": [
        [
          {
            "node": "PM Patient Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Schedule Link1": {
      "main": [
        [
          {
            "node": "SendGrid1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto10": {
      "main": [
        [
          {
            "node": "Send Schedule Link1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Schedule Link2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Crypto10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Crypto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Crypto9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        []
      ]
    },
    "HTTP Request12": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Is Meeting Running2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Site1": {
      "main": [
        [
          {
            "node": "Retrieve All Site Agents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Room to Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Identify Room": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get RMM Clients1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Patient Info2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Patient Info": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook4": {
      "main": [
        []
      ]
    },
    "Patient Queue Tab UNITY": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Moderator Link2": {
      "main": [
        [
          {
            "node": "Crypto13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto11": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        []
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Crypto8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Get many rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB2": {
      "main": [
        [
          {
            "node": "HTTP Request21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          },
          {
            "node": "EnVision Room Display1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [],
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows2": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto12": {
      "main": [
        [
          {
            "node": "Send Powershell CMD to RMM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnVision Room Display1": {
      "main": [
        [
          {
            "node": "Crypto12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto13": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto14": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-27T15:45:04.208Z",
  "id": "bk9es63uPmTlJmnU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "EnVision Record Unlimited Joiners",
  "nodes": [
    {
      "parameters": {
        "path": "45827bd7-56d2-442c-b929-9d147cfae249",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "31320cad-d854-4b7d-b9de-bc90d86e7cd3",
      "name": "EnVision Connect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2000,
        900
      ],
      "webhookId": "45827bd7-56d2-442c-b929-9d147cfae249"
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=create{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "3c06c91f-64c3-41fe-8999-e605d64afd3c",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -660,
        760
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "3adf609d-3e58-4908-873b-4fb4cf2ea8b8",
      "name": "Crypto1",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        0,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vid.epicpc.com/bigbluebutton/api/create?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "fc31cc9c-c8c3-4620-aa2f-ba4df014efba",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        750
      ]
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "f83dab06-85e4-4233-8e84-e73014f5ead4",
      "name": "Respond to Webhook4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        740
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}OmoVaMlzONHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "280a7134-0c25-4a82-b949-c7344a30e525",
      "name": "Crypto2",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -500,
        1020
      ]
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "envisionconnect@epicpc.com",
        "fromName": "EnVision Connect",
        "subject": "=EnVision: {{ $('Identify Patient').item.json[\"MRN\"] }}, {{ $('Identify Patient').item.json[\"DEM_FIRSTNAME\"] }} {{ $('Identify Patient').item.json[\"DEM_LASTNAME\"] }}",
        "contentValue": "=EnVision: {{ $('Identify Patient').item.json[\"MRN\"] }}, {{ $('Identify Patient').item.json[\"DEM_FIRSTNAME\"] }} {{ $('Identify Patient').item.json[\"DEM_LASTNAME\"] }}\n\nhttps://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "additionalFields": {}
      },
      "id": "3946c376-c126-4772-a031-39b9b83fa0dc",
      "name": "SendGrid",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        200,
        1020
      ],
      "credentials": {
        "sendGridApi": {
          "id": "tC3AFJ3SI4sGi9Xt",
          "name": "SendGrid account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nmnepic.bitrix24.com/rest/7/7ph530802yz1xd35/tasks.task.add.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"fields\": {\n       \"TITLE\": \"EnVision Connect\",\n       \"GROUP_ID\":\"107\",\n       \"RESPONSIBLE_ID\": \"229\",\n       \"DESCRIPTION\": \"EnVision Connect:  https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}\",\n       \"UF_CRM_TASK\":[\"C_344683\"],\n       \"TAGS\": \"Call\"\n   }\n}",
        "options": {}
      },
      "id": "87356f83-e21d-46cb-8a36-e573d42496f5",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2120,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "69ce5eca-34da-4d29-980f-362b3280ddcc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        469,
        1053
      ],
      "disabled": true
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=create{{ $json[\"apicall\"] }}tnhHaNJ807fmPZTThp3TqjsH5glzz2Dh9hDaCdeEJ8"
      },
      "id": "9bb492e0-5652-403f-98d7-9cc37e960a66",
      "name": "Crypto4",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        829,
        1053
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=callbackURL=https://xl.epicpc.com/webhook/935ee296-4a8c-447c-9505-bc0eff576283"
            }
          ]
        },
        "options": {}
      },
      "id": "d4b83beb-f289-41c1-b8dc-882a9bc565f8",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        669,
        1053
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "6caaf327-437b-4a25-8436-6194ad4bc801",
      "name": "Crypto5",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -440,
        2235
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.wiretapped.app/agents/{{ $json.agent_id }}/cmd/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"shell\":\"powershell\",\"cmd\":\"& 'C:\\\\\\\\Program Files (x86)\\\\\\\\Microsoft\\\\\\\\Edge\\\\\\\\Application\\\\\\\\msedge.exe' --kiosk 'https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}' --edge-kiosk-type=fullscreen;& 'C:\\\\\\\\PC-SETUP\\\\\\\\New-PC-Setup\\\\\\\\joinmeeting.ahk'\",\"timeout\":30,\"custom_shell\":null,\"run_as_user\":true}",
        "options": {}
      },
      "id": "7961b299-81a3-41ae-806f-11acd2f83db5",
      "name": "Send Powershell CMD to RMM Agent1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        2260
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=createtnhHaNJ807fmPZTThp3TqjsH5glzz2Dh9hDaCdeEJ8"
      },
      "id": "4403d8ce-f1c8-4c89-b548-030baa99b96d",
      "name": "Crypto6",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        829,
        893
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "5529c8b4-6da4-40f4-9e0c-5e88eca8a74e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        669,
        893
      ]
    },
    {
      "parameters": {
        "url": "=https://vid.epicpc.com/bigbluebutton/api/getRecordings?&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "8755323a-402d-40fb-9a8c-f05faf5fdebe",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        900
      ]
    },
    {
      "parameters": {
        "url": "=https://vid.epicpc.com/bigbluebutton/api/getRecordings?&checksum=fdd7030eb1eee41e39f282fc059b850f40f463647bedec33e1015e9525ed006e8b75bda008f7ff9091da2c8a9e0c4b58acd1e828b99618eae2f6a953f14e12b5",
        "options": {}
      },
      "id": "63897762-3343-4e6a-a55b-2b8cf205d176",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        989,
        713
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.wiretapped.app/agents/{{ $json.agent_id }}/cmd/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"shell\":\"powershell\",\"cmd\":\"& 'C:\\\\\\\\Program Files (x86)\\\\\\\\Microsoft\\\\\\\\Edge\\\\\\\\Application\\\\\\\\msedge.exe' --kiosk 'https://epichs.org' --edge-kiosk-type=fullscreen\",\"timeout\":30,\"custom_shell\":null,\"run_as_user\":true}",
        "options": {}
      },
      "id": "ad918b19-dece-48ff-8c3a-738a478b9ed8",
      "name": "Send Powershell CMD to RMM Agent2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        1520
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "992b8d62-d674-46d0-a165-0826dc124b9f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        0,
        2260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DECLARE @SSO VARCHAR(100) = '{{ $json.query.SSOToken }}';\n \nSELECT [SingleSignOnToken]\n      ,[SessionToken]\n      ,[UserName]\n      ,[CreatedOn]\n      ,[EncounterID]\n      ,[PatientID]\n\t  ,d.DEM_EXTERNALID as MRN\n\t  ,d.DEM_FIRSTNAME\n\t  ,d.DEM_LASTNAME\n\t  ,d.DEM_DATEOFBIRTH\n  FROM [EMR].[HPSITE].[UAI_SingleSignOnTokens] s\n  LEFT JOIN [HPSITE].[DEMOGRAPHICS_VIEW] d on s.PatientID=d.IMREDEM_CODE\n \n  WHERE S.SingleSignOnToken = @SSO\n  order by s.CreatedOn desc"
      },
      "id": "348d55fb-dcc4-406b-8118-16dde8dc8aaf",
      "name": "Identify Patient",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -1220,
        900
      ],
      "credentials": {
        "microsoftSql": {
          "id": "qYagSGVTKE5tZdos",
          "name": "Microsoft SQL EHR"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DECLARE @MRN VARCHAR(10) = '{{ $json[\"MRN\"] }}';\n--DECLARE @MRN VARCHAR(10) = '1102300';\n--DECLARE @APPTDATE DATE = '2024-05-13';\nDECLARE @APPTDATE DATE = '{{ $json.formattedDate }}';\n \nselect top 25 s.DEM_EXTERNALID as MRN,s.IMREDEM_CODE,lr.LOCATION_ID,s.LOCATION_NAME,lr.ROOM_ID,lr.ROOM_ABBR_TEXT,lr.ROOM_TEXT,s.CAREGIVER_NAME,s.SCHED_DATE,s.PATIENT_FIRSTNAME,s.PATIENT_LASTNAME,\ns.SCHED_TIMEIN,s.SCHED_TIMESTART,s.SCHED_TIMEOUT,s.SCHED_STATUS\nfrom [HPSITE].[SCHEDULE_VIEW] s \nleft join [EMR].[HPSITE].[SCHEDULE_TRACKINGSTATUS] t on s.IMRESCHED_CODE=t.IMRESCHED_CODE and s.TRACKINGSTATUS_ID=t.TRACKINGSTATUS_ID\nleft join [EMR].[HPSITE].[DEMOGRAPHICS] d on d.IMREDEM_CODE=s.IMREDEM_CODE\nleft join [EMR].[HPSITE].[LOCATION_ROOM] lr on lr.LOCATION_ID=s.LOCATION_ID and lr.ROOM_ID=s.ROOM_ID\nWHERE S.DEM_EXTERNALID = @MRN AND CAST(S.SCHED_DATE AS DATE) = @APPTDATE\nORDER BY S.SCHED_DATE DESC"
      },
      "id": "c2625f86-9d5c-437b-ba2d-9cacec7111fb",
      "name": "Identify Room",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -1240,
        2280
      ],
      "credentials": {
        "microsoftSql": {
          "id": "qYagSGVTKE5tZdos",
          "name": "Microsoft SQL EHR"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ $('Manual Record1').item.json[\"DEM_FIRSTNAME\"] }}&meetingID={{ $('Manual Record1').item.json[\"MRN\"] }}&password=mp&redirect=true&role=VIEWER&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true&userdata-bbb_show_session_details_on_join=false"
            }
          ]
        },
        "options": {}
      },
      "id": "4be49df1-6aca-40af-a625-90b393b703ec",
      "name": "EnVision Room Display",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -700,
        2240
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($('Manual Record1').item.json[\"UserName\"]) }}&meetingID={{ $('Manual Record1').item.json[\"MRN\"] }}&password=mp&redirect=true&role=MODERATOR&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true&userdata-bbb_show_session_details_on_join=false"
            }
          ]
        },
        "options": {}
      },
      "id": "be795fae-d04c-4a68-b0ec-23a687343c5d",
      "name": "Provider Moderator Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -160,
        740
      ]
    },
    {
      "parameters": {
        "path": "cbfc9f1f-9f13-4243-830a-bcf54f2a218f",
        "options": {}
      },
      "id": "45d14acf-7a86-4164-801e-c9684eeccf10",
      "name": "End Meeting Redirect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        460,
        1480
      ],
      "webhookId": "cbfc9f1f-9f13-4243-830a-bcf54f2a218f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DECLARE @MRN VARCHAR(10) = '{{ $json.query.meetingID }}';\n--DECLARE @MRN VARCHAR(10) = '1102300';\nDECLARE @APPTDATE DATE = '{{ $json[\"formattedDate\"] }}';\n--DECLARE @APPTDATE DATE = '2024-03-27';\n \nselect top 25 s.DEM_EXTERNALID as MRN,s.IMREDEM_CODE,lr.LOCATION_ID,s.LOCATION_NAME,lr.ROOM_ID,lr.ROOM_ABBR_TEXT,lr.ROOM_TEXT,s.CAREGIVER_NAME,s.SCHED_DATE,s.PATIENT_FIRSTNAME,s.PATIENT_LASTNAME,\ns.SCHED_TIMEIN,s.SCHED_TIMESTART,s.SCHED_TIMEOUT,s.SCHED_STATUS\nfrom [HPSITE].[SCHEDULE_VIEW] s \nleft join [EMR].[HPSITE].[SCHEDULE_TRACKINGSTATUS] t on s.IMRESCHED_CODE=t.IMRESCHED_CODE and s.TRACKINGSTATUS_ID=t.TRACKINGSTATUS_ID\nleft join [EMR].[HPSITE].[DEMOGRAPHICS] d on d.IMREDEM_CODE=s.IMREDEM_CODE\nleft join [EMR].[HPSITE].[LOCATION_ROOM] lr on lr.LOCATION_ID=s.LOCATION_ID and lr.ROOM_ID=s.ROOM_ID\nWHERE S.DEM_EXTERNALID = @MRN AND CAST(S.SCHED_DATE AS DATE) = @APPTDATE\nORDER BY S.SCHED_DATE DESC"
      },
      "id": "ebc64321-df93-4c47-a842-b126af35c1c3",
      "name": "Identify Room1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1100,
        1480
      ],
      "credentials": {
        "microsoftSql": {
          "id": "qYagSGVTKE5tZdos",
          "name": "Microsoft SQL EHR"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.wiretapped.app/agents/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "options": {}
      },
      "id": "7f8dfea9-822c-4a06-8bfb-a8f1d9f419e4",
      "name": "Get EnVision Agents1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        1480
      ]
    },
    {
      "parameters": {
        "content": "## Provider Link",
        "height": 236,
        "width": 528,
        "color": 4
      },
      "id": "7ffc688c-3f9e-4297-accf-bf3adb64e2d6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        680
      ]
    },
    {
      "parameters": {
        "content": "## End Meeting Redirect",
        "height": 598.1469522041756,
        "width": 1900.6072192525976,
        "color": 3
      },
      "id": "f47a28f2-6400-471c-ace5-c6f5cfdf6838",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        1299.8194828836545
      ]
    },
    {
      "parameters": {
        "content": "##   EnVision Board",
        "height": 784.5293021303877,
        "width": 1812.2199532817535,
        "color": 5
      },
      "id": "583ac327-32e3-44fa-b130-7318b97feb94",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1496.4694538042418,
        2180
      ]
    },
    {
      "parameters": {
        "content": "## Patient Link",
        "height": 395.77126312382586,
        "width": 987.91497192119,
        "color": 5
      },
      "id": "f32a7e26-ae3a-4adc-9f04-2fc0e281eb90",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        960
      ]
    },
    {
      "parameters": {
        "content": "## General API Info",
        "height": 590.4560232940737,
        "width": 1135.152866622903
      },
      "id": "1133d04e-2daf-4bb7-806a-9671eaf301d3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        680
      ]
    },
    {
      "parameters": {
        "url": " https://api.wiretapped.app/clients/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "options": {}
      },
      "id": "ba110493-3398-4f2b-a1f4-5b0e056f2c9f",
      "name": "Get RMM Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        1680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "sites",
        "options": {}
      },
      "id": "ea8f7582-b813-4cc0-831c-0f6e70ef85a3",
      "name": "Split Out Site Names",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1260,
        1680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.wiretapped.app/agents/?site={{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "options": {}
      },
      "id": "e3429843-e4f1-4762-ac4f-4639bb449fc9",
      "name": "Retrieve All Site Agents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        1680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.client_name }}",
        "rules": {
          "rules": [
            {
              "value2": "=CDN"
            }
          ]
        }
      },
      "id": "d6229fbe-1163-41af-92b1-2ecd42dd7abf",
      "name": "CDN Filter1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        1480,
        1480
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.site_name }}",
        "rules": {
          "rules": [
            {
              "value2": "=EPIC Southfield 10 Mile"
            }
          ]
        }
      },
      "id": "1592ab25-3dfe-4baf-baa7-6407e2b4ccd8",
      "name": "Location Filter1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        1640,
        1480
      ]
    },
    {
      "parameters": {
        "url": " https://api.wiretapped.app/clients/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "options": {}
      },
      "id": "3d78de39-d4ae-4769-b6bf-a745eaaeb86a",
      "name": "Get RMM Clients1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -880,
        2500
      ]
    },
    {
      "parameters": {
        "url": "=https://api.wiretapped.app/agents/?site={{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "options": {}
      },
      "id": "befa21d7-590a-40d6-92ae-fdfac33cae07",
      "name": "Retrieve All Site Agents1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -280,
        2500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vid.epicpc.com/bigbluebutton/api/hooks/create?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "1257fc51-7297-4782-bc35-db0c97d5e70a",
      "name": "Meeting Ended Webhook Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        989,
        1053
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "sites",
        "options": {}
      },
      "id": "5140dd15-39e2-46b3-9231-004484daa1e3",
      "name": "Split Out Sites",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -740,
        2500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.client }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a2f8f300-9a89-41df-8fb1-f213e88894ec",
      "name": "Filter to CDN Site1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -580,
        2500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.client }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7ef4add8-fd05-4bdb-9b97-e69795e552e1",
      "name": "Filter to CDN Site",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1420,
        1680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "={{ $('Identify Room').item.json.LOCATION_NAME }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a34c059c-9f4b-4132-bb51-fe46221539cd",
      "name": "Map Site",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1560,
        1680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "536fc2cd-6bb1-4b78-9b2a-06375228db71",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1413,
        1780
      ]
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {}
      },
      "id": "3812ee45-f202-4780-b95c-5d3072f75974",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1460,
        1560
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "1c85130d-d331-4b17-bebe-1155cd7e14b7",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1180,
        1320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hostname }}",
                    "rightValue": "GE",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "d669b6e9-b864-4bc3-8327-94facb6c54c6",
                    "leftValue": "={{ $json.hostname }}",
                    "rightValue": "={{ $('Identify Room').item.json.ROOM_TEXT }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e3437bbd-8c61-4e2d-a193-786d7dc7d2f3",
      "name": "Map Room to Agent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1920,
        1680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Today's Date",
        "height": 432.87020014656974,
        "width": 275.8842651701251,
        "color": 2
      },
      "id": "fbc6836c-f3a1-4dca-92bc-c59bbada38fd",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        1492.360416910451
      ]
    },
    {
      "parameters": {
        "content": "## Create Bitrix24 Task To Check For Recording",
        "height": 247.94167860708484,
        "width": 1890.2891086976672,
        "color": 6
      },
      "id": "00afc34d-2449-4d9c-9881-6d2d59d052ef",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        1916
      ]
    },
    {
      "parameters": {},
      "id": "f925298f-d7e5-4d0d-b0a1-5677d6b616fe",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        2355
      ],
      "webhookId": "7775e566-cdde-4dbb-b94a-c54fab11efe6",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://vid.epicpc.com/bigbluebutton/api/getRecordings?&checksum=fdd7030eb1eee41e39f282fc059b850f40f463647bedec33e1015e9525ed006e8b75bda008f7ff9091da2c8a9e0c4b58acd1e828b99618eae2f6a953f14e12b5",
        "options": {}
      },
      "id": "1a68d287-70a4-451a-a9ec-08d0777b6832",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        720,
        2520
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ec9ccbe8-ef25-416c-9467-9cea7654b791",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1460,
        2375
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4bdb370a-b110-4d65-afd8-7efe9a9e671c",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        900,
        2515
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "response.recordings",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "405a2cfe-bcce-435a-9b9e-a3cd06b36986",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1080,
        2515
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "['response.recordings']",
        "options": {}
      },
      "id": "40bf2f5e-203b-4305-bb71-e425ba86eee1",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1260,
        2520
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3286aa3f-da9d-4be9-8b80-41766837e6ae",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        2375
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Get Recording, Send Message",
        "height": 542.3470075037833,
        "width": 1623.5443261219366,
        "color": 6
      },
      "id": "b034dc73-3938-4f2b-b21e-5328863b5b7e",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        2180
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.hostname }}",
        "rules": {
          "rules": [
            {
              "operation": "endsWith",
              "value2": "=A1"
            },
            {
              "operation": "contains",
              "value2": "USER-I3GVM7DUB0"
            }
          ]
        }
      },
      "id": "d0649757-5689-4ddd-bbe2-99a1e44446a2",
      "name": "Room Filter1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        1800,
        1480
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=allowStartStopRecording=true&autoStartRecording=false&attendeePW=ap&meetingID={{ $json[\"MRN\"] }}&moderatorPW=mp&name={{ encodeURIComponent($json[\"DEM_FIRSTNAME\"]) }}%20{{ encodeURIComponent($json[\"DEM_LASTNAME\"]) }}&record=true&disabledFeatures=sharedNotes,chat&preUploadedPresentation=https://toms.app/tools/blank.pdf&meta_bbb-recording-ready-url=https%3A%2F%2Fxl.epicpc.com%2Fwebhook%2F4ca2f260-d673-4671-a207-99868dab5c75&meta_endCallbackUrl=https://xl.epicpc.com/webhook/cbfc9f1f-9f13-4243-830a-bcf54f2a218f&endWhenNoModerator=true&endWhenNoModeratorDelayInMinutes=1&logo=https://i0.wp.com/epichs.org/wp-content/uploads/2024/01/Side-Black-Font.png&logoutURL=https://epichs.org"
            }
          ]
        },
        "options": {}
      },
      "id": "30f818ce-bacf-4d8f-8b54-b4c51b2d77ac",
      "name": "Manual Record1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -820,
        760
      ]
    },
    {
      "parameters": {
        "path": "5d41a48c-e148-4281-a174-592a6d350b5e",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "326aa8e1-00cf-4230-baab-553a0dec0d86",
      "name": "SuperVision EnVision",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2320,
        900
      ],
      "webhookId": "5d41a48c-e148-4281-a174-592a6d350b5e"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "MRN",
              "stringValue": "={{ $json[\"query\"][\"PatientMrn\"] }}"
            },
            {
              "name": "DEM_FIRSTNAME",
              "stringValue": "={{ $json.query.PatientFirstName }}"
            },
            {
              "name": "DEM_LASTNAME",
              "stringValue": "={{ $json.query.PatientLastName }}"
            },
            {
              "name": "UserName",
              "stringValue": "={{ $json.query.ProviderFirstName.replaceAll(\" \",\"_\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "651a402a-5099-4d65-84ae-47f7e1dc875e",
      "name": "Manual Record2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2320,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "ee7948f2-8a73-4df6-9af1-650f4eea7521",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2320,
        1320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "MRN",
              "stringValue": "={{ $json[\"query\"][\"PatientMrn\"] }}"
            },
            {
              "name": "DEM_FIRSTNAME",
              "stringValue": "={{ $json.query.PatientFirstName }}"
            },
            {
              "name": "DEM_LASTNAME",
              "stringValue": "={{ $json.query.PatientLastName }}"
            },
            {
              "name": "UserName",
              "stringValue": "={{ $json.query.ProviderFirstName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18d78b25-c2ad-49e0-b0d9-e935bb2d85c8",
      "name": "Manual Record3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1620,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "4ce66f73-7e34-405b-b0c0-a2e7fa70e861",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        1620
      ]
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {}
      },
      "id": "700f77cd-5174-4e45-82d1-ab9551c99730",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        640,
        1620
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3e151be6-4bd4-47ba-9bf8-d0abbd41631e",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        920,
        1480
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=meetingID={{ $json.query.PatientMrn }}"
            }
          ]
        },
        "options": {}
      },
      "id": "998ba749-f3fa-41fa-91d7-a58b6834ff45",
      "name": "Is Meeting Running",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2320,
        1660
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=getMeetingInfo{{ $json[\"apicall\"] }}OmoVaMlzONHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "a76a7290-3195-4ca5-a1ff-032e7dbe055b",
      "name": "Crypto Is Meeting Running",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -2160,
        1620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vid.epicpc.com/bigbluebutton/api/getMeetingInfo?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "5de0f192-45be-4c98-9884-cc0bd5faccdd",
      "name": "HTTP Get Meeting Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2020,
        1620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2a12b5bc-e6f5-459c-8cc1-06ae0bf19dc4",
      "name": "XML1",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1880,
        1620
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3f484211-f58b-4d03-a14d-3f94387f7e51",
      "name": "Merge5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -980,
        1980
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=meetingID={{ $json.MRN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2d31c054-7086-49ec-a018-8f3e21f56810",
      "name": "Is Meeting Running1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2520,
        1500
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "cdc61777-4f3e-4443-9baf-afb9a1ca0011",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1380,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.wiretapped.app/agents/PcjNvCZzYHZxZXNJIyUzUuhwgTHqHpoRQKWSRfFx/cmd/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"shell\":\"powershell\",\"cmd\":\"& 'C:\\\\\\\\Program Files (x86)\\\\\\\\Microsoft\\\\\\\\Edge\\\\\\\\Application\\\\\\\\msedge.exe' --kiosk 'https://epichs.org' --edge-kiosk-type=fullscreen\",\"timeout\":30,\"custom_shell\":null,\"run_as_user\":true}",
        "options": {}
      },
      "id": "a7082d89-4f09-43ce-b4e3-7dfb4d23f10b",
      "name": "Send Powershell CMD to RMM Agent5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        1340
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "decode",
        "token": "={{ $json.body.signed_parameters }}"
      },
      "id": "69e4abb0-abfc-445b-8279-e287f0626068",
      "name": "JWT",
      "type": "n8n-nodes-jwt.jwt",
      "typeVersion": 1,
      "position": [
        600,
        2000
      ],
      "credentials": {
        "jwtSecret": {
          "id": "8Ps769Ewh4cyFW1C",
          "name": "JWT Secret BigBlueButton"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=getRecordings{{ $json[\"apicall\"] }}OmoVaMlzONHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "dbf189b1-9a3e-40d5-8873-6351d8b532f0",
      "name": "Crypto7",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        920,
        2000
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=recordID={{ $json.record_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5bffa13f-1ccc-47ce-8e89-ff98f25615fc",
      "name": "Provider Moderator Link1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        760,
        2000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vid.epicpc.com/bigbluebutton/api/getRecordings?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "b2767909-0173-4226-bcce-5157a12bf119",
      "name": "HTTP Request8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        2000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nmnepic.bitrix24.com/rest/229/ovmu87rocingpwzg/crm.contact.list.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={     \"filter\": { \"UF_CRM_1701895781\": \"{{ $('JWT').item.json[\"meeting_id\"] }}\" } }",
        "options": {}
      },
      "id": "efcf240b-9845-4fda-8e78-ee751a791978",
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        2000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nmnepic.bitrix24.com/rest/229/ovmu87rocingpwzg/crm.contact.list.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={     \"filter\": { \"UF_CRM_1701895781\": \"502880\" } }",
        "options": {}
      },
      "id": "613b6dfd-42cf-412a-a00e-f2d420a9a301",
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        2000
      ]
    },
    {
      "parameters": {
        "content": "# Create Meeting",
        "height": 239.98564711298258,
        "width": 531.1682955540203,
        "color": 4
      },
      "id": "9ab25a7f-27fa-4f1a-a78c-19235c31d08a",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        676.3632520921938
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "84ebb9e0-18ba-477f-8464-5b95d30e9a74",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1620,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ad32e1f-9d4b-4c9f-903a-8e06ea471a64",
              "name": "formattedDate",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f188a65-a23e-42d9-a2c8-c1dd16a0cb36",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1780,
        820
      ]
    },
    {
      "parameters": {
        "from": "+13133514769",
        "to": "=+1{{ $json.Patient_Cell_Phone }}",
        "message": "=Please click the EPIC Video Link:\nhttps://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "7037ae2d-a9c6-4eab-b30d-d8e87c8d7580",
      "name": "Send Schedule Link",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        80,
        1020
      ],
      "credentials": {
        "twilioApi": {
          "id": "qBB51xMHsgQyVoRt",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://n8n.cybertech.app/webhook/978858c8-efca-45d8-a43d-3de731b3ebde1?MRN={{ $('Identify Patient').item.json[\"MRN\"] }}&Name={{ $('Identify Patient').item.json[\"DEM_FIRSTNAME\"] }}",
        "options": {}
      },
      "id": "63056c67-d16e-4b3b-a992-e061323014a5",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}OmoVaMlzONHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "021b7c57-41c1-4afd-9015-3a583899817e",
      "name": "Crypto3",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -40,
        1020
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($('Identify Patient').item.json[\"DEM_FIRSTNAME\"]) }}&meetingID={{ $('Identify Patient').item.json[\"MRN\"] }}&password=mp&redirect=true&role=VIEWER&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true&userdata-bbb_show_session_details_on_join=false"
            }
          ]
        },
        "options": {}
      },
      "id": "d35b1b41-4e89-4682-a77a-0251a2a26a01",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -160,
        1020
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e9437f8d-1970-4ec4-8475-a15c1a7fee19",
                    "leftValue": "={{ $json.response.returncode }}",
                    "rightValue": "=SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response.returncode }}",
                    "rightValue": "=SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d4e41713-0834-4071-b2af-25f4366965d7",
      "name": "Switch Create or Join",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1740,
        1620
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3b11f053-a5de-4a65-876b-f3194ed74774",
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -880,
        1200
      ]
    },
    {
      "parameters": {
        "content": "# General \"other\" Info",
        "height": 588.5723845104476,
        "width": 751.0966245293625
      },
      "id": "5290f449-eb50-4e02-8a35-2001d127d8ed",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        680
      ]
    },
    {
      "parameters": {
        "content": "# Is the meeting running?",
        "height": 768.6531067575835,
        "width": 848.8131069681126,
        "color": 2
      },
      "id": "71b12293-2d5e-495b-a6c4-114124b8969b",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2360,
        1070.1951612162893
      ]
    },
    {
      "parameters": {
        "content": "## Meeting is running",
        "height": 264.882772959645,
        "width": 190.74444314426034,
        "color": 4
      },
      "id": "815f9939-a3ea-4187-8cf2-f259f740c55d",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        1074.9069446069675
      ]
    },
    {
      "parameters": {
        "content": "## Meeting is not running",
        "height": 247.3421615255179,
        "width": 173.07757378686003,
        "color": 3
      },
      "id": "97be152b-675e-4242-a04a-f67830ce4c45",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        1240
      ]
    },
    {
      "parameters": {
        "content": "## Only send link on meeting Create",
        "height": 303.9359357318493,
        "width": 152.61032473423433,
        "color": 2
      },
      "id": "9f860a8e-e4dd-4c2b-a2d5-5775ee2adcf2",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        1040
      ]
    },
    {
      "parameters": {
        "content": "# EnVision Entry",
        "height": 246.631248085496,
        "width": 503.1023090003954,
        "color": 4
      },
      "id": "4dbf4604-b240-42c0-8c26-e6374243c9ff",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2360,
        820
      ]
    },
    {
      "parameters": {
        "content": "## Route to EnVision Board",
        "height": 278.7168955245685,
        "width": 169.41157563404028,
        "color": 4
      },
      "id": "f6fe4483-4410-44b1-b717-bb7857a35620",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1020,
        1862.4599532073512
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "935ee296-4a8c-447c-9505-bc0eff576283",
        "options": {}
      },
      "id": "702526a5-d8b4-4cf1-bb42-b299587c6221",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1309,
        1053
      ],
      "webhookId": "935ee296-4a8c-447c-9505-bc0eff576283",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "945ddcef-ebd1-46e8-a1dc-022e9788903a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        1460
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=getMeetingInfo{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "20816b8e-8483-4c33-83df-0b9222d13679",
      "name": "Crypto Is Meeting Running1",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -260,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vid.epicpc.com/bigbluebutton/api/getMeetingInfo?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "9d4dc5b8-09f9-45d2-aa68-9ad32eaf38e8",
      "name": "HTTP Get Meeting Info1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -120,
        1720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2ef63649-3251-4c80-8eab-fc3e4542d09c",
      "name": "XML2",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        20,
        1720
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=meetingID={{ $json[\"query\"][\"MRN\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "64ac8286-64cd-4681-8203-2fadf7079e5a",
      "name": "Is Meeting Running2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -420,
        1720
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "72e9e3b6-f228-4a52-a1ba-9463bb5a0738",
      "name": "Crypto8",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        0,
        1460
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($('Webhook3').item.json[\"query\"][\"Name\"]) }}&meetingID={{ $('Webhook3').item.json[\"query\"][\"MRN\"] }}&password=mp&redirect=true&role=VIEWER&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true&userdata-bbb_show_session_details_on_join=false"
            }
          ]
        },
        "options": {}
      },
      "id": "b91b51ce-0de0-486d-8fee-96940dabf8d2",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -200,
        1400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e9437f8d-1970-4ec4-8475-a15c1a7fee19",
                    "leftValue": "={{ $json.response.returncode }}",
                    "rightValue": "=SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response.returncode }}",
                    "rightValue": "=SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3f57722c-4bb4-4d05-98f7-84df5dc763a9",
      "name": "Switch Create or Join1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        160,
        1720
      ]
    },
    {
      "parameters": {
        "content": "# Is the meeting running?",
        "height": 249.4842551619302,
        "width": 1002.561478771232,
        "color": 2
      },
      "id": "3ae4bced-3156-4a69-a409-58764a1c8ff2",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        1640
      ]
    },
    {
      "parameters": {
        "content": "# Yes, redirect to meeting",
        "height": 243.6483254774566,
        "width": 992.8349292971097,
        "color": 4
      },
      "id": "889e8fdb-8dbc-4ff0-8118-dd0c54be14ec",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        1380
      ]
    },
    {
      "parameters": {
        "content": "# No, intentionally display other information",
        "height": 265.04673432052704,
        "width": 998.670858981583,
        "color": 3
      },
      "id": "54abf1ae-295a-4ca9-b992-136842b600f4",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        1900
      ]
    },
    {
      "parameters": {},
      "id": "7a30f39e-739b-484b-881f-45b9f4df954e",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -640,
        2000
      ]
    },
    {
      "parameters": {
        "content": "# EnVision Meeting",
        "height": 2296.8780255533015,
        "width": 2702.0314061625277
      },
      "id": "20c99aeb-40ff-4a85-b5d8-9510463db1bb",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2380,
        669.722713152868
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}OmoVaMlzONHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "8a95f25b-d6dc-4ccf-8a8d-b172ca8f04a7",
      "name": "Crypto9",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -400,
        1180
      ]
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "envisionconnect@epicpc.com",
        "fromName": "EnVision Connect",
        "subject": "=EnVision: {{ $('Identify Patient').item.json[\"MRN\"] }}, {{ $('Identify Patient').item.json[\"DEM_FIRSTNAME\"] }} {{ $('Identify Patient').item.json[\"DEM_LASTNAME\"] }}",
        "contentValue": "=EnVision: {{ $('Identify Patient').item.json[\"MRN\"] }}, {{ $('Identify Patient').item.json[\"DEM_FIRSTNAME\"] }} {{ $('Identify Patient').item.json[\"DEM_LASTNAME\"] }}\n\nhttps://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "additionalFields": {}
      },
      "id": "c917542a-b232-4bbc-800c-668256ddaa3f",
      "name": "SendGrid1",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        200,
        1180
      ],
      "credentials": {
        "sendGridApi": {
          "id": "tC3AFJ3SI4sGi9Xt",
          "name": "SendGrid account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "from": "+13133514769",
        "to": "=+1{{ $('PM Patient Info').item.json.Patient_Cell_Phone }}",
        "message": "=Please click the EPIC Video Link:\nhttps://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "9ec37fca-a05d-4af2-860e-13a7a9a05de5",
      "name": "Send Schedule Link1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        80,
        1240
      ],
      "credentials": {
        "twilioApi": {
          "id": "qBB51xMHsgQyVoRt",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}OmoVaMlzONHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "745f3905-a933-41e0-9b15-b74dc1c24b55",
      "name": "Crypto10",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -40,
        1180
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($json.Patient_First_Name) }}&meetingID={{ $json.Patient_Number }}&password=mp&redirect=true&role=VIEWER&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true&userdata-bbb_show_session_details_on_join=false"
            }
          ]
        },
        "options": {}
      },
      "id": "397c8451-5660-4695-8ed6-afa1b27d8531",
      "name": "Edit Fields10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -160,
        1180
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($('Identify Patient').item.json[\"DEM_FIRSTNAME\"]) }}&meetingID={{ $('Identify Patient').item.json[\"MRN\"] }}&password=mp&redirect=true&role=VIEWER"
            }
          ]
        },
        "options": {}
      },
      "id": "4cfb5fd8-c769-45df-ad1a-72ccf963de4f",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -640,
        1020
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($('SuperVision EnVision').item.json[\"query\"][\"PatientFirstName\"]) }}%20{{ encodeURIComponent($('SuperVision EnVision').item.json[\"query\"][\"PatientLastName\"]) }}&meetingID={{ $('SuperVision EnVision').item.json[\"query\"][\"PatientMrn\"] }}&password=mp&redirect=true&role=VIEWER"
            }
          ]
        },
        "options": {}
      },
      "id": "fa11e41c-bf18-4318-bc50-7898c44aa563",
      "name": "Edit Fields9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -520,
        1180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://n8n.cybertech.app/webhook/978858c8-efca-45d8-a43d-3de731b3ebde1?MRN={{ $('Identify Patient').item.json[\"MRN\"] }}&Name={{ $('Identify Patient').item.json[\"DEM_FIRSTNAME\"] }}",
        "options": {}
      },
      "id": "7e7286a3-3ee8-47f2-a5d3-dddce4f0ee04",
      "name": "HTTP Request11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://n8n.cybertech.app/webhook/978858c8-efca-45d8-a43d-3de731b3ebde1?MRN={{ $('SuperVision EnVision').item.json[\"query\"][\"PatientMrn\"] }}&Name={{ $('SuperVision EnVision').item.json[\"query\"][\"PatientFirstName\"].replaceAll(\" \",\"_\") }}_{{ $('SuperVision EnVision').item.json[\"query\"][\"PatientLastName\"].replaceAll(\" \",\"_\") }}",
        "options": {}
      },
      "id": "92f27e90-0022-4f3c-9615-c6ed0fce7c03",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        540
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Meeting Status</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);\n            font-family: 'Arial', sans-serif;\n        }\n\n        .container {\n            text-align: center;\n            background: #fff;\n            padding: 20px;\n            border-radius: 10px;\n            box-shadow: 0 4px 8px rgba(0,0,0,0.2);\n            max-width: 90%;\n            margin: 0 auto;\n        }\n\n        .status {\n            font-size: 2em;\n            color: #ff6f61;\n            margin-bottom: 20px;\n        }\n\n        .icon {\n            font-size: 5em;\n            color: #ff6f61;\n            margin-bottom: 20px;\n        }\n\n        .message {\n            font-size: 1.2em;\n            color: #333;\n        }\n\n        @media (max-width: 600px) {\n            .status {\n                font-size: 1.5em;\n            }\n\n            .icon {\n                font-size: 4em;\n            }\n\n            .message {\n                font-size: 1em;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"icon\"></div>\n        <div class=\"status\">Meeting Not in Progress</div>\n        <div class=\"message\">Please check back later for the next scheduled meeting.</div>\n    </div>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "b3009443-7217-4b98-a4c1-4d54b26ce37c",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        2000
      ]
    },
    {
      "parameters": {
        "path": "b4d7e3c3-34a1-4f0a-9fef-780444985a38",
        "options": {}
      },
      "id": "85824c6c-0fb9-419f-90e1-cd686b6b3878",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        460,
        2355
      ],
      "webhookId": "b4d7e3c3-34a1-4f0a-9fef-780444985a38",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1ae17963-fa97-4a4c-a711-b39251c0e853",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1460,
        2540
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json[\"query\"][\"MRN\"] }}",
                    "rightValue": "={{ $json[\"meetingID\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "56c46c9a-be35-4ad0-937c-c2d2f1e7182c",
                    "leftValue": "={{ $('Webhook1').item.json[\"query\"][\"MRN\"] }}",
                    "rightValue": "={{ $json[\"meetingID\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3c3a1830-c3cc-4426-b08a-100bc37c695b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1640,
        2380
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://n8n.cybertech.app/webhook/e8d03ebf-8b2c-4157-9954-1b1696f18a79?RecordID={{ $('JWT').item.json[\"record_id\"] }}&MeetingID={{ $('JWT').item.json[\"meeting_id\"] }}",
        "options": {}
      },
      "id": "ca845183-d31a-4006-bb91-d32bc58fdc08",
      "name": "HTTP Request13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        2000
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4ca2f260-d673-4671-a207-99868dab5c75",
        "options": {}
      },
      "id": "b22d1de3-c9f3-411e-8ef6-2ceeb25c61f4",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        460,
        2000
      ],
      "webhookId": "4ca2f260-d673-4671-a207-99868dab5c75"
    },
    {
      "parameters": {
        "path": "06bacab3-131a-4318-b874-c78d1a087c01",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "63259cf9-0ec6-4b34-a032-aa775049de67",
      "name": "Webhook3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -580,
        1720
      ],
      "webhookId": "06bacab3-131a-4318-b874-c78d1a087c01"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "={{ $('Identify Room').item.json.LOCATION_NAME }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "626f55b4-87a2-4213-bc70-a4a856e01cea",
      "name": "Map Site1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -420,
        2500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "bd3a0385-4589-4c0b-85a8-938f4c442405",
                    "leftValue": "={{ $json.hostname }}",
                    "rightValue": "={{ $('Identify Room').item.json.ROOM_TEXT }}",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cf1c9b5e-2aa2-41ad-9d27-84eaef50893e",
      "name": "Map Room to Agent1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -100,
        2500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ebe02698-7f3a-40a9-bca8-734fd9e055e5",
      "name": "Example_Identify Room",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1560,
        2980
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2818ae29-e93a-4a60-a2c1-9f2fbe3128e8",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1460,
        2680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1883932-44fb-43f7-b637-4a0e2379c04c",
              "leftValue": "={{ $json.SCHED_STATUS }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "52d5f4f4-dd5c-4baa-ad84-c338cad0d965",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1280,
        2700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1883932-44fb-43f7-b637-4a0e2379c04c",
              "leftValue": "={{ $json.SCHED_TIMEOUT }}",
              "rightValue": 4,
              "operator": {
                "type": "dateTime",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "413c89d0-f9a7-4c21-8f9e-2bc116c1f252",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        2700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1883932-44fb-43f7-b637-4a0e2379c04c",
              "leftValue": "={{ $json.SCHED_TIMEOUT }}",
              "rightValue": 4,
              "operator": {
                "type": "dateTime",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e88c9c82-96b4-4edc-8192-df3f95577eb8",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -920,
        2700
      ]
    },
    {
      "parameters": {
        "content": "##\n\nSend links: https://n8n.cybertech.app/workflow/iO3B0IqqOFWIWNQe",
        "width": 1145.0310178773698
      },
      "id": "5a7f1174-4b5b-452d-b91e-1fdf5fa1abba",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        2760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n        g.Patient_ID,\n        g.Patient_Number,\n        g.Patient_Name,\n        g.Patient_LFI,\n        g.Patient_First_Name,\n        g.Patient_Last_Name,\n        g.Patient_Street1,\n        g.Patient_City,\n        g.Patient_State,\n        g.Patient_Zip_Code,\n        g.Patient_SSN,\n        g.Patient_Sex,\n        g.Patient_DOB, \n        g.Patient_Age,\n        g.Patient_Marital_Status,\n        g.Patient_Home_Phone,\n        g.Patient_Cell_Phone,\n        g.Patient_Primary_Phone_Number,\n       CASE \n            WHEN g.Patient_Email IS NULL OR g.Patient_Email NOT LIKE '%_@__%.__%' THEN 'nothing@nothing.com'\n            ELSE g.Patient_Email\n        END AS patient_email,\n        'EHS Patient' AS BitrixPatientStatus\n    FROM [PM].[vwGenPatInfo] g\n\nWHERE Patient_Number = '{{ $('Merge6').item.json.MRN }}'"
      },
      "id": "d65585bb-a0f3-4a0e-9778-0520da86e9d9",
      "name": "PM Patient Info2",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -340,
        1020
      ],
      "credentials": {
        "microsoftSql": {
          "id": "wyNxSZ4e8ERWmP4v",
          "name": "Microsoft SQL PM"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc670c4e-b068-473d-afc1-7c335a0d3322",
              "leftValue": "={{ $json.SingleSignOnToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -760,
        1180
      ],
      "id": "cc4847e5-631c-4f37-8370-fd00ab808bd1",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n        g.Patient_ID,\n        g.Patient_Number,\n        g.Patient_Name,\n        g.Patient_LFI,\n        g.Patient_First_Name,\n        g.Patient_Last_Name,\n        g.Patient_Street1,\n        g.Patient_City,\n        g.Patient_State,\n        g.Patient_Zip_Code,\n        g.Patient_SSN,\n        g.Patient_Sex,\n        g.Patient_DOB, \n        g.Patient_Age,\n        g.Patient_Marital_Status,\n        g.Patient_Home_Phone,\n        g.Patient_Cell_Phone,\n        g.Patient_Primary_Phone_Number,\n       CASE \n            WHEN g.Patient_Email IS NULL OR g.Patient_Email NOT LIKE '%_@__%.__%' THEN 'nothing@nothing.com'\n            ELSE g.Patient_Email\n        END AS patient_email,\n        'EHS Patient' AS BitrixPatientStatus\n    FROM [PM].[vwGenPatInfo] g\n\nWHERE Patient_Number = '{{ $('Merge6').item.json.MRN }}'"
      },
      "id": "c69c4702-2962-4a46-a2af-e227a2d5fe84",
      "name": "PM Patient Info",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -280,
        1220
      ],
      "credentials": {
        "microsoftSql": {
          "id": "wyNxSZ4e8ERWmP4v",
          "name": "Microsoft SQL PM"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/webhook/on-call-provider",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "tstilwell@epichs.org"
            },
            {
              "name": "meetingId",
              "value": "={{ $('SuperVision EnVision').item.json.query.PatientMrn }}"
            },
            {
              "name": "providerName",
              "value": "={{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}"
            },
            {
              "name": "patientName",
              "value": "={{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}"
            },
            {
              "name": "patientMrn",
              "value": "={{ $('SuperVision EnVision').item.json.query.PatientMrn }}"
            },
            {
              "name": "meetingTitle",
              "value": "Regular Office Visit"
            },
            {
              "name": "meetingLink",
              "value": "=https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01?MRN={{ $('Manual Record1').item.json[\"MRN\"] }}&Name={{ encodeURIComponent($('Manual Record1').item.json[\"UserName\"]) }}&provider=%26password%3Dmp%26redirect%3Dtrue%26role%3DMODERATOR"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        320
      ],
      "id": "b71879bf-e4ff-4a2f-b858-85f3cf300a2d",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "from": "+13133514769",
        "to": "=+12488726322",
        "message": "=Please click the EPIC Video Link:\nhttps://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
        "options": {}
      },
      "id": "10d2f4da-157e-4f11-823e-d8df32c25283",
      "name": "Send Schedule Link2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        340,
        480
      ],
      "credentials": {
        "twilioApi": {
          "id": "qBB51xMHsgQyVoRt",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "path": "fe7b36e0-52a8-4cbf-af3f-4ed205ec55a3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1980,
        440
      ],
      "id": "ba794f53-b469-4289-b69b-ad60dc7bbbdd",
      "name": "Patient Queue Tab UNITY",
      "webhookId": "fe7b36e0-52a8-4cbf-af3f-4ed205ec55a3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Fancy Dashboard</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <link href=\"https://cdn.jsdelivr.net/npm/shadcn-ui/dist/styles.css\" rel=\"stylesheet\">\n</head>\n<body class=\"bg-gray-100 font-sans\">\n    <div class=\"min-h-screen flex flex-col\">\n        <!-- Sidebar -->\n        <div class=\"flex flex-row\">\n            <nav class=\"bg-gray-900 text-white w-64 p-6\">\n                <h1 class=\"text-2xl font-bold mb-6\">Fake Dashboard</h1>\n                <ul class=\"space-y-4\">\n                    <li><a href=\"#\" class=\"block p-2 rounded hover:bg-gray-700\">Dashboard</a></li>\n                    <li><a href=\"#\" class=\"block p-2 rounded hover:bg-gray-700\">Profile</a></li>\n                    <li><a href=\"#\" class=\"block p-2 rounded hover:bg-gray-700\">Settings</a></li>\n                    <li><a href=\"#\" class=\"block p-2 rounded hover:bg-gray-700\">Analytics</a></li>\n                    <li><a href=\"#\" class=\"block p-2 rounded hover:bg-gray-700\">Logout</a></li>\n                </ul>\n            </nav>\n\n            <!-- Main Content -->\n            <div class=\"flex-1 p-6\">\n                <!-- Header -->\n                <header class=\"flex justify-between items-center mb-6\">\n                    <h2 class=\"text-xl font-semibold\">Welcome, User!</h2>\n                    <button class=\"p-2 bg-blue-600 text-white rounded hover:bg-blue-700\">Add New</button>\n                </header>\n\n                <!-- Cards -->\n                <div class=\"grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6\">\n                    <div class=\"p-4 bg-white rounded-lg shadow\">\n                        <h3 class=\"text-lg font-bold\">Total Users</h3>\n                        <p class=\"text-3xl mt-2\">1,234</p>\n                    </div>\n                    <div class=\"p-4 bg-white rounded-lg shadow\">\n                        <h3 class=\"text-lg font-bold\">Connected Video Visits</h3>\n                        <p class=\"text-3xl mt-2\">345</p>\n                    </div>\n                    <div class=\"p-4 bg-white rounded-lg shadow\">\n                        <h3 class=\"text-lg font-bold\">Tasks Completed</h3>\n                        <p class=\"text-3xl mt-2\">567</p>\n                    </div>\n                </div>\n\n                <!-- Table -->\n                <div class=\"mt-6 bg-white p-4 rounded-lg shadow\">\n                    <h3 class=\"text-lg font-bold mb-4\">Recent Activities</h3>\n                    <table class=\"w-full border-collapse\">\n                        <thead>\n                            <tr class=\"bg-gray-200\">\n                                <th class=\"border p-2 text-left\">User</th>\n                                <th class=\"border p-2 text-left\">Activity</th>\n                                <th class=\"border p-2 text-left\">Date</th>\n                            </tr>\n                        </thead>\n                        <tbody>\n                            <tr>\n                                <td class=\"border p-2\">John Doe</td>\n                                <td class=\"border p-2\">Logged in</td>\n                                <td class=\"border p-2\">2024-11-18</td>\n                            </tr>\n                            <tr>\n                                <td class=\"border p-2\">Jane Smith</td>\n                                <td class=\"border p-2\">Uploaded a file</td>\n                                <td class=\"border p-2\">2024-11-18</td>\n                            </tr>\n                            <tr>\n                                <td class=\"border p-2\">Sam Wilson</td>\n                                <td class=\"border p-2\">Updated profile</td>\n                                <td class=\"border p-2\">2024-11-18</td>\n                            </tr>\n                        </tbody>\n                    </table>\n                </div>\n            </div>\n        </div>\n\n        <!-- Footer -->\n        <footer class=\"bg-gray-900 text-white p-4 mt-auto text-center\">\n            <p>&copy; 2024 Fancy Dashboard. All rights reserved.</p>\n        </footer>\n    </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1340,
        440
      ],
      "id": "2389bcec-7490-47d2-ae73-ab6110d4f2e2",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://xl.epicpc.com/webhook/ca8d4c33-d598-405d-bd6b-d2fbb14824de?user={{ $json.query.user }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1340,
        300
      ],
      "id": "8a127730-319d-4758-863e-6d3ba9fa8995",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        300
      ],
      "id": "b294962b-c26c-460e-b578-e9b5ae57dfef",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('SuperVision EnVision').item.json.query.ProviderFirstName}}@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px; color:#000000; background-color:#ffffff;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Reason for Instant Visit:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.reasonForVisit) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01?MRN={{ $('Manual Record1').item.json['MRN'] }}&Name={{ encodeURIComponent($('Manual Record1').item.json['UserName']) }}&password=mp&redirect=true&role=MODERATOR\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        80
      ],
      "id": "e0450fc1-48bb-4cad-8afc-6e3a9adb2592",
      "name": "HTTP Request14"
    },
    {
      "parameters": {
        "content": "# Called Provider",
        "height": 320,
        "width": 1140,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        -320
      ],
      "typeVersion": 1,
      "id": "71e0dd32-e44c-474f-a0aa-559924651950",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "9cb0cec1-4663-47d8-8f82-9bf9f3a62cce",
      "name": "Crypto11",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -240,
        -160
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($('SuperVision EnVision').item.json.query.calledProviderUsername) }}&meetingID={{ $('Manual Record1').item.json[\"MRN\"] }}&password=mp&redirect=true&role=MODERATOR&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true&userdata-bbb_show_session_details_on_join=false"
            }
          ]
        },
        "options": {}
      },
      "id": "312acaec-aac3-4ae3-93b4-5594775ac12b",
      "name": "Provider Moderator Link2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -400,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('SuperVision EnVision').item.json.query.calledProviderUsername}}@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;color:#000000; background-color:#ffffff;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01?MRN={{ $('Manual Record1').item.json['MRN'] }}&Name={{ encodeURIComponent($('SuperVision EnVision').item.json.query.calledProviderUsername) }}&provider=%26password%3Dmp%26redirect%3Dtrue%26role%3DMODERATOR\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -160
      ],
      "id": "607aa05c-8896-4ee9-b3a2-741e3ce63428",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef154ae6-8dfb-4268-a88c-2923355d8f14",
              "name": "url",
              "value": "=https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        -280
      ],
      "id": "70011600-14d1-4afa-b6c2-c8add1ddfd7e",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/webhook/on-call-provider",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "tstilwell@epichs.org"
            },
            {
              "name": "meetingId",
              "value": "={{ $('SuperVision EnVision').item.json.query.PatientMrn }}"
            },
            {
              "name": "providerName",
              "value": "={{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}"
            },
            {
              "name": "patientName",
              "value": "={{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}"
            },
            {
              "name": "patientMrn",
              "value": "={{ $('SuperVision EnVision').item.json.query.PatientMrn }}"
            },
            {
              "name": "meetingTitle",
              "value": "Regular Office Visit"
            },
            {
              "name": "meetingLink",
              "value": "=https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        320
      ],
      "id": "57dafe29-8771-45cf-b014-851ef05960d5",
      "name": "HTTP Request16"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('SuperVision EnVision').item.json.query.ProviderFirstName}}@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;color:#333;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        80
      ],
      "id": "0aa04c1b-f2e7-4d7e-aaa3-e93de79fff4e",
      "name": "HTTP Request17"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69959f2b-7351-4612-92b0-cf65d33359b2",
              "leftValue": "={{ $('Webhook3').item.json[\"query\"][\"provider\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        1460
      ],
      "id": "c0604261-8a1a-4535-89e3-bb629c02bd1e",
      "name": "If4"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName={{ encodeURIComponent($('Webhook3').item.json[\"query\"][\"Name\"]) }}&meetingID={{ $('Webhook3').item.json[\"query\"][\"MRN\"] }}{{ $('Webhook3').item.json[\"query\"][\"provider\"] }}&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true&userdata-bbb_show_session_details_on_join=false"
            }
          ]
        },
        "options": {}
      },
      "id": "349f4eea-8992-41d8-a86a-557cccbb0978",
      "name": "Edit Fields11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -340,
        1480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('SuperVision EnVision').item.json.query.calledProviderUsername}}@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;color:#333;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -160
      ],
      "id": "0a7a9274-0ca9-456f-bce3-5bdc24b10fe9",
      "name": "HTTP Request18",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('SuperVision EnVision').item.json.query.ProviderFirstName}}@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;color:#333;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01?MRN={{ $('Manual Record1').item.json[\"MRN\"] }}&Name={{ encodeURIComponent($('Manual Record1').item.json[\"UserName\"]) }}&provider=%26password%3Dmp%26redirect%3Dtrue%26role%3DMODERATOR\n\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        80
      ],
      "id": "cca12fc0-66b1-41f2-a472-d35c0a9aefa9",
      "name": "HTTP Request19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('SuperVision EnVision').item.json.query.calledProviderUsername}}@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;color:#333;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01?MRN={{ $('Manual Record1').item.json[\"MRN\"] }}&Name={{ encodeURIComponent($('SuperVision EnVision').item.json.query.calledProviderUsername) }}&provider=%26password%3Dmp%26redirect%3Dtrue%26role%3DMODERATOR\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -160
      ],
      "id": "9de6cb93-64e5-4cf7-b34d-6f267ca331d7",
      "name": "HTTP Request20"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pdrfzomezdyaecj",
        "table": "miq5zrv0n8ql1od",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "MRN",
              "fieldValue": "={{ $('SuperVision EnVision').item.json.query.PatientMrn }}"
            },
            {
              "fieldName": "SchedulingProvider",
              "fieldValue": "={{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1580,
        0
      ],
      "id": "0aa03153-1caa-4200-90e4-f59b80c5aa00",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "=phartwig@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;color:#333;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01?MRN={{ $('Manual Record1').item.json[\"MRN\"] }}&Name={{ encodeURIComponent($('SuperVision EnVision').item.json.query.calledProviderUsername) }}&password=mp&redirect=true&role=MODERATOR\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -340
      ],
      "id": "a0538371-ba3d-47a5-9c78-982b6366e5a1",
      "name": "tstilwell"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "551d9fdc-8862-4c5c-9da0-30b50654be59",
              "leftValue": "={{ $json.InstantProvider }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2540,
        60
      ],
      "id": "4b3d89d7-e9ef-40c4-8d98-fbad2b3dd9a0",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c15a2f97-017e-4773-8636-4807b573c77a",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "={{ encodeURIComponent($('Webhook3').item.json[\"query\"][\"Name\"]) }}",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2300,
        140
      ],
      "id": "0bda2543-d86d-4818-a029-9cd18e158bd3",
      "name": "If6"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pdrfzomezdyaecj",
        "table": "miq5zrv0n8ql1od",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "InstantProvider",
              "fieldValue": "={{ encodeURIComponent($('Webhook3').item.json[\"query\"][\"Name\"]) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3160,
        -40
      ],
      "id": "130814f2-20ff-4e4d-8dbd-1b1590c8bb80",
      "name": "NocoDB2",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n-main:5678/webhook/c255727b-55cb-4c06-844b-a428531d611e",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "provider",
              "value": "={{ $('Webhook3').item.json.query.Name }}"
            },
            {
              "name": "MRN",
              "value": "={{ $('Webhook3').item.json.query.MRN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        -40
      ],
      "id": "85ef8182-e596-40ae-9bc5-f7652709ff51",
      "name": "HTTP Request21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n-main:5678/webhook/c255727b-55cb-4c06-844b-a428531d611e",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "provider",
              "value": "=akalabat"
            },
            {
              "name": "MRN",
              "value": "=502880"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        200
      ],
      "id": "d33d3156-e720-42f1-bed4-07b231715631",
      "name": "HTTP Request22"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8869f0bb-7d96-4db1-9e9d-bb1f22e0f1e0",
              "leftValue": "={{ $json.SchedulingProvider }}",
              "rightValue": "={{ encodeURIComponent($('Webhook3').item.json[\"query\"][\"Name\"]) }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2840,
        40
      ],
      "id": "c6d5c181-fafd-42c2-ae8a-0ba46591b55c",
      "name": "If7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        -220
      ],
      "id": "33eb9bb7-bdb7-4d41-9a4a-73c78dbc4df3",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4571c57-51aa-4856-b2d3-aa24c99e9b67",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        60
      ],
      "id": "40cd864c-1180-44fd-948c-21fa662766fb",
      "name": "If8"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1060,
        340
      ],
      "id": "2336fe1c-5ad2-4e6f-ba20-a2702614880b",
      "name": "Merge7"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pdrfzomezdyaecj",
        "table": "miq5zrv0n8ql1od",
        "returnAll": true,
        "options": {
          "where": "=(MRN,eq,{{ $('SuperVision EnVision').item.json.query.PatientMrn }})~and(CreatedAt,eq,today)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        900,
        60
      ],
      "id": "1cba36cf-445e-4954-a096-cc6c22f996bc",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pdrfzomezdyaecj",
        "table": "miq5zrv0n8ql1od",
        "returnAll": true,
        "options": {
          "where": "=(MRN,eq,197520)and(CreatedAt,eq,today)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1060,
        -120
      ],
      "id": "ecbf5d92-c0e0-48d7-87ee-a3413335ced6",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pdrfzomezdyaecj",
        "table": "miq5zrv0n8ql1od",
        "returnAll": true,
        "options": {
          "where": "=(MRN,eq,{{ $('Webhook3').item.json[\"query\"][\"MRN\"] }})~and(CreatedAt,eq,today)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2080,
        100
      ],
      "id": "07e606ba-eaf9-42d0-bafe-3953e1cdb970",
      "name": "Get many rows2",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pdrfzomezdyaecj",
        "table": "miq5zrv0n8ql1od",
        "returnAll": true,
        "options": {
          "where": "=(MRN,eq,197520)~and(CreatedAt,eq,today)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2060,
        280
      ],
      "id": "102065ad-dcf9-44de-943c-84d7591b31a0",
      "name": "Get many rows3",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Instat Visit part 1",
        "height": 1100,
        "width": 4340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        -480
      ],
      "typeVersion": 1,
      "id": "7497d6df-4fde-4dc4-93e9-722edeb48e3d",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "942533b0-faa0-4895-893e-5781874b90ac",
      "name": "Crypto12",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        3240,
        420
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=fullName=Patient&meetingID={{ $('Webhook3').item.json[\"query\"][\"MRN\"] }}&password=mp&redirect=true&role=MODERATOR&userdata-bbb_auto_join_audio=true&userdata-bbb_skip_check_audio=true&userdata-bbb_skip_check_audio_on_first_join=true&userdata-bbb_skip_echotest_if_previous_device=true&userdata-bbb_listen_only_mode=false&userdata-bbb_force_listen_only=false&userdata-bbb_auto_share_webcam=true&userdata-bbb_skip_video_preview=true"
            }
          ]
        },
        "options": {}
      },
      "id": "9f60792a-72a6-4e87-85c0-53253f94b2fc",
      "name": "EnVision Room Display1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2980,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.wiretapped.app/agents/chjoIetGNkaVUoTbQoHSxAGsPXJqrvmzOoeZhyGU/cmd/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YTKN6UOV8EZMJOG591GUCESFVTPEJLUG"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"shell\":\"powershell\",\"cmd\":\"& 'C:\\\\\\\\Program Files (x86)\\\\\\\\Microsoft\\\\\\\\Edge\\\\\\\\Application\\\\\\\\msedge.exe' --kiosk 'https://vid.epicpc.com/bigbluebutton/api/join?{{ $json[\"apicall\"] }}&checksum={{ $json[\"data\"] }}' --edge-kiosk-type=fullscreen;& 'C:\\\\\\\\PC-SETUP\\\\\\\\New-PC-Setup\\\\\\\\joinmeeting2.ahk'\",\"timeout\":30,\"custom_shell\":null,\"run_as_user\":true}",
        "options": {}
      },
      "id": "fe7aa2cc-bfb1-4da8-994a-299628885db4",
      "name": "Send Powershell CMD to RMM Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3460,
        400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apicall",
              "stringValue": "=allowStartStopRecording=true&autoStartRecording=false&attendeePW=ap&meetingID={{ $json[\"MRN\"] }}&moderatorPW=mp&name={{ encodeURIComponent($json[\"DEM_FIRSTNAME\"]) }}%20{{ encodeURIComponent($json[\"DEM_LASTNAME\"]) }}&record=true&disabledFeatures=sharedNotes,chat&preUploadedPresentation=https://toms.app/tools/blank.pdf&meta_bbb-recording-ready-url=https%3A%2F%2Fxl.epicpc.com%2Fwebhook%2F4ca2f260-d673-4671-a207-99868dab5c75&meta_endCallbackUrl=https://xl.epicpc.com/webhook/cbfc9f1f-9f13-4243-830a-bcf54f2a218f&endWhenNoModerator=true&endWhenNoModeratorDelayInMinutes=1&logo=https://i0.wp.com/epichs.org/wp-content/uploads/2024/01/Side-Black-Font.png&logoutURL=https://epichs.org"
            }
          ]
        },
        "options": {}
      },
      "id": "6c8aea02-d601-4c10-bcfc-6866b61f0a5b",
      "name": "Manual Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -860,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-07.westus.logic.azure.com:443/workflows/2fa07b9c70584bec969489e72808a41b/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HVf5RnWtRZDEUoiwUTti4anU7Cxz1HGqImvs6HhJ-EY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('SuperVision EnVision').item.json.query.ProviderFirstName}}@epichs.org"
            },
            {
              "name": "taskid",
              "value": "="
            },
            {
              "name": "description",
              "value": "="
            },
            {
              "name": "comments",
              "value": "=test"
            },
            {
              "name": "teamsmessage",
              "value": "=<div style=\"padding:16px;border:none !important;box-shadow:none !important;border-radius:8px;font-family:'Segoe UI',sans-serif;max-width:400px;\">\n  <h2 style=\"margin:0 0 8px;color:#0F4C81;font-size:18px;\"> Instant Visit Notification</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;color:#333;\">\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Patient:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientFirstName }} {{ $('SuperVision EnVision').item.json.query.PatientLastName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>MRN:</strong></td>\n      <td style=\"padding:4px 0;\">{{ $('SuperVision EnVision').item.json.query.PatientMrn }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Provider:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.ProviderFirstName) }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:4px 0;\"><strong>Reason for Instant Visit:</strong></td>\n      <td style=\"padding:4px 0;\">{{ decodeURIComponent($('SuperVision EnVision').item.json.query.reasonForVisit) }}</td>\n    </tr>\n  </table>\n\n  <!-- Added extra line breaks for spacing -->\n  <br><br>\n\n  <div style=\"text-align:right;\">\n    <a href=\"https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01?MRN={{ $('Manual Record1').item.json[\"MRN\"] }}&Name={{ encodeURIComponent($('Manual Record1').item.json[\"UserName\"]) }}&password=mp&redirect=true&role=MODERATOR\n\" target=\"_blank\" style=\"font-size:24px;line-height:1.2;color:#0078D4;text-decoration:none;\">\n      Join Video Link\n    </a>\n  </div>\n</div>\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        80
      ],
      "id": "de6304ff-c7f2-4592-805a-ce7aeb7bc71c",
      "name": "HTTP Request23"
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "70886e88-b02a-4516-9543-959e18259beb",
      "name": "Crypto13",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -160,
        -600
      ]
    },
    {
      "parameters": {
        "type": "SHA512",
        "value": "=join{{ $json[\"apicall\"] }}0moVaMlz0NHGUQyie9X8h1W4BlKsGF6P1qtdqkiGUM"
      },
      "id": "285f6b33-7779-481a-845e-bd6f4fb451a3",
      "name": "Crypto14",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        0,
        680
      ]
    }
  ],
  "pinData": {
    "Crypto": [
      {
        "json": {
          "SingleSignOnToken": "98774AF7-4CF6-4154-8E58-D3EDB836B8B4",
          "SessionToken": "4606BCE9-DF34-4A26-A4CF-F7414F329452",
          "UserName": "TSTILWELL",
          "CreatedOn": "2024-03-21T07:42:07.073Z",
          "EncounterID": "21558095",
          "PatientID": "158536",
          "MRN": "502880",
          "DEM_FIRSTNAME": "THOMAS",
          "DEM_LASTNAME": "STILWELL",
          "DEM_DATEOFBIRTH": "1988-02-01T00:00:00.000Z",
          "apicall": "allowStartStopRecording=true&attendeePW=ap&autoStartRecording=false&meetingID=21558095&moderatorPW=mp&name=THOMAS_STILWELL&record=false",
          "data": "98738499a158ed461cf2c80ffde3a1719c5797e516ba390f96a7cc1936762ead90955be0b825bbbdee607ed425f97f21ca26a335e382eec292a01611832a9c8a"
        }
      }
    ],
    "HTTP Request4": [
      {
        "json": {
          "result": {
            "task": {
              "id": "74165",
              "parentId": null,
              "title": "Duplicate Patients in Bitrix24",
              "description": "EnVision Connect:  https://vid.epicpc.com/bigbluebutton/api/join?fullName=Thomas&meetingID=21558095&password=mp&redirect=true&checksum=e727da23eef7c903f0ae92697cccce3c6b5370ab71bb35e0a779f62762c16d9b22533dee837e5a037ddf0937897ff1ba745dbb2867a6f12c9904aaadcf723055",
              "mark": null,
              "priority": "1",
              "multitask": "N",
              "notViewed": "N",
              "replicate": "N",
              "stageId": "719",
              "createdBy": "7",
              "createdDate": "2024-03-21T15:30:49+03:00",
              "responsibleId": "229",
              "changedBy": "7",
              "changedDate": "2024-03-21T15:30:49+03:00",
              "statusChangedBy": null,
              "closedBy": null,
              "closedDate": null,
              "activityDate": "2024-03-21T15:30:49+03:00",
              "dateStart": null,
              "deadline": null,
              "startDatePlan": null,
              "endDatePlan": null,
              "guid": "{c45c36a4-491c-440c-abb2-22b4a36cde30}",
              "xmlId": null,
              "commentsCount": "1",
              "serviceCommentsCount": "1",
              "allowChangeDeadline": "N",
              "allowTimeTracking": "N",
              "taskControl": "N",
              "addInReport": "N",
              "forkedByTemplateId": null,
              "timeEstimate": "0",
              "timeSpentInLogs": null,
              "matchWorkTime": "N",
              "forumTopicId": "72101",
              "forumId": "11",
              "siteId": "s1",
              "subordinate": "N",
              "exchangeModified": null,
              "exchangeId": null,
              "outlookVersion": "2",
              "viewedDate": "2024-03-21T15:30:49+03:00",
              "sorting": null,
              "durationFact": null,
              "isMuted": "N",
              "isPinned": "N",
              "isPinnedInGroup": "N",
              "descriptionInBbcode": "Y",
              "status": "2",
              "statusChangedDate": "2024-03-21T15:30:49+03:00",
              "durationPlan": null,
              "durationType": "days",
              "favorite": "N",
              "groupId": "107",
              "auditors": [],
              "accomplices": [],
              "checklist": [],
              "group": {
                "id": "107",
                "name": "Consumer App Outbound ",
                "opened": false,
                "membersCount": 8,
                "image": "https://cdn.bitrix24.com/b26816037/socialnetwork/0df/0df3f41e6409358519e5203450850799/HeroShield.png",
                "additionalData": []
              },
              "creator": {
                "id": "7",
                "name": "Thomas Stilwell",
                "link": "/company/personal/user/7/",
                "icon": "/bitrix/images/tasks/default_avatar.png",
                "workPosition": null
              },
              "responsible": {
                "id": "229",
                "name": "IT Helpdesk",
                "link": "/company/personal/user/229/",
                "icon": "/bitrix/images/tasks/default_avatar.png",
                "workPosition": null
              },
              "accomplicesData": [],
              "auditorsData": [],
              "newCommentsCount": 0,
              "action": {
                "accept": false,
                "decline": false,
                "complete": true,
                "approve": false,
                "disapprove": false,
                "start": true,
                "pause": false,
                "delegate": true,
                "remove": true,
                "edit": true,
                "defer": true,
                "renew": false,
                "create": true,
                "changeDeadline": true,
                "checklistAddItems": true,
                "addFavorite": true,
                "deleteFavorite": false,
                "rate": true,
                "edit.originator": false,
                "checklist.reorder": true,
                "elapsedtime.add": true,
                "dayplan.timer.toggle": false,
                "edit.plan": true,
                "checklist.add": true,
                "favorite.add": true,
                "favorite.delete": false
              },
              "checkListTree": {
                "nodeId": 0,
                "fields": {
                  "id": null,
                  "copiedId": null,
                  "entityId": null,
                  "userId": 7,
                  "createdBy": null,
                  "parentId": null,
                  "title": "",
                  "sortIndex": null,
                  "displaySortIndex": "",
                  "isComplete": false,
                  "isImportant": false,
                  "completedCount": 0,
                  "members": [],
                  "attachments": []
                },
                "action": [],
                "descendants": []
              },
              "checkListCanAdd": true
            }
          },
          "time": {
            "start": 1711024249.201917,
            "finish": 1711024249.57128,
            "duration": 0.36936306953430176,
            "processing": 0.3484017848968506,
            "date_start": "2024-03-21T15:30:49+03:00",
            "date_finish": "2024-03-21T15:30:49+03:00",
            "operating_reset_at": 1711024849,
            "operating": 0.348391056060791
          }
        }
      }
    ],
    "Identify Patient": [
      {
        "json": {
          "SingleSignOnToken": "047F539E-F1A7-4CBC-982D-0142CEBF4A5B",
          "SessionToken": "84C2D5FC-DBBB-4D30-8FF0-AA7DF3A3B712",
          "UserName": "TSTILWELL",
          "CreatedOn": "2024-02-22T09:25:02.490Z",
          "EncounterID": "21105855",
          "PatientID": "158536",
          "MRN": "502880",
          "DEM_FIRSTNAME": "THOMAS",
          "DEM_LASTNAME": "STILWELL",
          "DEM_DATEOFBIRTH": "1988-02-01T00:00:00.000Z"
        }
      }
    ],
    "End Meeting Redirect": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.1.160",
            "x-forwarded-for": "10.0.1.160",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "user-agent": "Apache-HttpAsyncClient/4.1.5 (Java/17.0.10)"
          },
          "params": {},
          "query": {
            "recordingmarks": "false",
            "meetingID": "21670113"
          },
          "body": {}
        }
      }
    ],
    "SuperVision EnVision": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.41",
            "x-forwarded-for": "10.0.24.41",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "referer": "https://supervision.epicpc.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19UCS5YrmF%2Bm06Ff8KmkYhZ1lw0dfu5oBo%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KFsX8zHSY8R9vkYyEMra3%2FYkC%2Fapujog%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiZnRhdFJNSHQ2dThEVWlnNmtZUGdVb2pIRlhmQ0FDeGlxaUEvRHpRaGlKMD0iLCJpYXQiOjE3MzM2NjQwOTQsImV4cCI6MTczNDI2ODg5NH0.rDyvOPANvfKmm8XP22EH4pIwvKZ8p3fiBEv0-K9p6b0; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX187DJf7yt%2BylbRdxx9BopGjlZs4S5qYBey%2FVWVM%2BPrxQwk2N8G6LY9zrNudyS2a%2FKe0JxYSHt5sig%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BlWJa9shIU6MCuuUZaYvA0ip5lAIsMfOg56370eGuJ3PSaQXFM8jIyZoD3Xu%2BKJzjkOZxSHgq6IM%2FGJfXKYrAJRILbP%2BjGdiYNQmw7OTvsjTCELxu43Gf42oHs%2FQqKjlDBzayBaLLUn04rMcjKWgClL1qg5US5jNo%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX18%2F7AWryy%2Fun20m0kusGF3nAu1mP47qFf8i43DyOD%2BMqtHmBsC7Pm3C9QooJ5wVkOMBShSvR9unj3AtTSVXoQ673wnpN5dZES9Y%2BhMaBqC2ZdcsMLxu9WfHohZeAHV%2BKhBCTlGMNAyv4Q%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1733924565086%2C%220193b5f3-1cee-7da6-bfef-5ecb1abc2d74%22%2C1733924429038%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fxl.epicpc.com%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FGQwH%2Bx%2F8nhzQNukR%2BW7xJ3DO46wEg%2BmDc3vO8pU6o%2FG8%2FbmZ6mgXTB2wzzQO5Pqcq0w%2BENxNfoPRpqlnh37CS57soxw67P6OJcNgfQdMPVi%2F3MyO0%2FhCD8SWxGJ7CFw5tcqyQ3UCcvQ%3D%3D"
          },
          "params": {},
          "query": {
            "UserName": "12340",
            "ProviderFirstName": "Thomas Stilwell, IT",
            "EncoutnerId": "25752487",
            "EncoutnerDate": "2024-12-10 17:03:10.657 -05:00",
            "PatientNumber": "158536",
            "PatientMrn": "502880",
            "PatientFirstName": "THOMAS",
            "PatientLastName": "STILWELL",
            "PatientDOB": "02/01/1988"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/5d41a48c-e148-4281-a174-592a6d350b5e",
          "executionMode": "production"
        }
      }
    ],
    "Manual Record3": [
      {
        "json": {
          "SingleSignOnToken": "A0508CA3-2F27-4EBB-95EB-857639D1A5BC",
          "SessionToken": "D020DBAD-8206-4940-BB60-CFC9F26BE7E0",
          "UserName": "TSTILWELL",
          "CreatedOn": "2024-04-09T18:15:30.817Z",
          "EncounterID": "21872423",
          "PatientID": "115761",
          "MRN": "552620",
          "DEM_FIRSTNAME": "MARDELL",
          "DEM_LASTNAME": "LEWIS",
          "DEM_DATEOFBIRTH": "2009-09-06T00:00:00.000Z",
          "apicall": "allowStartStopRecording=true&autoStartRecording=false&attendeePW=ap&meetingID=552620&moderatorPW=mp&name=MARDELL_LEWIS&record=true&meta_endCallbackUrl=https://xl.epicpc.com/webhook/cbfc9f1f-9f13-4243-830a-bcf54f2a218f"
        }
      }
    ],
    "HTTP Get Meeting Info": [
      {
        "json": {
          "data": "<response>\n<returncode>SUCCESS</returncode>\n<meetingName>THOMAS_STILWELL</meetingName>\n<meetingID>502880</meetingID>\n<internalMeetingID>20aaa5dcfa526c37736fbbb08ec1b7522d632317-1712954135771</internalMeetingID>\n<createTime>1712954135771</createTime>\n<createDate>Fri Apr 12 20:35:35 UTC 2024</createDate>\n<voiceBridge>41822</voiceBridge>\n<dialNumber>613-555-1234</dialNumber>\n<attendeePW>ap</attendeePW>\n<moderatorPW>mp</moderatorPW>\n<running>true</running>\n<duration>0</duration>\n<hasUserJoined>true</hasUserJoined>\n<recording>true</recording>\n<hasBeenForciblyEnded>false</hasBeenForciblyEnded>\n<startTime>1712954135807</startTime>\n<endTime>0</endTime>\n<participantCount>1</participantCount>\n<listenerCount>0</listenerCount>\n<voiceParticipantCount>0</voiceParticipantCount>\n<videoCount>0</videoCount>\n<maxUsers>0</maxUsers>\n<moderatorCount>1</moderatorCount>\n<attendees>\n<attendee>\n<userID>w_2socqgmkwyrt</userID>\n<fullName>Thomas_Stilwell,_IT</fullName>\n<role>MODERATOR</role>\n<isPresenter>true</isPresenter>\n<isListeningOnly>false</isListeningOnly>\n<hasJoinedVoice>false</hasJoinedVoice>\n<hasVideo>false</hasVideo>\n<clientType>HTML5</clientType>\n<customdata>\n</customdata>\n</attendee>\n</attendees>\n<metadata>\n<endcallbackurl>https://xl.epicpc.com/webhook/cbfc9f1f-9f13-4243-830a-bcf54f2a218f</endcallbackurl>\n</metadata>\n<isBreakout>false</isBreakout>\n</response>"
        }
      }
    ],
    "HTTP Request10": [
      {
        "json": {
          "result": [
            {
              "ID": "344683",
              "POST": null,
              "COMMENTS": "",
              "HONORIFIC": null,
              "NAME": "THOMAS",
              "SECOND_NAME": null,
              "LAST_NAME": "STILWELL",
              "PHOTO": null,
              "LEAD_ID": null,
              "TYPE_ID": "CLIENT",
              "SOURCE_ID": "OTHER",
              "SOURCE_DESCRIPTION": "502880",
              "COMPANY_ID": null,
              "BIRTHDATE": "1988-02-01T03:00:00+03:00",
              "EXPORT": "Y",
              "HAS_PHONE": "Y",
              "HAS_EMAIL": "Y",
              "HAS_IMOL": "N",
              "DATE_CREATE": "2023-12-07T15:19:18+03:00",
              "DATE_MODIFY": "2024-04-03T18:46:05+03:00",
              "ASSIGNED_BY_ID": "229",
              "CREATED_BY_ID": "229",
              "MODIFY_BY_ID": "0",
              "OPENED": "Y",
              "ORIGINATOR_ID": null,
              "ORIGIN_ID": null,
              "ORIGIN_VERSION": null,
              "FACE_ID": null,
              "LAST_ACTIVITY_TIME": "2024-04-03T18:45:11+03:00",
              "ADDRESS": null,
              "ADDRESS_2": null,
              "ADDRESS_CITY": null,
              "ADDRESS_POSTAL_CODE": null,
              "ADDRESS_REGION": null,
              "ADDRESS_PROVINCE": null,
              "ADDRESS_COUNTRY": null,
              "ADDRESS_LOC_ADDR_ID": null,
              "UTM_SOURCE": null,
              "UTM_MEDIUM": null,
              "UTM_CAMPAIGN": null,
              "UTM_CONTENT": null,
              "UTM_TERM": null,
              "LAST_ACTIVITY_BY": "229"
            }
          ],
          "total": 1,
          "time": {
            "start": 1713095238.054762,
            "finish": 1713095239.704397,
            "duration": 1.6496350765228271,
            "processing": 1.6260809898376465,
            "date_start": "2024-04-14T14:47:18+03:00",
            "date_finish": "2024-04-14T14:47:19+03:00",
            "operating_reset_at": 1713095838,
            "operating": 3.2283711433410645
          }
        }
      }
    ],
    "Edit Fields2": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.25.49",
            "x-forwarded-for": "10.0.25.49",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Chromium\";v=\"124\", \"Google Chrome\";v=\"124\", \"Not-A.Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "upgrade-insecure-requests": "1",
            "dnt": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "referer": "https://supervision.epicpc.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "_ga=GA1.2.1801787080.1657225628; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19SL%2BeJUrlGUI44Uq0s1%2FiGo%2BuWfHE2uqA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BmO1h2bZxFxAfT71q%2BBEKjS2eYCPuQ9IQ%3D; __ssid=b094e84f053e7d414fe35d5a20a76ff; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiaWF0IjoxNzE1MTAxNjM3LCJleHAiOjE3MTU3MDY0Mzd9.CBcdt6s9TJZzG6dAPSyc2FdAoW2EW3pR56bdbfMo-9c; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2B1tw4UZbv9lUUwiTZsQ6nTV1OW7z0yox9WG9yxtbR%2FuhjQdv9m5C4KENrf2kCl7tqFrWLtH6rKqg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19h5T4lRkYkVsPPH%2B7Q8mFslDN8kPDdQxYij8sXVwZWyNtKqJqpB4Ltl8VtuCVb0F%2BZ%2ButPx8lPhZ3no4TPautse9WrzloEkPnM48XklHTwvhfeDCPzRjS8PiQmwSMOQUHz05Yt8%2F8rT4tkw43xR4RvqeVEbssG05k%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1803RCmtqGuwgAmEVBdkB2Ml0Ul4Fgs2zovBBOoBaqTwfW8npS6vLIJ3Pwiodh%2B6MXdBsGcvpZkSB19XX6ylOyOi2JmDPpMP2lcK8ZCNYCX9BSAnx9eTs%2BltPD31J%2FDJxZp1YHgdTTCqg%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19Xl5EvYOJyScw0aP2li7AQ3h17Ui0x6CuLRN22j0%2FQvxEy0mHXtpgrCRTdvXWn%2BlcCWGESMQ%2F3nKdsRa0YXbyfQQf7iYTW%2BOnVkAxaKg7elGzoIKXMvu0rG1Zavkm%2F2x1uFrl%2FbCXRnA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1715284589280%2C%22018f5ee8-70ec-7dfd-aa45-d3a4bce7bc2f%22%2C1715284242668%5D%2C%22%24epp%22%3Atrue%7D"
          },
          "params": {},
          "query": {
            "UserName": "12340",
            "ProviderFirstName": "Thomas Stilwell, IT",
            "EncoutnerId": "22308202",
            "EncoutnerDate": "2024-05-09 08:20:00.000 -05:00",
            "PatientNumber": "158536",
            "PatientMrn": "502880",
            "PatientFirstName": "THOMAS",
            "PatientLastName": "STILWELL",
            "PatientDOB": "02/01/1988"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/5d41a48c-e148-4281-a174-592a6d350b5e",
          "executionMode": "production",
          "MRN": "502880",
          "DEM_FIRSTNAME": "THOMAS",
          "DEM_LASTNAME": "STILWELL",
          "UserName": "Thomas_Stilwell,_IT",
          "formattedDate": "2024-05-09"
        }
      }
    ],
    "HTTP Get Meeting Info1": [
      {
        "json": {
          "response": {
            "returncode": "FAILED",
            "messageKey": "notFound",
            "message": "A meeting with that ID does not exist"
          }
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "24.127.131.242",
            "x-forwarded-for": "24.127.131.242",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Chromium\";v=\"124\", \"Google Chrome\";v=\"124\", \"Not-A.Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "none",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "_ga=GA1.2.1097417210.1679040667; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19RqpbfmtuHTJOSLRX7eWEBt2w3TiZelAk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BgGa41a0202HZpOuA2%2F%2BykwUHqdpJTcG4%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiLzRxNThNRW5MbEk2cHczVlNOckFqcTlJVVkwU1p5TnJTOWtKYmI5Zk55bz0iLCJpYXQiOjE3MTY2NzMwNjYsImV4cCI6MTcxNzI3Nzg2Nn0.uVNkhyR1y7YVMYefu_SvrFRQ_wrhrZ8CyobpV8orGb4; app_id=f3ddcc34-d999-4036-af04-4d427e349d85; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BaxB0ERFmNV%2BRIW2CRjFUjqAZsBrFgHPShE15k2g9tb4HpitmdCjg7hry84QsF4Gbci62Cxh1xiw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2Bl7AOezlh5tl9Tc9Sas0xX%2BiSjXbYQiXzx8%2BOHyxXVo2voLFXRSRcjl7mN%2FMOxzWojDeDE6wg%2BRieYV%2FW0AHLsyy%2B8yBHCOBlFgBSlCu855q3iWM9%2B8lPBAeyLHdYhfWqfl%2FSMBQapJ17%2FWqZHxzes1VukwdQlUPA%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19o6KmUwvrpY8bNKaDkYfavNHW1AmXzjWTdxgcaNhiSoAvzyO8f7dUtUBIDSWGLRgfthXNbzHvm0YhFirEsGcDLTG9jP20hGXGKKSMkQ1F1NF8rwkTs%2BVr7TpqSOhvY5B8ipot4r3uZKQ%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1716819231885%2C%22018fba54-e567-7d8c-abd6-1e026e9ca404%22%2C1716818077031%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2B5ZgPOkLXKdOKmw50O0ZVOZirPZgbG4i1Y8VCovjgEv6tv8U8GhCCqNmoZ8%2BNTe9d3TdlkgFnx0N1wFQ%2FS9FRq1yTldlSUCzyt6EcYiBnN2t5WIT%2B7Ka5EexNMAw2OqbPrIJ66AEbDsA%3D%3D"
          },
          "params": {},
          "query": {
            "MRN": "502880"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/b4d7e3c3-34a1-4f0a-9fef-780444985a38",
          "executionMode": "production"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.1.160",
            "x-forwarded-for": "10.0.1.160",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "206",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "accept": "*/*",
            "user-agent": "Ruby",
            "content-type": "application/x-www-form-urlencoded"
          },
          "params": {},
          "query": {},
          "body": {
            "signed_parameters": "eyJhbGciOiJIUzI1NiJ9.eyJtZWV0aW5nX2lkIjoiOTA5MzMwIiwicmVjb3JkX2lkIjoiMTI0OGQ1NjBlNmU3NTViOWYwMzczOTRiNmM1ZDBlY2M2N2E1ZTM5Yy0xNzEzMDkzMTYzNjA1In0.tPJrHb8GvZZhcSaBQImXtuPtBGKUXGSYXVYwcYpjckg"
          }
        }
      }
    ],
    "Webhook3": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.63",
            "x-forwarded-for": "10.0.24.63",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Microsoft Edge\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36 Edg/137.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bi2wlGyWUrU8csBnMpC2ky94UMvv6i1l8%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BlOAQjwoHJTIaa%2BnRWw%2FuYu7Q4OoFm%2BVc%3D; cw_conversation=eyJhbGciOiJIUzI1NiJ9.eyJzb3VyY2VfaWQiOiJkOGU0ZmExYy0yMTk2LTQ3ODAtYjFhMi0zNGI5NzYyYWZhMjciLCJpbmJveF9pZCI6MX0.0lRACgYRzS4v3ie0Q3KCpE2J2om9Qu4ndLgNQa8saXU; theme=light; kanbanData=%5B%7B%22id%22%3A%22_sgnzm0wde%22%2C%22title%22%3A%22To%20Do%22%2C%22tasks%22%3A%5B%7B%22id%22%3A%22_9zmi9x1s7%22%2C%22title%22%3A%22tawfs%22%7D%5D%7D%2C%7B%22id%22%3A%22_jotn4r9ur%22%2C%22title%22%3A%22tste%22%2C%22tasks%22%3A%5B%5D%7D%5D; patient_phone=2488726322; patient_dob_year=1988; patient_dob_month=02; patient_dob_day=01; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiYW9ldjhjM1NoOG5jMDNLc1A4R2dYK1dkUElNWFVaTWE0ejl6WjNZVndjZz0iLCJpYXQiOjE3NTA2ODA5OTAsImV4cCI6MTc1MTI4NTc5MH0.MlH8I4KBdRewEIW2zOs6OuAG_cgE5nNQhGAhqOR0KwA; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BvFpGDThMZGrYqZNSzKLILQ9VYgtzjcr4vB%2BapBmyBm6xNIvBafvRNhnxXpOPz3ustdGxUAiZLMg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FQmg6xrT91KHnr%2BnICrCG6lfB%2B1%2FTMCdRQLW2zmOrTqdj2OXwDHtVx8UiOyQBgT4UhJUTsLbpNSd4sVR3jWdckTL54gxb%2F%2BPLlJPlDkdOS0dI%2BYRCkU4ru7HwkD%2BwgCWU9DUiIP%2BUuIJIv3v0CnB2qJk9zPDuN6Nc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FJ2yc6ZqfAWeaFEOQh7%2B%2BLxFD7LDOqHRBbgqFyuLmbH1BgJZk0F1praW%2B7Ssgb9zifcRzrcnxpWNX5fHIYeyM2jHzAOzfHMSZZQn2dmEuX5qB2BE6lSni5HLWKmcJTLVYbcPLcpnGx9A%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1750700093506%2C%2201979dda-1cea-78cf-9440-58b8858bb17e%22%2C1750700006625%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fxl.epicpc.com%2Fsignin%3Fredirect%3D%25252F%22%7D%2C%22%24initialization_time%22%3A%222025-06-23T17%3A34%3A53.464Z%22%2C%22%24configured_session_timeout_ms%22%3A1800000%2C%22%24client_session_props%22%3A%7B%22sessionId%22%3A%2201979dda-1cea-78cf-9440-58b8858bb17e%22%2C%22props%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fxl.epicpc.com%2Fworkflow%2FqnpkHWg2eknOHi4o%22%7D%7D%2C%22%24active_feature_flags%22%3A%5B%22033_rag_template%22%2C%22032_evaluation_mvp%22%2C%22028_schema_preview%22%2C%22027_free_openai_calls%22%2C%22024_credential_docs%22%2C%2220_canvas_auto_add_manual_trigger%22%2C%22011_ask_AI%22%2C%22006_cloud_opt_in%22%2C%22009_choosing_trial_plan%22%2C%22schema-view%22%2C%22017_template_credential_setup_v2%22%2C%22021_ai_debug_helper%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22033_rag_template%22%3A%22variant%22%2C%22032_evaluation_mvp%22%3Atrue%2C%22028_schema_preview%22%3A%22variant%22%2C%22027_free_openai_calls%22%3A%22variant%22%2C%22024_credential_docs%22%3A%22control%22%2C%2220_canvas_auto_add_manual_trigger%22%3A%22control%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22009_choosing_trial_plan%22%3A%22variant%22%2C%22schema-view%22%3Atrue%2C%22017_template_credential_setup_v2%22%3Atrue%2C%22021_ai_debug_helper%22%3A%22variant%22%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22%24feature_flag_details%22%3A%7B%7D%2C%22%24user_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24had_persisted_distinct_id%22%3Atrue%2C%22%24device_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%22%2C%22created_at_timestamp%22%3A1698879072899%7D%2C%22%24capture_rate_limit%22%3A%7B%22tokens%22%3A98.28%2C%22last%22%3A1750700093505%7D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24session_recording_network_payload_capture%22%3A%7B%22capturePerformance%22%3Afalse%7D%2C%22%24session_recording_canvas_recording%22%3A%7B%7D%2C%22%24replay_sample_rate%22%3Anull%2C%22%24replay_minimum_duration%22%3Anull%2C%22%24autocapture_disabled_server_side%22%3Afalse%2C%22%24heatmaps_enabled_server_side%22%3Afalse%2C%22%24web_vitals_enabled_server_side%22%3Afalse%2C%22%24exception_capture_enabled_server_side%22%3Afalse%2C%22%24error_tracking_suppression_rules%22%3A%5B%5D%2C%22%24dead_clicks_enabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2B9ryTNyfq0omAiQ5eN%2BgML%2FHLudzhodfhWUBj%2FoNnVd7xLQgoAJlJEKnhRkpwNiVlcaWuEhWnrCvEmIyD8qpUt%2F5e63pjl4mNf9XwkahdOGgGgFFtUXbJqem1iEJblz0kAoWHHO7x91g%3D%3D"
          },
          "params": {},
          "query": {
            "MRN": "197520",
            "Name": "akalabat",
            "password": "mp",
            "redirect": "true",
            "role": "MODERATOR"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/06bacab3-131a-4318-b874-c78d1a087c01",
          "executionMode": "production"
        }
      }
    ],
    "Example_Identify Room": [
      {
        "json": {
          "MRN": "502880",
          "IMREDEM_CODE": 158536,
          "LOCATION_ID": 15,
          "LOCATION_NAME": "EPIC Royal Oak Woodward",
          "ROOM_ID": 196,
          "ROOM_ABBR_TEXT": "B5",
          "ROOM_TEXT": "RM B5",
          "CAREGIVER_NAME": "Weisenberger, Ryne PA",
          "SCHED_DATE": "2024-05-29T20:40:00.000Z",
          "PATIENT_FIRSTNAME": "THOMAS",
          "PATIENT_LASTNAME": "STILWELL",
          "SCHED_TIMEIN": "2024-05-29T11:47:02.237Z",
          "SCHED_TIMESTART": "2024-05-29T11:47:08.993Z",
          "SCHED_TIMEOUT": null,
          "SCHED_STATUS": 1
        }
      }
    ],
    "Merge6": [
      {
        "json": {
          "data": "<response>\r\n<returncode>SUCCESS</returncode>\r\n<meetingID>502880</meetingID>\r\n<internalMeetingID>20aaa5dcfa526c37736fbbb08ec1b7522d632317-1733923630164</internalMeetingID>\r\n<parentMeetingID>bbb-none</parentMeetingID>\r\n<attendeePW>ap</attendeePW>\r\n<moderatorPW>mp</moderatorPW>\r\n<createTime>1733923630164</createTime>\r\n<voiceBridge>40340</voiceBridge>\r\n<dialNumber>613-555-1234</dialNumber>\r\n<createDate>Wed Dec 11 13:27:10 UTC 2024</createDate>\r\n<hasUserJoined>false</hasUserJoined>\r\n<duration>0</duration>\r\n<hasBeenForciblyEnded>false</hasBeenForciblyEnded>\r\n<messageKey></messageKey>\r\n<message></message>\r\n</response>",
          "SingleSignOnToken": "60B7C83D-7EE5-4350-A58F-76814558A9A7",
          "SessionToken": "166A5264-93F4-4A15-B938-529F2A8EB983",
          "UserName": "TSTILWELL",
          "CreatedOn": "2024-12-11T08:27:08.027Z",
          "EncounterID": "25752487",
          "PatientID": "158536",
          "MRN": "502880",
          "DEM_FIRSTNAME": "THOMAS",
          "DEM_LASTNAME": "STILWELL",
          "DEM_DATEOFBIRTH": "1988-02-01T00:00:00.000Z",
          "formattedDate": "2024-12-11"
        }
      }
    ],
    "PM Patient Info2": [
      {
        "json": {
          "Patient_ID": 174619,
          "Patient_Number": "502880",
          "Patient_Name": "THOMAS STILWELL",
          "Patient_LFI": "STILWELL, THOMAS",
          "Patient_First_Name": "THOMAS",
          "Patient_Last_Name": "STILWELL",
          "Patient_Street1": "511 SOUTH CROOKS RD,",
          "Patient_City": "CLAWSON",
          "Patient_State": "MI",
          "Patient_Zip_Code": "48017",
          "Patient_SSN": null,
          "Patient_Sex": "M",
          "Patient_DOB": "1988-02-01T00:00:00.000Z",
          "Patient_Age": 36,
          "Patient_Marital_Status": "Separated",
          "Patient_Home_Phone": "2488726322",
          "Patient_Cell_Phone": "2488726322",
          "Patient_Primary_Phone_Number": "2488726322",
          "patient_email": "thomas@tagarmor.com",
          "BitrixPatientStatus": "EHS Patient"
        }
      }
    ],
    "PM Patient Info": [
      {
        "json": {
          "Patient_ID": 174619,
          "Patient_Number": "502880",
          "Patient_Name": "THOMAS STILWELL",
          "Patient_LFI": "STILWELL, THOMAS",
          "Patient_First_Name": "THOMAS",
          "Patient_Last_Name": "STILWELL",
          "Patient_Street1": "511 SOUTH CROOKS RD,",
          "Patient_City": "CLAWSON",
          "Patient_State": "MI",
          "Patient_Zip_Code": "48017",
          "Patient_SSN": null,
          "Patient_Sex": "M",
          "Patient_DOB": "1988-02-01T00:00:00.000Z",
          "Patient_Age": 36,
          "Patient_Marital_Status": "Separated",
          "Patient_Home_Phone": "2488726322",
          "Patient_Cell_Phone": "2488726322",
          "Patient_Primary_Phone_Number": "2488726322",
          "patient_email": "thomas@tagarmor.com",
          "BitrixPatientStatus": "EHS Patient"
        }
      }
    ],
    "Patient Queue Tab UNITY": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.44",
            "x-forwarded-for": "10.0.24.44",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) UNITY/1.4.2 Chrome/128.0.6613.36 Electron/32.0.1 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "none",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US"
          },
          "params": {},
          "query": {
            "user": "tstilwell@epichs.org",
            "tab": "patients-queue",
            "app_version": "1.4.2",
            "host": "Duo"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/fe7b36e0-52a8-4cbf-af3f-4ed205ec55a3",
          "executionMode": "production"
        }
      }
    ],
    "Edit Fields4": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "user-agent": "axios/1.7.4",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {
            "PatientMrn": "433160",
            "PatientFirstName": "JEROME",
            "PatientLastName": "STEWART JR",
            "ProviderFirstName": "Gadoua%2C%20Christopher%20PA-C"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/5d41a48c-e148-4281-a174-592a6d350b5e",
          "executionMode": "production"
        }
      }
    ],
    "Edit Fields12": [
      {
        "json": {
          "Id": 5,
          "MRN": 197520,
          "CreatedAt": "2025-06-25 15:37:03",
          "UpdatedAt": null,
          "SchedulingProvider": "TSTILWELL",
          "InstantProvider": null
        }
      },
      {
        "json": {
          "Id": 6,
          "MRN": 197520,
          "CreatedAt": "2025-06-25 15:39:39",
          "UpdatedAt": null,
          "SchedulingProvider": "TSTILWELL",
          "InstantProvider": null
        }
      }
    ],
    "Get many rows": [
      {
        "json": {
          "Id": 1,
          "MRN": 197520,
          "CreatedAt": "2025-06-23 18:01:24",
          "UpdatedAt": null,
          "SchedulingProvider": "TSTILWELL",
          "InstantProvider": null
        }
      }
    ],
    "Get many rows2": [
      {
        "json": {
          "Id": 1,
          "MRN": 197520,
          "CreatedAt": "2025-06-23 18:01:24",
          "UpdatedAt": null,
          "SchedulingProvider": "TSTILWELL",
          "InstantProvider": null
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-01T20:41:48.993Z",
      "updatedAt": "2024-06-01T20:41:48.993Z",
      "id": "N7jx3FSOuxvAbK8V",
      "name": "Thomas"
    }
  ],
  "triggerCount": 6,
  "updatedAt": "2025-07-24T22:01:12.088Z",
  "versionId": "2f245f4b-84f8-4390-816f-477b02aae3f9"
}