workflows/Has Patient App Scrub List
{
  "active": true,
  "connections": {
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "EHR Patient Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EHR Patient Info": {
      "main": [
        [
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "MongoDB5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "EHR Patient Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T20:05:46.619Z",
  "id": "1XJG7hpSgzFFANrM",
  "isArchived": false,
  "meta": null,
  "name": "Has Patient App Scrub List",
  "nodes": [
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1540,
        0
      ],
      "id": "86ea1dbb-c0e9-4a82-bb75-5338a95a2f7b",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        -140
      ],
      "id": "ef846b18-d769-489a-b820-b1904a792bc7",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1280,
        0
      ],
      "id": "c89066fe-aeca-460b-bac1-7772d292e9ee",
      "name": "Merge6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT [IMREDEM_CODE]\n      ,[DEM_EXTERNALID]\n      ,[DEM_LASTNAME]\n      ,[DEM_FIRSTNAME]\n      ,[DEM_FULLNAME_REVERSED]\n      ,[DEM_FULLNAME]\n      ,[DEM_SEX]\n      ,[DEM_DATEOFBIRTH]\n      ,[DEM_STATUS]\n      ,[DEM_HOMEADDR]\n      ,[HOME_ADDRESS]\n      ,[HOME_CITY]\n      ,[HOME_STATE]\n      ,[HOME_ZIP]\n      ,[HOME_PHONE]\n      ,[HOME_CARPHONE]\n      ,[HOME_EMAILADDRESS]\n\n  FROM [EMR].[HPSITE].[DEMOGRAPHICS_VIEW]\n\nWHERE DEM_EXTERNALID = '{{ ($json[\"﻿msgsentpat_number\"] !== undefined ? String($json[\"﻿msgsentpat_number\"]) : String($json.msgsentpat_number)).padStart(6, \"0\") }}'"
      },
      "id": "e10e439c-d576-44f3-86dd-45290f9e5c37",
      "name": "EHR Patient Info",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "qYagSGVTKE5tZdos",
          "name": "Microsoft SQL EHR"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1700,
        -80
      ],
      "id": "42c53fd2-0092-42a0-8b86-7d5c8fae3a93",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"contact_details.mobile_number\": {\n    \"$regex\": \".*{{$json.HOME_CARPHONE}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "11ce5272-2654-412e-aec8-dac9ab6c93bd",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        740
      ],
      "credentials": {
        "mongoDb": {
          "id": "GcDoZP6kqt3fgy9H",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"last_name\": {\n    \"$regex\": \".*{{$json.DEM_LASTNAME}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "8b193e7c-148c-428f-97e6-fd495e48b259",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "GcDoZP6kqt3fgy9H",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"first_name\": {\n    \"$regex\": \".*{{$json.DEM_FIRSTNAME}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "acb293be-7ca5-4cf5-8f48-660429521ef4",
      "name": "MongoDB3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        160
      ],
      "credentials": {
        "mongoDb": {
          "id": "GcDoZP6kqt3fgy9H",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"email\": {\n    \"$regex\": \".*{{$json.HOME_EMAILADDRESS}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "02d95b17-9d3b-4106-b2c4-05c4fabfe3f9",
      "name": "MongoDB4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        560
      ],
      "credentials": {
        "mongoDb": {
          "id": "GcDoZP6kqt3fgy9H",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"dob\": {\n    \"$regex\": \".*{{$json.DEM_DATEOFBIRTH}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "9ed2ba62-cc7c-4b42-952a-5ee19d16c037",
      "name": "MongoDB5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        480,
        940
      ],
      "credentials": {
        "mongoDb": {
          "id": "GcDoZP6kqt3fgy9H",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        440
      ],
      "id": "a7b6c9a5-5a0f-4838-9673-9f3d2ba2c80d",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -140
      ],
      "id": "09a4bd53-e1f4-4a5b-a605-9d4a356d9e89",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2fc93d5e-b4ee-4bad-9dd0-ed2f251ed92f",
              "leftValue": "={{ $json.patient_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        180
      ],
      "id": "a6be8ace-a4e9-42d7-bb09-069c7714d189",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        -20
      ],
      "id": "6f14eb10-798d-4a24-9e4e-498470613b67",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1500,
        -20
      ],
      "id": "41c1bb0a-2972-493b-9a0a-1a7e6dad6f78",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ffcbef0-a125-410d-b8d0-d38da6f1a8a2",
              "leftValue": "={{ $json.DEM_EXTERNALID }}",
              "rightValue": "={{ $json.patient_number }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        0
      ],
      "id": "78dc0a34-bb8d-4149-9611-e9e33181f92e",
      "name": "If1"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        0
      ],
      "id": "814600b5-d365-4f1b-aa8c-76c829cb91d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Function to create a unique string key for each object\nfunction getKey(obj) {\n  // JSON.stringify can be used if all objects are consistent and order of keys is consistent\n  return JSON.stringify(obj);\n}\n\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const item of items) {\n  const key = getKey(item.json);\n  if (!seen.has(key)) {\n    seen.add(key);\n    uniqueItems.push(item);\n  }\n}\n\nreturn uniqueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        -280
      ],
      "id": "06cedd84-7111-4f37-856c-ac30a6724f52",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "452183da-f087-4cd8-b7cb-74fc709214ee",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2020,
        -80
      ],
      "id": "5551cb34-7908-40c6-8fd0-b1a063e3f06a",
      "name": "Webhook",
      "webhookId": "452183da-f087-4cd8-b7cb-74fc709214ee"
    },
    {
      "parameters": {
        "path": "b3762642-25b3-4f5f-b06c-7dfddc40e73e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1980,
        -560
      ],
      "id": "5bd457b0-5a3d-4422-972e-90f885d4d059",
      "name": "Webhook1",
      "webhookId": "b3762642-25b3-4f5f-b06c-7dfddc40e73e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n  <title>Patient App Scrubber</title>\n  <link rel=\"icon\" type=\"image/svg+xml\"\n        href=\"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'><text y='32' font-size='32'>🚀</text></svg>\">\n  <link href=\"https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined\" rel=\"stylesheet\"/>\n  <style>\n    :root {\n      --primary-gradient: linear-gradient(135deg,#667eea,#764ba2);\n      --primary-color: #5848e5;\n      --primary-hover: #3663f0;\n      --text-color: #3a3f55;\n      --background: #f5f7ff;\n      --form-bg: #f9faff;\n      --border-color: #a4aed1;\n      --table-border: #cfd4e6;\n      --table-header-bg: #eff3ff;\n    }\n    * { box-sizing: border-box; margin:0; padding:0; }\n    body {\n      background: var(--background);\n      font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n      color: var(--text-color);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 2rem;\n    }\n    main {\n      background: white;\n      border-radius: 12px;\n      max-width: 700px;\n      width: 100%;\n      padding: 2.5rem 3rem 3rem;\n      box-shadow: 0 6px 18px rgba(102, 126, 234, 0.15);\n      display: flex;\n      flex-direction: column;\n      gap: 2rem;\n      position: relative;\n    }\n\n    h1 {\n      color: var(--primary-color);\n      font-weight: 700;\n      font-size: 2rem;\n      text-align: center;\n      margin-bottom: 0.25rem;\n    }\n    p.subtitle {\n      text-align: center;\n      font-weight: 500;\n      color: #545d85;\n      margin-bottom: 1rem;\n    }\n\n    form {\n      display: flex;\n      flex-direction: column;\n      gap: 1rem;\n    }\n\n    label {\n      font-weight: 600;\n      font-size: 1rem;\n    }\n\n    input[type=\"file\"] {\n      padding: 0.5rem;\n      border-radius: 6px;\n      border: 1px solid var(--border-color);\n      font-size: 1rem;\n      background: white;\n    }\n\n    button[type=\"submit\"] {\n      background: var(--primary-color);\n      color: white;\n      padding: 0.75rem 1.2rem;\n      font-weight: 600;\n      border-radius: 8px;\n      border: none;\n      cursor: pointer;\n      font-size: 1.1rem;\n      transition: background-color 0.3s ease;\n      user-select: none;\n    }\n    button[type=\"submit\"]:hover:not(:disabled) {\n      background: var(--primary-hover);\n    }\n    button[type=\"submit\"]:disabled {\n      background: #a0a0df;\n      cursor: not-allowed;\n    }\n\n    #results:focus {\n      outline: 3px solid var(--primary-color);\n      outline-offset: 4px;\n    }\n\n    /* Results Table */\n    #results {\n      max-height: 400px;\n      overflow-x: auto;\n      overflow-y: auto;\n      border-radius: 8px;\n      box-shadow: 0 4px 12px rgba(102, 126, 234, 0.12);\n      border: 1px solid var(--table-border);\n      padding: 0.5rem;\n      font-size: 0.9rem;\n      color: var(--text-color);\n      user-select: text;\n    }\n\n    #results table {\n      width: 100%;\n      border-collapse: collapse;\n    }\n\n    #results th, #results td {\n      text-align: left;\n      padding: 0.5rem 0.75rem;\n      border-bottom: 1px solid var(--table-border);\n      white-space: nowrap;\n    }\n\n    #results th {\n      background-color: var(--table-header-bg);\n      font-weight: 700;\n      position: sticky;\n      top: 0;\n      z-index: 1;\n    }\n\n    /* Loader Overlay */\n    #loaderOverlay {\n      pointer-events: none;\n      opacity: 0;\n      transition: opacity 0.3s ease;\n      position: absolute;\n      inset: 0;\n      background-color: rgba(0,0,0,0.48);\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      align-items: center;\n      border-radius: 12px;\n      user-select: none;\n      z-index: 10;\n      color: white;\n      font-weight: 600;\n      font-size: 1.25rem;\n    }\n    #loaderOverlay.visible {\n      pointer-events: auto;\n      opacity: 1;\n    }\n    .spinner {\n      margin-bottom: 16px;\n      width: 48px;\n      height: 48px;\n      border: 7px solid rgba(255,255,255,0.3);\n      border-top-color: white;\n      border-radius: 50%;\n      animation: spin 1.2s linear infinite;\n    }\n    @keyframes spin { to { transform: rotate(360deg); } }\n\n    /* Responsive */\n    @media (max-width: 480px) {\n      main {\n        padding: 1.5rem 1.5rem 2rem;\n      }\n      button[type=\"submit\"] {\n        font-size: 1rem;\n      }\n    }\n  </style>\n</head>\n<body>\n  <main role=\"main\" aria-live=\"polite\" aria-atomic=\"true\">\n    <h1>Patient App Scrubber</h1>\n    <p class=\"subtitle\">Upload a CSV with your patient list to check who has the Patient App.</p>\n\n    <form id=\"uploadForm\" aria-describedby=\"instructions\">\n      <label for=\"csvFile\">Choose Patient CSV File</label>\n      <input type=\"file\" id=\"csvFile\" name=\"file\" accept=\".csv,text/csv\" required aria-required=\"true\" aria-describedby=\"fileHelp\"/>\n      <small id=\"fileHelp\" style=\"color:#667eea;\">Your CSV should contain patient info (e.g., ID, Name, Email)</small>\n\n      <button type=\"submit\">Upload and Scrub</button>\n    </form>\n\n    <section id=\"results\" tabindex=\"0\" aria-live=\"polite\" aria-label=\"Scrubbed Patient Results\"></section>\n\n    <div id=\"loaderOverlay\" role=\"alert\" aria-live=\"assertive\" aria-atomic=\"true\" aria-hidden=\"true\">\n      <div class=\"spinner\" aria-hidden=\"true\"></div>\n      <div id=\"loaderMessage\">Uploading and processing CSV...</div>\n    </div>\n  </main>\n\n<script>\n  const form = document.getElementById('uploadForm');\n  const fileInput = document.getElementById('csvFile');\n  const resultsDiv = document.getElementById('results');\n  const loaderOverlay = document.getElementById('loaderOverlay');\n  const loaderMessage = document.getElementById('loaderMessage');\n  const WEBHOOK_URL = 'https://xl.epicpc.com/webhook/452183da-f087-4cd8-b7cb-74fc709214ee';\n\n  function showLoader(message = 'Uploading and processing CSV...') {\n    loaderMessage.textContent = message;\n    loaderOverlay.classList.add('visible');\n    loaderOverlay.setAttribute('aria-hidden', 'false');\n  }\n\n  function hideLoader() {\n    loaderOverlay.classList.remove('visible');\n    loaderOverlay.setAttribute('aria-hidden', 'true');\n  }\n\n  function renderTable(data) {\n    if (!Array.isArray(data) || data.length === 0) {\n      resultsDiv.innerHTML = `<p>No patient data returned.</p>`;\n      return;\n    }\n\n    // Extract columns from first object keys\n    const columns = Object.keys(data[0]);\n\n    const table = document.createElement('table');\n    const thead = document.createElement('thead');\n    const trHead = document.createElement('tr');\n    for (const col of columns) {\n      const th = document.createElement('th');\n      th.textContent = col;\n      trHead.appendChild(th);\n    }\n    thead.appendChild(trHead);\n    \n    const tbody = document.createElement('tbody');\n    for (const row of data) {\n      const tr = document.createElement('tr');\n      for (const col of columns) {\n        const td = document.createElement('td');\n        td.textContent = row[col] != null ? row[col] : '';\n        tr.appendChild(td);\n      }\n      tbody.appendChild(tr);\n    }\n\n    table.appendChild(thead);\n    table.appendChild(tbody);\n\n    resultsDiv.innerHTML = '';\n    resultsDiv.appendChild(table);\n    resultsDiv.focus();\n  }\n\n  form.addEventListener('submit', async e => {\n    e.preventDefault();\n    resultsDiv.innerHTML = '';\n    if (!fileInput.files.length) {\n      alert('Please select a CSV file to upload.');\n      return;\n    }\n\n    const file = fileInput.files[0];\n\n    showLoader();\n\n    const formData = new FormData();\n    formData.append('file', file);\n\n    try {\n      const resp = await fetch(WEBHOOK_URL, {\n        method: 'POST',\n        body: formData\n      });\n\n      if (!resp.ok) {\n        throw new Error(`Upload failed: ${resp.status} ${resp.statusText}`);\n      }\n\n      const json = await resp.json();\n\n      if (json.error) {\n        resultsDiv.innerHTML = `<p style=\"color:#b33838;\">Error: ${json.error}</p>`;\n      } else if (json.results) {\n        renderTable(json.results);\n      } else {\n        resultsDiv.innerHTML = `<p>Unexpected response format: missing \"results\".</p>`;\n      }\n    } catch (err) {\n      resultsDiv.innerHTML = `<p style=\"color:#b33838;\">Error: ${err.message}</p>`;\n    } finally {\n      hideLoader();\n    }\n  });\n</script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1760,
        -560
      ],
      "id": "d1859734-0934-45f3-9bab-e1a04c4046c2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        260
      ],
      "id": "98adaf6a-71d0-4906-bfdc-8c2fb6226637",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "DEM_EXTERNALID",
              "field2": "patient_number"
            }
          ]
        },
        "resolve": "preferInput1",
        "fuzzyCompare": true,
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1700,
        -360
      ],
      "id": "b7707fd5-e64c-4a31-96ba-5c849e11b59c",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        280
      ],
      "id": "544db5eb-0b39-4251-b3ed-fbe75bbaf8e5",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {
    "Extract from File5": [
      {
        "json": {
          "﻿From": "gethealthy@epicpc.com",
          "To": "vhabbo@epichs.org",
          "Message": "Hey, this was sent through campaignerizer."
        }
      }
    ],
    "Edit Fields10": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.120",
            "x-forwarded-for": "10.0.24.120",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "2072",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundarynuYlCAGUDfqsYfib",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://xl.epicpc.com",
            "sec-fetch-site": "same-origin",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://xl.epicpc.com/webhook/838916fd-321b-423a-9e10-f5c35cfc5a29?user=tstilwell",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bi2wlGyWUrU8csBnMpC2ky94UMvv6i1l8%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BlOAQjwoHJTIaa%2BnRWw%2FuYu7Q4OoFm%2BVc%3D; cw_conversation=eyJhbGciOiJIUzI1NiJ9.eyJzb3VyY2VfaWQiOiJkOGU0ZmExYy0yMTk2LTQ3ODAtYjFhMi0zNGI5NzYyYWZhMjciLCJpbmJveF9pZCI6MX0.0lRACgYRzS4v3ie0Q3KCpE2J2om9Qu4ndLgNQa8saXU; theme=light; kanbanData=%5B%7B%22id%22%3A%22_sgnzm0wde%22%2C%22title%22%3A%22To%20Do%22%2C%22tasks%22%3A%5B%7B%22id%22%3A%22_9zmi9x1s7%22%2C%22title%22%3A%22tawfs%22%7D%5D%7D%2C%7B%22id%22%3A%22_jotn4r9ur%22%2C%22title%22%3A%22tste%22%2C%22tasks%22%3A%5B%5D%7D%5D; patient_phone=2488726322; patient_dob_year=1988; patient_dob_month=02; patient_dob_day=01; _fbp=fb.1.1752783995652.779760046437012535; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiYW9ldjhjM1NoOG5jMDNLc1A4R2dYK1dkUElNWFVaTWE0ejl6WjNZVndjZz0iLCJpYXQiOjE3NTMyMDc0NDksImV4cCI6MTc1MzgxMjI0OX0.SdtU0MqlDXz7QtXx5fRresX5ytwyLOdYL_fqQ6U7ru8; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19nozNrPumEA%2FkkJ1uaDhLcJ1sYitFmV%2Fc2COcENyv0Lq%2BCYOtXxJum4ICP6h0CKeXuQWvLxq5gvA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19qloiFVKG7DfECzidr6xevQLe6XgFJpm93DFbVSgtvH8u3BrubxC8ORrXPwSjL4XFyZzMshzjmrc6vINZJrWjBB9pbRLVkQYXm3fvpSsIkh1fnT7dJCM410UThXHUIwOPeB%2FyImf%2FljPz8jb%2FWuOiv5ylXlPHd10c%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B69g0snwuyB0UBjdVINAy%2F15ZwnZ8EXwwk5BfbfZVruRp%2Ffq0XSi7sCXnR2u9BfDVs0yqBQGvYVkBnFkOwkMtOt8XLv83zsEES3il2qPoie2D9nlNUPLLkXWpw%2Ffua9GUazIrLIulWEw%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1753469185403%2C%22019842e2-580c-7b77-af25-0159d274adb2%22%2C1753468786698%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fxl.epicpc.com%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BwKx%2FxmXwNRff3N5NSlnhGL%2F%2FtmgPqunM7lZoZZhVG5agCCP2%2BeP29sgA168t5EROTZGQwOwHbc%2BgFXe6reoLavhmL7RnZCgt%2BepRBQDIos0gqVkLqRBK364T6N65ppB9nkDDsz2n%2Bdw%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {
            "Id": "174",
            "Title": "TEST EMAIL",
            "CreatedAt": "2025-07-25 18:42:56",
            "UpdatedAt": "null",
            "Content": "This is a test for email content",
            "VideoUrl": "null",
            "AudioUrl": "null",
            "SurveyId": "null",
            "SMSmessage": "null",
            "Medium": "Email",
            "PhoneQueueDID": "null",
            "AnsweredMessage": "null",
            "VoicemailMessage": "null",
            "User": "tstilwell",
            "Script": "null",
            "FromEmail": "gethealthy@epicpc.com",
            "EmailMessage": "Hello, this is a test."
          },
          "webhookUrl": "https://xl.epicpc.com/webhook/8538dbb8-6421-419d-9c67-6aa827e5fa60",
          "executionMode": "production"
        }
      }
    ],
    "EHR Patient Info": [
      {
        "json": {
          "IMREDEM_CODE": 158536,
          "DEM_EXTERNALID": "502880",
          "DEM_LASTNAME": "STILWELL",
          "DEM_FIRSTNAME": "THOMAS",
          "DEM_FULLNAME_REVERSED": "STILWELL, THOMAS ",
          "DEM_FULLNAME": "THOMAS STILWELL",
          "DEM_SEX": 2,
          "DEM_DATEOFBIRTH": "1988-02-01T00:00:00.000Z",
          "DEM_STATUS": 1,
          "DEM_HOMEADDR": 43365204,
          "HOME_ADDRESS": "511 SOUTH CROOKS RD,",
          "HOME_CITY": "CLAWSON",
          "HOME_STATE": "MI   ",
          "HOME_ZIP": "48017",
          "HOME_PHONE": "(248) 872-6322",
          "HOME_CARPHONE": "(248) 872-6322",
          "HOME_EMAILADDRESS": "thomas@tagarmor.com"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "IMREDEM_CODE": 158536,
          "DEM_EXTERNALID": "502880",
          "DEM_LASTNAME": "STILWELL",
          "DEM_FIRSTNAME": "THOMAS",
          "DEM_FULLNAME_REVERSED": "STILWELL, THOMAS ",
          "DEM_FULLNAME": "THOMAS STILWELL",
          "DEM_SEX": 2,
          "DEM_DATEOFBIRTH": "1988-02-01T00:00:00.000Z",
          "DEM_STATUS": 1,
          "DEM_HOMEADDR": 43365204,
          "HOME_ADDRESS": "511 SOUTH CROOKS RD,",
          "HOME_CITY": "CLAWSON",
          "HOME_STATE": "MI   ",
          "HOME_ZIP": "48017",
          "HOME_PHONE": "(248) 872-6322",
          "HOME_CARPHONE": "(248) 872-6322",
          "HOME_EMAILADDRESS": "thomas@tagarmor.com",
          "_id": "6508519ba09d3837fea26ffe",
          "first_name": "Thomas",
          "last_name": "Stilwell",
          "email": "thomas@tagarmor.com",
          "password": "8776f108e247ab1e2b323042c049c266407c81fbad41bde1e8dfc1bb66fd267e",
          "dob": "1988-02-01T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2488726322"
          },
          "is_new_patient": false,
          "patient_id": "174619",
          "patient_number": "502880",
          "mapping_status": "COMPLETED",
          "createdAt": "2023-09-18T13:33:15.088Z",
          "updatedAt": "2025-07-27T14:42:19.928Z",
          "__v": 77,
          "player_ids": [
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "f3VAlyNYQgeaCu63tbqQra:APA91bFuq4hiwrC0B3thoGIwADPzoFfXPu38781zzjawMkVuLXbZ1yBJdm3Lu7agQMAp0B24XQrNjX9mzqn46rBTkDeIv6lOlzAqodngMhm4_sxZV92jGPW7qnD7FEFLtaSKlYkPUSrI",
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "f7jP5cuLTmW6AQ-MtiKu0C:APA91bF1iHFf-QBxP12VDQRIyLZfriR8xJrSL48k3n5xeoMFIXnhPf3owX-HdSRE9D5pkZilOfEErsSvZfjAAWligSyrZ-MP2S1ZS4UOIdcP5YrtUDzRY5yHSyqScisOHiYmWn2N9hjc",
            "eEbAOcvSxElMq-l58ZOEsp:APA91bHo-6IXpc22OiK37t3xsED2ebsqo_IrnVfEXFlEwZyh5EiPK5kR_XNOsCb96g2Y6EnO4RKKiLOpcck__aqnNlbpYp4GBHMuLwc1BCsSPq7kCBnIQgYeFaKQ23k-kWUvNf-jpPla",
            "dml9_HQsSaGNpdEL5XmIZC:APA91bHR6rMuRn2QfoQ2JGeUFG5K3EORvkSX-hY4GiIExU7j0w9Ck5DilviwTCjWTu4xLM7-olX7M6_yE4dBirdjKHwuVZpwicdF3IlRAAGlMU5ER7xVJhiKSZO-u9svmW2rEIUlRcCR",
            "cCJ-ntnsSVuGmx58QAfw76:APA91bE0FpmtytTQFJaaRhokUjLhSJvGjbImkXd3ve5xmunx-Nl8cFwSo6gOhbU9EPJht_NHLeazW0YIGLrzCikWHPN9vllGUrMc95jlEoa5GeJ-TzWQ5qTYBCvwLeI2p9914y5PFWB7",
            "dQWjpSuUTBaeflDOiyKOFT:APA91bFzgxeSxbbW7D98AAaiaHZK02C3d9sdjXwFMqG7QrXzb4wL_MpINwK3Zoj2bpjFhiwr2IeXhwNQwezdUOqrBRHoeXpKg5NQr7ESCiBGcaPuZwgZuWSbevISgtWMH9gU6tfvfFsB",
            "fe2_shKlTNKrM51V0ybA2c:APA91bGwRNpg1mXNjfRU6gXNFUiT11vt1Zdf-R9B6x4xNBjF30P_t7GVWQFY_kGepaj25T4wQa4c4uaB8OaLvxLRNOK5_dcO5JL9BjV4srazDRbxiMO51SEyRbJGAtEkPdv725IFBs1Y",
            "cNsKrIZqQxeQthqfnLPQ0h:APA91bE1BQviQqOjKLi8rLV90yCiogOpU_W0aIqrcvBsA9kNnx2H15nIdZPqQi0b3PYfFkJv2zwaWp49Q_rulE8tyfCUQnpHLxkSxba8GYB9sBmjcrFRt383LWMyUlHWBlg_ajxqYaAK",
            "fPiqnNBxRamR4i6KiyR8I9:APA91bFGMXiriZ3QNrVTiEQiMTUrwuNxhKnd1F2_1AXi2Fja6dk_pxy74kGpnUQXR-W7yOcq3UlK4Fsc6uALEGsWIpeNjFQ9S9RnmubpAmFbXmwb-tJwBYGm-9qmfZJfFlNo9s81FX37",
            "fHYGJRJDR5qeBtheX9Dopf:APA91bEFioB8L2_hQbY1vQD3rKoivy5DZpcz_kASLdDSBd0YKSS9ke8_RLRK4SJm_IT6WLA6i6hUXWbu_rhqlTXaGYECx6kJl8yyaOZxbmzyJSfzrDCHy3l5yhTux-o_PcQVClJuJeC7",
            "dhPovzh_2EQYiJq5pOcqWb:APA91bFTPGcfb7Hw9UreGXu_l0G2G8pbVNIxNPpwsooPDPwjQAYTuDz16nTKi46eFD49WMaKO3XNf63si3hPuMcCCXiZqkdzI_wbJEdIPeGjlTRWPNoKdi-kQylNHd6jG4pU_I0MjVhx",
            "envW6rocTYG8qggK1fzC0p:APA91bFHhv8WrHbw2mMuDfOwcPMk20x4YwPqRfzZdckv-T38BBfKGWabjy3N_0cXfKLk3Pra_YR2sBTJH92JCq_ZG8s82OCYQD5TfTArRH678rZ_plNoIqlMRPnFm-Z0bYYKGQAgI7Ru",
            "cUghhWBRRBiOCpzYAwqHuG:APA91bF0GmEarkDqqGficZShYk0ze-Axso-MvYl9_lC2hwqaxjrrJizVFoLuYQ0LmYhpWDf5hXwOZLB8hgn2WcJUxrfLV-lO9pWhxjgqPpgJjXoJkx4bCgSPIrIbZiy8J1wOpRhYApd2",
            "fScl_UahS_-qgNeYfrz1GN:APA91bFcYMfHCgCQLfSPTY3nA4f-j24o44dRVCNPtGdtHVVun-IMu8VAZ2_2fhTNdw486JY5wiVlq6_6dfLaJhNPyXKE4oeEGWGaokeSl-dBziGbB20jOCxiQ248KoHdyx7Pt0TWrwg4",
            "cDmuwwS0Smehd_WMBywPya:APA91bHqx_nFIw2nIdjtA8n3Gz6V_LxEK7qAYBV2wKk66-efAgYuQoQG7Qm1ISYj4YBexJMlPEBYAROIk-gJ1rFbkiR-Gdqw4jbHDX4-viAeu4w65MVkRjAznYEKXPYbjGZWhuEu3dTa",
            "drmjPpFmTlufi46VuIzgfQ:APA91bF0-Dp0w85Tt9iPTKibjOoaToHrHrpNNAysVr6CXlaU6hvKuGbsFvs4DvMcgWrMzGor1WIfHdQ2ctIzHCYyOSZEOQ-2GbdLYocM_0Es6WGDIQoDtneUrQtPDKH-ms1AbmbZbsYb",
            "cba1wyDxRtu3tCgWbNeiH4:APA91bH8DJaaVPLALy196b0xp9-rIQgjwnxwX3nN1AGURDyDDW4tpXUYdfok6IEeqE9teVud0PaUquGQkPPEBbV6yYmRfolfgsle4XcH5Mkl3CPI1fdu-xmkLbQgQ9d58UtTNlRikcdJ",
            "cw8Bvp09R3-a1BTLevQhgs:APA91bGjZqkeqBZTCvDdQVa7ijyLQO_fXAMMhl8VoLVS-9WGObKKP4I5nMEja2BarZ3z9qTZwR3XO3Pr-Li5hg1P_IjN02Vpl5iW8yooq0AECdp2zDKscaOUkX-L11hfRk9jfhdKMACP",
            "cQqbePhXQieo775C_eQLPg:APA91bGJ_6SvGC7l3Leu2mlXMMyFifOyGd8ZG4T6rdSQFp-Wvvqc6AMp9NeiuQJRf-imqYVuGV9S-7rTjwmNyhZu7iuFo8Qrajtk7DhiCpHGCICV1rL5RjUmB9JxYlWWu_UCyyWdo8mG",
            "f2-2rz5aR6GKxbpdvgHQTq:APA91bHRzbWlyPD6k7VRLXNSksf_S7iccL80EUM5bSJF3HFUwUDJx0yGG1JfQvhZ6FjupURLUMCQzOJHOrqC61_PCcnU9depaQikVoGxiAF4YHjcEYQZKCqnPzy9N9r_psq18EQsKEFt",
            "f1WgFFN9TD-ODvex24rAIK:APA91bE1tU2qtBAEPO5r67JY_9xbmM4TuivL31_TONIWbzXZLCGIKnCSWKAFbGR08Awz6_gNtdLAZZ4xr8_IBO4bFBDrDBdBMYluDzxSWtbO7zc1sd8ryLhmGFTxJ6IOsNX1yRZEU3gz",
            "cGk2_zbZQPCfDwEgyJbYNS:APA91bFbg_ehk5Eo_ExIz5_O45fW7byN6WQdBBix0q3sLFPoThnVUBXK6U66PAmGIm6EypRCGdVhWr6wTx6UZQfeHhtfWdyyW2CR5XnrJAjvKn9u9zTDBr6DZzzHL4KZC5h2Ijue0j35",
            "c1OcmG_oSnCvSy-DFUY5jw:APA91bFCxRW2MQ1hk2dG14URbAbc__Plvk0xqX-SXCAAZ8uM7DXH4wD2SVYPG12hBrhPqQGmtCmZbrL4rIbnq_2_yAqzR9QQplGybdF0bTnlYSQcwrziwZYmP5IAf4_YszSkCLE41dyv",
            "cPZkWyxBQYC5jlyhbLF54r:APA91bE_6OZJkmo1RYfc0D7SpzTq7HPh0T0EyOM8tbehLic8hzicgVLXYjNZpPHobCn0guERxL_UxA2UjwKLEWvJ5JoFx4DkX2hN-i54BkOQDxz1E9TcUhyzC0VPXJeBUSDdF-zp-4r4",
            "fTSQXk-hQhq15rAD5Juwqb:APA91bHuMC92bN1kJEA6dRcxvHlNlau6_-QHdU-nyhkAQ7bg1bnLrkIG76KUIUqlmq9KCor977PZNEMHGzIllNltbv7FnpeWbtvOLewGlG9hVZ8Wre9Qmc9nSYQtEGH9zjLF60GRkmCq",
            "dqCaC8wLTXCqxmmURAaR76:APA91bEIzEuYV_S554WQmtnQvPO5xlH2MQzak2wrsKecaRBj3Wemjq7nXKMpSMfR_0Z0W3X0mRwyQzILfRM7Au2PwxNSsaQOthBFxOsCVOC4xYj9Xl6rOhwXvSNyaBIfZoA23uj7MSH2",
            "fJ2uL0gUTyKjgQic-8b6UM:APA91bH51CA1_Kavem9tOp9SUbKkRnRGtuIxGaBt6Ha7-uQygBAsiAqnP8eUHfmNMzi5v1A7Qls2vkQk2DFPfLczGqi2rsnJe-1pZEjFeJm1SELkKeFfcu4pacBEr3XjD4GQyAdoeW6M",
            "fCxieP_ZQD-kZYVMiqfWBv:APA91bGtgJTOL9RTysvS8N8hgCDhL6KyixSljW5W6cdm9qo9D0VXYMRLUa4EAqsY_M0I_c6HePhKhixTB9aEwt5oz25yXun9dY4319aOkomE41UVlXZTH4pKuy3sfXKyK3G4r7X3grYp",
            "eZcBI7mRTAGR2G3HEO55KU:APA91bF1elX5eqyVc-9Qkw9pByNLn9Kq3omSYy9yUF9eYWRgRQMb9GXRxAEAaZYl5X-DnlDKUzP-RMXcgeeVk624Yj5Wpq1wXRG5_qGnCKsc7pO7viXiQmNGqGphqyOPpVbAgXwZ6yld",
            "fENLOYCXSAiai4GyMyXlRs:APA91bErZTVb57jzJeKvgyVfM4txYjvnFjAZpeNFMUkIChd2lq0xE2knW_HMc6fK5QJInwyewO14hL0PAYnHWKOPnwR_L7lFEndJBnHi6mONF68mM4IL8CQWk0KBCxDTeBIpmsbsKPsg",
            "fm1ULvVKSqC5_ol6mzx599:APA91bEPdo5q4WjNU7ayBA1CwPdnx3ub5KQ2xNYtcjVC7fPRsvDVypWwrAq8K4Mklw7L039f53eL5feSdbKkYflMvMJm-2nKehDlq_K7UrXUqW_fnaLSf1tZ7TPsHfDkr0pet0o7q1hg",
            "egl01KRuT6iAmF2KPFHM88:APA91bH323yFtiaKSVbLs5-A5kp_lLQwROsYot7wwL1c_qJ8_D_W2GelqUtPRZ-sRZjOQ0UMPlU2mpOym00xLaRBjtRdoSSk2WyOhPfZXBcYkOL64vGFjV26Wr1Z0VaVRPg_nseHbix1",
            "fzXpY1p9S3at8gTuESxz5M:APA91bEIOBzGviPdJKcrt9YdIIslqEdg2_YKvcDBDWvHYplOv9PMGEHEFOU23TiTg_-xStokGpyT-6gdbVZRV8IkIuruhDa6-SXvoxw-yHK9EDbtoRjzHmSHmbRF422btV8cmR2QcgsQ",
            "cXUsk769QkunXAtWM3tUl3:APA91bH3QRMHoOZeQu1IqSdekCdEDhJq6GTT64cgafGgvQqujn01ByhZPWy99RZkLLkhcxsMGdClTWB_-orjaOSe-Tr8cOd2yujKjeboBv-qcDmZ8aSuzL4-oFoU2k8ypOQnhttbpVyZ",
            "eAlTxf-_RTCSOGMzuR_3UW:APA91bE8QBCrTYmURjjplxMzHvT8EMu6_2oCGoI7NtQADr9f8Ppm3opJwT5Ge6aBIPQgEd2cpMdf0DZZUflwi6rhm9gTJYek7H8WaWvN0B5pIZQ3X2CRJWNB3Zwq_StN2KLh3n9-avHX",
            "f_8_Mr-jT5-xCcMaAwrNO5:APA91bFhjvbbGmK8Qhf6Bx7tLD3DQ0fZq5huDVYwu0o2m6u3A4FZIt2oHGujKPak_Vn4wYL4IwZXpzAowd-Hng1lByfDk5RNkW2o0OrA7Hq99rCvh5jDEyYkMeB3QSNP7iI4UthHeGwj",
            "e8oNoQWeRyS6ezrGAdqQBs:APA91bFIjgN5uCII1TWBK2T1borrywo8onETtCXYdvFin7RbChCMlBrz8Ag9WMDWSxgFXyxuJbkjIyBkHCihssvwM7v4Ds00o_wnKUDUSd7X0B1Awl0n1H_yk_ZX-HvMWQK188SlTMHb",
            "cgHotMMPQ5WlapWjrvKg0v:APA91bFLgNxiql4n91v4QFwDh53ZaTsfl6nJ58kuzV1AvIToz67p8jRUFM-j_8uAENzRRoBCrOxk2DxM_zIRdm50JqKl-xwz-ebAqaLvV0wAZHYdYva58kGYM-kop_ZsJAM-kcu2RNhc",
            "dnyxKZBCS-y31bBPrZl4VY:APA91bESEjXqP-1dL1K53Qn_Cd0NPrGbyLY8VRKW0kF-VEOJqNdktJBMWW0a5A0UQZ9jboabh-jWcrAmejcE1pSsyQmdcE-mMPnWpBGZw9EFxTIVjEizXr6xFdwfT8lrbWxbRqdxfEnN",
            "doTllgZkxEhLi5nz0JJTEV:APA91bFmNQKThEJES2lhTd5-hsTM19YrK7hukwaz-D1vDEtdpHrGz9kWFxgRXVEsX0YhkGTrdscVZYT6gzdf5I8VMSJaxiCz-ZCekwCXI6CgLMwMl2sRS0nrmf_sCorWRKUjtGmRWTjS",
            "c6U6zl8uTr2ZaPJP5M40FM:APA91bGqL-18qXpK7OTkhJmKK8hDo5VVG4HoskQv0ELzZgfzf31_Nn1rFwuJSPHpvJEBXVbkfOFRYlnLEfxNqF9c2nMz94V8CAt1438bCgm1KNZrBArJYRgBhZr6QzzYeSoUDWX0012r",
            "c3CaSvV6RAuOjuHMVGaYC2:APA91bEhrCAaROTJ-8tlk8nQ9XuhuNSXgfSaYC3OlEFKnDShS3tC2soJhFipTad6GRmKjsRtn1kll_ZuqrYrYe9wGkUyz-nkJSO3umuPSWFJkmd2ncEPis2Sb1ZJRmvuEfCMi2AD8I2O",
            "exaKgwjvS4u58VfUXKWPlB:APA91bGhMoPteQo5sNKYzaZNxdfk-H3OBFUATfLkKd3T0hJLGS9YfVxSceu-_4oj097hyXmmlO3HGwP6ilxVTHnBqjknUurlrqudnll5dAsKlMKi5Mq98m_SBlRo3H9l9VwHOqfTW5Lz",
            "epQ1ElvqTYCRyja299p6U4:APA91bEt_rA5rAaRXS2uub15SnPXPEpDt5Wee776DhIVX6YK2ovlg8JIR87IAoTZMJaL16ofXdGbIvji7AWeCz8Lc4tz_LXL2lCvL5TkTs75Itot34Wc55-46uT-slf8JF7CtxgGz5NF",
            "fLw632bwSEgkkM5R9Qwr-C:APA91bHV0SG61ERTr19u0BEh5818nmDhHFPmHBMtpXwFtjsGqwZbhSJjLLTlailg9k6Rn2P64qy9q2uQmVjhRWdMfH_aJHlXwar-1L1g2rsw0J_ji-MIEwuIU2Aj8xewv3rkUEJnWJYA",
            "eE8R6kplTXiRd9U8Fnv0-B:APA91bHtVhnd6gEQ6yCrPnffPqHLJfgxY9u5BhCyS-5GB7j7yen0WoBoflNrFGkoir7xuKbDEU3KDwziqvzblaX-wG8wz_EOMBUO4wFiLdHrein136GtNIMyGHTiNwhJ2b1n7Vfliygf",
            "dyvaT96HRkdLpypbuk1aj0:APA91bGVSGyuMxeFtrRl4ZErpaRmHoN-Y6UhFIcw4AEjO0jiX1pBR3Z04-i8cZ7_zHXttsSUSnDgpCYGt0-TjCtZvobrVBQAshffNQ5-xEFsYsdCd7NK0kKSA1fFTlMSTEerSjd6of7e",
            "eyma8EDPS86AN0flMbTtse:APA91bFHaH-Hz5pmanoT0cmoT_g8flK4CaKq7jYnygmFtoFz1G9kwyLLVb3Lnumvn6L8oqftF6zWJwog8bMCPGP8qevJ5w9nnZSexf6-6TP91bkZXQB7FDB4umr6RnZmLpiOYx8crotd",
            "dX6nZiWaQNy0y4eklhBh6d:APA91bFcB7L5lkZ2Or5ZqMp0VTa9eHkSDY4NT1lDex1PGYcWyOQjxRvBNepbz4Sq_ek3CftOYRBPaWxRTAHyN1Be50ddc_WLu0psoachsHZ2BdHCGb6JIp_w7XZyA_jB-vFxUhmVeuEV",
            "caghvggXT_2FawHvH6sNer:APA91bHPDya5W5e7-JlElbEZTVK0fxMZwvg-9TbB-dKrWfzcdVpi3cMOPViyO41tSYBtsD-Asbj9hQRFGQMn_4qm4FjVDRlyP3Y6hA3B3k9VeqDwqr2jj4lhKeQe1OtPDKrRp0y3_7YH",
            "csGdgsS7QayDs2ciMGSezg:APA91bGG161_y5J8clf4RtIFA3HGlkQShCzONa3nmKbmDL3cTVWg1uDKGyT9_0kqfWf6EhojaGcaXrLyjd53zcme3KMvm9vof5Fm5be8QcfD1jwOeIYaycS0D4IoKrAMR5R3p_gvmyhr",
            "e4r-BwhUSziJa_NujxmCaZ:APA91bEJ1TFSoO4xsd6LhctRlWHEYP-X5NNtQeCLEMQZi-SxoNXnSVLpzayi9vkMXjstwDUmXYqOi6u5-X1FBqEVZMkgc-9X_a95OPacFd0Py-lfkJ4nn6bdaRM8C0y2BCSsxmuTyrnn",
            "fmBWpx5zRQ6aWIFJvPJ19B:APA91bGu-ZhPwuCM-MrG29DMgjYB5s2Uccnr99FSjZXjtMjYOBZPrjmZ4lyTnet1nMrIWPigHVl8Q1t3x2wBomQlxZn1iTLczCMcLMjWXi6_8DLrBk8-0ayg5W0krcr24iXtBF3e5Kl6",
            "c_YphxJfSqqTGjH-wijI6Z:APA91bHUxFITQuhPo0vHfXmEeIbQwK3bwUufOZ5uTUeDDoha6Wn16XeLEE23csOEMv3gUefCQSLN2tP_00XANIR8g4puuZhO-kwTS3jFF4tBz9pksOJwE4nnpFLJfcye82IseQhwlH1D",
            "c7CMj6eFAkffnVywqiR9ar:APA91bEW3hd5A4Uxilys_eYD6-VTTKKkiM2RAUEYnB_HpYPZ0bYeXL0V0q7DWp_bKZrK7Eah95Sx7ioJHdcE8ZVpDqiEArC44ld3JYWg53xVzPCt9xNPwnT5tk2TGWMA9Ihy0j64lJw9",
            "f2C6IYD3q0v_l_ZMWf6R51:APA91bE893D_8OvvfXhnmgYto1V3mBDwCX6y0-catnpzmoHFNFkGfgIld3_RuFGRDDZ0YyILqTbaw-9VHEKtccnCMAmM5JXF3vPGe-p26wPS5DryKfQutUoiIXheYYQS8LwkDXGm6at0",
            "dTQU3sHjSkaM9xyMu7boYE:APA91bFuDv5Mk-xpOKGDf89Z5XXl6DBI3MF5UYHPZkMoYrOh-GbeK0qCBNXm8PWruititTXRFSDO9qYzApsXCfDh7J4dtjDm93Ek0urZQGPD45A1xLAcvtN1wbMmp3VxpMzLnrtPSg74",
            "ec-X0WAySOqck2DTI7C2w9:APA91bGMqWz7O3Uz36yQ2YGAj9N9Npsilg1nrk0W2QZIpS6BK2R_k1zyvrOyopV2c9V9urLcmjysIztTm1dmvYfejxw-ZjCuiNbBc2-MskRLZ7wfUPimV4b8lXDJGdfY1kGFXWCs2xji",
            "cbD0KDpbCUuekSUNqrqlTi:APA91bHVzA_IXYc0j5xBxpTBKzh0jBsWNPavjwQYj113j7WwqvVobXtjxK0KxBaKujWnYCA4cmenHpYpy8w5mBNLXRpn-DXNNdjsUJblILSNOHsDjXa2OUYi8avvXMtMv-DfVF5GtyuO",
            "ct-FDIQwRiqj5gkEaZHClg:APA91bHFR0hC8OYN33Jb4s8sxmOHsYW2fwDzhsjcKznYqu0phsO1GvtZeeIojQvAWSTlxVEjgee672vNwUACUp_XhFY5aLKrbgh7-W8nNYEiIHrZ8cxB0y-cAemtscSFMcKS90fMO9tS",
            "c-s7k4k0TFKXEOKmSHs5oG:APA91bEWx0MMAxpfO1vs5oVmWtOOYKu0zVTmSyGHFRfmPG8mb_qFmqtkEUumqPumKJYqhmxfVXzpnl4CXLwVwP6ZnwI20spq_xSUQfu9r6tdGLdq4-AtweM",
            "fMbXSlW5Qg-StoyJMZtMw7:APA91bEiPYcHc8w55EZippFJvrTgiPwKe-SNl_evgIhKDfd5XTxk5BKfZKmpf8xZfUxelTu2spX9KLglIXmuhDQJMALgt2wwcyyeYnt8BW9uPj15xDGwW00",
            "eCTGwuYtikBPsE9Wh4d52E:APA91bGQekDB4EhNyV3Lz7WieOW24Tls7CDC4DMvB-RAQRWI2werhss6winRRictPxcYi41amv7mkKKwI1SWMNE3k6gIfHS-SOiz5MDUkiJDPwnnGORhP_M",
            "dBc41JgHTsWZujkmZWLAqh:APA91bFssGGewRR-wAWTvb6U8grwC_AUqKlbkySyolhOO-KakK9a332aI_psucOGcc-GEF5viXMTbrcqQFMch1e-iJUBCqIKN47SxfcosbfW4Ecrz1GGVuc",
            "e3DBMmXCSXWLcTdQ4Fa58Y:APA91bHv4EhieAVzMlKvs3MI4QcfIm_5zR8uAZBcvTsp6aVMxTThL2CPQsV1leI2Q-h-tTZeA5hvBgIM-iuXT0fLyNoP8-rx6rAJY1vwjgahnaXdSbj0ccg",
            "cwF1oQ0TSbSLUnD-akDMTM:APA91bG6NGXwKZl7osn1eHMKEIEHxL23yI0JwTnnJyAR6ll8cifrHtcE6yQLt_rcrTL2GNhijp79J6kyNLJez92U807yZ54m6iTWg_UULwUY5yiUiO-KPEA",
            "fG56zUTIskn5mYtuV4Nhbj:APA91bGqLaBZmNGXbLxKrb062jmss_0NjVPxWwBJ4-y7sNLtR_57EEhdP_4nd1uptITNWLxU7uyHc4aGkI8KkNkR9YtISaah-ZViYuj4-MqeCKa-Mzzd16g",
            "f-3ZjUsbRpm855kCLmrQQg:APA91bEei1Wf-s4V7Dt5CaAK61SHn9YxQ43YfA8HGB7UZFamRNysyiz-ud8Z774aHM_zFrUqSGFydPcsYruEgW-E6Tboclx1_2YCBsycqPt3UFUtpLgQEM4",
            "c63mZEM7Rz-8betRRfSTOQ:APA91bHFZo_OWwW7bc2_QeTeXA2WJadRIJROrp_XwWXXQ-npGnaG9Mr1zOlCv7YI99XfUh-I8Qi15SsusTrDSV4-sy3T68XVMn_qdLIf4VeRUGMnI46INVQ",
            "eN_O8Zoca0yxi_mbm3-aOK:APA91bGsEefdxtsK1YQyP1wyI-0IJy6bn3TKSPMlfPv26O-G3vbW7kJ01_uUezeJHMSH_QG1NF1DYnRq70KnJuiYwfQvHQX1sr5bhq4L0A4XMO3PpQKnlZs",
            "fyWpxOkQRbK2j3OllGtLaI:APA91bH53fBT9eXJ_u5JJFijEm2vwBmf99RRPBVISe_3ElyH44cZTr-geIPBmArzzqfF86r-bP0oBEmBHVccaO3e9Ev5TonCs24wCDZ9CaEpW2Vr7xp3zjM",
            "fa_B9lg3QNmFPMOb6Sp_Rs:APA91bGaCrFE9M3yDyPLS1p-qjJNsCgeWwxjtjkSKFUWKNmgxAnl0QZfUepudEtQJ9mopi4pFCf6NGojyJdeSYQ9aeC05GunPVqp0aOjf3khyMuln09_6Gs",
            "eLlx0LPHbEF4jFVpd2qXul:APA91bHQAXt9ob-1-Al4O39HGFAQl9WxkwkrkxtPiDUDk6_iOG6EEurMQniJuPPpmuUF-YHl4zQUcVVBnXddtY-oOO-1bLe7ZiYJJ_uAO6UoADeaHHF1CEY",
            "f-hrEuAkSsKIMS_Jd7D5t1:APA91bFUiEsh0nXmA1oNH-rmxrmTr1ENFPvSppIJMYxFHR-BryfkeeQ2IDlhUf7lLHBhpWxX8iB5wsEr5WWHHRLh1qZqxg_9ylYj16HkJuQ94TU7wBTjdcQ",
            "cctWZimtRlqd-JNsohT-zD:APA91bGHWgif7uewYYwp5LFk8UquuR2C_UDDbe-SWT1_OcziOOIOM97FpffWl6p9U9onJ8KoznQzcTrT6EGtWJZFKICIyX_iE_z35cFoaJL_jNM6aImZrWT2cmcCHSYTFLhyMSQYWvV0"
          ],
          "contact": "C_344683",
          "device_tokens": [
            "UP1A.231005.007",
            "TP1A.220624.014",
            "B2B05130-32E9-4FB0-BC29-3ACAE746C8B9",
            "QP1A.190711.020",
            "TP1A.220624.014_MOD1",
            "C86C8197-3B11-47AD-95C2-99BBEC1357D9",
            "UP1A.231005.007_MOD1",
            "79544E86-DC21-443C-9EF5-7422BFBB3C9F",
            "4DFDB8CF-64CC-4185-970F-81D2BF77C1D6",
            "AP1A.240305.019.A1",
            "443D5438-925E-40D0-B954-907B314FDCDD",
            "2ED10587-B370-4CBE-B2FC-85A0CEED1E15",
            "6A523F14-5E51-4BD5-8190-35F63C9F73A8"
          ],
          "affiliation": "66e2996e27c9592c3750a940",
          "newContact": "C_92689"
        }
      }
    ],
    "Edit Fields2": [
      {
        "json": {
          "_id": "6553d236fa462ca5e86d6098",
          "first_name": "Veronica",
          "last_name": "Test",
          "email": "vhabbo@epichs.org",
          "password": "682733d3794c726f2dd43630837220f4cb9d137641f82f94c061af319619314c",
          "dob": "1991-01-21T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "5866256303"
          },
          "is_new_patient": false,
          "patient_id": "197001",
          "patient_number": "725240",
          "mapping_status": "COMPLETED",
          "createdAt": "2023-11-14T20:01:58.149Z",
          "updatedAt": "2025-07-29T17:55:51.329Z",
          "__v": 3,
          "player_ids": [
            "dNNIGX7l0UoSkmAGfouxj4:APA91bHkNOthL_p-TBgt8lpPfKQ1PvfW8XIV02aPDUfyIMttRVmbqV9_Ic1EPHvDw2SvkQc9AMEUmCLen_1SA9NAABhai3jceb2RcVN56CdoVLbpvc-ZuWCN-Ilo7VeeV6h2PIo4Dcz4",
            "dNNIGX7l0UoSkmAGfouxj4:APA91bHkNOthL_p-TBgt8lpPfKQ1PvfW8XIV02aPDUfyIMttRVmbqV9_Ic1EPHvDw2SvkQc9AMEUmCLen_1SA9NAABhai3jceb2RcVN56CdoVLbpvc-ZuWCN-Ilo7VeeV6h2PIo4Dcz4",
            "f_eaAcA_6EcLj7gi_XIXP6:APA91bHawNEAFEOZRv1V4Ebb-HZx2lAj1Nfa0jLk0NxlfJy5GsUVlJDYacd89Fol-mGKeWizuiEutacp6mYIN8o9ptonZFpWtNM9MxEEgP0I8AwG8dSqpxXg-HWCzS-4oNbBiaSAQ8fL"
          ],
          "contact": "C_369577",
          "affiliation": "66e299b127c9592c3750aa49",
          "newContact": "C_106226"
        }
      },
      {
        "json": {
          "_id": "65d9de748eec30de5cceedb5",
          "first_name": "veronica",
          "last_name": "brown",
          "email": "vlbrown82@gmail.com",
          "password": "177bf860dc597fd61b435f2264b64067de3893c7b20cac406f3cab871debd4bd",
          "dob": "1982-03-08T05:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "3137431766"
          },
          "provider": "Google",
          "is_new_patient": false,
          "player_ids": [
            "c48xvIG08kUbkz04oqjmFP:APA91bEtqPgFwGIlHqnY0DTLmvdJrj7tqs4sgnEeOTeEMYFcO16cdImmEYpF2sSLzEZc9-f04CWvgvNeBjSk9YgE6-34-mK83wK8IWt0eoTWq5a_4aOmTeyVduBkLvMUZ-pDfksi5QY9",
            "fuBi0adTKEV7jAV1Ix4sH2:APA91bHw1sGL_onTEdGtXdlyFHWd1j-JS6AizjEJliJTjfd8Vt-Dw-rHfH-3NrJclGvVleEjfnEBJnzUibNX2YVftXUEHEDHd0JNuZqLHMPhToG1KQ7kTZs"
          ],
          "device_tokens": [
            "D8F5E92F-1B3C-41A0-98B5-295A8E4D4993"
          ],
          "createdAt": "2024-02-24T12:17:56.442Z",
          "updatedAt": "2025-07-28T22:57:07.710Z",
          "__v": 0,
          "contact": "C_336939",
          "mapping_email": "",
          "mapping_phone": "",
          "mapping_status": "COMPLETED",
          "patient_id": "159308",
          "patient_number": "360060",
          "affiliation": "66e29e7a27c9592c3750be75",
          "newContact": "C_80384"
        }
      },
      {
        "json": {
          "_id": "663e98a1c55514068e733ecd",
          "first_name": "Veronica",
          "last_name": "Milton",
          "email": "mi_fynest@yahoo.com",
          "password": "bba0d5b88ebf40c5b5d7b57411cb1efbd982df4291ee3d94d8898effc31072d9",
          "dob": "1991-07-03T04:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "3137668483"
          },
          "is_new_patient": false,
          "patient_id": "144480",
          "patient_number": "263420",
          "player_ids": [
            "euds-TiqoEn2rmnUqgQvDr:APA91bF2Iy1ph6Bx3f_mNfpmrRanHmOoQ2RO7zuMw0flnpZyEtoVYrO7TK2h4Xl1XZScFksGERlKFLN40S33e5qo-MmRknApyDr4jBD0Kye7_trQLa-t5gjFBH2PqiNUOMpwpiGl0U44",
            "e9q7an49h0sckYedUwrJ3V:APA91bHEoTKXDWeCeQdgHZmU31GyiujoHQiyHwsR37dgX3Nmi2KeuAxc2Tf57K7iBsp6zBKHu3n5x0h11OKSiW3Id0hCyF0bH-sg8l1ZvLqlCuNg9f_3r-0"
          ],
          "device_tokens": [
            "732B717F-810D-4BF0-8A50-41884EC91048"
          ],
          "mapping_status": "COMPLETED",
          "createdAt": "2024-05-10T21:58:57.015Z",
          "updatedAt": "2025-07-22T17:00:54.777Z",
          "__v": 0,
          "affiliation": "66e2ab7327c9592c3750fa12",
          "newContact": "C_72757",
          "contact": "C_72757"
        }
      },
      {
        "json": {
          "_id": "66aaf1c1be3a8dbbcebba99b",
          "first_name": "Veronica",
          "last_name": "Dean",
          "email": "deanv8526@gmail.com",
          "password": "675da933686555a81cd09bb3517bfdb693bcc0f6da5ec007e2714df3ce6a2962",
          "dob": "1986-10-14T04:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2487591572"
          },
          "is_new_patient": true,
          "patient_id": "215568",
          "patient_number": "910580",
          "player_ids": [
            "ef2uhSEzRETaoTnh4_AXK0:APA91bFwmSeVZvmN-bAr85Igb38rLMRahWzw__e9Odr3xFJiSBSSw_a55Y2F_aMtEBIL2knc3Q2hQ80iave5SQuyOJgHWOmPXLPuyPg0QRlTdlNAi02cmXcptGo88DLSIQQqEOBsPpCO"
          ],
          "device_tokens": [
            "770A2DF5-4A4F-4B90-BDE1-07A9F6D220FA"
          ],
          "mapping_status": "PARTIAL_UNVERIFIED",
          "createdAt": "2024-08-01T02:24:01.366Z",
          "updatedAt": "2024-09-25T12:00:59.216Z",
          "__v": 0,
          "contact": "",
          "mapping_email": "",
          "mapping_phone": "",
          "affiliation": "66e2b3f027c9592c375121aa",
          "newContact": "C_118813"
        }
      },
      {
        "json": {
          "_id": "66c3b62bbe3a8dbbcebfad7b",
          "first_name": "Veronica",
          "last_name": "Haslacker",
          "email": "v_croke@yahoo.com",
          "password": "207f1ce3c5ba97a15d3f0aec1530d08a2c8d9083632742179878214a45d60737",
          "dob": "1998-05-27T04:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "5862600254"
          },
          "is_new_patient": false,
          "patient_id": "243319",
          "patient_number": "1187310",
          "player_ids": [
            "dRe0_wsZTNao24HimCEvaC:APA91bEw38sEMKRJyURo6FdavP-4_LxMFewgdimSvD0wz5HdZYZVFmMh3Hh2-SgaklosIwX_Y-W9plBkNfeSrzQFJr1peyqDasuuznhcJFGsgbgIFhLF2TgF4naSJf1rV7YM8c90N0pS"
          ],
          "device_tokens": [
            "UP1A.231005.007"
          ],
          "mapping_status": "COMPLETED",
          "createdAt": "2024-08-19T21:16:27.610Z",
          "updatedAt": "2025-01-31T14:03:18.473Z",
          "__v": 0,
          "affiliation": "66e2b5b427c9592c375129e8",
          "newContact": null
        }
      },
      {
        "json": {
          "_id": "67127ff41bfffa074f3a265b",
          "first_name": "veronica",
          "last_name": "petty",
          "email": "veronicapetty78@gmail.com",
          "password": "af5878658057d4cf8b103ff0ef5bc06ec5e957bbd3f32cbad0d639d67f73b074",
          "dob": "1978-11-21T05:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2489294227"
          },
          "is_new_patient": false,
          "patient_id": "154920",
          "patient_number": "327670",
          "player_ids": [
            "cZZXWfpU_E0zozsBM1diN3:APA91bFAT-Kqn0CiFu20Tv7PlD5S0WXSujCpmUCT5A0u9i0iT9Nt_NtXBIjUHeYMdi-3zpf0bjbVGCwhWzRl3mKSbxsvUwocP5V6sq26y-cYXIjqgIB2XM1VJRipKniPqQjj9gQ-W0_x",
            "cH8_vI7o_EqemkkstFy7P4:APA91bH_eJ6nv7uPqhrhSsiKQ02HX27QvXwcAfAq95J6hVslq8zcUZWZVTgfhqRWnyYcBj2hjNdkyApemlEQo4g0_dJViXPQkK99vCc-a8D3XLmXHq-2cJU"
          ],
          "device_tokens": [
            "FCCA1343-5713-418D-8384-E7A467DCC1FD",
            "3CED3FC4-5207-4941-8088-B51F22C7C704"
          ],
          "mapping_status": "COMPLETED",
          "createdAt": "2024-10-18T15:34:12.039Z",
          "updatedAt": "2025-04-11T15:01:57.298Z",
          "__v": 0,
          "affiliation": "67127ff41bfffa074f3a265d"
        }
      },
      {
        "json": {
          "_id": "672d16fbef9c099147324a9f",
          "first_name": "Veronica",
          "last_name": "witek",
          "email": "infectedbyemo@gmail.com",
          "password": "221ccf0903cc2bd4e002aca7ec80eb42fdc27036c770d3d509e33b082f261dd3",
          "dob": "1989-03-10T05:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2488822979"
          },
          "is_new_patient": false,
          "patient_id": "169641",
          "patient_number": "453470",
          "player_ids": [
            "clARCOfKQOCagXbK3UxqOw:APA91bH617Ny96vPVD4L0OBcge7Hs4nfD1UvRuxrZYYLuz7xa8SUURkigSNyHJ-CiPAQJxcrLv92G3icAGMD-naJ8pB6cwe5nZybbNz2IW_ohMZeFA63wGk",
            "deV267CqTIK5H23Fl0vhJf:APA91bHYTNfzuCKKfHu63hs6-mEe-lwnIvZCrVrde4uZsEhMjnY6_rpqa2LS0sbCs8OC4lR94Mk5G0V_cQaAIA3Jq-P4l_KKBnG5fB1Z1PUOmZpzmUUES_m04PE3jHMp7cE9sAB5GdUv"
          ],
          "device_tokens": [],
          "mapping_status": "COMPLETED",
          "createdAt": "2024-11-07T19:37:31.853Z",
          "updatedAt": "2025-07-15T15:12:10.536Z",
          "__v": 0,
          "affiliation": "672d16fcef9c099147324aa1",
          "contact": "C_88590"
        }
      },
      {
        "json": {
          "_id": "677e9dbbddf15f7f3ddbe1b4",
          "first_name": "Veronica",
          "last_name": "Watson",
          "email": "nikkiwatson78@gmail.com",
          "password": "4bdfbde61c89d373c10926c9dbab3216e3311c3243ec9c8ab6c1239001d45696",
          "dob": "1978-01-31T05:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "9313341664"
          },
          "provider": "Google",
          "is_new_patient": true,
          "player_ids": [
            "ez-oqMlnC0UPl8zlP7g2ru:APA91bF_OHVi-5rAGnC87K-pPlNaYmtOtT6fO-8RaB5LqhnzH3TqQqjO7oMlb0FGGCGIKhat8egi0khJIX0Kh8hjAXAZXaVzkTOJZ7fkST-bVXpfSa93hzU",
            "dQL1uDc1J0jfoqDzrz9lD8:APA91bEwdW2SSaME18nUlLW5Gl3PX3IdhAk6V6l44qsAx3ouFXVaMg5RBd8zhgmBC-nR98AdMy9qKFCsSwPYYzMNXf_lj_Th-N21s6ESaTWZIIu1xCneOos",
            "fSPwxTLNrE-4pCUpkQGHum:APA91bGzm5BMww4ZwEg04A5DQMiwSzcrakZawxS4LGzz2cEI7gveHEF1sMUE5ymgktDD_NhlRmbg9A1VHyjA95KqiBIybXkVojg3ftD_VYhqQuk6zaRB1DY",
            "fzmT9snmZk_6hy8I3Wbxhd:APA91bGqhWXbZGLViQ9SuwyMxJHc-REyaXMFknBwCsC9uwsgfeEJi0dgFTlXqlAIT55Hi-ZBqyAjCrKn1d_A3wDL1Xqu26T5Tcp86RJyN7y96ZJ0cfX29uw"
          ],
          "device_tokens": [
            "6D9B7B3D-F671-4CC9-9817-550B19426C10",
            "04D90CCE-C29F-469B-92AC-D299B8CFE6AE"
          ],
          "createdAt": "2025-01-08T15:46:03.890Z",
          "updatedAt": "2025-07-25T07:11:14.911Z",
          "__v": 1,
          "contact": null,
          "mapping_email": "",
          "mapping_phone": "",
          "mapping_status": "COMPLETED",
          "patient_id": "253784",
          "patient_number": "1291750"
        }
      },
      {
        "json": {
          "_id": "67e84ce15de5960741f70a13",
          "first_name": "Veronica",
          "last_name": "mull",
          "password": "14aed5b742bb7be8a6786c8a193901ce7dff19f0aacc95e11b2914070199352f",
          "dob": "1982-10-26T04:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "3136545446"
          },
          "is_new_patient": false,
          "patient_id": "199791",
          "patient_number": "753030",
          "player_ids": [
            "eqb5I_XZKUhvo7aVsHS07x:APA91bFnHsiWWu5HiC1HHz6mhfgMC6bx4MvzEJuyt4M6GeGiWGlJeMU7mC9idnY6ddORoZDCuToGHaGarml3oZhPILt7jEBXuTSqTPLwtjozy5UKx0lo6sg"
          ],
          "device_tokens": [],
          "mapping_status": "COMPLETED",
          "createdAt": "2025-03-29T19:41:21.653Z",
          "updatedAt": "2025-04-14T21:36:53.391Z",
          "__v": 0,
          "affiliation": "67e84ce25de5960741f70a15"
        }
      },
      {
        "json": {
          "_id": "6804183f5de5960741fcd1a1",
          "first_name": "Veronica",
          "last_name": "Wheeler",
          "password": "cb2b2790422941f31bd7fc7b8e2f0e36db92ae4e0aef79347e7fa933595c2314",
          "dob": "1975-06-14T04:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "8103509508"
          },
          "is_new_patient": false,
          "patient_id": "263336",
          "patient_number": "1387150",
          "player_ids": [
            "dqMwyVIDRHy3GCfb8K2yy-:APA91bFthUTtAU7FskD3nEKesafo8cxAPamHD3RN64EMFh1BbrlYU9yg1vnk5mijrIx6CCBcNKkKks4LBf5JffecUCeTcYTyFRup3hnoxe5iwi1krPHp6KQ"
          ],
          "device_tokens": [],
          "mapping_status": "COMPLETED",
          "createdAt": "2025-04-19T21:40:15.613Z",
          "updatedAt": "2025-04-19T21:40:47.549Z",
          "__v": 0,
          "affiliation": "680418405de5960741fcd1a3"
        }
      },
      {
        "json": {
          "_id": "68879ac15de596074119fcb4",
          "first_name": "Veronica",
          "last_name": "fisher",
          "email": "wondervmf@gmail.com",
          "password": "e93abda3d8a3111c16bfb9d97ab03c72aeca9df45572d3ea41d3068bd0bf1e3c",
          "dob": "2004-12-20T05:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "7735054001"
          },
          "is_new_patient": false,
          "patient_id": "183089",
          "patient_number": "586980",
          "player_ids": [
            "diYDou0eLkh5omXOlT4l5p:APA91bEB8lih2rAyEKRPH4TjdvqfriTR6L5PVImubl7LQfbISYymjLO47_wvhZII2r6S3KfChjCPRGWQzQFWx9E-oUbGuaxU6MQmTYFAM37z8IKewQ73_1E"
          ],
          "device_tokens": [
            "985AAA20-C9DC-4265-9EB3-7C5E951ABD22"
          ],
          "mapping_status": "COMPLETED",
          "createdAt": "2025-07-28T15:44:01.754Z",
          "updatedAt": "2025-07-28T15:45:44.041Z",
          "__v": 0,
          "affiliation": "68879ac25de596074119fcb6",
          "contact": "C_98569"
        }
      },
      {
        "json": {
          "_id": "6553d236fa462ca5e86d6098",
          "first_name": "Veronica",
          "last_name": "Test",
          "email": "vhabbo@epichs.org",
          "password": "682733d3794c726f2dd43630837220f4cb9d137641f82f94c061af319619314c",
          "dob": "1991-01-21T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "5866256303"
          },
          "is_new_patient": false,
          "patient_id": "197001",
          "patient_number": "725240",
          "mapping_status": "COMPLETED",
          "createdAt": "2023-11-14T20:01:58.149Z",
          "updatedAt": "2025-07-29T17:55:51.329Z",
          "__v": 3,
          "player_ids": [
            "dNNIGX7l0UoSkmAGfouxj4:APA91bHkNOthL_p-TBgt8lpPfKQ1PvfW8XIV02aPDUfyIMttRVmbqV9_Ic1EPHvDw2SvkQc9AMEUmCLen_1SA9NAABhai3jceb2RcVN56CdoVLbpvc-ZuWCN-Ilo7VeeV6h2PIo4Dcz4",
            "dNNIGX7l0UoSkmAGfouxj4:APA91bHkNOthL_p-TBgt8lpPfKQ1PvfW8XIV02aPDUfyIMttRVmbqV9_Ic1EPHvDw2SvkQc9AMEUmCLen_1SA9NAABhai3jceb2RcVN56CdoVLbpvc-ZuWCN-Ilo7VeeV6h2PIo4Dcz4",
            "f_eaAcA_6EcLj7gi_XIXP6:APA91bHawNEAFEOZRv1V4Ebb-HZx2lAj1Nfa0jLk0NxlfJy5GsUVlJDYacd89Fol-mGKeWizuiEutacp6mYIN8o9ptonZFpWtNM9MxEEgP0I8AwG8dSqpxXg-HWCzS-4oNbBiaSAQ8fL"
          ],
          "contact": "C_369577",
          "affiliation": "66e299b127c9592c3750aa49",
          "newContact": "C_106226"
        }
      },
      {
        "json": {
          "_id": "655781ee67222b8a50aadb1b",
          "first_name": "asha",
          "last_name": "Test",
          "email": "ashakenyatta@yahoo.com",
          "password": "3c774059286612ea7a6fba8d4d349bba3819204a544d9a7a5faa7ffa157e8404",
          "dob": "1984-05-09T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2482523948"
          },
          "is_new_patient": true,
          "patient_id": "215735",
          "patient_number": "912220",
          "player_ids": [
            "fRuzRk9zXUiMjP3vq6mavl:APA91bE_XNfxJem7kFCb2ApZlbMtkAWujOu5oitrYe8Oltbu2af4x_yYLNx5SkCWyix4lo_exX1sL5gLeB8xl5iiiCVsJ0HFODwszLU6PWAQMUDeG3gr-V7YS5AC-fUKZT1f4giaSz5O"
          ],
          "mapping_status": "MANUAL_VERIFICATION_REQUIRED",
          "createdAt": "2023-11-17T15:08:30.686Z",
          "updatedAt": "2024-09-25T09:26:57.034Z",
          "__v": 0,
          "mapping_email": null,
          "mapping_phone": "2483611248",
          "contact": null,
          "device_tokens": [
            "A37C7F77-EA79-46FE-AA44-04F9251F82EB"
          ],
          "affiliation": "66e299c627c9592c3750aa89",
          "newContact": null
        }
      },
      {
        "json": {
          "_id": "655e364a21a772712d38ecd4",
          "first_name": "teddy",
          "last_name": "test",
          "email": "test@gmail.com",
          "password": "234747bca7998a44c601a86db7eef5087a56143872fe29fd42823bc1d72e76f5",
          "dob": "1971-02-01T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2486771837"
          },
          "is_new_patient": false,
          "patient_id": "1378361",
          "patient_number": "1975201",
          "player_ids": [
            "cVF9VIyc9UtAtffS66uEYa:APA91bFPwf0_tpaG79rXWAKESgqVXjfbMlL0skCTIA13Y8XtOJnk4kdMSDYYAKpFjAHux8Eo6YJau-0rUw0ZfDZ8Dd5Npmhw5c3qqesyLEGcKWhFhDP6aK8X9B-ru1wNivfabEz2Q3SZ"
          ],
          "mapping_status": "COMPLETED",
          "createdAt": "2023-11-22T17:11:38.623Z",
          "updatedAt": "2024-09-25T09:27:40.875Z",
          "__v": 1,
          "contact": null,
          "device_tokens": [
            "2B8D2EC1-10D0-4392-AF3F-C237FDEABF5D"
          ],
          "affiliation": "66e299fb27c9592c3750ab19",
          "newContact": null
        }
      },
      {
        "json": {
          "_id": "65d212b124445801cf3c13b5",
          "first_name": "CAP",
          "last_name": "Test",
          "email": "ithelpdesk@epicpc.com",
          "password": "90519d1bd813139673dd8e82659da94ec991414493d055ee5a4f96c16f419430",
          "dob": "2000-02-01T05:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2487097800"
          },
          "is_new_patient": false,
          "patient_id": "236515",
          "patient_number": "1119870",
          "player_ids": [],
          "device_tokens": [
            "UP1A.231005.007"
          ],
          "mapping_status": "COMPLETED",
          "createdAt": "2024-02-18T14:22:41.861Z",
          "updatedAt": "2024-09-25T09:47:47.433Z",
          "__v": 3,
          "affiliation": "66e29d9b27c9592c3750ba45",
          "newContact": null
        }
      },
      {
        "json": {
          "_id": "66292e87a9f0421a3832a185",
          "first_name": "maddy",
          "last_name": "test",
          "email": "madisonmartin1881@gmail.com",
          "password": "4ef8dbb428a73417613358ac846d4d0bfe3c37d2ef919568989b3e389e678aa2",
          "dob": "1984-04-24T05:00:00.000Z",
          "is_new_patient": true,
          "patient_id": "238392",
          "patient_number": "1138380",
          "player_ids": [
            "dG_jJtqRuEnNsH8YTUkawb:APA91bGuLSyw0DBV68Gbx7ywj5YpkAxFzp-ObsbxoNfK-0H2aC8fVK7w0PpqsTcbism6WDVOr6mqc0Pj0e6e_qccdT1O3ReUvGAHgu6vEe-VDMb2AaEmKDjTSKnJ3doYbpLZo2qoKVMT"
          ],
          "device_tokens": [
            "D13C99D6-C8B8-4D6E-84DF-D3200E52A85D"
          ],
          "mapping_status": "PARTIAL_UNVERIFIED",
          "createdAt": "2024-04-24T16:08:39.955Z",
          "updatedAt": "2025-04-15T14:44:24.558Z",
          "__v": 1,
          "contact": "",
          "mapping_email": "",
          "mapping_phone": "2482146694",
          "verification_token": "PARTIAL_VERIFIED",
          "affiliation": "66e2a93d27c9592c3750effd",
          "newContact": null
        }
      },
      {
        "json": {
          "_id": "667447e610ab873b22e29549",
          "first_name": "Alexa",
          "last_name": "Test",
          "email": "123@gmail.com",
          "password": "e90e7b94e5b5a310b383d68d97c8e739ac7e454ff558e582ebfa95bc1161fc85",
          "dob": "1980-11-27T05:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2482241165"
          },
          "is_new_patient": false,
          "patient_id": "219646",
          "patient_number": "951250",
          "player_ids": [
            "fQ0T6lEOVkPPldm76ifpZ9:APA91bGDVpE2idZTORoDNUiK3ARyLUHEVzRkYVMIF9T2eNX1pF-TORu17a2yohIHlUJn74jIMuZth8z69zpT9-5VLIdtz7GooaXM0drAuPr8uY2D5GkNy0L7IbX6pZEryLZdCnhP0Bi3"
          ],
          "device_tokens": [
            "C273748D-9F3D-4650-9FA4-7C31043A5304"
          ],
          "mapping_status": "COMPLETED",
          "createdAt": "2024-06-20T15:16:54.748Z",
          "updatedAt": "2024-09-25T11:35:38.547Z",
          "__v": 0,
          "affiliation": "66e2afa927c9592c37510e26",
          "newContact": null
        }
      },
      {
        "json": {
          "_id": "6553d236fa462ca5e86d6098",
          "first_name": "Veronica",
          "last_name": "Test",
          "email": "vhabbo@epichs.org",
          "password": "682733d3794c726f2dd43630837220f4cb9d137641f82f94c061af319619314c",
          "dob": "1991-01-21T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "5866256303"
          },
          "is_new_patient": false,
          "patient_id": "197001",
          "patient_number": "725240",
          "mapping_status": "COMPLETED",
          "createdAt": "2023-11-14T20:01:58.149Z",
          "updatedAt": "2025-07-29T17:55:51.329Z",
          "__v": 3,
          "player_ids": [
            "dNNIGX7l0UoSkmAGfouxj4:APA91bHkNOthL_p-TBgt8lpPfKQ1PvfW8XIV02aPDUfyIMttRVmbqV9_Ic1EPHvDw2SvkQc9AMEUmCLen_1SA9NAABhai3jceb2RcVN56CdoVLbpvc-ZuWCN-Ilo7VeeV6h2PIo4Dcz4",
            "dNNIGX7l0UoSkmAGfouxj4:APA91bHkNOthL_p-TBgt8lpPfKQ1PvfW8XIV02aPDUfyIMttRVmbqV9_Ic1EPHvDw2SvkQc9AMEUmCLen_1SA9NAABhai3jceb2RcVN56CdoVLbpvc-ZuWCN-Ilo7VeeV6h2PIo4Dcz4",
            "f_eaAcA_6EcLj7gi_XIXP6:APA91bHawNEAFEOZRv1V4Ebb-HZx2lAj1Nfa0jLk0NxlfJy5GsUVlJDYacd89Fol-mGKeWizuiEutacp6mYIN8o9ptonZFpWtNM9MxEEgP0I8AwG8dSqpxXg-HWCzS-4oNbBiaSAQ8fL"
          ],
          "contact": "C_369577",
          "affiliation": "66e299b127c9592c3750aa49",
          "newContact": "C_106226"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-07-30T21:51:15.983Z",
  "versionId": "873ef3bf-fa90-4902-adf3-2b379a51832b"
}