workflows/LDAP Update all Users Attributes
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search LDAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search LDAP1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Search LDAP": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-03T15:07:59.837Z",
  "id": "yLVXzh1Bdfiho5Zm",
  "isArchived": false,
  "meta": null,
  "name": "LDAP Update all Users Attributes",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "02c0194d-7c33-48be-95b6-773d277887e4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "6422beb7-fb8c-4bc0-925b-ba923fbdf5ba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ab4fb17-c7ff-4ab8-92c3-c7601fa160ec",
              "leftValue": "={{ $json.mail }}",
              "rightValue": "@epicpc.com",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        100
      ],
      "id": "58df205a-e2e0-4f8f-8128-c5bb9960c8e8",
      "name": "If"
    },
    {
      "parameters": {
        "baseDN": "OU=Exclus1ve Physicians,DC=ecoe,DC=local",
        "searchFor": "(objectclass=user)",
        "attribute": "mail",
        "searchText": "*",
        "returnAll": true,
        "options": {
          "pageSize": 5000
        }
      },
      "id": "b7f08aa7-64ca-43c2-a69e-da9aadc2c218",
      "name": "Search LDAP",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "credentials": {
        "ldap": {
          "id": "lMuN0cx6hMG02pC1",
          "name": "LDAP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "={{ $json.dn }}",
        "attributes": {
          "replace": [
            {
              "id": "=mail",
              "value": "={{ $json.sAMAccountName }}@epichs.org"
            }
          ]
        }
      },
      "id": "b0149d7c-d168-4ad4-9eec-b91e4632933b",
      "name": "Search LDAP1",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        940,
        120
      ],
      "credentials": {
        "ldap": {
          "id": "lMuN0cx6hMG02pC1",
          "name": "LDAP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-03T15:17:43.904Z",
  "versionId": "e298e144-693f-4c4e-ac5f-787f425200dd"
}