workflows/Patient App MongoDB Blue Sky
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB5": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-01T15:53:34.868Z",
  "id": "MLK1lJNy0bPizlME",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Patient App MongoDB Blue Sky",
  "nodes": [
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"contact_details.mobile_number\": {\n    \"$regex\": \".*{{$json.phone}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "fc5da6e0-0828-411c-bebe-e0cc211017c4",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1240,
        200
      ],
      "credentials": {
        "mongoDb": {
          "id": "3SZqUn9R2uIu3AjC",
          "name": "MongoDB Blue Sky app"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"last_name\": {\n    \"$regex\": \".*{{$json.lastname}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "4aa44e31-bce2-4375-84dd-744f9f026dbd",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1240,
        -180
      ],
      "credentials": {
        "mongoDb": {
          "id": "3SZqUn9R2uIu3AjC",
          "name": "MongoDB Blue Sky app"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "{ \"mapping_phone\": \"3135563203\" }"
      },
      "id": "5089d11e-40e7-41ac-ab45-e0f2c7ecf70a",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        600,
        500
      ],
      "credentials": {
        "mongoDb": {
          "id": "GcDoZP6kqt3fgy9H",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Patient App Match Checker</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            display: flex;\n            flex-direction: row;\n            padding: 20px;\n        }\n        .search-panel {\n            display: flex;\n            flex-direction: column;\n            margin-right: 20px;\n        }\n        .search-panel input {\n            margin-bottom: 10px;\n            padding: 5px;\n        }\n        .search-panel button {\n            margin-bottom: 10px;\n            padding: 5px;\n            background-color: black;\n            color: white;\n            border: none;\n            cursor: pointer;\n        }\n        .results-panel {\n            flex-grow: 1;\n            display: flex;\n            flex-direction: column;\n        }\n        .results-panel input {\n            margin-bottom: 10px;\n            padding: 5px;\n        }\n        .results-table {\n            border-collapse: collapse;\n            width: 100%;\n        }\n        .results-table th, .results-table td {\n            border: 1px solid #ddd;\n            padding: 8px;\n        }\n        .results-table th {\n            background-color: #f2f2f2;\n        }\n    </style>\n</head>\n<body>\n\n<div class=\"search-panel\">\n    <input type=\"text\" id=\"firstname\" placeholder=\"Enter a value\">\n    <button onclick=\"search('firstname')\">Search First Name</button>\n    \n    <input type=\"text\" id=\"lastname\" placeholder=\"Enter a value\">\n    <button onclick=\"search('lastname')\">Search Last Name</button>\n\n    <input type=\"text\" id=\"dob\" placeholder=\"Enter a value\">\n    <button onclick=\"search('dob')\">Search DOB</button>\n\n    <input type=\"text\" id=\"phone\" placeholder=\"Enter a value\">\n    <button onclick=\"search('phone')\">Search Phone</button>\n\n    <input type=\"text\" id=\"email\" placeholder=\"Enter a value\">\n    <button onclick=\"search('email')\">Search Email</button>\n</div>\n\n<div class=\"results-panel\">\n    <input type=\"text\" id=\"filter\" placeholder=\"Search\" oninput=\"filterResults()\">\n    <table class=\"results-table\" id=\"results\">\n        <thead>\n            <tr>\n                <th>First Name</th>\n                <th>Last Name</th>\n                <th>DOB</th>\n                <th>Phone Number</th>\n                <th>Email</th>\n                <th>Mapping Status</th>\n            </tr>\n        </thead>\n        <tbody id=\"results-body\">\n            <!-- Results will be populated here -->\n        </tbody>\n    </table>\n</div>\n\n<script>\n    function search(param) {\n        const value = document.getElementById(param).value;\n        const data = { [param]: value };\n        \n        fetch('https://xl.epicpc.com/webhook/6a411f07-dbc9-4adf-a0cc-66e8dc607daf', { // Replace with your actual URL\n            method: 'POST',\n            headers: {\n                'Content-Type': 'application/json',\n            },\n            body: JSON.stringify(data),\n        })\n        .then(response => response.json())\n        .then(data => {\n            updateResults(data.results); // Access the correct property from the response\n        })\n        .catch(error => {\n            console.error('Error:', error);\n        });\n    }\n\n    function updateResults(results) {\n        const resultsBody = document.getElementById('results-body');\n        resultsBody.innerHTML = ''; // Clear previous results\n\n        results.forEach(result => {\n            const row = document.createElement('tr');\n            row.innerHTML = `\n                <td>${result.firstName || ''}</td>\n                <td>${result.lastName || ''}</td>\n                <td>${result.dob || ''}</td>\n                <td>${result.contactDetails || ''}</td>\n                <td>${result.email || ''}</td>\n                <td>${result.mappingStatus || ''}</td>\n            `;\n            resultsBody.appendChild(row);\n        });\n    }\n\n    function filterResults() {\n        const filter = document.getElementById('filter').value.toLowerCase();\n        const rows = document.getElementById('results-body').getElementsByTagName('tr');\n\n        for (let row of rows) {\n            let text = row.textContent || row.innerText;\n            row.style.display = text.toLowerCase().includes(filter) ? '' : 'none';\n        }\n    }\n</script>\n\n</body>\n</html>\n",
        "options": {}
      },
      "id": "d553eb5b-e07a-4e3e-a453-86c3192d5d22",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -280
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\n  \"results\": [\n    {\n      \"firstname\": \"John\",\n      \"lastname\": \"Doe\",\n      \"dob\": \"1980-01-15\",\n      \"phone\": \"123-456-7890\",\n      \"email\": \"john.doe@example.com\",\n      \"mappingStatus\": \"Matched\"\n    },\n    {\n      \"firstname\": \"Jane\",\n      \"lastname\": \"Smith\",\n      \"dob\": \"1992-07-22\",\n      \"phone\": \"098-765-4321\",\n      \"email\": \"jane.smith@example.com\",\n      \"mappingStatus\": \"Pending\"\n    },\n    {\n      \"firstname\": \"Alice\",\n      \"lastname\": \"Johnson\",\n      \"dob\": \"1985-03-12\",\n      \"phone\": \"555-123-4567\",\n      \"email\": \"alice.johnson@example.com\",\n      \"mappingStatus\": \"Not Matched\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "5dd426c6-bbfa-4736-a1e5-dcded7581327",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1860,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d410620b-aa1c-49af-bef7-f0526a90788e",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "cb2cf2a3-1ddc-416c-8cc1-074d5b84b7e2",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accessing the incoming JSON data\nconst data = $json.body;\n\n// Initialize an empty array to hold the result objects\nlet results = [];\n\n// Iterate through the keys of the 'body' object dynamically\nfor (const [key, value] of Object.entries(data)) {\n  // Create a new object for each key-value pair with the param name and value\n  results.push({\n    ...data,          // Include all existing properties\n    param: key,       // Column name for parameter\n    value: value      // Value of the extracted parameter\n  });\n}\n\n// Return the updated array of results\nreturn results;\n"
      },
      "id": "1e62e7cb-ec8c-4496-80f9-f8a59eb0e8b8",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -60
      ]
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"first_name\": {\n    \"$regex\": \".*{{$json.firstname}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "88ef33c0-08f3-43d1-8a90-64afcd41680e",
      "name": "MongoDB3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1240,
        -380
      ],
      "credentials": {
        "mongoDb": {
          "id": "3SZqUn9R2uIu3AjC",
          "name": "MongoDB Blue Sky app"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2e64bc0f-54a1-45b3-b533-dd4dd2aa0071",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sample input JSON array\nconst inputData = [\n  {\n    \"_id\": \"6508519ba09d3837fea26ffe\",\n    \"first_name\": \"Thomas\",\n    \"last_name\": \"Stilwell\",\n    \"email\": \"thomas@tagarmor.com\",\n    \"password\": \"8776f108e247ab1e2b323042c049c266407c81fbad41bde1e8dfc1bb66fd267e\",\n    \"dob\": \"1988-02-01T00:00:00.000Z\",\n    \"contact_details\": {\n      \"country_code\": \"+1\",\n      \"mobile_number\": \"2488726322\"\n    },\n    \"is_new_patient\": false,\n    \"patient_id\": \"174619\",\n    \"patient_number\": \"502880\",\n    \"mapping_status\": \"COMPLETED\",\n    \"createdAt\": \"2023-09-18T13:33:15.088Z\",\n    \"updatedAt\": \"2024-09-04T19:22:26.851Z\",\n    \"__v\": 58,\n    \"contact\": \"C_344683\"\n  }\n];\n\n// Function to process each entry and format the output\nconst formatData = (data) => {\n  return data.map(entry => {\n    return {\n      id: entry._id,\n      firstName: entry.first_name,\n      lastName: entry.last_name,\n      email: entry.email,\n      dob: new Date(entry.dob).toISOString().split('T')[0], // Format DOB to YYYY-MM-DD\n      contactDetails: `${entry.contact_details.country_code} ${entry.contact_details.mobile_number}`,\n      isNewPatient: entry.is_new_patient,\n      patientId: entry.patient_id,\n      patientNumber: entry.patient_number,\n      mappingStatus: entry.mapping_status,\n      createdAt: entry.createdAt,\n      updatedAt: entry.updatedAt,\n      contact: entry.contact\n    };\n  });\n};\n\n// Process and log the formatted data\nconst formattedOutput = formatData(inputData);\nconsole.log(formattedOutput);\n\n// Return the formatted output (for use in an n8n Code node)\nreturn formattedOutput;\n"
      },
      "id": "4b05ad20-1fe6-4f4f-9bd9-716c20b3745b",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collecting all input data\nconst inputData = $input.all();\n\n// Debugging: Log input data to verify its structure\nconsole.log(\"Input Data:\", inputData);\n\n// Formatting the response structure correctly with safe checks\nconst formattedResponse = inputData.map(item => {\n    // Debugging: Log each item to ensure the data fields exist as expected\n    console.log(\"Processing Item:\", item);\n\n    // Safely accessing nested properties with optional chaining and default values\n    const contactDetails = item.json.contact_details || {}; // Default to empty object if null\n\n    return {\n        firstName: item.json.first_name || '', // Default to empty string if undefined\n        lastName: item.json.last_name || '',\n        dob: item.json.dob ? new Date(item.json.dob).toISOString().split('T')[0] : '', // Format DOB or use empty string\n        contactDetails: `${contactDetails.country_code || ''} ${contactDetails.mobile_number || ''}`, // Safely access nested properties\n        email: item.json.email || '',\n        mappingStatus: item.json.mapping_status || ''\n    };\n});\n\n// Debugging: Log the formatted response to check its structure before returning\nconsole.log(\"Formatted Response:\", formattedResponse);\n\n// Return the correctly formatted response\nreturn [{ results: formattedResponse }];\n"
      },
      "id": "af68bd67-de08-4436-9e9a-aa4c2fc55468",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -100
      ]
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"email\": {\n    \"$regex\": \".*{{$json.email}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "ad74f7d6-338b-485e-9431-2a8f3ea20440",
      "name": "MongoDB4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1240,
        20
      ],
      "credentials": {
        "mongoDb": {
          "id": "3SZqUn9R2uIu3AjC",
          "name": "MongoDB Blue Sky app"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"dob\": {\n    \"$regex\": \".*{{$json.dob}}.*\",\n    \"$options\": \"i\"\n  }\n}\n"
      },
      "id": "067724ec-7eca-4f3e-884b-29ccf052ac63",
      "name": "MongoDB5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1260,
        400
      ],
      "credentials": {
        "mongoDb": {
          "id": "3SZqUn9R2uIu3AjC",
          "name": "MongoDB Blue Sky app"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.param }}",
                    "rightValue": "firstname",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "6492cc60-f261-4055-aca8-b848a32beeba",
                    "leftValue": "={{ $json.param }}",
                    "rightValue": "lastname",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "94eccda6-41be-49e3-802b-643f5cdefef7",
                    "leftValue": "={{ $json.param}}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f3a14fae-a619-4106-910d-f0d0ca5f760e",
                    "leftValue": "={{ $json.param }}",
                    "rightValue": "phone",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "eea9e106-f1fa-4af6-aac3-8c77e5bdd51f",
                    "leftValue": "={{ $json.param }}",
                    "rightValue": "dob",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dc0cfc15-32fc-4663-ab5e-71e6b68c0f8a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        860,
        -60
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>EPIC Patient App Signup Details</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f9f9f9;\n            color: #333;\n            margin: 0;\n            padding: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            min-height: 100vh;\n        }\n\n        .container {\n            width: 90%;\n            max-width: 1200px;\n            background-color: white;\n            padding: 20px;\n            border: 2px solid #333;\n            border-radius: 12px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n            display: flex;\n            flex-direction: column;\n        }\n\n        .header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 20px;\n        }\n\n        .header h1 {\n            margin: 0;\n            font-size: 1.8em;\n        }\n\n        .clear-btn {\n            background-color: #ff4d4d;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            border-radius: 5px;\n            cursor: pointer;\n        }\n\n        .clear-btn:hover {\n            background-color: #e60000;\n        }\n\n        .search-panel {\n            display: flex;\n            flex-direction: column;\n            margin-right: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            padding: 10px;\n            background: #f4f4f4;\n        }\n\n        .search-panel input {\n            margin-bottom: 10px;\n            padding: 8px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n        }\n\n        .results-panel {\n            flex-grow: 1;\n            display: flex;\n            flex-direction: column;\n            overflow-x: auto;\n        }\n\n        .results-table {\n            border-collapse: collapse;\n            width: 100%;\n        }\n\n        .results-table th,\n        .results-table td {\n            border: 1px solid #ddd;\n            padding: 10px;\n            text-align: left;\n        }\n\n        .results-table th {\n            background-color: #f2f2f2;\n        }\n\n        .button-56 {\n            align-items: center;\n            background-color: #fff;\n            border: 2px solid #111;\n            border-radius: 8px;\n            box-sizing: border-box;\n            color: #111;\n            cursor: pointer;\n            display: flex;\n            font-family: Inter, sans-serif;\n            font-size: 16px;\n            height: 48px;\n            justify-content: center;\n            line-height: 24px;\n            max-width: 100%;\n            padding: 0 25px;\n            position: relative;\n            text-align: center;\n            text-decoration: none;\n            user-select: none;\n            -webkit-user-select: none;\n            touch-action: manipulation;\n            margin-bottom: 10px;\n        }\n\n        .button-56:after {\n            background-color: #111;\n            border-radius: 8px;\n            content: \"\";\n            display: block;\n            height: 48px;\n            left: 0;\n            width: 100%;\n            position: absolute;\n            top: -2px;\n            transform: translate(8px, 8px);\n            transition: transform .2s ease-out;\n            z-index: -1;\n        }\n\n        .button-56:hover:after {\n            transform: translate(0, 0);\n        }\n\n        .button-56:active {\n            background-color: #ffdeda;\n            outline: 0;\n        }\n\n        .button-56:hover {\n            outline: 0;\n        }\n\n        @media (min-width: 768px) {\n            .button-56 {\n                padding: 0 40px;\n            }\n        }\n    </style>\n</head>\n\n<body>\n\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>EPIC Patient App Signup Details</h1>\n            <div style=\"display: flex; gap: 10px;\">\n                <button class=\"button-56\" onclick=\"goBack()\">Back</button>\n                <button class=\"clear-btn\" onclick=\"clearSearch()\">Clear / Refresh</button>\n            </div>\n        </div>\n\n        <div style=\"display: flex;\">\n            <div class=\"search-panel\">\n                <input type=\"text\" id=\"firstname\" placeholder=\"Enter First Name\"\n                    onkeypress=\"handleKeyPress(event, 'firstname')\">\n                <button class=\"button-56\" onclick=\"search('firstname')\">Search First Name</button>\n\n                <input type=\"text\" id=\"lastname\" placeholder=\"Enter Last Name\"\n                    onkeypress=\"handleKeyPress(event, 'lastname')\">\n                <button class=\"button-56\" onclick=\"search('lastname')\">Search Last Name</button>\n\n                <input type=\"text\" id=\"phone\" placeholder=\"Enter Phone Number\"\n                    onkeypress=\"handleKeyPress(event, 'phone')\">\n                <button class=\"button-56\" onclick=\"search('phone')\">Search Phone</button>\n\n                <input type=\"text\" id=\"email\" placeholder=\"Enter Email\" onkeypress=\"handleKeyPress(event, 'email')\">\n                <button class=\"button-56\" onclick=\"search('email')\">Search Email</button>\n            </div>\n\n            <div class=\"results-panel\">\n                <input type=\"text\" id=\"filter\" placeholder=\"Search within results\" oninput=\"filterResults()\"\n                    style=\"margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 4px;\">\n                <table class=\"results-table\" id=\"results\">\n                    <thead>\n                        <tr>\n                            <th>First Name</th>\n                            <th>Last Name</th>\n                            <th>DOB</th>\n                            <th>Phone Number</th>\n                            <th>Email</th>\n                            <th>Mapping Status</th>\n                        </tr>\n                    </thead>\n                    <tbody id=\"results-body\">\n                        <!-- Results will be populated here -->\n                    </tbody>\n                </table>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        function search(param) {\n            const value = document.getElementById(param).value;\n            const data = { [param]: value };\n\n            fetch('https://xl.epicpc.com/webhook/04cc5229-14ee-4dc1-bd5b-c9ca9767a927bs', {\n                method: 'POST',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                body: JSON.stringify(data),\n            })\n                .then(response => response.json())\n                .then(data => {\n                    updateResults(data.results);\n                })\n                .catch(error => {\n                    console.error('Error:', error);\n                });\n        }\n\n        function updateResults(results) {\n            const resultsBody = document.getElementById('results-body');\n            resultsBody.innerHTML = '';\n\n            results.forEach(result => {\n                const row = document.createElement('tr');\n                row.innerHTML = `\n                    <td>${result.firstName || ''}</td>\n                    <td>${result.lastName || ''}</td>\n                    <td>${result.dob || ''}</td>\n                    <td>${result.contactDetails || ''}</td>\n                    <td>${result.email || ''}</td>\n                    <td>${result.mappingStatus || ''}</td>\n                `;\n                resultsBody.appendChild(row);\n            });\n        }\n\n        function filterResults() {\n            const filter = document.getElementById('filter').value.toLowerCase();\n            const rows = document.getElementById('results-body').getElementsByTagName('tr');\n\n            for (let row of rows) {\n                let text = row.textContent || row.innerText;\n                row.style.display = text.toLowerCase().includes(filter) ? '' : 'none';\n            }\n        }\n\n        function clearSearch() {\n            document.querySelectorAll('.search-panel input').forEach(input => input.value = '');\n            document.getElementById('results-body').innerHTML = '';\n            document.getElementById('filter').value = '';\n        }\n\n        function handleKeyPress(event, param) {\n            if (event.key === 'Enter') {\n                search(param);\n            }\n        }\n\n        function goBack() {\n            window.history.back();\n        }\n    </script>\n\n</body>\n\n</html>\n",
        "options": {}
      },
      "id": "f7e07a86-e541-4172-bf66-c5b87f24789e",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d222b6d2-34fb-4341-881d-bd6968797295",
              "leftValue": "={{ $json.headers.referer }}",
              "rightValue": "=https://ehs.unitycarecrm.com/",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e9062725-5b3c-41b1-9c94-4501458752aa",
              "leftValue": "={{ $json.headers.referer }}",
              "rightValue": "https://n8n.cybertech.app/webhook/f908d5fc-aa8b-40cc-83b0-07ab9f0f2469",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4e6dc828-341d-4d89-841a-9a91f0de9b3e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        420,
        -420
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Access Denied</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f9f9f9;\n            color: #333;\n            margin: 0;\n            padding: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            min-height: 100vh;\n            text-align: center;\n        }\n\n        .container {\n            width: 90%;\n            max-width: 600px;\n            background-color: white;\n            padding: 20px;\n            border: 2px solid #333;\n            border-radius: 12px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n        }\n\n        h1 {\n            font-size: 2em;\n            margin-bottom: 10px;\n        }\n\n        p {\n            font-size: 1.2em;\n            margin-bottom: 20px;\n        }\n\n        .button-56 {\n            align-items: center;\n            background-color: #fff;\n            border: 2px solid #111;\n            border-radius: 8px;\n            box-sizing: border-box;\n            color: #111;\n            cursor: pointer;\n            display: flex;\n            font-family: Inter, sans-serif;\n            font-size: 16px;\n            height: 48px;\n            justify-content: center;\n            line-height: 24px;\n            max-width: 100%;\n            padding: 0 25px;\n            position: relative;\n            text-align: center;\n            text-decoration: none;\n            user-select: none;\n            -webkit-user-select: none;\n            touch-action: manipulation;\n            margin-bottom: 10px;\n        }\n\n        .button-56:after {\n            background-color: #111;\n            border-radius: 8px;\n            content: \"\";\n            display: block;\n            height: 48px;\n            left: 0;\n            width: 100%;\n            position: absolute;\n            top: -2px;\n            transform: translate(8px, 8px);\n            transition: transform .2s ease-out;\n            z-index: -1;\n        }\n\n        .button-56:hover:after {\n            transform: translate(0, 0);\n        }\n\n        .button-56:active {\n            background-color: #ffdeda;\n            outline: 0;\n        }\n\n        .button-56:hover {\n            outline: 0;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div class=\"container\">\n        <h1>Access Denied</h1>\n        <p>You don't have access. Please launch from the Unity Platform.</p>\n        <button class=\"button-56\" onclick=\"goBack()\">Back</button>\n    </div>\n\n    <script>\n        function goBack() {\n            window.history.back();\n        }\n    </script>\n\n</body>\n\n</html>\n",
        "options": {}
      },
      "id": "0cdd1002-62dd-45b7-8fa9-dea792745069",
      "name": "Respond to Webhook4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>EPIC Patient App Signup Details</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f9f9f9;\n            color: #333;\n            margin: 0;\n            padding: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            min-height: 100vh;\n        }\n\n        .container {\n            width: 90%;\n            max-width: 1200px;\n            background-color: white;\n            padding: 20px;\n            border: 2px solid #333;\n            border-radius: 12px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n            display: flex;\n            flex-direction: column;\n        }\n\n        .header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 20px;\n        }\n\n        .header h1 {\n            margin: 0;\n            font-size: 1.8em;\n        }\n\n        .clear-btn {\n            background-color: #ff4d4d;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            border-radius: 5px;\n            cursor: pointer;\n        }\n\n        .clear-btn:hover {\n            background-color: #e60000;\n        }\n\n        .search-panel {\n            display: flex;\n            flex-direction: column;\n            margin-right: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            padding: 10px;\n            background: #f4f4f4;\n        }\n\n        .search-panel input {\n            margin-bottom: 10px;\n            padding: 8px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n        }\n\n        .results-panel {\n            flex-grow: 1;\n            display: flex;\n            flex-direction: column;\n            overflow-x: auto;\n        }\n\n        .results-table {\n            border-collapse: collapse;\n            width: 100%;\n        }\n\n        .results-table th,\n        .results-table td {\n            border: 1px solid #ddd;\n            padding: 10px;\n            text-align: left;\n        }\n\n        .results-table th {\n            background-color: #f2f2f2;\n        }\n\n        .button-56 {\n            align-items: center;\n            background-color: #fff;\n            border: 2px solid #111;\n            border-radius: 8px;\n            box-sizing: border-box;\n            color: #111;\n            cursor: pointer;\n            display: flex;\n            font-family: Inter, sans-serif;\n            font-size: 16px;\n            height: 48px;\n            justify-content: center;\n            line-height: 24px;\n            max-width: 100%;\n            padding: 0 25px;\n            position: relative;\n            text-align: center;\n            text-decoration: none;\n            user-select: none;\n            -webkit-user-select: none;\n            touch-action: manipulation;\n            margin-bottom: 10px;\n        }\n\n        .button-56:after {\n            background-color: #111;\n            border-radius: 8px;\n            content: \"\";\n            display: block;\n            height: 48px;\n            left: 0;\n            width: 100%;\n            position: absolute;\n            top: -2px;\n            transform: translate(8px, 8px);\n            transition: transform .2s ease-out;\n            z-index: -1;\n        }\n\n        .button-56:hover:after {\n            transform: translate(0, 0);\n        }\n\n        .button-56:active {\n            background-color: #ffdeda;\n            outline: 0;\n        }\n\n        .button-56:hover {\n            outline: 0;\n        }\n\n        @media (min-width: 768px) {\n            .button-56 {\n                padding: 0 40px;\n            }\n        }\n    </style>\n</head>\n\n<body>\n\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>EPIC Patient App Signup Details</h1>\n            <button class=\"clear-btn\" onclick=\"clearSearch()\">Clear / Refresh</button>\n        </div>\n\n        <div style=\"display: flex;\">\n            <div class=\"search-panel\">\n                <input type=\"text\" id=\"firstname\" placeholder=\"Enter First Name\" onkeypress=\"handleKeyPress(event, 'firstname')\">\n                <button class=\"button-56\" onclick=\"search('firstname')\">Search First Name</button>\n\n                <input type=\"text\" id=\"lastname\" placeholder=\"Enter Last Name\" onkeypress=\"handleKeyPress(event, 'lastname')\">\n                <button class=\"button-56\" onclick=\"search('lastname')\">Search Last Name</button>\n\n                <input type=\"text\" id=\"phone\" placeholder=\"Enter Phone Number\" onkeypress=\"handleKeyPress(event, 'phone')\">\n                <button class=\"button-56\" onclick=\"search('phone')\">Search Phone</button>\n\n                <input type=\"text\" id=\"email\" placeholder=\"Enter Email\" onkeypress=\"handleKeyPress(event, 'email')\">\n                <button class=\"button-56\" onclick=\"search('email')\">Search Email</button>\n            </div>\n\n            <div class=\"results-panel\">\n                <input type=\"text\" id=\"filter\" placeholder=\"Search within results\" oninput=\"filterResults()\" style=\"margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 4px;\">\n                <table class=\"results-table\" id=\"results\">\n                    <thead>\n                        <tr>\n                            <th>First Name</th>\n                            <th>Last Name</th>\n                            <th>DOB</th>\n                            <th>Phone Number</th>\n                            <th>Email</th>\n                            <th>Mapping Status</th>\n                        </tr>\n                    </thead>\n                    <tbody id=\"results-body\">\n                        <!-- Results will be populated here -->\n                    </tbody>\n                </table>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        function search(param) {\n            const value = document.getElementById(param).value;\n            const data = { [param]: value };\n\n            fetch('https://xl.epicpc.com/webhook/6a411f07-dbc9-4adf-a0cc-66e8dc607daf', {\n                method: 'POST',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                body: JSON.stringify(data),\n            })\n                .then(response => response.json())\n                .then(data => {\n                    updateResults(data.results);\n                })\n                .catch(error => {\n                    console.error('Error:', error);\n                });\n        }\n\n        function updateResults(results) {\n            const resultsBody = document.getElementById('results-body');\n            resultsBody.innerHTML = '';\n\n            results.forEach(result => {\n                const row = document.createElement('tr');\n                row.innerHTML = `\n                    <td>${result.firstName || ''}</td>\n                    <td>${result.lastName || ''}</td>\n                    <td>${result.dob || ''}</td>\n                    <td>${result.contactDetails || ''}</td>\n                    <td>${result.email || ''}</td>\n                    <td>${result.mappingStatus || ''}</td>\n                `;\n                resultsBody.appendChild(row);\n            });\n        }\n\n        function filterResults() {\n            const filter = document.getElementById('filter').value.toLowerCase();\n            const rows = document.getElementById('results-body').getElementsByTagName('tr');\n\n            for (let row of rows) {\n                let text = row.textContent || row.innerText;\n                row.style.display = text.toLowerCase().includes(filter) ? '' : 'none';\n            }\n        }\n\n        function clearSearch() {\n            document.querySelectorAll('.search-panel input').forEach(input => input.value = '');\n            document.getElementById('results-body').innerHTML = '';\n            document.getElementById('filter').value = '';\n        }\n\n        function handleKeyPress(event, param) {\n            if (event.key === 'Enter') {\n                search(param);\n            }\n        }\n    </script>\n\n</body>\n\n</html>\n",
        "options": {}
      },
      "id": "09a5b928-471f-4267-ae35-f8f1f88ff8ed",
      "name": "Pre-Back button",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -580
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "04cc5229-14ee-4dc1-bd5b-c9ca9767a927bs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55c65c8b-0d59-4c0b-bbfc-4e59685eb837",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        -60
      ],
      "webhookId": "04cc5229-14ee-4dc1-bd5b-c9ca9767a927"
    },
    {
      "parameters": {
        "path": "eaca943d-91d7-4fab-bbf4-dd2fa0fbfc68bs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4f94bfe6-a6d4-4165-b3e1-b59574708906",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        -420
      ],
      "webhookId": "eaca943d-91d7-4fab-bbf4-dd2fa0fbfc68"
    }
  ],
  "pinData": {
    "Code1": [
      {
        "json": {
          "id": "6508519ba09d3837fea26ffe",
          "firstName": "Thomas",
          "lastName": "Stilwell",
          "email": "thomas@tagarmor.com",
          "dob": "1988-02-01",
          "contactDetails": "+1 2488726322",
          "isNewPatient": false,
          "patientId": "174619",
          "patientNumber": "502880",
          "mappingStatus": "COMPLETED",
          "createdAt": "2023-09-18T13:33:15.088Z",
          "updatedAt": "2024-09-04T19:22:26.851Z",
          "contact": "C_344683"
        }
      }
    ],
    "MongoDB": [
      {
        "json": {
          "_id": "6508519ba09d3837fea26ffe",
          "first_name": "Thomas",
          "last_name": "Stilwell",
          "email": "thomas@tagarmor.com",
          "password": "8776f108e247ab1e2b323042c049c266407c81fbad41bde1e8dfc1bb66fd267e",
          "dob": "1988-02-01T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2488726322"
          },
          "is_new_patient": false,
          "patient_id": "174619",
          "patient_number": "502880",
          "mapping_status": "COMPLETED",
          "createdAt": "2023-09-18T13:33:15.088Z",
          "updatedAt": "2024-09-04T19:22:26.851Z",
          "__v": 58,
          "player_ids": [
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "f3VAlyNYQgeaCu63tbqQra:APA91bFuq4hiwrC0B3thoGIwADPzoFfXPu38781zzjawMkVuLXbZ1yBJdm3Lu7agQMAp0B24XQrNjX9mzqn46rBTkDeIv6lOlzAqodngMhm4_sxZV92jGPW7qnD7FEFLtaSKlYkPUSrI",
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "f7jP5cuLTmW6AQ-MtiKu0C:APA91bF1iHFf-QBxP12VDQRIyLZfriR8xJrSL48k3n5xeoMFIXnhPf3owX-HdSRE9D5pkZilOfEErsSvZfjAAWligSyrZ-MP2S1ZS4UOIdcP5YrtUDzRY5yHSyqScisOHiYmWn2N9hjc",
            "eEbAOcvSxElMq-l58ZOEsp:APA91bHo-6IXpc22OiK37t3xsED2ebsqo_IrnVfEXFlEwZyh5EiPK5kR_XNOsCb96g2Y6EnO4RKKiLOpcck__aqnNlbpYp4GBHMuLwc1BCsSPq7kCBnIQgYeFaKQ23k-kWUvNf-jpPla",
            "dml9_HQsSaGNpdEL5XmIZC:APA91bHR6rMuRn2QfoQ2JGeUFG5K3EORvkSX-hY4GiIExU7j0w9Ck5DilviwTCjWTu4xLM7-olX7M6_yE4dBirdjKHwuVZpwicdF3IlRAAGlMU5ER7xVJhiKSZO-u9svmW2rEIUlRcCR",
            "cCJ-ntnsSVuGmx58QAfw76:APA91bE0FpmtytTQFJaaRhokUjLhSJvGjbImkXd3ve5xmunx-Nl8cFwSo6gOhbU9EPJht_NHLeazW0YIGLrzCikWHPN9vllGUrMc95jlEoa5GeJ-TzWQ5qTYBCvwLeI2p9914y5PFWB7",
            "dQWjpSuUTBaeflDOiyKOFT:APA91bFzgxeSxbbW7D98AAaiaHZK02C3d9sdjXwFMqG7QrXzb4wL_MpINwK3Zoj2bpjFhiwr2IeXhwNQwezdUOqrBRHoeXpKg5NQr7ESCiBGcaPuZwgZuWSbevISgtWMH9gU6tfvfFsB",
            "fe2_shKlTNKrM51V0ybA2c:APA91bGwRNpg1mXNjfRU6gXNFUiT11vt1Zdf-R9B6x4xNBjF30P_t7GVWQFY_kGepaj25T4wQa4c4uaB8OaLvxLRNOK5_dcO5JL9BjV4srazDRbxiMO51SEyRbJGAtEkPdv725IFBs1Y",
            "cNsKrIZqQxeQthqfnLPQ0h:APA91bE1BQviQqOjKLi8rLV90yCiogOpU_W0aIqrcvBsA9kNnx2H15nIdZPqQi0b3PYfFkJv2zwaWp49Q_rulE8tyfCUQnpHLxkSxba8GYB9sBmjcrFRt383LWMyUlHWBlg_ajxqYaAK",
            "fPiqnNBxRamR4i6KiyR8I9:APA91bFGMXiriZ3QNrVTiEQiMTUrwuNxhKnd1F2_1AXi2Fja6dk_pxy74kGpnUQXR-W7yOcq3UlK4Fsc6uALEGsWIpeNjFQ9S9RnmubpAmFbXmwb-tJwBYGm-9qmfZJfFlNo9s81FX37",
            "fHYGJRJDR5qeBtheX9Dopf:APA91bEFioB8L2_hQbY1vQD3rKoivy5DZpcz_kASLdDSBd0YKSS9ke8_RLRK4SJm_IT6WLA6i6hUXWbu_rhqlTXaGYECx6kJl8yyaOZxbmzyJSfzrDCHy3l5yhTux-o_PcQVClJuJeC7",
            "cctWZimtRlqd-JNsohT-zD:APA91bGHWgif7uewYYwp5LFk8UquuR2C_UDDbe-SWT1_OcziOOIOM97FpffWl6p9U9onJ8KoznQzcTrT6EGtWJZFKICIyX_iE_z35cFoaJL_jNM6aImZrWT2cmcCHSYTFLhyMSQYWvV0",
            "dhPovzh_2EQYiJq5pOcqWb:APA91bFTPGcfb7Hw9UreGXu_l0G2G8pbVNIxNPpwsooPDPwjQAYTuDz16nTKi46eFD49WMaKO3XNf63si3hPuMcCCXiZqkdzI_wbJEdIPeGjlTRWPNoKdi-kQylNHd6jG4pU_I0MjVhx",
            "envW6rocTYG8qggK1fzC0p:APA91bFHhv8WrHbw2mMuDfOwcPMk20x4YwPqRfzZdckv-T38BBfKGWabjy3N_0cXfKLk3Pra_YR2sBTJH92JCq_ZG8s82OCYQD5TfTArRH678rZ_plNoIqlMRPnFm-Z0bYYKGQAgI7Ru",
            "cUghhWBRRBiOCpzYAwqHuG:APA91bF0GmEarkDqqGficZShYk0ze-Axso-MvYl9_lC2hwqaxjrrJizVFoLuYQ0LmYhpWDf5hXwOZLB8hgn2WcJUxrfLV-lO9pWhxjgqPpgJjXoJkx4bCgSPIrIbZiy8J1wOpRhYApd2",
            "fScl_UahS_-qgNeYfrz1GN:APA91bFcYMfHCgCQLfSPTY3nA4f-j24o44dRVCNPtGdtHVVun-IMu8VAZ2_2fhTNdw486JY5wiVlq6_6dfLaJhNPyXKE4oeEGWGaokeSl-dBziGbB20jOCxiQ248KoHdyx7Pt0TWrwg4",
            "cDmuwwS0Smehd_WMBywPya:APA91bHqx_nFIw2nIdjtA8n3Gz6V_LxEK7qAYBV2wKk66-efAgYuQoQG7Qm1ISYj4YBexJMlPEBYAROIk-gJ1rFbkiR-Gdqw4jbHDX4-viAeu4w65MVkRjAznYEKXPYbjGZWhuEu3dTa",
            "drmjPpFmTlufi46VuIzgfQ:APA91bF0-Dp0w85Tt9iPTKibjOoaToHrHrpNNAysVr6CXlaU6hvKuGbsFvs4DvMcgWrMzGor1WIfHdQ2ctIzHCYyOSZEOQ-2GbdLYocM_0Es6WGDIQoDtneUrQtPDKH-ms1AbmbZbsYb",
            "cba1wyDxRtu3tCgWbNeiH4:APA91bH8DJaaVPLALy196b0xp9-rIQgjwnxwX3nN1AGURDyDDW4tpXUYdfok6IEeqE9teVud0PaUquGQkPPEBbV6yYmRfolfgsle4XcH5Mkl3CPI1fdu-xmkLbQgQ9d58UtTNlRikcdJ",
            "cw8Bvp09R3-a1BTLevQhgs:APA91bGjZqkeqBZTCvDdQVa7ijyLQO_fXAMMhl8VoLVS-9WGObKKP4I5nMEja2BarZ3z9qTZwR3XO3Pr-Li5hg1P_IjN02Vpl5iW8yooq0AECdp2zDKscaOUkX-L11hfRk9jfhdKMACP",
            "cQqbePhXQieo775C_eQLPg:APA91bGJ_6SvGC7l3Leu2mlXMMyFifOyGd8ZG4T6rdSQFp-Wvvqc6AMp9NeiuQJRf-imqYVuGV9S-7rTjwmNyhZu7iuFo8Qrajtk7DhiCpHGCICV1rL5RjUmB9JxYlWWu_UCyyWdo8mG",
            "f2-2rz5aR6GKxbpdvgHQTq:APA91bHRzbWlyPD6k7VRLXNSksf_S7iccL80EUM5bSJF3HFUwUDJx0yGG1JfQvhZ6FjupURLUMCQzOJHOrqC61_PCcnU9depaQikVoGxiAF4YHjcEYQZKCqnPzy9N9r_psq18EQsKEFt",
            "f1WgFFN9TD-ODvex24rAIK:APA91bE1tU2qtBAEPO5r67JY_9xbmM4TuivL31_TONIWbzXZLCGIKnCSWKAFbGR08Awz6_gNtdLAZZ4xr8_IBO4bFBDrDBdBMYluDzxSWtbO7zc1sd8ryLhmGFTxJ6IOsNX1yRZEU3gz",
            "cGk2_zbZQPCfDwEgyJbYNS:APA91bFbg_ehk5Eo_ExIz5_O45fW7byN6WQdBBix0q3sLFPoThnVUBXK6U66PAmGIm6EypRCGdVhWr6wTx6UZQfeHhtfWdyyW2CR5XnrJAjvKn9u9zTDBr6DZzzHL4KZC5h2Ijue0j35",
            "c1OcmG_oSnCvSy-DFUY5jw:APA91bFCxRW2MQ1hk2dG14URbAbc__Plvk0xqX-SXCAAZ8uM7DXH4wD2SVYPG12hBrhPqQGmtCmZbrL4rIbnq_2_yAqzR9QQplGybdF0bTnlYSQcwrziwZYmP5IAf4_YszSkCLE41dyv",
            "cPZkWyxBQYC5jlyhbLF54r:APA91bE_6OZJkmo1RYfc0D7SpzTq7HPh0T0EyOM8tbehLic8hzicgVLXYjNZpPHobCn0guERxL_UxA2UjwKLEWvJ5JoFx4DkX2hN-i54BkOQDxz1E9TcUhyzC0VPXJeBUSDdF-zp-4r4",
            "fTSQXk-hQhq15rAD5Juwqb:APA91bHuMC92bN1kJEA6dRcxvHlNlau6_-QHdU-nyhkAQ7bg1bnLrkIG76KUIUqlmq9KCor977PZNEMHGzIllNltbv7FnpeWbtvOLewGlG9hVZ8Wre9Qmc9nSYQtEGH9zjLF60GRkmCq",
            "dqCaC8wLTXCqxmmURAaR76:APA91bEIzEuYV_S554WQmtnQvPO5xlH2MQzak2wrsKecaRBj3Wemjq7nXKMpSMfR_0Z0W3X0mRwyQzILfRM7Au2PwxNSsaQOthBFxOsCVOC4xYj9Xl6rOhwXvSNyaBIfZoA23uj7MSH2",
            "fJ2uL0gUTyKjgQic-8b6UM:APA91bH51CA1_Kavem9tOp9SUbKkRnRGtuIxGaBt6Ha7-uQygBAsiAqnP8eUHfmNMzi5v1A7Qls2vkQk2DFPfLczGqi2rsnJe-1pZEjFeJm1SELkKeFfcu4pacBEr3XjD4GQyAdoeW6M",
            "fCxieP_ZQD-kZYVMiqfWBv:APA91bGtgJTOL9RTysvS8N8hgCDhL6KyixSljW5W6cdm9qo9D0VXYMRLUa4EAqsY_M0I_c6HePhKhixTB9aEwt5oz25yXun9dY4319aOkomE41UVlXZTH4pKuy3sfXKyK3G4r7X3grYp",
            "eZcBI7mRTAGR2G3HEO55KU:APA91bF1elX5eqyVc-9Qkw9pByNLn9Kq3omSYy9yUF9eYWRgRQMb9GXRxAEAaZYl5X-DnlDKUzP-RMXcgeeVk624Yj5Wpq1wXRG5_qGnCKsc7pO7viXiQmNGqGphqyOPpVbAgXwZ6yld",
            "fENLOYCXSAiai4GyMyXlRs:APA91bErZTVb57jzJeKvgyVfM4txYjvnFjAZpeNFMUkIChd2lq0xE2knW_HMc6fK5QJInwyewO14hL0PAYnHWKOPnwR_L7lFEndJBnHi6mONF68mM4IL8CQWk0KBCxDTeBIpmsbsKPsg",
            "fm1ULvVKSqC5_ol6mzx599:APA91bEPdo5q4WjNU7ayBA1CwPdnx3ub5KQ2xNYtcjVC7fPRsvDVypWwrAq8K4Mklw7L039f53eL5feSdbKkYflMvMJm-2nKehDlq_K7UrXUqW_fnaLSf1tZ7TPsHfDkr0pet0o7q1hg",
            "egl01KRuT6iAmF2KPFHM88:APA91bH323yFtiaKSVbLs5-A5kp_lLQwROsYot7wwL1c_qJ8_D_W2GelqUtPRZ-sRZjOQ0UMPlU2mpOym00xLaRBjtRdoSSk2WyOhPfZXBcYkOL64vGFjV26Wr1Z0VaVRPg_nseHbix1",
            "fzXpY1p9S3at8gTuESxz5M:APA91bEIOBzGviPdJKcrt9YdIIslqEdg2_YKvcDBDWvHYplOv9PMGEHEFOU23TiTg_-xStokGpyT-6gdbVZRV8IkIuruhDa6-SXvoxw-yHK9EDbtoRjzHmSHmbRF422btV8cmR2QcgsQ",
            "cXUsk769QkunXAtWM3tUl3:APA91bH3QRMHoOZeQu1IqSdekCdEDhJq6GTT64cgafGgvQqujn01ByhZPWy99RZkLLkhcxsMGdClTWB_-orjaOSe-Tr8cOd2yujKjeboBv-qcDmZ8aSuzL4-oFoU2k8ypOQnhttbpVyZ",
            "eAlTxf-_RTCSOGMzuR_3UW:APA91bE8QBCrTYmURjjplxMzHvT8EMu6_2oCGoI7NtQADr9f8Ppm3opJwT5Ge6aBIPQgEd2cpMdf0DZZUflwi6rhm9gTJYek7H8WaWvN0B5pIZQ3X2CRJWNB3Zwq_StN2KLh3n9-avHX",
            "f_8_Mr-jT5-xCcMaAwrNO5:APA91bFhjvbbGmK8Qhf6Bx7tLD3DQ0fZq5huDVYwu0o2m6u3A4FZIt2oHGujKPak_Vn4wYL4IwZXpzAowd-Hng1lByfDk5RNkW2o0OrA7Hq99rCvh5jDEyYkMeB3QSNP7iI4UthHeGwj",
            "e8oNoQWeRyS6ezrGAdqQBs:APA91bFIjgN5uCII1TWBK2T1borrywo8onETtCXYdvFin7RbChCMlBrz8Ag9WMDWSxgFXyxuJbkjIyBkHCihssvwM7v4Ds00o_wnKUDUSd7X0B1Awl0n1H_yk_ZX-HvMWQK188SlTMHb",
            "cgHotMMPQ5WlapWjrvKg0v:APA91bFLgNxiql4n91v4QFwDh53ZaTsfl6nJ58kuzV1AvIToz67p8jRUFM-j_8uAENzRRoBCrOxk2DxM_zIRdm50JqKl-xwz-ebAqaLvV0wAZHYdYva58kGYM-kop_ZsJAM-kcu2RNhc",
            "dnyxKZBCS-y31bBPrZl4VY:APA91bESEjXqP-1dL1K53Qn_Cd0NPrGbyLY8VRKW0kF-VEOJqNdktJBMWW0a5A0UQZ9jboabh-jWcrAmejcE1pSsyQmdcE-mMPnWpBGZw9EFxTIVjEizXr6xFdwfT8lrbWxbRqdxfEnN",
            "doTllgZkxEhLi5nz0JJTEV:APA91bFmNQKThEJES2lhTd5-hsTM19YrK7hukwaz-D1vDEtdpHrGz9kWFxgRXVEsX0YhkGTrdscVZYT6gzdf5I8VMSJaxiCz-ZCekwCXI6CgLMwMl2sRS0nrmf_sCorWRKUjtGmRWTjS",
            "c6U6zl8uTr2ZaPJP5M40FM:APA91bGqL-18qXpK7OTkhJmKK8hDo5VVG4HoskQv0ELzZgfzf31_Nn1rFwuJSPHpvJEBXVbkfOFRYlnLEfxNqF9c2nMz94V8CAt1438bCgm1KNZrBArJYRgBhZr6QzzYeSoUDWX0012r",
            "c3CaSvV6RAuOjuHMVGaYC2:APA91bEhrCAaROTJ-8tlk8nQ9XuhuNSXgfSaYC3OlEFKnDShS3tC2soJhFipTad6GRmKjsRtn1kll_ZuqrYrYe9wGkUyz-nkJSO3umuPSWFJkmd2ncEPis2Sb1ZJRmvuEfCMi2AD8I2O",
            "exaKgwjvS4u58VfUXKWPlB:APA91bGhMoPteQo5sNKYzaZNxdfk-H3OBFUATfLkKd3T0hJLGS9YfVxSceu-_4oj097hyXmmlO3HGwP6ilxVTHnBqjknUurlrqudnll5dAsKlMKi5Mq98m_SBlRo3H9l9VwHOqfTW5Lz",
            "epQ1ElvqTYCRyja299p6U4:APA91bEt_rA5rAaRXS2uub15SnPXPEpDt5Wee776DhIVX6YK2ovlg8JIR87IAoTZMJaL16ofXdGbIvji7AWeCz8Lc4tz_LXL2lCvL5TkTs75Itot34Wc55-46uT-slf8JF7CtxgGz5NF",
            "fLw632bwSEgkkM5R9Qwr-C:APA91bHV0SG61ERTr19u0BEh5818nmDhHFPmHBMtpXwFtjsGqwZbhSJjLLTlailg9k6Rn2P64qy9q2uQmVjhRWdMfH_aJHlXwar-1L1g2rsw0J_ji-MIEwuIU2Aj8xewv3rkUEJnWJYA",
            "eE8R6kplTXiRd9U8Fnv0-B:APA91bHtVhnd6gEQ6yCrPnffPqHLJfgxY9u5BhCyS-5GB7j7yen0WoBoflNrFGkoir7xuKbDEU3KDwziqvzblaX-wG8wz_EOMBUO4wFiLdHrein136GtNIMyGHTiNwhJ2b1n7Vfliygf",
            "dyvaT96HRkdLpypbuk1aj0:APA91bGVSGyuMxeFtrRl4ZErpaRmHoN-Y6UhFIcw4AEjO0jiX1pBR3Z04-i8cZ7_zHXttsSUSnDgpCYGt0-TjCtZvobrVBQAshffNQ5-xEFsYsdCd7NK0kKSA1fFTlMSTEerSjd6of7e",
            "eyma8EDPS86AN0flMbTtse:APA91bFHaH-Hz5pmanoT0cmoT_g8flK4CaKq7jYnygmFtoFz1G9kwyLLVb3Lnumvn6L8oqftF6zWJwog8bMCPGP8qevJ5w9nnZSexf6-6TP91bkZXQB7FDB4umr6RnZmLpiOYx8crotd",
            "dX6nZiWaQNy0y4eklhBh6d:APA91bFcB7L5lkZ2Or5ZqMp0VTa9eHkSDY4NT1lDex1PGYcWyOQjxRvBNepbz4Sq_ek3CftOYRBPaWxRTAHyN1Be50ddc_WLu0psoachsHZ2BdHCGb6JIp_w7XZyA_jB-vFxUhmVeuEV",
            "caghvggXT_2FawHvH6sNer:APA91bHPDya5W5e7-JlElbEZTVK0fxMZwvg-9TbB-dKrWfzcdVpi3cMOPViyO41tSYBtsD-Asbj9hQRFGQMn_4qm4FjVDRlyP3Y6hA3B3k9VeqDwqr2jj4lhKeQe1OtPDKrRp0y3_7YH",
            "csGdgsS7QayDs2ciMGSezg:APA91bGG161_y5J8clf4RtIFA3HGlkQShCzONa3nmKbmDL3cTVWg1uDKGyT9_0kqfWf6EhojaGcaXrLyjd53zcme3KMvm9vof5Fm5be8QcfD1jwOeIYaycS0D4IoKrAMR5R3p_gvmyhr",
            "e4r-BwhUSziJa_NujxmCaZ:APA91bEJ1TFSoO4xsd6LhctRlWHEYP-X5NNtQeCLEMQZi-SxoNXnSVLpzayi9vkMXjstwDUmXYqOi6u5-X1FBqEVZMkgc-9X_a95OPacFd0Py-lfkJ4nn6bdaRM8C0y2BCSsxmuTyrnn",
            "fmBWpx5zRQ6aWIFJvPJ19B:APA91bGu-ZhPwuCM-MrG29DMgjYB5s2Uccnr99FSjZXjtMjYOBZPrjmZ4lyTnet1nMrIWPigHVl8Q1t3x2wBomQlxZn1iTLczCMcLMjWXi6_8DLrBk8-0ayg5W0krcr24iXtBF3e5Kl6",
            "c_YphxJfSqqTGjH-wijI6Z:APA91bHUxFITQuhPo0vHfXmEeIbQwK3bwUufOZ5uTUeDDoha6Wn16XeLEE23csOEMv3gUefCQSLN2tP_00XANIR8g4puuZhO-kwTS3jFF4tBz9pksOJwE4nnpFLJfcye82IseQhwlH1D"
          ],
          "contact": "C_344683",
          "device_tokens": [
            "UP1A.231005.007",
            "TP1A.220624.014",
            "B2B05130-32E9-4FB0-BC29-3ACAE746C8B9",
            "QP1A.190711.020",
            "TP1A.220624.014_MOD1",
            "C86C8197-3B11-47AD-95C2-99BBEC1357D9",
            "UP1A.231005.007_MOD1"
          ]
        }
      }
    ],
    "MongoDB5": [
      {
        "json": {
          "_id": "6508519ba09d3837fea26ffe",
          "first_name": "Thomas",
          "last_name": "Stilwell",
          "email": "thomas@tagarmor.com",
          "password": "8776f108e247ab1e2b323042c049c266407c81fbad41bde1e8dfc1bb66fd267e",
          "dob": "1988-02-01T00:00:00.000Z",
          "contact_details": {
            "country_code": "+1",
            "mobile_number": "2488726322"
          },
          "is_new_patient": false,
          "patient_id": "174619",
          "patient_number": "502880",
          "mapping_status": "COMPLETED",
          "createdAt": "2023-09-18T13:33:15.088Z",
          "updatedAt": "2024-09-04T19:22:26.851Z",
          "__v": 58,
          "player_ids": [
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "f3VAlyNYQgeaCu63tbqQra:APA91bFuq4hiwrC0B3thoGIwADPzoFfXPu38781zzjawMkVuLXbZ1yBJdm3Lu7agQMAp0B24XQrNjX9mzqn46rBTkDeIv6lOlzAqodngMhm4_sxZV92jGPW7qnD7FEFLtaSKlYkPUSrI",
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "cM__ij_0SR6IGhGn0nCCvR:APA91bEKKAZ-vUd2N_noPFvB3iNlVigKKXdo_yqJ4LczAipcY7NZUTnZjbHBKK6tM6KsO8Eb-e8MM7X9OQcTmKM9k9VMNAuddeGrqcOenjuNMxb0PjlXohpABjJ2qheey34fQnr-nNwS",
            "f7jP5cuLTmW6AQ-MtiKu0C:APA91bF1iHFf-QBxP12VDQRIyLZfriR8xJrSL48k3n5xeoMFIXnhPf3owX-HdSRE9D5pkZilOfEErsSvZfjAAWligSyrZ-MP2S1ZS4UOIdcP5YrtUDzRY5yHSyqScisOHiYmWn2N9hjc",
            "eEbAOcvSxElMq-l58ZOEsp:APA91bHo-6IXpc22OiK37t3xsED2ebsqo_IrnVfEXFlEwZyh5EiPK5kR_XNOsCb96g2Y6EnO4RKKiLOpcck__aqnNlbpYp4GBHMuLwc1BCsSPq7kCBnIQgYeFaKQ23k-kWUvNf-jpPla",
            "dml9_HQsSaGNpdEL5XmIZC:APA91bHR6rMuRn2QfoQ2JGeUFG5K3EORvkSX-hY4GiIExU7j0w9Ck5DilviwTCjWTu4xLM7-olX7M6_yE4dBirdjKHwuVZpwicdF3IlRAAGlMU5ER7xVJhiKSZO-u9svmW2rEIUlRcCR",
            "cCJ-ntnsSVuGmx58QAfw76:APA91bE0FpmtytTQFJaaRhokUjLhSJvGjbImkXd3ve5xmunx-Nl8cFwSo6gOhbU9EPJht_NHLeazW0YIGLrzCikWHPN9vllGUrMc95jlEoa5GeJ-TzWQ5qTYBCvwLeI2p9914y5PFWB7",
            "dQWjpSuUTBaeflDOiyKOFT:APA91bFzgxeSxbbW7D98AAaiaHZK02C3d9sdjXwFMqG7QrXzb4wL_MpINwK3Zoj2bpjFhiwr2IeXhwNQwezdUOqrBRHoeXpKg5NQr7ESCiBGcaPuZwgZuWSbevISgtWMH9gU6tfvfFsB",
            "fe2_shKlTNKrM51V0ybA2c:APA91bGwRNpg1mXNjfRU6gXNFUiT11vt1Zdf-R9B6x4xNBjF30P_t7GVWQFY_kGepaj25T4wQa4c4uaB8OaLvxLRNOK5_dcO5JL9BjV4srazDRbxiMO51SEyRbJGAtEkPdv725IFBs1Y",
            "cNsKrIZqQxeQthqfnLPQ0h:APA91bE1BQviQqOjKLi8rLV90yCiogOpU_W0aIqrcvBsA9kNnx2H15nIdZPqQi0b3PYfFkJv2zwaWp49Q_rulE8tyfCUQnpHLxkSxba8GYB9sBmjcrFRt383LWMyUlHWBlg_ajxqYaAK",
            "fPiqnNBxRamR4i6KiyR8I9:APA91bFGMXiriZ3QNrVTiEQiMTUrwuNxhKnd1F2_1AXi2Fja6dk_pxy74kGpnUQXR-W7yOcq3UlK4Fsc6uALEGsWIpeNjFQ9S9RnmubpAmFbXmwb-tJwBYGm-9qmfZJfFlNo9s81FX37",
            "fHYGJRJDR5qeBtheX9Dopf:APA91bEFioB8L2_hQbY1vQD3rKoivy5DZpcz_kASLdDSBd0YKSS9ke8_RLRK4SJm_IT6WLA6i6hUXWbu_rhqlTXaGYECx6kJl8yyaOZxbmzyJSfzrDCHy3l5yhTux-o_PcQVClJuJeC7",
            "cctWZimtRlqd-JNsohT-zD:APA91bGHWgif7uewYYwp5LFk8UquuR2C_UDDbe-SWT1_OcziOOIOM97FpffWl6p9U9onJ8KoznQzcTrT6EGtWJZFKICIyX_iE_z35cFoaJL_jNM6aImZrWT2cmcCHSYTFLhyMSQYWvV0",
            "dhPovzh_2EQYiJq5pOcqWb:APA91bFTPGcfb7Hw9UreGXu_l0G2G8pbVNIxNPpwsooPDPwjQAYTuDz16nTKi46eFD49WMaKO3XNf63si3hPuMcCCXiZqkdzI_wbJEdIPeGjlTRWPNoKdi-kQylNHd6jG4pU_I0MjVhx",
            "envW6rocTYG8qggK1fzC0p:APA91bFHhv8WrHbw2mMuDfOwcPMk20x4YwPqRfzZdckv-T38BBfKGWabjy3N_0cXfKLk3Pra_YR2sBTJH92JCq_ZG8s82OCYQD5TfTArRH678rZ_plNoIqlMRPnFm-Z0bYYKGQAgI7Ru",
            "cUghhWBRRBiOCpzYAwqHuG:APA91bF0GmEarkDqqGficZShYk0ze-Axso-MvYl9_lC2hwqaxjrrJizVFoLuYQ0LmYhpWDf5hXwOZLB8hgn2WcJUxrfLV-lO9pWhxjgqPpgJjXoJkx4bCgSPIrIbZiy8J1wOpRhYApd2",
            "fScl_UahS_-qgNeYfrz1GN:APA91bFcYMfHCgCQLfSPTY3nA4f-j24o44dRVCNPtGdtHVVun-IMu8VAZ2_2fhTNdw486JY5wiVlq6_6dfLaJhNPyXKE4oeEGWGaokeSl-dBziGbB20jOCxiQ248KoHdyx7Pt0TWrwg4",
            "cDmuwwS0Smehd_WMBywPya:APA91bHqx_nFIw2nIdjtA8n3Gz6V_LxEK7qAYBV2wKk66-efAgYuQoQG7Qm1ISYj4YBexJMlPEBYAROIk-gJ1rFbkiR-Gdqw4jbHDX4-viAeu4w65MVkRjAznYEKXPYbjGZWhuEu3dTa",
            "drmjPpFmTlufi46VuIzgfQ:APA91bF0-Dp0w85Tt9iPTKibjOoaToHrHrpNNAysVr6CXlaU6hvKuGbsFvs4DvMcgWrMzGor1WIfHdQ2ctIzHCYyOSZEOQ-2GbdLYocM_0Es6WGDIQoDtneUrQtPDKH-ms1AbmbZbsYb",
            "cba1wyDxRtu3tCgWbNeiH4:APA91bH8DJaaVPLALy196b0xp9-rIQgjwnxwX3nN1AGURDyDDW4tpXUYdfok6IEeqE9teVud0PaUquGQkPPEBbV6yYmRfolfgsle4XcH5Mkl3CPI1fdu-xmkLbQgQ9d58UtTNlRikcdJ",
            "cw8Bvp09R3-a1BTLevQhgs:APA91bGjZqkeqBZTCvDdQVa7ijyLQO_fXAMMhl8VoLVS-9WGObKKP4I5nMEja2BarZ3z9qTZwR3XO3Pr-Li5hg1P_IjN02Vpl5iW8yooq0AECdp2zDKscaOUkX-L11hfRk9jfhdKMACP",
            "cQqbePhXQieo775C_eQLPg:APA91bGJ_6SvGC7l3Leu2mlXMMyFifOyGd8ZG4T6rdSQFp-Wvvqc6AMp9NeiuQJRf-imqYVuGV9S-7rTjwmNyhZu7iuFo8Qrajtk7DhiCpHGCICV1rL5RjUmB9JxYlWWu_UCyyWdo8mG",
            "f2-2rz5aR6GKxbpdvgHQTq:APA91bHRzbWlyPD6k7VRLXNSksf_S7iccL80EUM5bSJF3HFUwUDJx0yGG1JfQvhZ6FjupURLUMCQzOJHOrqC61_PCcnU9depaQikVoGxiAF4YHjcEYQZKCqnPzy9N9r_psq18EQsKEFt",
            "f1WgFFN9TD-ODvex24rAIK:APA91bE1tU2qtBAEPO5r67JY_9xbmM4TuivL31_TONIWbzXZLCGIKnCSWKAFbGR08Awz6_gNtdLAZZ4xr8_IBO4bFBDrDBdBMYluDzxSWtbO7zc1sd8ryLhmGFTxJ6IOsNX1yRZEU3gz",
            "cGk2_zbZQPCfDwEgyJbYNS:APA91bFbg_ehk5Eo_ExIz5_O45fW7byN6WQdBBix0q3sLFPoThnVUBXK6U66PAmGIm6EypRCGdVhWr6wTx6UZQfeHhtfWdyyW2CR5XnrJAjvKn9u9zTDBr6DZzzHL4KZC5h2Ijue0j35",
            "c1OcmG_oSnCvSy-DFUY5jw:APA91bFCxRW2MQ1hk2dG14URbAbc__Plvk0xqX-SXCAAZ8uM7DXH4wD2SVYPG12hBrhPqQGmtCmZbrL4rIbnq_2_yAqzR9QQplGybdF0bTnlYSQcwrziwZYmP5IAf4_YszSkCLE41dyv",
            "cPZkWyxBQYC5jlyhbLF54r:APA91bE_6OZJkmo1RYfc0D7SpzTq7HPh0T0EyOM8tbehLic8hzicgVLXYjNZpPHobCn0guERxL_UxA2UjwKLEWvJ5JoFx4DkX2hN-i54BkOQDxz1E9TcUhyzC0VPXJeBUSDdF-zp-4r4",
            "fTSQXk-hQhq15rAD5Juwqb:APA91bHuMC92bN1kJEA6dRcxvHlNlau6_-QHdU-nyhkAQ7bg1bnLrkIG76KUIUqlmq9KCor977PZNEMHGzIllNltbv7FnpeWbtvOLewGlG9hVZ8Wre9Qmc9nSYQtEGH9zjLF60GRkmCq",
            "dqCaC8wLTXCqxmmURAaR76:APA91bEIzEuYV_S554WQmtnQvPO5xlH2MQzak2wrsKecaRBj3Wemjq7nXKMpSMfR_0Z0W3X0mRwyQzILfRM7Au2PwxNSsaQOthBFxOsCVOC4xYj9Xl6rOhwXvSNyaBIfZoA23uj7MSH2",
            "fJ2uL0gUTyKjgQic-8b6UM:APA91bH51CA1_Kavem9tOp9SUbKkRnRGtuIxGaBt6Ha7-uQygBAsiAqnP8eUHfmNMzi5v1A7Qls2vkQk2DFPfLczGqi2rsnJe-1pZEjFeJm1SELkKeFfcu4pacBEr3XjD4GQyAdoeW6M",
            "fCxieP_ZQD-kZYVMiqfWBv:APA91bGtgJTOL9RTysvS8N8hgCDhL6KyixSljW5W6cdm9qo9D0VXYMRLUa4EAqsY_M0I_c6HePhKhixTB9aEwt5oz25yXun9dY4319aOkomE41UVlXZTH4pKuy3sfXKyK3G4r7X3grYp",
            "eZcBI7mRTAGR2G3HEO55KU:APA91bF1elX5eqyVc-9Qkw9pByNLn9Kq3omSYy9yUF9eYWRgRQMb9GXRxAEAaZYl5X-DnlDKUzP-RMXcgeeVk624Yj5Wpq1wXRG5_qGnCKsc7pO7viXiQmNGqGphqyOPpVbAgXwZ6yld",
            "fENLOYCXSAiai4GyMyXlRs:APA91bErZTVb57jzJeKvgyVfM4txYjvnFjAZpeNFMUkIChd2lq0xE2knW_HMc6fK5QJInwyewO14hL0PAYnHWKOPnwR_L7lFEndJBnHi6mONF68mM4IL8CQWk0KBCxDTeBIpmsbsKPsg",
            "fm1ULvVKSqC5_ol6mzx599:APA91bEPdo5q4WjNU7ayBA1CwPdnx3ub5KQ2xNYtcjVC7fPRsvDVypWwrAq8K4Mklw7L039f53eL5feSdbKkYflMvMJm-2nKehDlq_K7UrXUqW_fnaLSf1tZ7TPsHfDkr0pet0o7q1hg",
            "egl01KRuT6iAmF2KPFHM88:APA91bH323yFtiaKSVbLs5-A5kp_lLQwROsYot7wwL1c_qJ8_D_W2GelqUtPRZ-sRZjOQ0UMPlU2mpOym00xLaRBjtRdoSSk2WyOhPfZXBcYkOL64vGFjV26Wr1Z0VaVRPg_nseHbix1",
            "fzXpY1p9S3at8gTuESxz5M:APA91bEIOBzGviPdJKcrt9YdIIslqEdg2_YKvcDBDWvHYplOv9PMGEHEFOU23TiTg_-xStokGpyT-6gdbVZRV8IkIuruhDa6-SXvoxw-yHK9EDbtoRjzHmSHmbRF422btV8cmR2QcgsQ",
            "cXUsk769QkunXAtWM3tUl3:APA91bH3QRMHoOZeQu1IqSdekCdEDhJq6GTT64cgafGgvQqujn01ByhZPWy99RZkLLkhcxsMGdClTWB_-orjaOSe-Tr8cOd2yujKjeboBv-qcDmZ8aSuzL4-oFoU2k8ypOQnhttbpVyZ",
            "eAlTxf-_RTCSOGMzuR_3UW:APA91bE8QBCrTYmURjjplxMzHvT8EMu6_2oCGoI7NtQADr9f8Ppm3opJwT5Ge6aBIPQgEd2cpMdf0DZZUflwi6rhm9gTJYek7H8WaWvN0B5pIZQ3X2CRJWNB3Zwq_StN2KLh3n9-avHX",
            "f_8_Mr-jT5-xCcMaAwrNO5:APA91bFhjvbbGmK8Qhf6Bx7tLD3DQ0fZq5huDVYwu0o2m6u3A4FZIt2oHGujKPak_Vn4wYL4IwZXpzAowd-Hng1lByfDk5RNkW2o0OrA7Hq99rCvh5jDEyYkMeB3QSNP7iI4UthHeGwj",
            "e8oNoQWeRyS6ezrGAdqQBs:APA91bFIjgN5uCII1TWBK2T1borrywo8onETtCXYdvFin7RbChCMlBrz8Ag9WMDWSxgFXyxuJbkjIyBkHCihssvwM7v4Ds00o_wnKUDUSd7X0B1Awl0n1H_yk_ZX-HvMWQK188SlTMHb",
            "cgHotMMPQ5WlapWjrvKg0v:APA91bFLgNxiql4n91v4QFwDh53ZaTsfl6nJ58kuzV1AvIToz67p8jRUFM-j_8uAENzRRoBCrOxk2DxM_zIRdm50JqKl-xwz-ebAqaLvV0wAZHYdYva58kGYM-kop_ZsJAM-kcu2RNhc",
            "dnyxKZBCS-y31bBPrZl4VY:APA91bESEjXqP-1dL1K53Qn_Cd0NPrGbyLY8VRKW0kF-VEOJqNdktJBMWW0a5A0UQZ9jboabh-jWcrAmejcE1pSsyQmdcE-mMPnWpBGZw9EFxTIVjEizXr6xFdwfT8lrbWxbRqdxfEnN",
            "doTllgZkxEhLi5nz0JJTEV:APA91bFmNQKThEJES2lhTd5-hsTM19YrK7hukwaz-D1vDEtdpHrGz9kWFxgRXVEsX0YhkGTrdscVZYT6gzdf5I8VMSJaxiCz-ZCekwCXI6CgLMwMl2sRS0nrmf_sCorWRKUjtGmRWTjS",
            "c6U6zl8uTr2ZaPJP5M40FM:APA91bGqL-18qXpK7OTkhJmKK8hDo5VVG4HoskQv0ELzZgfzf31_Nn1rFwuJSPHpvJEBXVbkfOFRYlnLEfxNqF9c2nMz94V8CAt1438bCgm1KNZrBArJYRgBhZr6QzzYeSoUDWX0012r",
            "c3CaSvV6RAuOjuHMVGaYC2:APA91bEhrCAaROTJ-8tlk8nQ9XuhuNSXgfSaYC3OlEFKnDShS3tC2soJhFipTad6GRmKjsRtn1kll_ZuqrYrYe9wGkUyz-nkJSO3umuPSWFJkmd2ncEPis2Sb1ZJRmvuEfCMi2AD8I2O",
            "exaKgwjvS4u58VfUXKWPlB:APA91bGhMoPteQo5sNKYzaZNxdfk-H3OBFUATfLkKd3T0hJLGS9YfVxSceu-_4oj097hyXmmlO3HGwP6ilxVTHnBqjknUurlrqudnll5dAsKlMKi5Mq98m_SBlRo3H9l9VwHOqfTW5Lz",
            "epQ1ElvqTYCRyja299p6U4:APA91bEt_rA5rAaRXS2uub15SnPXPEpDt5Wee776DhIVX6YK2ovlg8JIR87IAoTZMJaL16ofXdGbIvji7AWeCz8Lc4tz_LXL2lCvL5TkTs75Itot34Wc55-46uT-slf8JF7CtxgGz5NF",
            "fLw632bwSEgkkM5R9Qwr-C:APA91bHV0SG61ERTr19u0BEh5818nmDhHFPmHBMtpXwFtjsGqwZbhSJjLLTlailg9k6Rn2P64qy9q2uQmVjhRWdMfH_aJHlXwar-1L1g2rsw0J_ji-MIEwuIU2Aj8xewv3rkUEJnWJYA",
            "eE8R6kplTXiRd9U8Fnv0-B:APA91bHtVhnd6gEQ6yCrPnffPqHLJfgxY9u5BhCyS-5GB7j7yen0WoBoflNrFGkoir7xuKbDEU3KDwziqvzblaX-wG8wz_EOMBUO4wFiLdHrein136GtNIMyGHTiNwhJ2b1n7Vfliygf",
            "dyvaT96HRkdLpypbuk1aj0:APA91bGVSGyuMxeFtrRl4ZErpaRmHoN-Y6UhFIcw4AEjO0jiX1pBR3Z04-i8cZ7_zHXttsSUSnDgpCYGt0-TjCtZvobrVBQAshffNQ5-xEFsYsdCd7NK0kKSA1fFTlMSTEerSjd6of7e",
            "eyma8EDPS86AN0flMbTtse:APA91bFHaH-Hz5pmanoT0cmoT_g8flK4CaKq7jYnygmFtoFz1G9kwyLLVb3Lnumvn6L8oqftF6zWJwog8bMCPGP8qevJ5w9nnZSexf6-6TP91bkZXQB7FDB4umr6RnZmLpiOYx8crotd",
            "dX6nZiWaQNy0y4eklhBh6d:APA91bFcB7L5lkZ2Or5ZqMp0VTa9eHkSDY4NT1lDex1PGYcWyOQjxRvBNepbz4Sq_ek3CftOYRBPaWxRTAHyN1Be50ddc_WLu0psoachsHZ2BdHCGb6JIp_w7XZyA_jB-vFxUhmVeuEV",
            "caghvggXT_2FawHvH6sNer:APA91bHPDya5W5e7-JlElbEZTVK0fxMZwvg-9TbB-dKrWfzcdVpi3cMOPViyO41tSYBtsD-Asbj9hQRFGQMn_4qm4FjVDRlyP3Y6hA3B3k9VeqDwqr2jj4lhKeQe1OtPDKrRp0y3_7YH",
            "csGdgsS7QayDs2ciMGSezg:APA91bGG161_y5J8clf4RtIFA3HGlkQShCzONa3nmKbmDL3cTVWg1uDKGyT9_0kqfWf6EhojaGcaXrLyjd53zcme3KMvm9vof5Fm5be8QcfD1jwOeIYaycS0D4IoKrAMR5R3p_gvmyhr",
            "e4r-BwhUSziJa_NujxmCaZ:APA91bEJ1TFSoO4xsd6LhctRlWHEYP-X5NNtQeCLEMQZi-SxoNXnSVLpzayi9vkMXjstwDUmXYqOi6u5-X1FBqEVZMkgc-9X_a95OPacFd0Py-lfkJ4nn6bdaRM8C0y2BCSsxmuTyrnn",
            "fmBWpx5zRQ6aWIFJvPJ19B:APA91bGu-ZhPwuCM-MrG29DMgjYB5s2Uccnr99FSjZXjtMjYOBZPrjmZ4lyTnet1nMrIWPigHVl8Q1t3x2wBomQlxZn1iTLczCMcLMjWXi6_8DLrBk8-0ayg5W0krcr24iXtBF3e5Kl6",
            "c_YphxJfSqqTGjH-wijI6Z:APA91bHUxFITQuhPo0vHfXmEeIbQwK3bwUufOZ5uTUeDDoha6Wn16XeLEE23csOEMv3gUefCQSLN2tP_00XANIR8g4puuZhO-kwTS3jFF4tBz9pksOJwE4nnpFLJfcye82IseQhwlH1D"
          ],
          "contact": "C_344683",
          "device_tokens": [
            "UP1A.231005.007",
            "TP1A.220624.014",
            "B2B05130-32E9-4FB0-BC29-3ACAE746C8B9",
            "QP1A.190711.020",
            "TP1A.220624.014_MOD1",
            "C86C8197-3B11-47AD-95C2-99BBEC1357D9",
            "UP1A.231005.007_MOD1"
          ]
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.68",
            "x-forwarded-for": "10.0.24.68",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "22",
            "sec-ch-ua": "\"Chromium\";v=\"128\", \"Not;A=Brand\";v=\"24\", \"Google Chrome\";v=\"128\"",
            "content-type": "application/json",
            "dnt": "1",
            "sec-ch-ua-mobile": "?0",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36",
            "sec-ch-ua-platform": "\"Windows\"",
            "accept": "*/*",
            "origin": "https://xl.epicpc.com",
            "sec-fetch-site": "same-origin",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://xl.epicpc.com/webhook/a0c664fa-5822-49b8-abfc-5a86685238ef",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "_ga=GA1.2.1801787080.1657225628; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19SL%2BeJUrlGUI44Uq0s1%2FiGo%2BuWfHE2uqA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BmO1h2bZxFxAfT71q%2BBEKjS2eYCPuQ9IQ%3D; __ssid=b094e84f053e7d414fe35d5a20a76ff; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiS0VpMndVRHRnS1ZXRFlaZGhZRHA4TEh2Q1pWa0dGeVNxTld2VHYrREFsZz0iLCJpYXQiOjE3MjUzNjAwNjIsImV4cCI6MTcyNTk2NDg2Mn0.gWhQA1RmVfihFT1viks6V27A4BBtaxwXz7cLfSa6WnE; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BiV9byV4oGgsghLaicogSbF9y984NUbhJmNHPEDecNEzynwB78a5hUKjXg38D3WSQBXjKui%2BFoKQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BYB8LEVAIpr8KoooXUiDhtOiAc2AOMJ65MLPngH6EP7bqnne4iYrpHUfTXouFuMZSsQ%2BrglSnjaxqWOsaGJfuYrWB9Q3%2B4ICcRWbgwHe7yiqI7PZS4riUwO08yBn84RExxXmN7AP7ezuYAAv99AdywSkwW0Y7Jv%2Fg%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BlKKcmnbBNWvAZAHH2xD3otrQLE3ioyRZaKqylC2OcizZeJThkpS6CR0Yratj%2BVThedp1pTZueSj5jpNa1a3iXYmFoGhbrvPt%2BiByNr4bV%2B3P0J8HiSabfpCNz4tgwTmB4q44Npc5xSg%3D%3D; XSRF-TOKEN=eyJpdiI6IjdCMVwva3ZTQlowMkJcLzNnNVFlOHNIUT09IiwidmFsdWUiOiJjRFc5NytcLytUM2JvNmwwR0ZBRXYwdWdLcXJDaHdzemdURzA2ZEsxTjFzTHpnSWpjK0ZYRkk4UWFINzVCYmNCNSIsIm1hYyI6IjBiNzgwZjA5ZDBjMWZjNWRjZTFlOTY2N2FlN2IwYmQ3ZGQ0NDQwZmExYTRiZWVkMjY4OTk2YzdjYjQwYmJiMGMifQ%3D%3D; epic_session=eyJpdiI6IjJjU2p1ZWk4ZWVybmtQaTBsYVwvSmJnPT0iLCJ2YWx1ZSI6IkdVamlnTE0ydkRnXC9KZW1EWnRVblpiOUptMUJlT01XRGxROXQwK1JKMmtQVWtBNEN3aEdPeFlxS3FqWUdmMHV2IiwibWFjIjoiNzQ0ZGRkN2U1N2QzYTcyZDU3OTVmZDVmMjFmODkwMjk3MDg2N2Q5MWZlNjFmYzIxZWVkZGM2OWM3Y2YyOTY1ZSJ9; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1725561931473%2C%220191c35b-e508-78db-ab1f-f3639c5f65f7%22%2C1725559465224%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19TGXUlzrvmSmuwH5Y4p%2F0%2BhMa7rEFDvsmSWp%2BXg1K0lpDCtoKyRUvqzlPiM3fUvuPKSyfzD4Rt%2FwEb7ySrbcOTs58pKbUAnXtGU1p0CHCCVznNKf%2BG9Z2WS8xHvufrVFj%2BISnipU0SaQ%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {
            "firstname": "Thomas"
          },
          "webhookUrl": "https://xl.epicpc.com/webhook/6a411f07-dbc9-4adf-a0cc-66e8dc607daf",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.68",
            "x-forwarded-for": "10.0.24.68",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Chromium\";v=\"128\", \"Not;A=Brand\";v=\"24\", \"Google Chrome\";v=\"128\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "referer": "https://ehs.unitycarecrm.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "_ga=GA1.2.1801787080.1657225628; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19SL%2BeJUrlGUI44Uq0s1%2FiGo%2BuWfHE2uqA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BmO1h2bZxFxAfT71q%2BBEKjS2eYCPuQ9IQ%3D; __ssid=b094e84f053e7d414fe35d5a20a76ff; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiS0VpMndVRHRnS1ZXRFlaZGhZRHA4TEh2Q1pWa0dGeVNxTld2VHYrREFsZz0iLCJpYXQiOjE3MjUzNjAwNjIsImV4cCI6MTcyNTk2NDg2Mn0.gWhQA1RmVfihFT1viks6V27A4BBtaxwXz7cLfSa6WnE; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX185K1fNmmR06N4VreqlTfUhvadHtkyJz%2F2IEC62VYLLiyguv2FZMOVj9AQOImbz8LpIV1IqfwjbQg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19j8eDcmq2TsIvWuHWRWk2DV0y5D0Gh5Zt6mWKpeh7osDdWNkNf3MDJAGDjrz%2BMZqViFQNXpky4jfoB%2By9vHrlLpE5PIO35s4lSzAHB7O8pxR0tI88PlMKwctN%2FHOZ9ZvtVbuVKMEM28HaYgVUcYnqxTKDs%2BdphbCs%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19B0S3cuWAvu7n0teZH6276aY%2BOMYxKQht6UVZHD4vkaXXnRBfh9vV94xDFdztZhtf0GivRx5v2d3voCbb8vPLJaZCxneKCNPUeAf0ngKRJ0VMSuIA12E8u3AwSKhXCAYBmCyeJAsBi%2FQ%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1725570385013%2C%220191c400-83d1-7821-ad11-ef0a2d7f991e%22%2C1725570253777%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BnmHklTOyEMluNNE1bCTKzWke4Njacg0mmp5QLJgjCJ79PQPsXgy7mlSfZJLfmLr6vgmhPHMFYszy63ZYipcs%2FQkdVhDU9v0WOrATij%2Fucwg61UpNnmhs8eGhg2zhpZTwzUXHWuDI4UQ%3D%3D; XSRF-TOKEN=eyJpdiI6IkpKZzZ6VzN5SE5sTTg1alpHcE5VWFE9PSIsInZhbHVlIjoiR3FZOE02cmpoQjZZQlVIWDlwbG9yeG5rZE96R3JwMEJOemtMbFwvdmhrSTJ0cGhnWlVsVFh0T25FT2pMWGhkV0giLCJtYWMiOiIxYTVkODgwNjJiNDI5ZjY1OTBkNzUwNDI4NGZiOGE2ZWFhMzYyMzg3ODYzYTNlOTUxYWI5Y2I4NmMxOGVjMmEzIn0%3D; epic_session=eyJpdiI6InBcLzF2RkorSFRza0MxWm9EOFRcL1d5dz09IiwidmFsdWUiOiIxbXhYRzI4MXdUMlhmRnQyV25PRlRXQ2p0Y3JLaWRwak1oTzZPXC9raFJZQXp4cEo3YzVmM25vdW40ZW5LSU5mdiIsIm1hYyI6Ijk1YzQ4MTljOWFlNDU2NjhmZDEzZTlkZjIxZWViMTc3YmZiNmQyOTBhNzUyNzJjY2EzNGE5NjYxNDQ4ZDUyNDgifQ%3D%3D",
            "if-none-match": "W/\"2064-z9IxdjPLW7YpstR8L9/Uj05zsWo\""
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/a0c664fa-5822-49b8-abfc-5a86685238ef",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-10-01T16:00:35.399Z",
  "versionId": "1ed212c0-4d22-49f0-81e1-16ceb7dd81e3"
}