workflows/Playbook
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-29T15:43:50.496Z",
  "id": "V1oeUtEO0b4Awh17",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Playbook",
  "nodes": [
    {
      "parameters": {},
      "id": "481ab3d2-3f2e-4027-a307-1e412e916254",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        140,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://playbook.epicpc.com/api/books",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token ankbIV4kiwIOEH0jciyDNTiVLkiO9bjo:IgdyU2pLMldtW4uB2FqnTZrtX1C0dufw"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e23c6f67-f4aa-468f-9de3-3feae2f36767",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const books = items[0].json.data;\nreturn books.map(book => ({\n  json: {\n    id: book.id,\n    name: book.name,\n    description: book.description,\n  }\n}));\n"
      },
      "id": "35de0ec7-204d-42cf-802b-42997c7ca015",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://playbook.epicpc.com/api/books/{{ $json.id }}/chapters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token ankbIV4kiwIOEH0jciyDNTiVLkiO9bjo:IgdyU2pLMldtW4uB2FqnTZrtX1C0dufw"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a7676051-919f-4934-9f5c-49368bc70a4a",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const chapters = items[0].json.data;\nreturn chapters.map(chapter => ({\n  json: {\n    id: chapter.id,\n    bookId: chapter.book_id,\n    name: chapter.name,\n    description: chapter.description,\n  }\n}));\n"
      },
      "id": "cc76913c-263e-4e9d-b45c-8bcd4af67b4f",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "20a8548c-7534-4040-945b-f9eff8341ebe",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const pages = items[0].json.data;\nreturn pages.map(page => ({\n  json: {\n    id: page.id,\n    chapterId: page.chapter_id,\n    name: page.name,\n    content: page.html,\n  }\n}));\n"
      },
      "id": "a31b00ab-0946-4115-8e67-a1925ab5d1b5",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "375c214d-6bf3-4129-aa64-eaa8ec9521be",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2734d564-4867-468e-878f-f5c1952de1b6",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5cf64279-67e3-40b4-82db-206a00093469",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://playbook.epicpc.com/api/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token ankbIV4kiwIOEH0jciyDNTiVLkiO9bjo:IgdyU2pLMldtW4uB2FqnTZrtX1C0dufw"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "8fb0dba9-6db0-4ca7-a891-b7bc64975f04",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://playbook.epicpc.com/api/chapters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token ankbIV4kiwIOEH0jciyDNTiVLkiO9bjo:IgdyU2pLMldtW4uB2FqnTZrtX1C0dufw"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "6e0ab46f-07ac-4d1c-8cd8-16bc2a56fbf1",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://playbook.epicpc.com/api/shelves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token ankbIV4kiwIOEH0jciyDNTiVLkiO9bjo:IgdyU2pLMldtW4uB2FqnTZrtX1C0dufw"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3a70500a-8833-4b4f-85e9-1ee00c211f6a",
      "name": "HTTP Request8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        180
      ]
    },
    {
      "parameters": {
        "url": "=https://playbook.epicpc.com/api/pages/2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token ankbIV4kiwIOEH0jciyDNTiVLkiO9bjo:IgdyU2pLMldtW4uB2FqnTZrtX1C0dufw"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "eaf35252-ce0e-4b15-b6b2-13e76b683cf5",
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://10.0.1.161:6875/api/pages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "book_id",
              "value": "1"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 2AOneRQkZYrjD67NIM2NK0N17d2LRLuY:gHMoCGU6FabICnnF4613aXst3KiorTE4"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9e97e054-26ba-4d1a-916d-aa4d162ee55b",
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        760
      ]
    },
    {
      "parameters": {
        "url": "=http://10.0.1.161:6875/api/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 2AOneRQkZYrjD67NIM2NK0N17d2LRLuY:gHMoCGU6FabICnnF4613aXst3KiorTE4"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "18ca70b6-b835-4d49-a8c0-f2315ee71d6d",
      "name": "HTTP Request11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.1.161:6875/api/books",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 2AOneRQkZYrjD67NIM2NK0N17d2LRLuY:gHMoCGU6FabICnnF4613aXst3KiorTE4"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "TESTFORAPI"
            },
            {
              "name": "description"
            },
            {
              "name": "description_html"
            }
          ]
        },
        "options": {}
      },
      "id": "7a4a99eb-0b89-47b4-9ba3-4109bb43cd33",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        980
      ]
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "data": [
            {
              "id": 1,
              "name": "Operations",
              "slug": "operations",
              "description": "",
              "created_at": "2023-01-19T21:56:01.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 2,
              "name": "Desktop Procedures",
              "slug": "desktop-procedures",
              "description": "Standard operating procedures for accounts payable, payroll, time and attendance, monthly close process, purchase orders",
              "created_at": "2023-01-19T21:56:31.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 33,
              "owned_by": 1
            },
            {
              "id": 3,
              "name": "IT-Helpdesk",
              "slug": "it-helpdesk",
              "description": "",
              "created_at": "2023-03-29T19:27:38.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 7,
              "owned_by": 1
            },
            {
              "id": 4,
              "name": "IT-System Administration",
              "slug": "it-system-administration",
              "description": "",
              "created_at": "2023-04-05T14:32:36.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 5,
              "name": "IT-DevOps",
              "slug": "it-devops",
              "description": "",
              "created_at": "2023-04-05T14:32:58.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 7,
              "name": "Macomb County Resources",
              "slug": "macomb-county-resources",
              "description": "",
              "created_at": "2023-04-12T16:48:26.000000Z",
              "updated_at": "2023-04-16T22:23:21.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9
            },
            {
              "id": 8,
              "name": "Wayne County Resources",
              "slug": "wayne-county-resources",
              "description": "",
              "created_at": "2023-04-16T22:22:44.000000Z",
              "updated_at": "2023-04-16T22:22:44.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9
            },
            {
              "id": 9,
              "name": "Oakland County Resources",
              "slug": "oakland-county-resources",
              "description": "",
              "created_at": "2023-04-16T22:23:52.000000Z",
              "updated_at": "2023-04-16T22:23:52.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9
            },
            {
              "id": 10,
              "name": "Team App Web-Based",
              "slug": "team-app-web-based",
              "description": "Team App Web-Based Version How-To Guide",
              "created_at": "2023-04-25T15:04:44.000000Z",
              "updated_at": "2023-04-25T15:04:44.000000Z",
              "created_by": 12,
              "updated_by": 12,
              "owned_by": 12
            },
            {
              "id": 11,
              "name": "New Business Development",
              "slug": "new-business-development",
              "description": "",
              "created_at": "2023-04-26T13:30:14.000000Z",
              "updated_at": "2023-04-26T13:30:14.000000Z",
              "created_by": 14,
              "updated_by": 14,
              "owned_by": 14
            },
            {
              "id": 12,
              "name": "EPIC Reward System",
              "slug": "epic-reward-system",
              "description": "",
              "created_at": "2023-05-01T15:36:46.000000Z",
              "updated_at": "2023-05-24T19:43:13.000000Z",
              "created_by": 12,
              "updated_by": 7,
              "owned_by": 12
            },
            {
              "id": 13,
              "name": "IT-User Self-help",
              "slug": "it-user-self-help",
              "description": "",
              "created_at": "2023-05-11T00:18:26.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 7,
              "owned_by": 1
            },
            {
              "id": 14,
              "name": "MSO Support Desk",
              "slug": "mso-support-desk",
              "description": "",
              "created_at": "2023-05-11T00:18:45.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 15,
              "name": "IT-Onboarding and Offboarding",
              "slug": "it-onboarding-and-offboarding",
              "description": "",
              "created_at": "2023-05-11T14:03:19.000000Z",
              "updated_at": "2023-05-22T19:30:59.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "owned_by": 7
            },
            {
              "id": 16,
              "name": "IT-Hardware Set Up",
              "slug": "it-hardware-set-up",
              "description": "",
              "created_at": "2023-05-11T15:19:57.000000Z",
              "updated_at": "2023-05-22T18:54:41.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "owned_by": 7
            },
            {
              "id": 17,
              "name": "IT-Onsite Replacement\\Installation",
              "slug": "it-onsite-replacementinstallation",
              "description": "",
              "created_at": "2023-05-24T19:43:57.000000Z",
              "updated_at": "2023-05-24T19:47:21.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "owned_by": 7
            },
            {
              "id": 18,
              "name": "IT-Learning Course",
              "slug": "it-learning-course",
              "description": "",
              "created_at": "2023-06-05T19:32:01.000000Z",
              "updated_at": "2023-06-05T19:32:01.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "owned_by": 7
            },
            {
              "id": 19,
              "name": "EPIC Templates",
              "slug": "epic-templates",
              "description": "",
              "created_at": "2023-06-06T20:57:19.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 20,
              "name": "EPIC Management (MMT Level)",
              "slug": "epic-management-mmt-level",
              "description": "",
              "created_at": "2023-06-12T16:38:53.000000Z",
              "updated_at": "2023-06-12T16:38:53.000000Z",
              "created_by": 18,
              "updated_by": 18,
              "owned_by": 18
            },
            {
              "id": 21,
              "name": "Staging Area",
              "slug": "staging-area",
              "description": "The purpose of this book is to house unapproved SPO/material as it moves from creation/updating through the approval process.  The chapters identify departments or main themes for ease of use.",
              "created_at": "2023-06-12T16:50:48.000000Z",
              "updated_at": "2023-06-27T15:48:59.000000Z",
              "created_by": 18,
              "updated_by": 12,
              "owned_by": 18
            },
            {
              "id": 25,
              "name": "HR3",
              "slug": "hr3",
              "description": "Human Resources",
              "created_at": "2023-06-27T15:46:08.000000Z",
              "updated_at": "2023-06-27T15:46:08.000000Z",
              "created_by": 13,
              "updated_by": 13,
              "owned_by": 13
            },
            {
              "id": 26,
              "name": "IT-Digital Binder",
              "slug": "it-digital-binder",
              "description": "",
              "created_at": "2023-09-19T14:06:30.000000Z",
              "updated_at": "2023-09-19T14:06:30.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "owned_by": 7
            },
            {
              "id": 27,
              "name": "Revised BSP Procedures",
              "slug": "revised-bsp-procedures",
              "description": "List of procedures and timing for BSB",
              "created_at": "2023-11-26T22:14:29.000000Z",
              "updated_at": "2023-11-27T01:28:58.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 28,
              "name": "Marketing",
              "slug": "marketing",
              "description": "",
              "created_at": "2023-11-26T22:29:54.000000Z",
              "updated_at": "2023-11-26T22:29:54.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 29,
              "name": "BSP Finance",
              "slug": "bsp-finance",
              "description": "",
              "created_at": "2023-11-27T01:32:38.000000Z",
              "updated_at": "2023-11-27T01:32:39.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 30,
              "name": "BSP HR",
              "slug": "bsp-hr",
              "description": "",
              "created_at": "2023-11-27T01:34:58.000000Z",
              "updated_at": "2023-11-27T01:34:58.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 31,
              "name": "BSP IT",
              "slug": "bsp-it",
              "description": "",
              "created_at": "2023-11-27T01:37:09.000000Z",
              "updated_at": "2023-11-27T01:37:10.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 32,
              "name": "Chronic Health SOC Pathways",
              "slug": "chronic-health-soc-pathways",
              "description": "Standard of Care pathways for various chronic health conditions. Obesity, diabetes, hypertension, vascular disease, arrhythmias, heart failure, strokes, seizures, mood disorders, neuromuscular conditions, cancers and tumors, pulmonary conditions, other metabolic conditions, musculoskeletal conditions, autoimmune conditions, and other chronic conditions.",
              "created_at": "2023-11-27T01:44:16.000000Z",
              "updated_at": "2023-11-27T01:44:17.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 33,
              "name": "Acute Health SOC Pathways",
              "slug": "acute-health-soc-pathways",
              "description": "",
              "created_at": "2023-11-27T01:44:48.000000Z",
              "updated_at": "2023-11-27T01:44:48.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 34,
              "name": "BSP Strategy",
              "slug": "bsp-strategy",
              "description": "",
              "created_at": "2023-11-28T19:59:23.000000Z",
              "updated_at": "2023-11-28T19:59:23.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 35,
              "name": "Movement",
              "slug": "movement",
              "description": "",
              "created_at": "2023-11-29T15:29:55.000000Z",
              "updated_at": "2023-11-29T15:29:55.000000Z",
              "created_by": 15,
              "updated_by": 15,
              "owned_by": 15
            },
            {
              "id": 36,
              "name": "Unity Episodic",
              "slug": "unity-episodic",
              "description": "",
              "created_at": "2023-11-29T17:44:47.000000Z",
              "updated_at": "2023-11-29T18:48:29.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 37,
              "name": "Unity AI Bot",
              "slug": "unity-ai-bot",
              "description": "",
              "created_at": "2023-11-29T17:45:32.000000Z",
              "updated_at": "2023-11-29T18:48:51.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 38,
              "name": "Unity Self-funded Plan",
              "slug": "unity-self-funded-plan",
              "description": "",
              "created_at": "2023-11-29T17:46:03.000000Z",
              "updated_at": "2023-11-29T18:49:11.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 39,
              "name": "Unity DPC Plan",
              "slug": "unity-dpc-plan",
              "description": "",
              "created_at": "2023-11-29T17:46:17.000000Z",
              "updated_at": "2023-11-29T18:49:31.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 40,
              "name": "Unity Finance",
              "slug": "unity-finance",
              "description": "",
              "created_at": "2023-11-29T17:47:42.000000Z",
              "updated_at": "2023-11-29T18:46:03.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 41,
              "name": "Unity HR",
              "slug": "unity-hr",
              "description": "",
              "created_at": "2023-11-29T17:47:57.000000Z",
              "updated_at": "2023-11-29T18:46:24.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 42,
              "name": "Unity Operational Excellence",
              "slug": "unity-operational-excellence",
              "description": "",
              "created_at": "2023-11-29T17:48:39.000000Z",
              "updated_at": "2023-11-29T18:46:47.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 43,
              "name": "Unity IT",
              "slug": "unity-it",
              "description": "",
              "created_at": "2023-11-29T17:48:57.000000Z",
              "updated_at": "2023-11-29T18:47:08.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 44,
              "name": "Unity Strategy",
              "slug": "unity-strategy",
              "description": "",
              "created_at": "2023-11-29T17:49:30.000000Z",
              "updated_at": "2023-11-29T17:54:50.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 45,
              "name": "UNITY Wellness Program",
              "slug": "unity-wellness-program",
              "description": "",
              "created_at": "2023-11-29T22:05:19.000000Z",
              "updated_at": "2023-11-29T22:05:20.000000Z",
              "created_by": 36,
              "updated_by": 36,
              "owned_by": 36
            },
            {
              "id": 47,
              "name": "Marketing Plan",
              "slug": "marketing-plan",
              "description": "",
              "created_at": "2023-11-29T22:24:00.000000Z",
              "updated_at": "2023-11-29T22:24:00.000000Z",
              "created_by": 36,
              "updated_by": 36,
              "owned_by": 36
            },
            {
              "id": 48,
              "name": "UNITY Enterprise+",
              "slug": "unity-enterprise",
              "description": "",
              "created_at": "2023-11-29T22:27:11.000000Z",
              "updated_at": "2023-11-29T22:27:12.000000Z",
              "created_by": 36,
              "updated_by": 36,
              "owned_by": 36
            },
            {
              "id": 49,
              "name": "Transition Marketing",
              "slug": "transition-marketing",
              "description": "",
              "created_at": "2023-12-05T15:36:49.000000Z",
              "updated_at": "2023-12-05T15:36:49.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 50,
              "name": "Brand Assets",
              "slug": "brand-assets",
              "description": "",
              "created_at": "2023-12-05T16:06:45.000000Z",
              "updated_at": "2023-12-05T16:06:46.000000Z",
              "created_by": 36,
              "updated_by": 36,
              "owned_by": 36
            },
            {
              "id": 51,
              "name": "SOP: Labs and Procedures",
              "slug": "sop-labs-and-procedures",
              "description": "Standard Operating Procedures and instructions for completing Labs and Procedures to Blue Sky standards",
              "created_at": "2023-12-29T22:21:54.000000Z",
              "updated_at": "2023-12-29T22:21:54.000000Z",
              "created_by": 15,
              "updated_by": 15,
              "owned_by": 15
            },
            {
              "id": 52,
              "name": "SOP: Labs and Procedures",
              "slug": "sop-labs-and-procedures-Yna",
              "description": "Standard Operating Procedures and instructions for completing Labs and Procedures to Blue Sky standards",
              "created_at": "2023-12-29T22:22:00.000000Z",
              "updated_at": "2023-12-29T22:22:00.000000Z",
              "created_by": 15,
              "updated_by": 15,
              "owned_by": 15
            },
            {
              "id": 53,
              "name": "SOP: Labs and Procedures",
              "slug": "sop-labs-and-procedures-vMx",
              "description": "Standard Operating Procedures and instructions for completing Labs and Procedures to Blue Sky standards",
              "created_at": "2023-12-29T22:22:06.000000Z",
              "updated_at": "2023-12-29T22:22:06.000000Z",
              "created_by": 15,
              "updated_by": 15,
              "owned_by": 15
            },
            {
              "id": 54,
              "name": "SOP",
              "slug": "sop",
              "description": "Test for JG",
              "created_at": "2023-12-29T22:24:45.000000Z",
              "updated_at": "2023-12-29T22:24:45.000000Z",
              "created_by": 5,
              "updated_by": 5,
              "owned_by": 5
            },
            {
              "id": 55,
              "name": "EPIC Training",
              "slug": "epic-training",
              "description": "",
              "created_at": "2024-02-01T18:44:15.000000Z",
              "updated_at": "2024-02-01T18:45:41.000000Z",
              "created_by": 13,
              "updated_by": 13,
              "owned_by": 13
            },
            {
              "id": 56,
              "name": "Orientation",
              "slug": "orientation",
              "description": "Orientation includes Week 1, Day 1 of the APPs training",
              "created_at": "2024-02-01T18:46:09.000000Z",
              "updated_at": "2024-02-01T18:46:09.000000Z",
              "created_by": 13,
              "updated_by": 13,
              "owned_by": 13
            },
            {
              "id": 57,
              "name": "IT-Office Set Up",
              "slug": "it-office-set-up",
              "description": "",
              "created_at": "2024-03-13T13:58:21.000000Z",
              "updated_at": "2024-03-13T13:58:21.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "owned_by": 7
            },
            {
              "id": 58,
              "name": "IT-Knowledge Base",
              "slug": "it-knowledge-base",
              "description": "",
              "created_at": "2024-03-15T17:07:49.000000Z",
              "updated_at": "2024-03-15T17:07:49.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "owned_by": 7
            },
            {
              "id": 59,
              "name": "Pfsense Firewall",
              "slug": "pfsense-firewall",
              "description": "",
              "created_at": "2024-04-01T14:00:43.000000Z",
              "updated_at": "2024-04-01T14:00:43.000000Z",
              "created_by": 45,
              "updated_by": 45,
              "owned_by": 45
            },
            {
              "id": 60,
              "name": "Hyper-V",
              "slug": "hyper-v",
              "description": "all things Hyper-V",
              "created_at": "2024-04-29T12:35:31.000000Z",
              "updated_at": "2024-04-29T12:35:31.000000Z",
              "created_by": 45,
              "updated_by": 45,
              "owned_by": 45
            },
            {
              "id": 61,
              "name": "Equipment at Clinics",
              "slug": "equipment-at-clinics",
              "description": "",
              "created_at": "2024-06-26T15:56:34.000000Z",
              "updated_at": "2024-06-26T15:56:34.000000Z",
              "created_by": 8,
              "updated_by": 8,
              "owned_by": 8
            },
            {
              "id": 62,
              "name": "IT-Innovation",
              "slug": "it-innovation",
              "description": "",
              "created_at": "2024-07-15T16:42:08.000000Z",
              "updated_at": "2024-07-15T16:42:08.000000Z",
              "created_by": 48,
              "updated_by": 48,
              "owned_by": 48
            },
            {
              "id": 63,
              "name": "IT-RPA",
              "slug": "it-rpa",
              "description": "",
              "created_at": "2024-07-15T16:42:25.000000Z",
              "updated_at": "2024-07-15T16:42:25.000000Z",
              "created_by": 48,
              "updated_by": 48,
              "owned_by": 48
            },
            {
              "id": 64,
              "name": "Automation",
              "slug": "automation",
              "description": "",
              "created_at": "2024-08-01T15:00:19.000000Z",
              "updated_at": "2024-08-01T15:00:19.000000Z",
              "created_by": 48,
              "updated_by": 48,
              "owned_by": 48
            },
            {
              "id": 65,
              "name": "IT-Inventory Management",
              "slug": "it-inventory-management",
              "description": "",
              "created_at": "2024-08-07T12:58:36.000000Z",
              "updated_at": "2024-08-07T12:58:58.000000Z",
              "created_by": 39,
              "updated_by": 39,
              "owned_by": 39
            },
            {
              "id": 66,
              "name": "Bitrix - login",
              "slug": "bitrix-login",
              "description": "",
              "created_at": "2024-08-12T16:41:51.000000Z",
              "updated_at": "2024-08-12T16:41:51.000000Z",
              "created_by": 39,
              "updated_by": 39,
              "owned_by": 39
            },
            {
              "id": 67,
              "name": "Public",
              "slug": "public",
              "description": "",
              "created_at": "2024-08-27T18:51:31.000000Z",
              "updated_at": "2024-08-27T18:51:31.000000Z",
              "created_by": 48,
              "updated_by": 48,
              "owned_by": 48
            },
            {
              "id": 68,
              "name": "IT - Software Set up",
              "slug": "it-software-set-up",
              "description": "",
              "created_at": "2024-08-29T15:51:23.000000Z",
              "updated_at": "2024-08-29T15:51:23.000000Z",
              "created_by": 8,
              "updated_by": 8,
              "owned_by": 8
            }
          ],
          "total": 63
        }
      }
    ],
    "Code": [
      {
        "json": {
          "id": 1,
          "name": "Operations",
          "description": ""
        }
      },
      {
        "json": {
          "id": 2,
          "name": "Desktop Procedures",
          "description": "Standard operating procedures for accounts payable, payroll, time and attendance, monthly close process, purchase orders"
        }
      },
      {
        "json": {
          "id": 3,
          "name": "IT-Helpdesk",
          "description": ""
        }
      },
      {
        "json": {
          "id": 4,
          "name": "IT-System Administration",
          "description": ""
        }
      },
      {
        "json": {
          "id": 5,
          "name": "IT-DevOps",
          "description": ""
        }
      },
      {
        "json": {
          "id": 7,
          "name": "Macomb County Resources",
          "description": ""
        }
      },
      {
        "json": {
          "id": 8,
          "name": "Wayne County Resources",
          "description": ""
        }
      },
      {
        "json": {
          "id": 9,
          "name": "Oakland County Resources",
          "description": ""
        }
      },
      {
        "json": {
          "id": 10,
          "name": "Team App Web-Based",
          "description": "Team App Web-Based Version How-To Guide"
        }
      },
      {
        "json": {
          "id": 11,
          "name": "New Business Development",
          "description": ""
        }
      },
      {
        "json": {
          "id": 12,
          "name": "EPIC Reward System",
          "description": ""
        }
      },
      {
        "json": {
          "id": 13,
          "name": "IT-User Self-help",
          "description": ""
        }
      },
      {
        "json": {
          "id": 14,
          "name": "MSO Support Desk",
          "description": ""
        }
      },
      {
        "json": {
          "id": 15,
          "name": "IT-Onboarding and Offboarding",
          "description": ""
        }
      },
      {
        "json": {
          "id": 16,
          "name": "IT-Hardware Set Up",
          "description": ""
        }
      },
      {
        "json": {
          "id": 17,
          "name": "IT-Onsite Replacement\\Installation",
          "description": ""
        }
      },
      {
        "json": {
          "id": 18,
          "name": "IT-Learning Course",
          "description": ""
        }
      },
      {
        "json": {
          "id": 19,
          "name": "EPIC Templates",
          "description": ""
        }
      },
      {
        "json": {
          "id": 20,
          "name": "EPIC Management (MMT Level)",
          "description": ""
        }
      },
      {
        "json": {
          "id": 21,
          "name": "Staging Area",
          "description": "The purpose of this book is to house unapproved SPO/material as it moves from creation/updating through the approval process.  The chapters identify departments or main themes for ease of use."
        }
      },
      {
        "json": {
          "id": 25,
          "name": "HR3",
          "description": "Human Resources"
        }
      },
      {
        "json": {
          "id": 26,
          "name": "IT-Digital Binder",
          "description": ""
        }
      },
      {
        "json": {
          "id": 27,
          "name": "Revised BSP Procedures",
          "description": "List of procedures and timing for BSB"
        }
      },
      {
        "json": {
          "id": 28,
          "name": "Marketing",
          "description": ""
        }
      },
      {
        "json": {
          "id": 29,
          "name": "BSP Finance",
          "description": ""
        }
      },
      {
        "json": {
          "id": 30,
          "name": "BSP HR",
          "description": ""
        }
      },
      {
        "json": {
          "id": 31,
          "name": "BSP IT",
          "description": ""
        }
      },
      {
        "json": {
          "id": 32,
          "name": "Chronic Health SOC Pathways",
          "description": "Standard of Care pathways for various chronic health conditions. Obesity, diabetes, hypertension, vascular disease, arrhythmias, heart failure, strokes, seizures, mood disorders, neuromuscular conditions, cancers and tumors, pulmonary conditions, other metabolic conditions, musculoskeletal conditions, autoimmune conditions, and other chronic conditions."
        }
      },
      {
        "json": {
          "id": 33,
          "name": "Acute Health SOC Pathways",
          "description": ""
        }
      },
      {
        "json": {
          "id": 34,
          "name": "BSP Strategy",
          "description": ""
        }
      },
      {
        "json": {
          "id": 35,
          "name": "Movement",
          "description": ""
        }
      },
      {
        "json": {
          "id": 36,
          "name": "Unity Episodic",
          "description": ""
        }
      },
      {
        "json": {
          "id": 37,
          "name": "Unity AI Bot",
          "description": ""
        }
      },
      {
        "json": {
          "id": 38,
          "name": "Unity Self-funded Plan",
          "description": ""
        }
      },
      {
        "json": {
          "id": 39,
          "name": "Unity DPC Plan",
          "description": ""
        }
      },
      {
        "json": {
          "id": 40,
          "name": "Unity Finance",
          "description": ""
        }
      },
      {
        "json": {
          "id": 41,
          "name": "Unity HR",
          "description": ""
        }
      },
      {
        "json": {
          "id": 42,
          "name": "Unity Operational Excellence",
          "description": ""
        }
      },
      {
        "json": {
          "id": 43,
          "name": "Unity IT",
          "description": ""
        }
      },
      {
        "json": {
          "id": 44,
          "name": "Unity Strategy",
          "description": ""
        }
      },
      {
        "json": {
          "id": 45,
          "name": "UNITY Wellness Program",
          "description": ""
        }
      },
      {
        "json": {
          "id": 47,
          "name": "Marketing Plan",
          "description": ""
        }
      },
      {
        "json": {
          "id": 48,
          "name": "UNITY Enterprise+",
          "description": ""
        }
      },
      {
        "json": {
          "id": 49,
          "name": "Transition Marketing",
          "description": ""
        }
      },
      {
        "json": {
          "id": 50,
          "name": "Brand Assets",
          "description": ""
        }
      },
      {
        "json": {
          "id": 51,
          "name": "SOP: Labs and Procedures",
          "description": "Standard Operating Procedures and instructions for completing Labs and Procedures to Blue Sky standards"
        }
      },
      {
        "json": {
          "id": 52,
          "name": "SOP: Labs and Procedures",
          "description": "Standard Operating Procedures and instructions for completing Labs and Procedures to Blue Sky standards"
        }
      },
      {
        "json": {
          "id": 53,
          "name": "SOP: Labs and Procedures",
          "description": "Standard Operating Procedures and instructions for completing Labs and Procedures to Blue Sky standards"
        }
      },
      {
        "json": {
          "id": 54,
          "name": "SOP",
          "description": "Test for JG"
        }
      },
      {
        "json": {
          "id": 55,
          "name": "EPIC Training",
          "description": ""
        }
      },
      {
        "json": {
          "id": 56,
          "name": "Orientation",
          "description": "Orientation includes Week 1, Day 1 of the APPs training"
        }
      },
      {
        "json": {
          "id": 57,
          "name": "IT-Office Set Up",
          "description": ""
        }
      },
      {
        "json": {
          "id": 58,
          "name": "IT-Knowledge Base",
          "description": ""
        }
      },
      {
        "json": {
          "id": 59,
          "name": "Pfsense Firewall",
          "description": ""
        }
      },
      {
        "json": {
          "id": 60,
          "name": "Hyper-V",
          "description": "all things Hyper-V"
        }
      },
      {
        "json": {
          "id": 61,
          "name": "Equipment at Clinics",
          "description": ""
        }
      },
      {
        "json": {
          "id": 62,
          "name": "IT-Innovation",
          "description": ""
        }
      },
      {
        "json": {
          "id": 63,
          "name": "IT-RPA",
          "description": ""
        }
      },
      {
        "json": {
          "id": 64,
          "name": "Automation",
          "description": ""
        }
      },
      {
        "json": {
          "id": 65,
          "name": "IT-Inventory Management",
          "description": ""
        }
      },
      {
        "json": {
          "id": 66,
          "name": "Bitrix - login",
          "description": ""
        }
      },
      {
        "json": {
          "id": 67,
          "name": "Public",
          "description": ""
        }
      },
      {
        "json": {
          "id": 68,
          "name": "IT - Software Set up",
          "description": ""
        }
      }
    ],
    "HTTP Request7": [
      {
        "json": {
          "data": [
            {
              "id": 1,
              "book_id": 4,
              "slug": "isp-and-firewalls",
              "name": "ISP and Firewalls",
              "description": "",
              "priority": 0,
              "created_at": "2023-03-29T19:28:37.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-system-administration"
            },
            {
              "id": 2,
              "book_id": 4,
              "slug": "eod-and-scan-folders",
              "name": "EOD and Scan Folders",
              "description": "",
              "priority": 2,
              "created_at": "2023-03-30T13:32:30.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-system-administration"
            },
            {
              "id": 3,
              "book_id": 5,
              "slug": "managing-development-with-clickup",
              "name": "Managing Development with ClickUp",
              "description": "",
              "priority": 4,
              "created_at": "2023-04-05T14:20:32.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-devops"
            },
            {
              "id": 5,
              "book_id": 4,
              "slug": "monitoring-and-gembas",
              "name": "Monitoring and Gemba's",
              "description": "",
              "priority": 1,
              "created_at": "2023-04-05T14:38:42.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-system-administration"
            },
            {
              "id": 6,
              "book_id": 3,
              "slug": "backup-laptop-clinic",
              "name": "Backup Laptop - Clinic",
              "description": "",
              "priority": 6,
              "created_at": "2023-04-05T14:48:08.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-helpdesk"
            },
            {
              "id": 9,
              "book_id": 5,
              "slug": "devops-meeting-structure-and-agendas",
              "name": "DevOps - Meeting Structure and Agendas",
              "description": "",
              "priority": 5,
              "created_at": "2023-04-11T12:07:36.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-devops"
            },
            {
              "id": 10,
              "book_id": 3,
              "slug": "vendors",
              "name": "Vendors",
              "description": "",
              "priority": 7,
              "created_at": "2023-04-11T18:26:05.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-helpdesk"
            },
            {
              "id": 11,
              "book_id": 3,
              "slug": "provention",
              "name": "Provention",
              "description": "What can we do to prevent this type of downtime in the future?",
              "priority": 5,
              "created_at": "2023-04-12T13:58:27.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-helpdesk"
            },
            {
              "id": 13,
              "book_id": 3,
              "slug": "new-location-rollout",
              "name": "New Location Rollout",
              "description": "",
              "priority": 8,
              "created_at": "2023-04-12T17:05:36.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-helpdesk"
            },
            {
              "id": 14,
              "book_id": 3,
              "slug": "end-user-self-service",
              "name": "End User Self Service",
              "description": "",
              "priority": 3,
              "created_at": "2023-04-12T20:15:14.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-helpdesk"
            },
            {
              "id": 15,
              "book_id": 4,
              "slug": "terminology-key",
              "name": "Terminology Key",
              "description": "",
              "priority": 3,
              "created_at": "2023-04-12T20:58:14.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-system-administration"
            },
            {
              "id": 16,
              "book_id": 4,
              "slug": "environment-and-domain-knowledge",
              "name": "Environment and Domain Knowledge",
              "description": "In the process of growing from a tribe to a village, it becomes increasingly important to develop a system that captures the knowledge possessed by individuals and makes it accessible to those who need it. This process ensures the efficient sharing of information and fosters collaboration within the community.",
              "priority": 4,
              "created_at": "2023-04-13T13:56:57.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-system-administration"
            },
            {
              "id": 17,
              "book_id": 5,
              "slug": "devops-overview-and-value-stream-map",
              "name": "DevOps - Overview and Value Stream Map",
              "description": "",
              "priority": 6,
              "created_at": "2023-04-14T13:27:02.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1,
              "book_slug": "it-devops"
            },
            {
              "id": 18,
              "book_id": 9,
              "slug": "michigan-reentry-programs",
              "name": "Michigan Reentry Programs",
              "description": "",
              "priority": 21,
              "created_at": "2023-04-16T22:43:26.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 19,
              "book_id": 9,
              "slug": "pet-assistance",
              "name": "Pet Assistance",
              "description": "",
              "priority": 24,
              "created_at": "2023-04-16T22:44:58.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 20,
              "book_id": 9,
              "slug": "home-repair-assistance",
              "name": "Home Repair Assistance",
              "description": "",
              "priority": 10,
              "created_at": "2023-04-16T22:45:32.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 21,
              "book_id": 9,
              "slug": "shelters-and-emergency-housing",
              "name": "Shelters and Emergency Housing",
              "description": "",
              "priority": 27,
              "created_at": "2023-04-16T22:46:09.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 25,
              "book_id": 9,
              "slug": "medical-records-directory",
              "name": "Medical Records Directory",
              "description": "",
              "priority": 19,
              "created_at": "2023-04-16T22:50:04.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 26,
              "book_id": 9,
              "slug": "community-centers-action-agencies",
              "name": "Community Centers & Action Agencies",
              "description": "",
              "priority": 1,
              "created_at": "2023-04-16T22:52:36.000000Z",
              "updated_at": "2023-04-25T01:27:37.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 27,
              "book_id": 9,
              "slug": "legal-aid-services",
              "name": "Legal Aid Services",
              "description": "",
              "priority": 17,
              "created_at": "2023-04-16T22:54:48.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 28,
              "book_id": 9,
              "slug": "diabetes-resources-education-classes",
              "name": "Diabetes Resources & Education Classes",
              "description": "",
              "priority": 3,
              "created_at": "2023-04-16T22:55:15.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 29,
              "book_id": 9,
              "slug": "specialists",
              "name": "Specialists",
              "description": "",
              "priority": 28,
              "created_at": "2023-04-16T22:56:02.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 30,
              "book_id": 9,
              "slug": "resources-for-disabilities",
              "name": "Resources for Disabilities",
              "description": "",
              "priority": 26,
              "created_at": "2023-04-16T22:57:12.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 31,
              "book_id": 9,
              "slug": "energy-utility-assistance-programs",
              "name": "Energy / Utility Assistance Programs",
              "description": "",
              "priority": 6,
              "created_at": "2023-04-16T22:58:24.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 33,
              "book_id": 9,
              "slug": "maternal-infant-health-resources",
              "name": "Maternal & Infant Health Resources",
              "description": "Postpartum Care, Newborn/Infant/Child Care, Maternal & Child Assistance/Education",
              "priority": 18,
              "created_at": "2023-04-16T22:59:20.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 34,
              "book_id": 9,
              "slug": "pediatric-programs-services-resources",
              "name": "Pediatric Programs, Services, & Resources",
              "description": "",
              "priority": 23,
              "created_at": "2023-04-16T22:59:41.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 36,
              "book_id": 9,
              "slug": "transportation-resources",
              "name": "Transportation Resources",
              "description": "",
              "priority": 31,
              "created_at": "2023-04-16T23:02:26.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 37,
              "book_id": 9,
              "slug": "community-resources",
              "name": "Community Resources",
              "description": "",
              "priority": 2,
              "created_at": "2023-04-16T23:04:30.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 38,
              "book_id": 9,
              "slug": "housing-resources",
              "name": "Housing Resources",
              "description": "",
              "priority": 12,
              "created_at": "2023-04-16T23:04:47.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 39,
              "book_id": 9,
              "slug": "financial-employment-resources",
              "name": "Financial & Employment Resources",
              "description": "",
              "priority": 7,
              "created_at": "2023-04-16T23:05:24.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 41,
              "book_id": 9,
              "slug": "dme-companies-incontinence-supplies",
              "name": "DME Companies & Incontinence Supplies",
              "description": "",
              "priority": 4,
              "created_at": "2023-04-16T23:06:35.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 42,
              "book_id": 9,
              "slug": "emergency-and-crisis-helplines",
              "name": "Emergency and Crisis Helplines",
              "description": "",
              "priority": 5,
              "created_at": "2023-04-16T23:07:06.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 43,
              "book_id": 9,
              "slug": "mental-health-resources",
              "name": "Mental Health Resources",
              "description": "",
              "priority": 20,
              "created_at": "2023-04-16T23:07:29.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 44,
              "book_id": 9,
              "slug": "substance-abuse-smoking-cessation-resources",
              "name": "Substance Abuse & Smoking Cessation Resources",
              "description": "",
              "priority": 29,
              "created_at": "2023-04-16T23:08:03.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 45,
              "book_id": 9,
              "slug": "imaging-services",
              "name": "Imaging Services",
              "description": "",
              "priority": 13,
              "created_at": "2023-04-16T23:08:32.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 47,
              "book_id": 9,
              "slug": "home-health-care-and-private-duty-agencies",
              "name": "Home Health Care and Private Duty Agencies",
              "description": "",
              "priority": 9,
              "created_at": "2023-04-16T23:09:56.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 48,
              "book_id": 9,
              "slug": "visiting-physician-agencies",
              "name": "Visiting Physician Agencies",
              "description": "",
              "priority": 33,
              "created_at": "2023-04-16T23:10:18.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 49,
              "book_id": 9,
              "slug": "surgeons-surgery-centers",
              "name": "Surgeons & Surgery Centers",
              "description": "",
              "priority": 30,
              "created_at": "2023-04-16T23:11:11.000000Z",
              "updated_at": "2023-04-25T20:48:46.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 50,
              "book_id": 9,
              "slug": "hospitals",
              "name": "Hospitals",
              "description": "",
              "priority": 11,
              "created_at": "2023-04-16T23:11:35.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 51,
              "book_id": 9,
              "slug": "infusion-clinics",
              "name": "Infusion Clinics",
              "description": "",
              "priority": 15,
              "created_at": "2023-04-16T23:11:55.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 52,
              "book_id": 9,
              "slug": "pain-management-clinics",
              "name": "Pain Management Clinics",
              "description": "",
              "priority": 22,
              "created_at": "2023-04-16T23:12:17.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 53,
              "book_id": 9,
              "slug": "prescription-assistance",
              "name": "Prescription Assistance",
              "description": "",
              "priority": 25,
              "created_at": "2023-04-16T23:16:04.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 54,
              "book_id": 9,
              "slug": "activities-and-adult-day-care-resources",
              "name": "Activities and Adult Day Care Resources",
              "description": "",
              "priority": 0,
              "created_at": "2023-04-16T23:16:59.000000Z",
              "updated_at": "2023-04-21T01:42:14.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 55,
              "book_id": 9,
              "slug": "infectious-disease-resources",
              "name": "Infectious Disease Resources",
              "description": "Covid-19, STDs, Bacterial Infections, etc",
              "priority": 14,
              "created_at": "2023-04-16T23:17:20.000000Z",
              "updated_at": "2023-04-25T19:09:49.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 56,
              "book_id": 8,
              "slug": "activities-and-adult-day-care-resources",
              "name": "Activities and Adult Day Care Resources",
              "description": "",
              "priority": 0,
              "created_at": "2023-04-16T23:24:14.000000Z",
              "updated_at": "2023-04-21T02:43:48.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 57,
              "book_id": 8,
              "slug": "resources-for-disabilities",
              "name": "Resources for Disabilities",
              "description": "",
              "priority": 26,
              "created_at": "2023-04-16T23:24:44.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 58,
              "book_id": 8,
              "slug": "community-centers-action-agencies",
              "name": "Community Centers & Action Agencies",
              "description": "",
              "priority": 1,
              "created_at": "2023-04-16T23:26:01.000000Z",
              "updated_at": "2023-04-25T23:07:33.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 59,
              "book_id": 8,
              "slug": "community-resources",
              "name": "Community Resources",
              "description": "",
              "priority": 2,
              "created_at": "2023-04-16T23:26:20.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 60,
              "book_id": 8,
              "slug": "infectious-disease-resources",
              "name": "Infectious Disease Resources",
              "description": "Covid-19, STDs, Bacterial Infections, etc.",
              "priority": 14,
              "created_at": "2023-04-16T23:26:36.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 62,
              "book_id": 8,
              "slug": "diabetes-education-resources",
              "name": "Diabetes Education & Resources",
              "description": "",
              "priority": 3,
              "created_at": "2023-04-16T23:28:06.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 64,
              "book_id": 8,
              "slug": "dme-companies-incontinence-supplies",
              "name": "DME Companies & Incontinence Supplies",
              "description": "",
              "priority": 4,
              "created_at": "2023-04-16T23:28:48.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 65,
              "book_id": 8,
              "slug": "emergency-and-crisis-helplines",
              "name": "Emergency and Crisis Helplines",
              "description": "",
              "priority": 5,
              "created_at": "2023-04-16T23:29:24.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 66,
              "book_id": 8,
              "slug": "energy-utility-assistance-programs",
              "name": "Energy / Utility Assistance Programs",
              "description": "",
              "priority": 6,
              "created_at": "2023-04-16T23:30:00.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 68,
              "book_id": 8,
              "slug": "financial-employment-resources",
              "name": "Financial & Employment Resources",
              "description": "",
              "priority": 7,
              "created_at": "2023-04-16T23:30:44.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 70,
              "book_id": 8,
              "slug": "home-repair-assistance",
              "name": "Home Repair Assistance",
              "description": "",
              "priority": 10,
              "created_at": "2023-04-16T23:31:42.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 71,
              "book_id": 8,
              "slug": "home-health-care-and-private-duty-agencies",
              "name": "Home Health Care and Private Duty Agencies",
              "description": "",
              "priority": 9,
              "created_at": "2023-04-16T23:33:12.000000Z",
              "updated_at": "2023-04-25T22:28:34.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 72,
              "book_id": 8,
              "slug": "hospitals",
              "name": "Hospitals",
              "description": "",
              "priority": 11,
              "created_at": "2023-04-16T23:33:29.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 73,
              "book_id": 8,
              "slug": "housing-resources",
              "name": "Housing Resources",
              "description": "",
              "priority": 12,
              "created_at": "2023-04-16T23:33:50.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 74,
              "book_id": 8,
              "slug": "imaging-services",
              "name": "Imaging Services",
              "description": "",
              "priority": 13,
              "created_at": "2023-04-16T23:34:20.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 75,
              "book_id": 8,
              "slug": "infusion-clinics",
              "name": "Infusion Clinics",
              "description": "",
              "priority": 15,
              "created_at": "2023-04-16T23:34:34.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 76,
              "book_id": 8,
              "slug": "legal-aid-services",
              "name": "Legal Aid Services",
              "description": "",
              "priority": 17,
              "created_at": "2023-04-16T23:34:52.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 77,
              "book_id": 8,
              "slug": "maternal-and-infant-health-services",
              "name": "Maternal and Infant Health Services",
              "description": "Postpartum Care, Newborn/Infant/Child Care, Maternal & Child Assistance/Education",
              "priority": 18,
              "created_at": "2023-04-16T23:35:21.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 78,
              "book_id": 8,
              "slug": "michigan-reentry-programs",
              "name": "Michigan Reentry Programs",
              "description": "",
              "priority": 21,
              "created_at": "2023-04-16T23:35:38.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 79,
              "book_id": 8,
              "slug": "pain-management-clinics",
              "name": "Pain Management Clinics",
              "description": "",
              "priority": 22,
              "created_at": "2023-04-16T23:36:02.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 80,
              "book_id": 8,
              "slug": "pet-assistance",
              "name": "Pet Assistance",
              "description": "",
              "priority": 24,
              "created_at": "2023-04-16T23:36:17.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 81,
              "book_id": 8,
              "slug": "prescription-assistance",
              "name": "Prescription Assistance",
              "description": "",
              "priority": 25,
              "created_at": "2023-04-16T23:36:42.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 82,
              "book_id": 8,
              "slug": "shelters-and-emergency-housing",
              "name": "Shelters and Emergency Housing",
              "description": "",
              "priority": 27,
              "created_at": "2023-04-16T23:37:01.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 84,
              "book_id": 8,
              "slug": "specialists",
              "name": "Specialists",
              "description": "",
              "priority": 28,
              "created_at": "2023-04-16T23:37:39.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 85,
              "book_id": 8,
              "slug": "substance-abuse-smoking-cessation-resources",
              "name": "Substance Abuse & Smoking Cessation Resources",
              "description": "",
              "priority": 29,
              "created_at": "2023-04-16T23:37:57.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 86,
              "book_id": 8,
              "slug": "surgeons-surgery-centers",
              "name": "Surgeons & Surgery Centers",
              "description": "",
              "priority": 30,
              "created_at": "2023-04-16T23:38:18.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 87,
              "book_id": 8,
              "slug": "transportation-resources",
              "name": "Transportation Resources",
              "description": "",
              "priority": 31,
              "created_at": "2023-04-16T23:38:41.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 88,
              "book_id": 8,
              "slug": "visiting-physicians-agencies",
              "name": "Visiting Physicians Agencies",
              "description": "",
              "priority": 33,
              "created_at": "2023-04-16T23:39:25.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 89,
              "book_id": 8,
              "slug": "pediatric-programs-services-resources",
              "name": "Pediatric Programs, Services, & Resources",
              "description": "",
              "priority": 23,
              "created_at": "2023-04-16T23:39:40.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 92,
              "book_id": 7,
              "slug": "activities-and-adult-day-care-resources",
              "name": "Activities and Adult Day Care Resources",
              "description": "",
              "priority": 0,
              "created_at": "2023-04-16T23:43:15.000000Z",
              "updated_at": "2023-04-21T21:56:07.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 93,
              "book_id": 7,
              "slug": "resources-for-disabilities",
              "name": "Resources for Disabilities",
              "description": "",
              "priority": 26,
              "created_at": "2023-04-16T23:43:53.000000Z",
              "updated_at": "2023-04-23T02:28:45.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 95,
              "book_id": 7,
              "slug": "community-resources",
              "name": "Community Resources",
              "description": "",
              "priority": 2,
              "created_at": "2023-04-16T23:44:53.000000Z",
              "updated_at": "2023-04-21T22:40:53.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 96,
              "book_id": 7,
              "slug": "infectious-disease-resources",
              "name": "Infectious Disease Resources",
              "description": "Covid-19, STDs, Bacterial Infections, etc",
              "priority": 14,
              "created_at": "2023-04-16T23:45:25.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 98,
              "book_id": 7,
              "slug": "diabetes-education-resources",
              "name": "Diabetes Education & Resources",
              "description": "",
              "priority": 3,
              "created_at": "2023-04-16T23:46:21.000000Z",
              "updated_at": "2023-04-25T17:24:41.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 100,
              "book_id": 7,
              "slug": "dme-companies-incontinence-supplies",
              "name": "DME Companies & Incontinence Supplies",
              "description": "",
              "priority": 4,
              "created_at": "2023-04-16T23:47:09.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 101,
              "book_id": 7,
              "slug": "emergency-and-crisis-helplines",
              "name": "Emergency and Crisis Helplines",
              "description": "",
              "priority": 5,
              "created_at": "2023-04-16T23:47:41.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 102,
              "book_id": 7,
              "slug": "energy-utility-assistance-programs",
              "name": "Energy / Utility Assistance Programs",
              "description": "",
              "priority": 6,
              "created_at": "2023-04-16T23:48:25.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 104,
              "book_id": 7,
              "slug": "financial-employment-resources",
              "name": "Financial & Employment Resources",
              "description": "",
              "priority": 7,
              "created_at": "2023-04-16T23:49:08.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 105,
              "book_id": 7,
              "slug": "womens-health-obgyn-screenings-family-planning",
              "name": "Women's Health- OB/GYN, Screenings, Family Planning",
              "description": "Reproductive Health- Breast, gynecologic, obstetrics \r\nFamily Planning- clinic, contraception options\r\nScreenings- Paps, mammogram, osteoporosis, etc\r\nPregnancy Resources & Education",
              "priority": 34,
              "created_at": "2023-04-16T23:49:38.000000Z",
              "updated_at": "2023-04-23T02:28:45.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 106,
              "book_id": 7,
              "slug": "home-repair-assistance",
              "name": "Home Repair Assistance",
              "description": "",
              "priority": 10,
              "created_at": "2023-04-16T23:49:55.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 107,
              "book_id": 7,
              "slug": "home-health-care-and-private-duty-agencies",
              "name": "Home Health Care and Private Duty Agencies",
              "description": "",
              "priority": 9,
              "created_at": "2023-04-16T23:50:25.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 108,
              "book_id": 7,
              "slug": "hospitals",
              "name": "Hospitals",
              "description": "",
              "priority": 11,
              "created_at": "2023-04-16T23:50:37.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 109,
              "book_id": 7,
              "slug": "housing-resources",
              "name": "Housing Resources",
              "description": "",
              "priority": 12,
              "created_at": "2023-04-16T23:50:52.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 110,
              "book_id": 7,
              "slug": "imaging-services",
              "name": "Imaging Services",
              "description": "",
              "priority": 13,
              "created_at": "2023-04-16T23:51:07.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 112,
              "book_id": 7,
              "slug": "infusion-clinics",
              "name": "Infusion Clinics",
              "description": "",
              "priority": 15,
              "created_at": "2023-04-16T23:51:53.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 113,
              "book_id": 7,
              "slug": "legal-aid-services",
              "name": "Legal Aid Services",
              "description": "",
              "priority": 17,
              "created_at": "2023-04-16T23:52:11.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 114,
              "book_id": 7,
              "slug": "maternal-infant-health-services",
              "name": "Maternal & Infant Health Services",
              "description": "Maternal & Child Assistance/Education, Postpartum Care, Newborn/Infant/Child Care",
              "priority": 18,
              "created_at": "2023-04-16T23:52:31.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 115,
              "book_id": 7,
              "slug": "medical-records-directory",
              "name": "Medical Records Directory",
              "description": "",
              "priority": 19,
              "created_at": "2023-04-16T23:52:51.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 116,
              "book_id": 7,
              "slug": "mental-health-resources",
              "name": "Mental Health Resources",
              "description": "",
              "priority": 20,
              "created_at": "2023-04-16T23:53:09.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 117,
              "book_id": 7,
              "slug": "michigan-reentry-program",
              "name": "Michigan Reentry Program",
              "description": "",
              "priority": 21,
              "created_at": "2023-04-16T23:53:29.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 118,
              "book_id": 7,
              "slug": "pain-management-clinics",
              "name": "Pain Management Clinics",
              "description": "",
              "priority": 22,
              "created_at": "2023-04-16T23:53:46.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 119,
              "book_id": 7,
              "slug": "pet-assistance",
              "name": "Pet Assistance",
              "description": "",
              "priority": 24,
              "created_at": "2023-04-16T23:54:05.000000Z",
              "updated_at": "2023-04-23T02:28:45.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 120,
              "book_id": 7,
              "slug": "prescription-assistance",
              "name": "Prescription Assistance",
              "description": "",
              "priority": 25,
              "created_at": "2023-04-16T23:54:28.000000Z",
              "updated_at": "2023-04-23T02:28:45.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 121,
              "book_id": 7,
              "slug": "shelters-and-emergency-housing",
              "name": "Shelters and Emergency Housing",
              "description": "",
              "priority": 27,
              "created_at": "2023-04-16T23:54:53.000000Z",
              "updated_at": "2023-04-23T02:28:45.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 123,
              "book_id": 7,
              "slug": "specialists",
              "name": "Specialists",
              "description": "",
              "priority": 28,
              "created_at": "2023-04-16T23:55:22.000000Z",
              "updated_at": "2023-04-23T02:28:45.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 124,
              "book_id": 7,
              "slug": "substance-abuse-smoking-cessation-resources",
              "name": "Substance Abuse & Smoking Cessation Resources",
              "description": "",
              "priority": 29,
              "created_at": "2023-04-16T23:55:45.000000Z",
              "updated_at": "2023-04-23T02:28:45.000000Z",
              "created_by": 9,
              "updated_by": 11,
              "owned_by": 9,
              "book_slug": "macomb-county-resources"
            }
          ],
          "total": 205
        }
      }
    ],
    "HTTP Request6": [
      {
        "json": {
          "data": [
            {
              "id": 2,
              "book_id": 3,
              "chapter_id": 136,
              "name": "Code of Conduct",
              "slug": "code-of-conduct",
              "priority": 0,
              "created_at": "2023-03-29T19:28:41.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 4,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 3,
              "book_id": 4,
              "chapter_id": 2,
              "name": "Adding EOD location to EHR - Specifically for Folder access",
              "slug": "adding-eod-location-to-ehr-specifically-for-folder-access",
              "priority": 0,
              "created_at": "2023-03-30T13:32:34.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 4,
              "book_id": 4,
              "chapter_id": 1,
              "name": "Main ISP",
              "slug": "main-isp",
              "priority": 0,
              "created_at": "2023-04-05T14:24:15.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 5,
              "book_id": 4,
              "chapter_id": 1,
              "name": "Backup ISP",
              "slug": "backup-isp",
              "priority": 1,
              "created_at": "2023-04-05T14:35:23.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 6,
              "book_id": 4,
              "chapter_id": 1,
              "name": "Firewall Setup/Configuration",
              "slug": "firewall-setupconfiguration",
              "priority": 2,
              "created_at": "2023-04-05T14:35:38.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 7,
              "book_id": 4,
              "chapter_id": 1,
              "name": "BOVPN - Gateways and Tunnels",
              "slug": "bovpn-gateways-and-tunnels",
              "priority": 3,
              "created_at": "2023-04-05T14:36:21.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 8,
              "book_id": 4,
              "chapter_id": 5,
              "name": "ISP Monitoring",
              "slug": "isp-monitoring",
              "priority": 0,
              "created_at": "2023-04-05T14:38:45.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 9,
              "book_id": 4,
              "chapter_id": 5,
              "name": "Equipment Monitoring",
              "slug": "equipment-monitoring",
              "priority": 1,
              "created_at": "2023-04-05T14:39:04.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 10,
              "book_id": 4,
              "chapter_id": 5,
              "name": "Virtual Gemba",
              "slug": "virtual-gemba",
              "priority": 2,
              "created_at": "2023-04-05T14:39:20.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 11,
              "book_id": 4,
              "chapter_id": 5,
              "name": "Onsite Gemba",
              "slug": "onsite-gemba",
              "priority": 3,
              "created_at": "2023-04-05T14:39:32.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 12,
              "book_id": 4,
              "chapter_id": 5,
              "name": "Hybrid Gemba - Down Equipment form",
              "slug": "hybrid-gemba-down-equipment-form",
              "priority": 4,
              "created_at": "2023-04-05T14:39:48.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 13,
              "book_id": 5,
              "chapter_id": 3,
              "name": "Overview of ClickUp - IT",
              "slug": "overview-of-clickup-it",
              "priority": 1,
              "created_at": "2023-04-05T20:45:59.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 3,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-devops"
            },
            {
              "id": 14,
              "book_id": 5,
              "chapter_id": 9,
              "name": "Standing SME and PM meeting structure",
              "slug": "standing-sme-and-pm-meeting-structure",
              "priority": 2,
              "created_at": "2023-04-11T12:38:28.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-devops"
            },
            {
              "id": 15,
              "book_id": 5,
              "chapter_id": 9,
              "name": "Standing Daily Meeting - Developers",
              "slug": "standing-daily-meeting-developers",
              "priority": 3,
              "created_at": "2023-04-11T12:57:58.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-devops"
            },
            {
              "id": 16,
              "book_id": 5,
              "chapter_id": 3,
              "name": "EFS - Weekly Tracking",
              "slug": "efs-weekly-tracking",
              "priority": 2,
              "created_at": "2023-04-11T14:18:10.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-devops"
            },
            {
              "id": 18,
              "book_id": 3,
              "chapter_id": 10,
              "name": "Farmbrook Radiology and Infinitt PACS",
              "slug": "farmbrook-radiology-and-infinitt-pacs",
              "priority": 0,
              "created_at": "2023-04-11T18:26:12.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 19,
              "book_id": 3,
              "chapter_id": 10,
              "name": "Tigerview",
              "slug": "tigerview",
              "priority": 1,
              "created_at": "2023-04-11T18:37:53.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 20,
              "book_id": 3,
              "chapter_id": 11,
              "name": "What Provention Means",
              "slug": "what-provention-means",
              "priority": 0,
              "created_at": "2023-04-12T14:00:39.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 24,
              "book_id": 3,
              "chapter_id": 13,
              "name": "FireWall",
              "slug": "firewall-aRy",
              "priority": 0,
              "created_at": "2023-04-12T18:01:51.000000Z",
              "updated_at": "2023-04-14T17:25:33.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 7,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 26,
              "book_id": 3,
              "chapter_id": 13,
              "name": "Cognivue",
              "slug": "cognivue",
              "priority": 1,
              "created_at": "2023-04-12T18:04:09.000000Z",
              "updated_at": "2023-04-14T17:25:33.000000Z",
              "created_by": 8,
              "updated_by": 8,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 27,
              "book_id": 3,
              "chapter_id": 13,
              "name": "EKG",
              "slug": "ekg",
              "priority": 2,
              "created_at": "2023-04-12T18:05:21.000000Z",
              "updated_at": "2024-03-22T15:17:30.000000Z",
              "created_by": 8,
              "updated_by": 8,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 28,
              "book_id": 3,
              "chapter_id": 13,
              "name": "ThinkCentre and Laptops",
              "slug": "thinkcentre-and-laptops",
              "priority": 4,
              "created_at": "2023-04-12T18:05:59.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 7,
              "draft": false,
              "revision_count": 3,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 29,
              "book_id": 3,
              "chapter_id": 13,
              "name": "Printer",
              "slug": "printer",
              "priority": 5,
              "created_at": "2023-04-12T18:06:19.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 8,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 30,
              "book_id": 3,
              "chapter_id": 13,
              "name": "ISP",
              "slug": "isp",
              "priority": 6,
              "created_at": "2023-04-12T18:12:18.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 7,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 31,
              "book_id": 3,
              "chapter_id": 13,
              "name": "Access Point (AP)",
              "slug": "access-point-ap",
              "priority": 7,
              "created_at": "2023-04-12T18:12:54.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 7,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 32,
              "book_id": 3,
              "chapter_id": 13,
              "name": "Ethernet Drops",
              "slug": "ethernet-drops",
              "priority": 8,
              "created_at": "2023-04-12T18:13:23.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 7,
              "draft": false,
              "revision_count": 3,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 33,
              "book_id": 17,
              "chapter_id": 0,
              "name": "Desk Phone (VOIP)",
              "slug": "desk-phone-voip",
              "priority": 6,
              "created_at": "2023-04-12T18:13:49.000000Z",
              "updated_at": "2023-06-02T14:42:08.000000Z",
              "created_by": 8,
              "updated_by": 7,
              "draft": false,
              "revision_count": 3,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-onsite-replacementinstallation"
            },
            {
              "id": 34,
              "book_id": 3,
              "chapter_id": 13,
              "name": "Switches and POE",
              "slug": "switches-and-poe",
              "priority": 9,
              "created_at": "2023-04-12T18:14:31.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 7,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 35,
              "book_id": 3,
              "chapter_id": 13,
              "name": "Card Scanner",
              "slug": "card-scanner",
              "priority": 10,
              "created_at": "2023-04-12T18:15:26.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 8,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 36,
              "book_id": 3,
              "chapter_id": 13,
              "name": "VPN Tunnel",
              "slug": "vpn-tunnel",
              "priority": 11,
              "created_at": "2023-04-12T18:15:43.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 8,
              "updated_by": 8,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 8,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 39,
              "book_id": 3,
              "chapter_id": 13,
              "name": "ABI Laptop",
              "slug": "abi-laptop",
              "priority": 13,
              "created_at": "2023-04-12T18:39:25.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 7,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 40,
              "book_id": 3,
              "chapter_id": 13,
              "name": "Retinavue",
              "slug": "retinavue",
              "priority": 14,
              "created_at": "2023-04-12T18:39:40.000000Z",
              "updated_at": "2024-03-22T15:18:12.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 7,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 41,
              "book_id": 3,
              "chapter_id": 14,
              "name": "How To Re-add Your Printer",
              "slug": "how-to-re-add-your-printer",
              "priority": 0,
              "created_at": "2023-04-12T20:16:34.000000Z",
              "updated_at": "2023-04-14T17:25:33.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "draft": false,
              "revision_count": 5,
              "template": false,
              "owned_by": 7,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 42,
              "book_id": 3,
              "chapter_id": 14,
              "name": "How To Fix Your IP Address at a EPIC Primary Location",
              "slug": "how-to-fix-your-ip-address-at-a-epic-primary-location",
              "priority": 1,
              "created_at": "2023-04-12T20:24:13.000000Z",
              "updated_at": "2023-04-14T17:25:33.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 7,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 43,
              "book_id": 3,
              "chapter_id": 14,
              "name": "Cardio Perfect Troubleshooting Solutions",
              "slug": "cardio-perfect-troubleshooting-solutions",
              "priority": 2,
              "created_at": "2023-04-12T20:38:40.000000Z",
              "updated_at": "2023-04-14T17:25:33.000000Z",
              "created_by": 7,
              "updated_by": 7,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 7,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 44,
              "book_id": 3,
              "chapter_id": 14,
              "name": "EasyOne Connect Troubleshooting Solutions",
              "slug": "easyone-connect-troubleshooting-solutions",
              "priority": 3,
              "created_at": "2023-04-12T20:42:46.000000Z",
              "updated_at": "2024-03-22T15:15:32.000000Z",
              "created_by": 7,
              "updated_by": 8,
              "draft": false,
              "revision_count": 3,
              "template": false,
              "owned_by": 7,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 45,
              "book_id": 4,
              "chapter_id": 15,
              "name": "DILL",
              "slug": "dill",
              "priority": 1,
              "created_at": "2023-04-12T20:58:17.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 46,
              "book_id": 4,
              "chapter_id": 16,
              "name": "Table of System/Troubleshooting Contents",
              "slug": "table-of-systemtroubleshooting-contents",
              "priority": 1,
              "created_at": "2023-04-13T13:57:08.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 47,
              "book_id": 4,
              "chapter_id": 16,
              "name": "PM not crossing over to EHR",
              "slug": "pm-not-crossing-over-to-ehr",
              "priority": 2,
              "created_at": "2023-04-13T13:58:36.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 48,
              "book_id": 4,
              "chapter_id": 16,
              "name": "System/Troubleshooting TEMPLATE",
              "slug": "systemtroubleshooting-template",
              "priority": 3,
              "created_at": "2023-04-13T13:59:22.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-system-administration"
            },
            {
              "id": 49,
              "book_id": 3,
              "chapter_id": 11,
              "name": "Provention Table of Contents",
              "slug": "provention-table-of-contents",
              "priority": 3,
              "created_at": "2023-04-13T14:45:34.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 9,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 50,
              "book_id": 3,
              "chapter_id": 11,
              "name": "Wifi issue at Royal Oak",
              "slug": "wifi-issue-at-royal-oak",
              "priority": 4,
              "created_at": "2023-04-13T14:48:09.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 51,
              "book_id": 3,
              "chapter_id": 11,
              "name": "Provention TEMPLATE",
              "slug": "provention-template",
              "priority": 2,
              "created_at": "2023-04-13T14:49:48.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 52,
              "book_id": 3,
              "chapter_id": 11,
              "name": "Provention Workflow",
              "slug": "provention-workflow",
              "priority": 1,
              "created_at": "2023-04-13T14:50:14.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 53,
              "book_id": 3,
              "chapter_id": 11,
              "name": "User Not Added to Communication Channel",
              "slug": "user-not-added-to-communication-channel",
              "priority": 5,
              "created_at": "2023-04-14T13:23:14.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 54,
              "book_id": 3,
              "chapter_id": 11,
              "name": "MFA - Beaumont",
              "slug": "mfa-beaumont",
              "priority": 6,
              "created_at": "2023-04-14T17:25:38.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 56,
              "book_id": 3,
              "chapter_id": 11,
              "name": "Keeping Tunnels Alive",
              "slug": "keeping-tunnels-alive",
              "priority": 7,
              "created_at": "2023-04-17T13:14:50.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 58,
              "book_id": 3,
              "chapter_id": 11,
              "name": "Watchguard - Only one pc gets internet access",
              "slug": "watchguard-only-one-pc-gets-internet-access",
              "priority": 8,
              "created_at": "2023-04-20T09:10:36.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 59,
              "book_id": 3,
              "chapter_id": 143,
              "name": "Undocumented Systems",
              "slug": "undocumented-systems",
              "priority": 0,
              "created_at": "2023-04-20T13:42:22.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 1,
              "editor": "",
              "book_slug": "it-helpdesk"
            },
            {
              "id": 60,
              "book_id": 8,
              "chapter_id": 56,
              "name": "Hannan Center",
              "slug": "hannan-center",
              "priority": 0,
              "created_at": "2023-04-20T14:48:59.000000Z",
              "updated_at": "2023-04-21T02:43:49.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 3,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 61,
              "book_id": 9,
              "chapter_id": 54,
              "name": "Oak Park Community Center",
              "slug": "oak-park-community-center",
              "priority": 1,
              "created_at": "2023-04-20T17:57:39.000000Z",
              "updated_at": "2023-04-20T18:06:36.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 62,
              "book_id": 9,
              "chapter_id": 26,
              "name": "Oak Park Community Center",
              "slug": "oak-park-community-center-0qL",
              "priority": 0,
              "created_at": "2023-04-20T18:06:53.000000Z",
              "updated_at": "2023-04-25T01:28:01.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 63,
              "book_id": 8,
              "chapter_id": 56,
              "name": "St. Patrick Senior Center",
              "slug": "st-patrick-senior-center",
              "priority": 4,
              "created_at": "2023-04-20T18:12:48.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 64,
              "book_id": 8,
              "chapter_id": 58,
              "name": "St. Patrick Senior Center",
              "slug": "st-patrick-senior-center-oWP",
              "priority": 0,
              "created_at": "2023-04-20T18:26:09.000000Z",
              "updated_at": "2023-04-25T22:28:05.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 65,
              "book_id": 8,
              "chapter_id": 87,
              "name": "St. Patrick Senior Center",
              "slug": "st-patrick-senior-center-jrd",
              "priority": 11,
              "created_at": "2023-04-20T18:29:37.000000Z",
              "updated_at": "2023-04-25T22:28:38.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 67,
              "book_id": 8,
              "chapter_id": 68,
              "name": "St. Patrick Senior Center",
              "slug": "st-patrick-senior-center-k8L",
              "priority": 1,
              "created_at": "2023-04-20T18:35:26.000000Z",
              "updated_at": "2023-04-22T00:16:22.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 68,
              "book_id": 8,
              "chapter_id": 71,
              "name": "St. Patrick Senior Center",
              "slug": "st-patrick-senior-center-3KL",
              "priority": 25,
              "created_at": "2023-04-20T18:44:08.000000Z",
              "updated_at": "2023-04-25T22:28:36.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 69,
              "book_id": 8,
              "chapter_id": 131,
              "name": "St. Patrick Senior Center",
              "slug": "st-patrick-senior-center-fPx",
              "priority": 7,
              "created_at": "2023-04-20T18:51:59.000000Z",
              "updated_at": "2023-04-22T00:16:22.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 70,
              "book_id": 8,
              "chapter_id": 77,
              "name": "Infant Feeding Advice During Formula Shortage",
              "slug": "infant-feeding-advice-during-formula-shortage",
              "priority": 2,
              "created_at": "2023-04-20T19:12:25.000000Z",
              "updated_at": "2023-04-23T23:38:56.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 71,
              "book_id": 7,
              "chapter_id": 114,
              "name": "Infant Feeding Advice During Formula Recall",
              "slug": "infant-feeding-advice-during-formula-recall",
              "priority": 1,
              "created_at": "2023-04-20T19:16:19.000000Z",
              "updated_at": "2023-04-24T00:16:22.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 72,
              "book_id": 9,
              "chapter_id": 33,
              "name": "Infant Feeding Advice During Formula Recall",
              "slug": "infant-feeding-advice-during-formula-recall",
              "priority": 1,
              "created_at": "2023-04-20T19:17:51.000000Z",
              "updated_at": "2023-04-25T19:09:50.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 73,
              "book_id": 9,
              "chapter_id": 30,
              "name": "Assistive Technology of Michigan (All Disabilities)",
              "slug": "assistive-technology-of-michigan-all-disabilities",
              "priority": 0,
              "created_at": "2023-04-20T19:27:24.000000Z",
              "updated_at": "2023-04-21T22:29:29.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 3,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 74,
              "book_id": 9,
              "chapter_id": 30,
              "name": "Blind Children's Fund (Blind, Deaf)",
              "slug": "blind-childrens-fund-blind-deaf",
              "priority": 1,
              "created_at": "2023-04-20T19:40:55.000000Z",
              "updated_at": "2023-04-21T22:29:59.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 75,
              "book_id": 7,
              "chapter_id": 93,
              "name": "Blind Children's Fund",
              "slug": "blind-childrens-fund",
              "priority": 0,
              "created_at": "2023-04-20T19:54:36.000000Z",
              "updated_at": "2023-04-21T21:56:07.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 76,
              "book_id": 8,
              "chapter_id": 57,
              "name": "Blind Children's Fund (Blind, Deaf)",
              "slug": "blind-childrens-fund-blind-deaf",
              "priority": 0,
              "created_at": "2023-04-20T19:55:36.000000Z",
              "updated_at": "2023-04-21T22:32:52.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 5,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 77,
              "book_id": 8,
              "chapter_id": 57,
              "name": "Greater Detroit Agency for the Blind and Visually Impaired",
              "slug": "greater-detroit-agency-for-the-blind-and-visually-impaired",
              "priority": 3,
              "created_at": "2023-04-20T19:57:28.000000Z",
              "updated_at": "2023-04-25T22:28:37.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 78,
              "book_id": 7,
              "chapter_id": 93,
              "name": "Greater Detroit Agency for the Blind and Visually Impaired",
              "slug": "greater-detroit-agency-for-the-blind-and-visually-impaired",
              "priority": 3,
              "created_at": "2023-04-20T20:02:24.000000Z",
              "updated_at": "2023-04-25T22:26:31.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 79,
              "book_id": 9,
              "chapter_id": 30,
              "name": "Greater Detroit Agency for the Blind and Visually Impaired",
              "slug": "greater-detroit-agency-for-the-blind-and-visually-impaired",
              "priority": 4,
              "created_at": "2023-04-20T20:03:26.000000Z",
              "updated_at": "2023-04-25T19:09:51.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 80,
              "book_id": 8,
              "chapter_id": 57,
              "name": "Henry Ford- Center for Vision Rehabilitation & Research",
              "slug": "henry-ford-center-for-vision-rehabilitation-research",
              "priority": 4,
              "created_at": "2023-04-20T20:05:28.000000Z",
              "updated_at": "2023-04-25T22:28:37.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 81,
              "book_id": 7,
              "chapter_id": 93,
              "name": "Henry Ford Center for Vision Rehabilitation & Research",
              "slug": "henry-ford-center-for-vision-rehabilitation-research",
              "priority": 4,
              "created_at": "2023-04-20T20:17:56.000000Z",
              "updated_at": "2023-04-25T22:26:31.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 82,
              "book_id": 9,
              "chapter_id": 30,
              "name": "Leader Dogs for the Blind",
              "slug": "leader-dogs-for-the-blind",
              "priority": 7,
              "created_at": "2023-04-20T22:11:37.000000Z",
              "updated_at": "2023-04-25T19:09:51.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 83,
              "book_id": 7,
              "chapter_id": 95,
              "name": "Blue Cross Complete Community Resources",
              "slug": "blue-cross-complete-community-resources",
              "priority": 0,
              "created_at": "2023-04-20T22:34:47.000000Z",
              "updated_at": "2023-04-21T21:56:07.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 84,
              "book_id": 8,
              "chapter_id": 59,
              "name": "Blue Cross Complete Community Resources",
              "slug": "blue-cross-complete-community-resources",
              "priority": 0,
              "created_at": "2023-04-20T22:38:13.000000Z",
              "updated_at": "2023-04-21T02:43:49.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 85,
              "book_id": 9,
              "chapter_id": 37,
              "name": "Blue Cross Complete Community Resources",
              "slug": "blue-cross-complete-community-resources",
              "priority": 0,
              "created_at": "2023-04-20T22:39:23.000000Z",
              "updated_at": "2023-04-21T01:42:14.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 86,
              "book_id": 7,
              "chapter_id": 95,
              "name": "MI Bridges",
              "slug": "mi-bridges",
              "priority": 1,
              "created_at": "2023-04-20T22:42:48.000000Z",
              "updated_at": "2023-04-21T21:56:07.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 87,
              "book_id": 8,
              "chapter_id": 59,
              "name": "MI Bridges",
              "slug": "mi-bridges",
              "priority": 3,
              "created_at": "2023-04-20T22:53:12.000000Z",
              "updated_at": "2023-04-21T02:43:49.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 88,
              "book_id": 9,
              "chapter_id": 37,
              "name": "MI Bridges",
              "slug": "mi-bridges",
              "priority": 2,
              "created_at": "2023-04-20T22:54:37.000000Z",
              "updated_at": "2023-04-21T01:31:40.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 89,
              "book_id": 7,
              "chapter_id": 93,
              "name": "The Michigan Bureau of Services for Blind Persons ",
              "slug": "the-michigan-bureau-of-services-for-blind-persons",
              "priority": 7,
              "created_at": "2023-04-20T22:56:12.000000Z",
              "updated_at": "2023-04-25T22:26:31.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 91,
              "book_id": 8,
              "chapter_id": 57,
              "name": "Michigan Bureau of Services for Blind Persons (Blind, Deaf)",
              "slug": "michigan-bureau-of-services-for-blind-persons-blind-deaf",
              "priority": 6,
              "created_at": "2023-04-20T23:01:15.000000Z",
              "updated_at": "2023-04-25T22:28:37.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 93,
              "book_id": 9,
              "chapter_id": 30,
              "name": "Michigan Bureau of Services for Blind Persons",
              "slug": "michigan-bureau-of-services-for-blind-persons",
              "priority": 8,
              "created_at": "2023-04-20T23:03:20.000000Z",
              "updated_at": "2023-04-25T19:09:52.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 95,
              "book_id": 7,
              "chapter_id": 92,
              "name": "Catholic Charities of South East Michigan",
              "slug": "catholic-charities-of-south-east-michigan",
              "priority": 0,
              "created_at": "2023-04-20T23:05:44.000000Z",
              "updated_at": "2023-04-21T21:56:07.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 96,
              "book_id": 9,
              "chapter_id": 54,
              "name": "Catholic Charities of South East Michigan",
              "slug": "catholic-charities-of-south-east-michigan",
              "priority": 0,
              "created_at": "2023-04-20T23:14:30.000000Z",
              "updated_at": "2023-04-21T01:42:14.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 97,
              "book_id": 8,
              "chapter_id": 59,
              "name": "Center for the Works of Mercy",
              "slug": "center-for-the-works-of-mercy",
              "priority": 1,
              "created_at": "2023-04-20T23:17:49.000000Z",
              "updated_at": "2023-04-21T02:43:49.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 98,
              "book_id": 8,
              "chapter_id": 77,
              "name": "Center for the Works of Mercy",
              "slug": "center-for-the-works-of-mercy-1VX",
              "priority": 1,
              "created_at": "2023-04-20T23:26:28.000000Z",
              "updated_at": "2023-04-23T23:38:56.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 99,
              "book_id": 8,
              "chapter_id": 59,
              "name": "Detroit Area Agency on Aging",
              "slug": "detroit-area-agency-on-aging",
              "priority": 2,
              "created_at": "2023-04-20T23:29:34.000000Z",
              "updated_at": "2023-04-21T02:43:49.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 100,
              "book_id": 9,
              "chapter_id": 37,
              "name": "Disability Network Eastern Michigan",
              "slug": "disability-network-eastern-michigan",
              "priority": 1,
              "created_at": "2023-04-20T23:46:06.000000Z",
              "updated_at": "2023-04-21T01:42:14.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 101,
              "book_id": 8,
              "chapter_id": 76,
              "name": "Mid-America Pension Rights Project",
              "slug": "mid-america-pension-rights-project",
              "priority": 6,
              "created_at": "2023-04-20T23:55:44.000000Z",
              "updated_at": "2023-04-23T02:44:52.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 102,
              "book_id": 7,
              "chapter_id": 113,
              "name": "Mid-American Pensions Rights Project",
              "slug": "mid-american-pensions-rights-project",
              "priority": 4,
              "created_at": "2023-04-21T00:04:07.000000Z",
              "updated_at": "2023-04-23T02:28:46.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 103,
              "book_id": 9,
              "chapter_id": 27,
              "name": "Mid-American Pension Rights Project",
              "slug": "mid-american-pension-rights-project",
              "priority": 5,
              "created_at": "2023-04-21T00:05:30.000000Z",
              "updated_at": "2023-04-23T02:18:39.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 104,
              "book_id": 8,
              "chapter_id": 82,
              "name": "Samaritas Wayne County Family Center",
              "slug": "samaritas-wayne-county-family-center",
              "priority": 4,
              "created_at": "2023-04-21T00:10:12.000000Z",
              "updated_at": "2023-04-25T22:28:37.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 105,
              "book_id": 8,
              "chapter_id": 131,
              "name": "The Emergency Food Assistance Program (TEFAP)",
              "slug": "the-emergency-food-assistance-program-tefap",
              "priority": 8,
              "created_at": "2023-04-21T00:20:28.000000Z",
              "updated_at": "2023-04-22T00:16:22.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 107,
              "book_id": 9,
              "chapter_id": 44,
              "name": "Samaritas Substance Abuse Disorder Programs",
              "slug": "samaritas-substance-abuse-disorder-programs",
              "priority": 3,
              "created_at": "2023-04-21T00:35:30.000000Z",
              "updated_at": "2023-04-25T19:09:52.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 108,
              "book_id": 9,
              "chapter_id": 43,
              "name": "Samaritas Behavioral/Mental Health Program",
              "slug": "samaritas-behavioralmental-health-program",
              "priority": 13,
              "created_at": "2023-04-21T00:55:47.000000Z",
              "updated_at": "2023-04-25T19:09:51.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 109,
              "book_id": 9,
              "chapter_id": 31,
              "name": "Home Heating Credit",
              "slug": "home-heating-credit",
              "priority": 0,
              "created_at": "2023-04-21T01:09:17.000000Z",
              "updated_at": "2023-04-21T01:42:14.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 110,
              "book_id": 8,
              "chapter_id": 66,
              "name": "Home Heating Credit",
              "slug": "home-heating-credit",
              "priority": 0,
              "created_at": "2023-04-21T01:23:02.000000Z",
              "updated_at": "2023-04-21T02:43:49.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 111,
              "book_id": 7,
              "chapter_id": 102,
              "name": "Home Heating Credit",
              "slug": "home-heating-credit",
              "priority": 0,
              "created_at": "2023-04-21T01:24:19.000000Z",
              "updated_at": "2023-04-21T21:56:08.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 112,
              "book_id": 7,
              "chapter_id": 101,
              "name": "Veterans Crisis Hotlines",
              "slug": "veterans-crisis-hotlines",
              "priority": 2,
              "created_at": "2023-04-21T01:38:25.000000Z",
              "updated_at": "2023-04-25T22:26:30.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "macomb-county-resources"
            },
            {
              "id": 113,
              "book_id": 8,
              "chapter_id": 65,
              "name": "Veteran Crisis Hotlines",
              "slug": "veteran-crisis-hotlines",
              "priority": 2,
              "created_at": "2023-04-21T01:40:13.000000Z",
              "updated_at": "2023-04-25T22:28:35.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            },
            {
              "id": 114,
              "book_id": 9,
              "chapter_id": 42,
              "name": "Veteran Crisis Hotlines & Support Groups",
              "slug": "veteran-crisis-hotlines-support-groups",
              "priority": 1,
              "created_at": "2023-04-21T01:42:24.000000Z",
              "updated_at": "2023-04-25T22:57:33.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 2,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "oakland-county-resources"
            },
            {
              "id": 115,
              "book_id": 8,
              "chapter_id": 132,
              "name": "MI Veterans Affairs Agency",
              "slug": "mi-veterans-affairs-agency",
              "priority": 1,
              "created_at": "2023-04-21T01:45:23.000000Z",
              "updated_at": "2023-04-23T02:44:53.000000Z",
              "created_by": 11,
              "updated_by": 11,
              "draft": false,
              "revision_count": 1,
              "template": false,
              "owned_by": 11,
              "editor": "",
              "book_slug": "wayne-county-resources"
            }
          ],
          "total": 991
        }
      }
    ],
    "HTTP Request8": [
      {
        "json": {
          "data": [
            {
              "id": 1,
              "name": "EPIC HEALTH",
              "slug": "epic-health",
              "description": "",
              "created_at": "2023-01-19T21:54:51.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 3,
              "name": "Resource BIBLE",
              "slug": "resource-bible",
              "description": "",
              "created_at": "2023-04-12T16:47:35.000000Z",
              "updated_at": "2023-04-12T16:47:35.000000Z",
              "created_by": 9,
              "updated_by": 9,
              "owned_by": 9
            },
            {
              "id": 4,
              "name": "EPIC IT",
              "slug": "epic-it",
              "description": "",
              "created_at": "2023-05-11T00:18:08.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 5,
              "name": "EPIC LAB",
              "slug": "epic-lab",
              "description": "",
              "created_at": "2023-05-11T21:04:42.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 6,
              "name": "EPIC OPS",
              "slug": "epic-ops",
              "description": "",
              "created_at": "2023-05-11T21:07:52.000000Z",
              "updated_at": "2024-05-21T13:36:37.000000Z",
              "created_by": 3,
              "updated_by": 3,
              "owned_by": 1
            },
            {
              "id": 7,
              "name": "HR 3",
              "slug": "hr-3",
              "description": "",
              "created_at": "2023-06-26T13:39:58.000000Z",
              "updated_at": "2024-02-01T18:42:53.000000Z",
              "created_by": 12,
              "updated_by": 13,
              "owned_by": 12
            },
            {
              "id": 8,
              "name": "Blue Sky Provention Procedures and Results",
              "slug": "blue-sky-provention-procedures-and-results",
              "description": "List of procedures for Blue Sky Beauty",
              "created_at": "2023-11-26T22:11:59.000000Z",
              "updated_at": "2023-11-27T01:28:33.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 9,
              "name": "Blue Sky Provention DPC",
              "slug": "blue-sky-provention-dpc",
              "description": "",
              "created_at": "2023-11-26T22:43:15.000000Z",
              "updated_at": "2023-11-27T01:27:18.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 10,
              "name": "Blue Sky Provention Retail Commerce",
              "slug": "blue-sky-provention-retail-commerce",
              "description": "",
              "created_at": "2023-11-26T22:45:04.000000Z",
              "updated_at": "2023-11-27T01:29:31.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 11,
              "name": "Blue Sky Provention Med Spa",
              "slug": "blue-sky-provention-med-spa",
              "description": "",
              "created_at": "2023-11-26T22:59:06.000000Z",
              "updated_at": "2023-11-27T01:28:11.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 12,
              "name": "Blue Sky Provention General Business",
              "slug": "blue-sky-provention-general-business",
              "description": "Business plan, business model canvas, projections, proformas, operational standards, general HR, general IT",
              "created_at": "2023-11-26T23:59:49.000000Z",
              "updated_at": "2023-11-27T01:27:49.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 13,
              "name": "Blue Sky Provention Sales and Marketing",
              "slug": "blue-sky-provention-sales-and-marketing",
              "description": "Funnel sales, lead generation, pricing, recognition and rewards processes",
              "created_at": "2023-11-27T01:26:40.000000Z",
              "updated_at": "2023-11-27T01:29:53.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 14,
              "name": "Unity RSTC Health Plan",
              "slug": "unity-rstc-health-plan",
              "description": "",
              "created_at": "2023-11-29T17:35:02.000000Z",
              "updated_at": "2023-11-29T18:48:11.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 16,
              "name": "Unity Benefits",
              "slug": "unity-benefits",
              "description": "",
              "created_at": "2023-11-29T17:37:50.000000Z",
              "updated_at": "2023-11-29T17:55:25.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 17,
              "name": "Unity General Business",
              "slug": "unity-general-business",
              "description": "",
              "created_at": "2023-11-29T17:40:08.000000Z",
              "updated_at": "2023-11-29T18:45:40.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 18,
              "name": "Unity Sales & Marketing",
              "slug": "unity-sales-marketing",
              "description": "",
              "created_at": "2023-11-29T17:40:35.000000Z",
              "updated_at": "2023-11-29T18:50:04.000000Z",
              "created_by": 6,
              "updated_by": 36,
              "owned_by": 6
            },
            {
              "id": 19,
              "name": "Unity PEO",
              "slug": "unity-peo",
              "description": "",
              "created_at": "2023-11-30T01:45:56.000000Z",
              "updated_at": "2023-11-30T01:45:57.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 20,
              "name": "SAM EPIC",
              "slug": "sam-epic",
              "description": "",
              "created_at": "2023-12-05T15:36:25.000000Z",
              "updated_at": "2023-12-05T15:36:25.000000Z",
              "created_by": 6,
              "updated_by": 6,
              "owned_by": 6
            },
            {
              "id": 21,
              "name": "ABC Shelf",
              "slug": "abc-shelf",
              "description": "",
              "created_at": "2023-12-13T13:14:10.000000Z",
              "updated_at": "2023-12-13T13:14:10.000000Z",
              "created_by": 33,
              "updated_by": 33,
              "owned_by": 33
            },
            {
              "id": 22,
              "name": "Training Guide for New Hire Advanced Practitioner Professionals (APP's)",
              "slug": "training-guide-for-new-hire-advanced-practitioner-professionals-apps",
              "description": "",
              "created_at": "2024-02-01T18:46:09.000000Z",
              "updated_at": "2024-02-01T18:46:09.000000Z",
              "created_by": 13,
              "updated_by": 13,
              "owned_by": 13
            }
          ],
          "total": 20
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-29T22:21:01.308Z",
  "versionId": "af8955c2-8323-44ad-a6cd-7e63d6d8eeca"
}