workflows/SAM Sales and Marketing QR Websites
{
  "active": true,
  "connections": {
    "NocoDB1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR1": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR2": {
      "main": [
        [
          {
            "node": "NocoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "NocoDB7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Yourls",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "NocoDB5": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR3": {
      "main": [
        [
          {
            "node": "NocoDB5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB4": {
      "main": [
        []
      ]
    },
    "Yourls": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "NocoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB7": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        []
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB6": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR4": {
      "main": [
        [
          {
            "node": "NocoDB6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB8": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR5": {
      "main": [
        [
          {
            "node": "NocoDB8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB9": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR6": {
      "main": [
        [
          {
            "node": "NocoDB9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB10": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR8": {
      "main": [
        [
          {
            "node": "NocoDB10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB11": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR9": {
      "main": [
        [
          {
            "node": "NocoDB11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB12": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR10": {
      "main": [
        [
          {
            "node": "NocoDB12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "NocoDB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB3": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB13": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR7": {
      "main": [
        [
          {
            "node": "NocoDB13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB14": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB15": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR11": {
      "main": [
        [
          {
            "node": "NocoDB14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB16": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR12": {
      "main": [
        [
          {
            "node": "NocoDB16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB17": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR13": {
      "main": [
        [
          {
            "node": "NocoDB17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB18": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR14": {
      "main": [
        [
          {
            "node": "NocoDB18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB19": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR15": {
      "main": [
        [
          {
            "node": "NocoDB19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB20": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR16": {
      "main": [
        [
          {
            "node": "NocoDB20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB21": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR17": {
      "main": [
        [
          {
            "node": "NocoDB21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB22": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR18": {
      "main": [
        [
          {
            "node": "NocoDB22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB23": {
      "main": [
        [
          {
            "node": "Respond to Webhook24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR19": {
      "main": [
        [
          {
            "node": "NocoDB23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR20": {
      "main": [
        [
          {
            "node": "NocoDB15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-15T20:39:12.831Z",
  "id": "QC7ONmbYdm2SjwcU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SAM Sales and Marketing QR Websites",
  "nodes": [
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "52c4691a-e372-4e4e-b7d9-9de767e16024",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        1180
      ]
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "184da531-b0b2-4293-ae86-c87d7fee3b7f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        920
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        1180
      ],
      "id": "3b726ed3-bc8a-4cfb-9b4f-0a1af6c18e61",
      "name": "NocoDB1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "path": "QR1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6244acfc-a2ad-4aec-9048-38d03b878ff5",
      "name": "QR1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        920
      ],
      "webhookId": "0f80da12-c96b-4b19-a3a9-65a4206b5dcf"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        920
      ],
      "id": "cb64cdf0-bb78-43d6-ab7b-86f7f544ae22",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "path": "QR2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c8fc4a6-78fc-4f44-8cc1-40992625cc16",
      "name": "QR2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        1180
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        880
      ],
      "typeVersion": 1,
      "id": "b0b24f19-1dfd-4789-8c49-dcb237bedde0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1140
      ],
      "typeVersion": 1,
      "id": "83ee5df0-0696-4453-830f-9f1308288534",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "path": "c922fa4d-21ae-4bcd-95d8-27f43e910c6f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        180
      ],
      "id": "6a00cb43-7d05-4b63-8538-f8330de751f3",
      "name": "Webhook",
      "webhookId": "c922fa4d-21ae-4bcd-95d8-27f43e910c6f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3b8a2d30-5123-4c9b-bdf6-bffdb25ac196",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1680,
        180
      ],
      "id": "366abeba-c472-4266-bff7-83cf88711d52",
      "name": "Webhook1",
      "webhookId": "3b8a2d30-5123-4c9b-bdf6-bffdb25ac196"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "mf9zdgrwcs58zyu",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "LinkDescription",
              "fieldValue": "={{ $json.body.description }}"
            },
            {
              "fieldName": "LongLink",
              "fieldValue": "={{ $json.body.url }}"
            },
            {
              "fieldName": "ShortURL",
              "fieldValue": "={{ $json.shorturl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2260,
        160
      ],
      "id": "56b52aa9-f53f-46b3-922f-cc1e74bf6c6c",
      "name": "NocoDB4",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "c5b6d3d5-8cd0-40e5-88d6-102cfb4e2f40",
      "name": "Respond to Webhook5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        1440
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        1440
      ],
      "id": "14529676-17df-4992-b3a0-369069a6a021",
      "name": "NocoDB5",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1400
      ],
      "typeVersion": 1,
      "id": "1ecf2fd4-4497-4eac-87e3-00370056c7d4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "QR3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1c338aca-4be8-47e8-a85e-d81581192e3e",
      "name": "QR3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        1440
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "additionalFields": {}
      },
      "id": "66b73a2b-dd58-4afe-a2e0-de0d5a71c71c",
      "name": "Yourls",
      "type": "n8n-nodes-base.yourls",
      "typeVersion": 1,
      "position": [
        1940,
        100
      ],
      "credentials": {
        "yourlsApi": {
          "id": "6NO7EGDBw1CupKtb",
          "name": "Yourls account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2100,
        220
      ],
      "id": "439301f4-8a47-4e61-b121-f7704ca57477",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>URL Shortener Dashboard</title>\n  <script src=\"https://cdn.tailwindcss.com\"></script>\n</head>\n<body class=\"bg-gray-100 font-sans\">\n\n<div class=\"container mx-auto py-10\">\n  <div class=\"bg-white shadow-md rounded p-6\">\n    <h1 class=\"text-xl font-bold mb-4\">URL Shortener Dashboard</h1>\n    \n    <!-- Search Box -->\n    <div class=\"mb-4\">\n      <input \n        type=\"text\" \n        id=\"searchInput\" \n        placeholder=\"Search by description or URL...\" \n        class=\"w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200\">\n    </div>\n\n    <!-- Table -->\n    <div class=\"overflow-x-auto\">\n      <table class=\"w-full border-collapse border border-gray-300\">\n        <thead class=\"bg-gray-200\">\n          <tr>\n            <th class=\"border border-gray-300 p-2\">Description</th>\n            <th class=\"border border-gray-300 p-2\">Long Link</th>\n            <th class=\"border border-gray-300 p-2\">Short Link</th>\n            <th class=\"border border-gray-300 p-2\">QR Code</th>\n          </tr>\n        </thead>\n        <tbody id=\"tableBody\">\n          <!-- Dynamic Rows -->\n        </tbody>\n      </table>\n    </div>\n\n    <!-- Pagination -->\n    <div class=\"mt-4 flex justify-between items-center\">\n      <button id=\"prevBtn\" class=\"p-2 bg-blue-500 text-white rounded disabled:opacity-50\" disabled>Previous</button>\n      <span id=\"paginationInfo\" class=\"text-gray-700\"></span>\n      <button id=\"nextBtn\" class=\"p-2 bg-blue-500 text-white rounded disabled:opacity-50\">Next</button>\n    </div>\n\n    <!-- Add Link Section -->\n    <div class=\"mt-6\">\n      <h2 class=\"text-lg font-bold mb-2\">Add New Link</h2>\n      <form id=\"addLinkForm\" class=\"flex gap-2\">\n        <input \n          type=\"text\" \n          id=\"newDescriptionInput\" \n          placeholder=\"Enter description...\" \n          class=\"flex-grow p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200\" \n          required>\n        <input \n          type=\"text\" \n          id=\"newLinkInput\" \n          placeholder=\"Enter long link...\" \n          class=\"flex-grow p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200\" \n          required>\n        <button \n          id=\"addLinkBtn\" \n          class=\"p-2 bg-green-500 text-white rounded disabled:opacity-50\">\n          Add\n        </button>\n        <div id=\"loader\" class=\"hidden animate-spin rounded-full h-6 w-6 border-t-2 border-green-500\"></div>\n      </form>\n    </div>\n  </div>\n</div>\n\n<!-- QR Code Modal -->\n<div id=\"qrCodeModal\" class=\"fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50\">\n  <div class=\"bg-white p-6 rounded shadow-lg relative\">\n    <button id=\"closeModal\" class=\"absolute top-2 right-2 text-gray-500 hover:text-gray-800\">\n      &times;\n    </button>\n    <div class=\"text-center\">\n      <img id=\"modalQRCode\" src=\"\" alt=\"QR Code\" class=\"mx-auto mb-4 h-48 w-48\">\n    </div>\n  </div>\n</div>\n\n<script>\n  const data = {{ JSON.stringify($json.data) }};\n  let filteredData = [...data]; // Start with all data being displayed\n\n  const tableBody = document.getElementById(\"tableBody\");\n  const prevBtn = document.getElementById(\"prevBtn\");\n  const nextBtn = document.getElementById(\"nextBtn\");\n  const paginationInfo = document.getElementById(\"paginationInfo\");\n  const searchInput = document.getElementById(\"searchInput\");\n  const addLinkForm = document.getElementById(\"addLinkForm\");\n  const addLinkBtn = document.getElementById(\"addLinkBtn\");\n  const newDescriptionInput = document.getElementById(\"newDescriptionInput\");\n  const newLinkInput = document.getElementById(\"newLinkInput\");\n  const loader = document.getElementById(\"loader\");\n  const qrCodeModal = document.getElementById(\"qrCodeModal\");\n  const modalQRCode = document.getElementById(\"modalQRCode\");\n  const closeModal = document.getElementById(\"closeModal\");\n\n  let currentPage = 1;\n  const itemsPerPage = 10;\n\n  function renderTable() {\n    tableBody.innerHTML = \"\";\n    const startIndex = (currentPage - 1) * itemsPerPage;\n    const endIndex = Math.min(startIndex + itemsPerPage, filteredData.length);\n\n    const pageData = filteredData.slice(startIndex, endIndex);\n\n    pageData.forEach((item) => {\n      const qrCodeUrl = `https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${encodeURIComponent(item.ShortURL)}`;\n      const row = document.createElement(\"tr\");\n      row.innerHTML = `\n        <td class=\"border border-gray-300 p-2\">${item.LinkDescription}</td>\n        <td class=\"border border-gray-300 p-2\"><a href=\"${item.LongLink}\" target=\"_blank\" class=\"text-blue-500\">${item.LongLink}</a></td>\n        <td class=\"border border-gray-300 p-2\"><a href=\"${item.ShortURL}\" target=\"_blank\" class=\"text-blue-500\">${item.ShortURL}</a></td>\n        <td class=\"border border-gray-300 p-2\">\n          <img src=\"${qrCodeUrl}\" alt=\"QR Code\" class=\"h-10 cursor-pointer\" onclick=\"openModal('${qrCodeUrl}')\">\n        </td>\n      `;\n      tableBody.appendChild(row);\n    });\n\n    paginationInfo.textContent = `Page ${currentPage} of ${Math.ceil(filteredData.length / itemsPerPage)}`;\n    prevBtn.disabled = currentPage === 1;\n    nextBtn.disabled = currentPage * itemsPerPage >= filteredData.length;\n  }\n\n  function goToPreviousPage() {\n    if (currentPage > 1) {\n      currentPage--;\n      renderTable();\n    }\n  }\n\n  function goToNextPage() {\n    if (currentPage * itemsPerPage < filteredData.length) {\n      currentPage++;\n      renderTable();\n    }\n  }\n\n  function filterTable() {\n    const searchValue = searchInput.value.toLowerCase();\n    filteredData = data.filter((item) =>\n      item.LinkDescription.toLowerCase().includes(searchValue) || item.LongLink.toLowerCase().includes(searchValue)\n    );\n    currentPage = 1; // Reset to the first page after filtering\n    renderTable();\n  }\n\n  async function addNewLink(event) {\n    event.preventDefault();\n\n    const description = newDescriptionInput.value.trim();\n    const longLink = newLinkInput.value.trim();\n\n    if (!description || !longLink) {\n      alert(\"Please fill in both the description and the long link.\");\n      return;\n    }\n\n    addLinkBtn.disabled = true;\n    loader.classList.remove(\"hidden\");\n\n    try {\n      const response = await fetch(\"https://xl.epicpc.com/webhook/3b8a2d30-5123-4c9b-bdf6-bffdb25ac196\", {\n        method: \"POST\",\n        headers: { \"Content-Type\": \"application/json\" },\n        body: JSON.stringify({ description, url: longLink })\n      });\n\n      if (response.ok) {\n        location.reload(); // Refresh the page after successful addition\n      } else {\n        alert(\"Failed to add link.\");\n      }\n    } catch (error) {\n      console.error(\"Error adding link:\", error);\n      alert(\"An error occurred while adding the link.\");\n    } finally {\n      addLinkBtn.disabled = false;\n      loader.classList.add(\"hidden\");\n    }\n  }\n\n  function openModal(qrCodeUrl) {\n    modalQRCode.src = qrCodeUrl;\n    qrCodeModal.classList.remove(\"hidden\");\n  }\n\n  function closeModalOnClickOutside(event) {\n    if (event.target === qrCodeModal) {\n      qrCodeModal.classList.add(\"hidden\");\n    }\n  }\n\n  closeModal.addEventListener(\"click\", () => {\n    qrCodeModal.classList.add(\"hidden\");\n  });\n\n  qrCodeModal.addEventListener(\"click\", closeModalOnClickOutside);\n  searchInput.addEventListener(\"input\", filterTable);\n\n  renderTable();\n  prevBtn.addEventListener(\"click\", goToPreviousPage);\n  nextBtn.addEventListener(\"click\", goToNextPage);\n  addLinkForm.addEventListener(\"submit\", addNewLink);\n</script>\n\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        180
      ],
      "id": "56c0f7b4-2a8d-420a-96b0-35240a610060",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1200,
        180
      ],
      "id": "d4e96547-7cf3-4541-b6df-e5d2c0d3972e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "mf9zdgrwcs58zyu",
        "returnAll": true,
        "options": {
          "sort": {
            "property": [
              {
                "field": "Id",
                "direction": "desc"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1000,
        180
      ],
      "id": "e1a67432-856b-4dbe-b9b0-5cc7595c040e",
      "name": "NocoDB7",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "path": "63b19698-b310-46ca-8c80-2f6636111161",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        440,
        -240
      ],
      "id": "2cacdce2-7fd0-433d-b4b7-b1a5c604001c",
      "name": "Webhook2",
      "webhookId": "63b19698-b310-46ca-8c80-2f6636111161"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Tabbed Iframe Viewer</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        .tabs {\n            display: flex;\n            justify-content: space-around;\n            background-color: #f1f1f1;\n            padding: 10px 0;\n            border-bottom: 2px solid #ddd;\n        }\n\n        .tab {\n            padding: 10px 20px;\n            cursor: pointer;\n            font-size: 16px;\n            border-radius: 5px;\n            transition: all 0.3s ease;\n        }\n\n        .tab:hover {\n            background-color: #e0e0e0;\n        }\n\n        .tab.active {\n            background-color: #007bff;\n            color: white;\n            font-weight: bold;\n            font-size: 18px;\n            border-bottom: 4px solid #0056b3;\n        }\n\n        .iframe-container {\n            width: 100%;\n            height: calc(100vh - 50px);\n            border: none;\n        }\n    </style>\n</head>\n<body>\n\n<div class=\"tabs\">\n    <div class=\"tab active\" id=\"shortener-tab\" onclick=\"showTab('shortener')\">URL Shortener</div>\n    <div class=\"tab\" id=\"marketing-tab\" onclick=\"showTab('marketing')\">QR Marketing</div>\n</div>\n\n<iframe id=\"shortener\" class=\"iframe-container\" src=\"https://xl.epicpc.com/webhook/c922fa4d-21ae-4bcd-95d8-27f43e910c6f\"></iframe>\n<iframe id=\"marketing\" class=\"iframe-container\" src=\"https://xl.epicpc.com/webhook/70d781f0-c37f-4d91-a434-a99f5ccf91e4\" style=\"display: none;\"></iframe>\n\n<script>\n    function showTab(tabId) {\n        const tabs = document.querySelectorAll('.tab');\n        const iframes = document.querySelectorAll('.iframe-container');\n\n        tabs.forEach(tab => {\n            tab.classList.remove('active');\n        });\n\n        document.getElementById(`${tabId}-tab`).classList.add('active');\n\n        iframes.forEach(iframe => {\n            iframe.style.display = iframe.id === tabId ? 'block' : 'none';\n        });\n    }\n</script>\n\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        -240
      ],
      "id": "d57d8f1f-bce6-47cb-8786-d036bf4eff19",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>NoCoDB Table</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 20px;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border: 1px solid #ddd;\n      text-align: left;\n    }\n    th {\n      background-color: #f4f4f4;\n    }\n    input {\n      padding: 5px;\n      margin-right: 5px;\n      width: 90%;\n    }\n    button {\n      padding: 5px 10px;\n      background-color: #28a745;\n      color: white;\n      border: none;\n      cursor: pointer;\n    }\n    button:hover {\n      background-color: #218838;\n    }\n    /* Modal Styling */\n    #qrCodeModal {\n      display: none;\n      position: fixed;\n      top: 0;\n      left: 0;\n      width: 100%;\n      height: 100%;\n      background-color: rgba(0, 0, 0, 0.5);\n      justify-content: center;\n      align-items: center;\n    }\n    #qrCodeModal img {\n      max-width: 300px;\n      max-height: 300px;\n    }\n  </style>\n  <script>\n    function openModal(qrCodeUrl) {\n      const modalQRCode = document.getElementById(\"modalQRCode\");\n      const qrCodeModal = document.getElementById(\"qrCodeModal\");\n      modalQRCode.src = qrCodeUrl;\n      qrCodeModal.style.display = \"flex\";\n    }\n\n    function closeModalOnClickOutside(event) {\n      const qrCodeModal = document.getElementById(\"qrCodeModal\");\n      if (event.target === qrCodeModal) {\n        qrCodeModal.style.display = \"none\";\n      }\n    }\n\n    async function updateURLAndDescription(id, webhookurl) {\n      const descriptionInput = document.getElementById(`description-${id}`);\n      const urlInput = document.getElementById(`url-${id}`);\n      const newDescription = descriptionInput.value.trim();\n      const newURL = urlInput.value.trim();\n\n      if (!newDescription || !newURL) {\n        alert(\"Both Description and URL are required.\");\n        return;\n      }\n\n      try {\n        const response = await fetch(\"https://xl.epicpc.com/webhook/8a0f7bf5-7c80-4f35-9924-439a588a3b91\", {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({\n            id,\n            webhookurl,\n            URL: newURL,\n            Description: newDescription,\n          }),\n        });\n\n        if (response.ok) {\n          alert(\"Description and URL updated successfully!\");\n          location.reload();\n        } else {\n          alert(\"Failed to update Description and URL.\");\n        }\n      } catch (error) {\n        console.error(\"Error updating Description and URL:\", error);\n        alert(\"An error occurred. Please try again.\");\n      }\n    }\n  </script>\n</head>\n<body>\n  <h1>NoCoDB Table</h1>\n  <table>\n    <thead>\n      <tr>\n        <th>ID</th>\n        <th>QRWEBHOOK</th>\n        <th>CreatedAt</th>\n        <th>UpdatedAt</th>\n        <th>URL</th>\n        <th>Description</th>\n        <th>QR</th>\n        <th>ShortURL</th>\n        <th>Actions</th>\n      </tr>\n    </thead>\n    <tbody>\n      <script>\n        const entries = {{ JSON.stringify($json.data) }};\n\n        entries.forEach((entry) => {\n          const qrCodeUrl = `https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${encodeURIComponent(entry.ShortURL)}`;\n          document.write(`\n            <tr>\n              <td>${entry.Id}</td>\n              <td>${entry.QRWEBHOOK}</td>\n              <td>${entry.CreatedAt}</td>\n              <td>${entry.UpdatedAt}</td>\n              <td>\n                <input id=\"url-${entry.Id}\" type=\"text\" value=\"${entry.URL || \"\"}\" placeholder=\"Enter URL\">\n              </td>\n              <td>\n                <input id=\"description-${entry.Id}\" type=\"text\" value=\"${entry.Description || \"\"}\" placeholder=\"Enter Description\">\n              </td>\n              <td>\n                <img src=\"${qrCodeUrl}\" alt=\"QR Code\" style=\"width: 50px; height: 50px; cursor: pointer;\" onclick=\"openModal('${qrCodeUrl}')\">\n              </td>\n              <td><a href=\"${entry.ShortURL}\" target=\"_blank\">${entry.ShortURL}</a></td>\n              <td>\n                <button onclick=\"updateURLAndDescription(${entry.Id}, '${entry.webhookurl}')\">Update</button>\n              </td>\n            </tr>\n          `);\n        });\n      </script>\n    </tbody>\n  </table>\n\n  <!-- QR Code Modal -->\n  <div id=\"qrCodeModal\" onclick=\"closeModalOnClickOutside(event)\" style=\"display: none; justify-content: center; align-items: center;\">\n    <img id=\"modalQRCode\" alt=\"QR Code\">\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1580,
        480
      ],
      "id": "854131c4-8763-48c3-8da8-30e2f8e85460",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "path": "70d781f0-c37f-4d91-a434-a99f5ccf91e4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        480
      ],
      "id": "273c6fad-dff9-457c-9f12-7d4dae3c11d6",
      "name": "Webhook3",
      "webhookId": "70d781f0-c37f-4d91-a434-a99f5ccf91e4"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "2577f6a3-d842-4ee7-a78f-ca39d5622ac6",
      "name": "Respond to Webhook6",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        1720
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        1720
      ],
      "id": "2a7f0789-b60b-4afc-b1a8-71e4e7436c76",
      "name": "NocoDB6",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1680
      ],
      "typeVersion": 1,
      "id": "c0c56e40-02ff-4a53-aef8-47f545ba3ba6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "QR4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "98c82135-a263-4853-a0e2-d7449b748892",
      "name": "QR4",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        1720
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "9f759a6e-e07e-4137-a350-27c9f0bb8045",
      "name": "Respond to Webhook7",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        2020
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        2020
      ],
      "id": "f8d77db4-b345-4599-b201-119cbb2f9a03",
      "name": "NocoDB8",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1980
      ],
      "typeVersion": 1,
      "id": "5e335fb7-bac1-4e36-9176-71998765eb16",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "path": "QR5",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "03fdc57f-03e1-461f-8c80-3770952d950a",
      "name": "QR5",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        2020
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "ef03163b-60fd-4683-8133-c3e060dc982c",
      "name": "Respond to Webhook8",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        2280
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        2280
      ],
      "id": "f422042f-27d9-4eb3-91c5-365ea926ed9a",
      "name": "NocoDB9",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        2240
      ],
      "typeVersion": 1,
      "id": "c354aebd-7add-480c-bb0b-e816343f1d1a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "path": "QR6",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3d0165e0-824f-4504-89e5-4508031067bd",
      "name": "QR6",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        2280
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "e78cbcdb-80c7-4648-829e-a7d5b99b594d",
      "name": "Respond to Webhook10",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        2840
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        2840
      ],
      "id": "f39a6d67-c4fd-4fa7-8217-2ec225f42860",
      "name": "NocoDB10",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        2800
      ],
      "typeVersion": 1,
      "id": "86743b0f-9695-4494-adfd-a2a9d5568783",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "path": "QR8",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7e2ca3b6-27df-4a3e-a4e7-c1a19bc3ebc5",
      "name": "QR8",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        2840
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "da9c679c-f30e-44cb-9619-b813cceb520b",
      "name": "Respond to Webhook11",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        3080
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        3080
      ],
      "id": "7be5672f-fe41-4d46-9897-22bdabfe54d2",
      "name": "NocoDB11",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        3040
      ],
      "typeVersion": 1,
      "id": "894506a6-1d9f-45fd-a96d-c0cbb1623f1f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "path": "QR9",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d5daa2a7-9800-4a77-8f50-8554d6ade509",
      "name": "QR9",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        3080
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "46d4c675-3308-4bbf-8fba-04201ec5ac8f",
      "name": "Respond to Webhook12",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        3340
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        3340
      ],
      "id": "e7891fad-2e57-4650-be7d-0a443af7acf3",
      "name": "NocoDB12",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        3300
      ],
      "typeVersion": 1,
      "id": "01eea070-8115-4afd-873c-3368cbcd3925",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "path": "QR10",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bfc160ce-e232-4fe7-bd05-8d3aaabdda26",
      "name": "QR10",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        3340
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "url": "=https://xl.epicpc.com/webhook/QR10",
        "additionalFields": {}
      },
      "id": "727b7e57-f291-4bd6-b7d3-27992f260244",
      "name": "Yourls1",
      "type": "n8n-nodes-base.yourls",
      "typeVersion": 1,
      "position": [
        140,
        460
      ],
      "credentials": {
        "yourlsApi": {
          "id": "6NO7EGDBw1CupKtb",
          "name": "Yourls account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1040,
        480
      ],
      "id": "f989c842-0c90-4e80-8275-63f49ada8a90",
      "name": "NocoDB2",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8a0f7bf5-7c80-4f35-9924-439a588a3b91",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1880,
        480
      ],
      "id": "4c04b22c-0f62-405b-bf12-53281701afe1",
      "name": "Webhook4",
      "webhookId": "8a0f7bf5-7c80-4f35-9924-439a588a3b91"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1260,
        480
      ],
      "id": "833904e3-0735-47e5-bdc3-84e76875b9f8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2280,
        480
      ],
      "id": "740923cb-dcfd-4495-bff2-753bcac50700",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.body.id }}"
            },
            {
              "fieldName": "URL",
              "fieldValue": "={{ $json.body.URL }}"
            },
            {
              "fieldName": "Description",
              "fieldValue": "={{ $json.body.Description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2100,
        480
      ],
      "id": "ec7008e1-d75b-4ff3-ad1a-ae8975557de8",
      "name": "NocoDB3",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>NoCoDB Table</title>\n  <script>\n    async function updateURLAndDescription(id, webhookurl) {\n      const descriptionInput = document.getElementById(`description-${id}`);\n      const urlInput = document.getElementById(`url-${id}`);\n      const newDescription = descriptionInput.value.trim();\n      const newURL = urlInput.value.trim();\n\n      if (!newDescription || !newURL) {\n        alert(\"Both Description and URL are required.\");\n        return;\n      }\n\n      try {\n        const response = await fetch(\"https://xl.epicpc.com/webhook/8a0f7bf5-7c80-4f35-9924-439a588a3b91\", {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({\n            id,\n            webhookurl,\n            URL: newURL,\n            Description: newDescription,\n          }),\n        });\n\n        if (response.ok) {\n          alert(\"Description and URL updated successfully!\");\n          location.reload();\n        } else {\n          alert(\"Failed to update Description and URL.\");\n        }\n      } catch (error) {\n        console.error(\"Error updating Description and URL:\", error);\n        alert(\"An error occurred. Please try again.\");\n      }\n    }\n  </script>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 20px;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border: 1px solid #ddd;\n      text-align: left;\n    }\n    th {\n      background-color: #f4f4f4;\n    }\n    input {\n      padding: 5px;\n      margin-right: 5px;\n      width: 90%;\n    }\n    button {\n      padding: 5px 10px;\n      background-color: #28a745;\n      color: white;\n      border: none;\n      cursor: pointer;\n    }\n    button:hover {\n      background-color: #218838;\n    }\n  </style>\n</head>\n<body>\n  <h1>NoCoDB Table</h1>\n  <table>\n    <thead>\n      <tr>\n        <th>ID</th>\n        <th>QRWEBHOOK</th>\n        <th>CreatedAt</th>\n        <th>UpdatedAt</th>\n        <th>URL</th>\n        <th>Description</th>\n        <th>QR</th>\n        <th>ShortURL</th>\n        <th>Actions</th>\n      </tr>\n    </thead>\n    <tbody>\n      <script>\n        const entries = {{ JSON.stringify($json.data) }};\n\n        entries.forEach((entry) => {\n          document.write(`\n            <tr>\n              <td>${entry.Id}</td>\n              <td>${entry.QRWEBHOOK}</td>\n              <td>${entry.CreatedAt}</td>\n              <td>${entry.UpdatedAt}</td>\n              <td>\n                <input id=\"url-${entry.Id}\" type=\"text\" value=\"${entry.URL || \"\"}\" placeholder=\"Enter URL\">\n              </td>\n              <td>\n                <input id=\"description-${entry.Id}\" type=\"text\" value=\"${entry.Description || \"\"}\" placeholder=\"Enter Description\">\n              </td>\n              <td><a href=\"${entry.QR}\" target=\"_blank\">${entry.QR}</a></td>\n              <td><a href=\"${entry.ShortURL}\" target=\"_blank\">${entry.ShortURL}</a></td>\n              <td>\n                <button onclick=\"updateURLAndDescription(${entry.Id}, '${entry.webhookurl}')\">Update</button>\n              </td>\n            </tr>\n          `);\n        });\n      </script>\n    </tbody>\n  </table>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1580,
        660
      ],
      "id": "e02507d1-1105-4117-841d-e354d7345b2d",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "6e49d33d-3f9f-4aa9-a496-bfbc8fec2353",
      "name": "Respond to Webhook14",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        2560
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        2560
      ],
      "id": "f0fcd546-e7f9-4289-977e-1dda6769a51b",
      "name": "NocoDB13",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        2520
      ],
      "typeVersion": 1,
      "id": "dcae3203-bef4-473d-b2d6-c776621b087d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "path": "QR7",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e338d998-5d96-48cc-855e-def5e1ae518b",
      "name": "QR7",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        2560
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "3f520dc6-b5cd-4c36-8a52-37f3c209ab06",
      "name": "Respond to Webhook15",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        920
      ]
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "661c70c4-d26c-4347-a8b2-427ca311623a",
      "name": "Respond to Webhook16",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        3320
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        920
      ],
      "id": "ee361dcb-0367-42a5-81a2-7026d57b7b12",
      "name": "NocoDB14",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        3320
      ],
      "id": "15047ecd-2575-4a49-9446-05bd31c779ea",
      "name": "NocoDB15",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "path": "QR11",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bf08da17-46c2-45c1-8d02-95a702fe3054",
      "name": "QR11",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        920
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        3280
      ],
      "typeVersion": 1,
      "id": "af4dfccf-fbc2-4e62-a451-5e7b943889f4",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        880
      ],
      "typeVersion": 1,
      "id": "29cf4cdc-60c5-40de-bfbf-5ce0d3fb95e9",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "f83dc859-9396-4537-a914-c1c81ded8620",
      "name": "Respond to Webhook17",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        1180
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        1180
      ],
      "id": "fd066d85-267c-4470-bc9e-cae7af04b8d8",
      "name": "NocoDB16",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1140
      ],
      "typeVersion": 1,
      "id": "5314f13e-359b-4152-82e7-0e9d79589e67",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "path": "QR12",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "815f962d-7134-4a46-aa82-bfe9e82d77c9",
      "name": "QR12",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        1180
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "0815b9c5-39ca-4d6a-9e53-65dc16820b8b",
      "name": "Respond to Webhook18",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        1460
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        1460
      ],
      "id": "d80bdf91-a8f0-4c10-866a-dd8402cbac10",
      "name": "NocoDB17",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1420
      ],
      "typeVersion": 1,
      "id": "16a2863c-e4bf-4876-b871-5fc4f5191ae6",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "path": "QR13",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1c656e2c-5750-47f6-aee1-835352294549",
      "name": "QR13",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        1460
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "f3078124-5fcd-45f3-94e4-f26a97b1473c",
      "name": "Respond to Webhook19",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        1700
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        1700
      ],
      "id": "d2a98157-9869-4f51-b277-8e7e5b28d0c3",
      "name": "NocoDB18",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1660
      ],
      "typeVersion": 1,
      "id": "f82efc29-4c5c-46eb-b049-e266c28ba61b",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "path": "QR14",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9f90f66c-98e5-49c4-abdd-664c6764b928",
      "name": "QR14",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        1700
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "6f7bead3-ce1f-47ec-a756-cb2271455dfe",
      "name": "Respond to Webhook20",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        1960
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        1960
      ],
      "id": "7eadae32-9c18-4d56-910f-e40dd59574a6",
      "name": "NocoDB19",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1920
      ],
      "typeVersion": 1,
      "id": "7c297891-737c-43da-b514-a00580d8a80c",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "path": "QR15",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "408c78ef-011a-4569-8688-2019134b9a57",
      "name": "QR15",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        1960
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "833a48d7-84c9-449f-8da8-dac192daa40f",
      "name": "Respond to Webhook21",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        2240
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        2240
      ],
      "id": "5ec3b83e-b4db-4b8a-8414-78f19d4b0a78",
      "name": "NocoDB20",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        2200
      ],
      "typeVersion": 1,
      "id": "2637a8d2-bdd0-4cf9-b520-0989bcd961d0",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "path": "QR16",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f555d941-da50-4d0e-8b93-d4184181507b",
      "name": "QR16",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        2240
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "162a4bd1-a721-49df-a350-dfa04d222e1a",
      "name": "Respond to Webhook22",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        2520
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        2520
      ],
      "id": "0f4b5515-659d-4d6d-981d-a9e152fcf944",
      "name": "NocoDB21",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        2480
      ],
      "typeVersion": 1,
      "id": "8da61a19-bf83-4c47-a91f-ae602c53e32f",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "path": "QR17",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "473ae509-362e-4405-ade1-49b5a20a46db",
      "name": "QR17",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        2520
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "3a45e55b-247f-413a-81d0-9435b2babac6",
      "name": "Respond to Webhook23",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        2780
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        2780
      ],
      "id": "a4612b92-c3a7-4def-b55a-d1f33386e4da",
      "name": "NocoDB22",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        2740
      ],
      "typeVersion": 1,
      "id": "029d69f5-c3f9-406c-bc0e-2600491146a0",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "path": "QR18",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "48576695-c44c-4250-9232-d45ff7d20a3d",
      "name": "QR18",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        2780
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.URL }}",
        "options": {}
      },
      "id": "9a0e2a20-cb10-4397-97a1-58e547b59583",
      "name": "Respond to Webhook24",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        3080
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pl4l0vdpk49pzsz",
        "table": "m0b7b7fd0178w1o",
        "returnAll": true,
        "options": {
          "where": "=(webhookurl,eq,{{ $json.webhookUrl }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2380,
        3080
      ],
      "id": "10f89598-0b33-4c0e-835d-31ddcedf1633",
      "name": "NocoDB23",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NQp5MuqQIS7vyAPq",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "height": 200,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        3040
      ],
      "typeVersion": 1,
      "id": "9e6e8561-3584-49c8-943b-694a138cef3a",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "path": "QR19",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "434b8fae-f7f2-4b59-b5ba-dbbe48947c2c",
      "name": "QR19",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        3080
      ],
      "webhookId": "92372988-4255-479f-9690-b25b61d01716"
    },
    {
      "parameters": {
        "path": "QR20",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fc684fc5-afed-40c4-8dc5-8ab66acb2662",
      "name": "QR20",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2140,
        3320
      ],
      "webhookId": "0f80da12-c96b-4b19-a3a9-65a4206b5dcf"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Tabbed Iframe Viewer</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        .tabs {\n            display: flex;\n            justify-content: space-around;\n            background-color: #f1f1f1;\n            padding: 10px 0;\n            border-bottom: 2px solid #ddd;\n        }\n\n        .tab {\n            padding: 10px 20px;\n            cursor: pointer;\n            font-size: 16px;\n            border-radius: 5px;\n            transition: all 0.3s ease;\n        }\n\n        .tab:hover {\n            background-color: #e0e0e0;\n        }\n\n        .tab.active {\n            background-color: #007bff;\n            color: white;\n            font-weight: bold;\n            font-size: 18px;\n            border-bottom: 4px solid #0056b3;\n        }\n\n        .iframe-container {\n            width: 100%;\n            height: calc(100vh - 50px);\n            border: none;\n        }\n    </style>\n</head>\n<body>\n\n<div class=\"tabs\">\n    <div class=\"tab active\" id=\"shortener-tab\" onclick=\"showTab('shortener')\">URL Shortener</div>\n    <div class=\"tab\" id=\"marketing-tab\" onclick=\"showTab('marketing')\">QR Marketing</div>\n</div>\n\n<iframe id=\"shortener\" class=\"iframe-container\" src=\"https://xl.epicpc.com/webhook/c922fa4d-21ae-4bcd-95d8-27f43e910c6f\"></iframe>\n<iframe id=\"marketing\" class=\"iframe-container\" src=\"https://xl.epicpc.com/webhook/70d781f0-c37f-4d91-a434-a99f5ccf91e4\" style=\"display: none;\"></iframe>\n\n<script>\n    function showTab(tabId) {\n        const tabs = document.querySelectorAll('.tab');\n        const iframes = document.querySelectorAll('.iframe-container');\n\n        tabs.forEach(tab => {\n            tab.classList.remove('active');\n        });\n\n        document.getElementById(`${tabId}-tab`).classList.add('active');\n\n        iframes.forEach(iframe => {\n            iframe.style.display = iframe.id === tabId ? 'block' : 'none';\n        });\n    }\n</script>\n\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        -360
      ],
      "id": "d7a717b1-59b9-4cc5-8bf4-a2244f113b69",
      "name": "Respond to Webhook25"
    }
  ],
  "pinData": {
    "NocoDB1": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "NocoDB": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR2": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.34",
            "x-forwarded-for": "10.0.24.34",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "66",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "dnt": "1",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://xl.epicpc.com",
            "sec-fetch-site": "same-origin",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://xl.epicpc.com/webhook/c922fa4d-21ae-4bcd-95d8-27f43e910c6f",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19UCS5YrmF%2Bm06Ff8KmkYhZ1lw0dfu5oBo%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KFsX8zHSY8R9vkYyEMra3%2FYkC%2Fapujog%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiZnRhdFJNSHQ2dThEVWlnNmtZUGdVb2pIRlhmQ0FDeGlxaUEvRHpRaGlKMD0iLCJpYXQiOjE3MzMxNDMwODYsImV4cCI6MTczMzc0Nzg4Nn0.bC6SvKkrpwpBVVxyZ_U9PZ73ud06g4NrFxvzncUSTu4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bf7ld4j9KEyJQem7OkhrUlTnmYqXKyVMIeg1AHzO2iRomEYJEjgqnZBXv2tdd3BlXfdvqXGt0pMA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19XySy%2FaQ5tQB29%2BkZawjZ9FyTXR4m6PkcF0JKi32YMMQ9ZCe%2F7j9kmZx6V7mU0%2FLJmyk6mr3HDFQaaY%2FFAgbEvY6%2F0%2FhlXB3f%2FW62EsOAVZOxzUI9k5RmwVrgJ03pZ8Kchh3lNvYSodpw1GSgdDIrDHeD1x1xlybw%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19kIrTF0qa4NsS7MAb2rsYGkfrBOBe3EFaogKz8nIbetBw8gUUgfwzb6VWPJzIcH4GJ1CPcu9pr1ALbMlfInJ3Bh1GauFDwcxNvswqSvjrEtbLlvD2ifbc6FlMBqqfx09WW8neR2x5w1A%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1733265475654%2C%2201938e5e-a462-7ce8-bcb0-f89b55a03bb0%22%2C1733260387425%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fxl.epicpc.com%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX18%2FqUb5O%2BV70BPrOA8zoB638r41xjKlRNzvj6iw2qmbyF717Tiom91R%2BfcGl1Jq1lVTZIM8QAPK5kskiIDyuKYUiKyNP7oBD01sir0J6LKXVbpbAx9AxbU8n6OhPUSvk0xXCIJc%2F9OOWg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {
            "description": "This is another test",
            "url": "https://example.com"
          },
          "webhookUrl": "https://xl.epicpc.com/webhook/3b8a2d30-5123-4c9b-bdf6-bffdb25ac196",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB5": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR3": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "Aggregate1": [
      {
        "json": {
          "data": [
            {
              "Id": 1,
              "LinkDescription": "Test for URL shortener",
              "CreatedAt": "2024-12-03 22:18:38",
              "UpdatedAt": "2024-12-03 22:25:11",
              "LongLink": "https://epichs.org",
              "ShortURL": "https://hs.epicpc.com/SY6Om",
              "QRCode": "https://hs.epicpc.com/SY6Om"
            },
            {
              "Id": 3,
              "LinkDescription": "This is a test",
              "CreatedAt": "2024-12-03 22:42:31",
              "UpdatedAt": "2024-12-03 22:42:32",
              "LongLink": "https://example.com",
              "ShortURL": "https://hs.epicpc.com/Twnit",
              "QRCode": "https://hs.epicpc.com/Twnit"
            },
            {
              "Id": 4,
              "LinkDescription": "This is another test",
              "CreatedAt": "2024-12-03 23:17:28",
              "UpdatedAt": "2024-12-03 23:17:29",
              "LongLink": "https://example.com/3",
              "ShortURL": "https://hs.epicpc.com/MKuP9",
              "QRCode": "https://hs.epicpc.com/MKuP9"
            },
            {
              "Id": 5,
              "LinkDescription": "Testing one more time",
              "CreatedAt": "2024-12-03 23:23:38",
              "UpdatedAt": "2024-12-03 23:23:38",
              "LongLink": "https://example.com/32",
              "ShortURL": "https://hs.epicpc.com/45JSn",
              "QRCode": "https://hs.epicpc.com/45JSn"
            }
          ]
        }
      }
    ],
    "NocoDB6": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR4": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB8": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR5": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB9": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR6": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB10": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR8": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB11": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR9": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB12": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR10": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB2": [
      {
        "json": {
          "Id": 1,
          "QRWEBHOOK": "QR1",
          "CreatedAt": "2024-11-19 20:36:25",
          "UpdatedAt": "2024-12-02 20:40:06",
          "URL": "https://google.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR1",
          "QR": "https://hs.epicpc.com/0EhVI",
          "ShortURL": "https://hs.epicpc.com/0EhVI"
        }
      },
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-04 14:16:42",
          "URL": "https://epichs.org",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://hs.epicpc.com/xwao7",
          "ShortURL": "https://hs.epicpc.com/xwao7"
        }
      },
      {
        "json": {
          "Id": 4,
          "QRWEBHOOK": "QR3",
          "CreatedAt": "2024-12-02 19:57:50",
          "UpdatedAt": "2024-12-04 14:12:52",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR3",
          "QR": "https://hs.epicpc.com/blgYq",
          "ShortURL": "https://hs.epicpc.com/blgYq"
        }
      },
      {
        "json": {
          "Id": 5,
          "QRWEBHOOK": "QR4",
          "CreatedAt": "2024-12-04 14:11:26",
          "UpdatedAt": "2024-12-04 14:13:56",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR4",
          "QR": "https://hs.epicpc.com/paTVx",
          "ShortURL": "https://hs.epicpc.com/paTVx"
        }
      },
      {
        "json": {
          "Id": 6,
          "QRWEBHOOK": "QR5",
          "CreatedAt": "2024-12-04 14:11:31",
          "UpdatedAt": "2024-12-04 14:14:15",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR5",
          "QR": "https://hs.epicpc.com/SDaxP",
          "ShortURL": "https://hs.epicpc.com/SDaxP"
        }
      },
      {
        "json": {
          "Id": 7,
          "QRWEBHOOK": "QR6",
          "CreatedAt": "2024-12-04 14:11:37",
          "UpdatedAt": "2024-12-04 14:14:31",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR6",
          "QR": "https://hs.epicpc.com/PNcfu\t",
          "ShortURL": "https://hs.epicpc.com/PNcfu\t"
        }
      },
      {
        "json": {
          "Id": 8,
          "QRWEBHOOK": "QR7",
          "CreatedAt": "2024-12-04 14:11:40",
          "UpdatedAt": "2024-12-04 14:14:44",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR7",
          "QR": "https://hs.epicpc.com/0IQBh",
          "ShortURL": "https://hs.epicpc.com/0IQBh"
        }
      },
      {
        "json": {
          "Id": 9,
          "QRWEBHOOK": "QR8",
          "CreatedAt": "2024-12-04 14:11:47",
          "UpdatedAt": "2024-12-04 14:15:00",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR8",
          "QR": "https://hs.epicpc.com/FgHgU",
          "ShortURL": "https://hs.epicpc.com/FgHgU"
        }
      },
      {
        "json": {
          "Id": 10,
          "QRWEBHOOK": "QR9",
          "CreatedAt": "2024-12-04 14:11:54",
          "UpdatedAt": "2024-12-04 14:15:49",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR9",
          "QR": "https://hs.epicpc.com/Sd2lq",
          "ShortURL": "https://hs.epicpc.com/Sd2lq"
        }
      },
      {
        "json": {
          "Id": 11,
          "QRWEBHOOK": "QR10",
          "CreatedAt": "2024-12-04 14:11:56",
          "UpdatedAt": "2024-12-04 14:15:44",
          "URL": null,
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR10",
          "QR": "https://hs.epicpc.com/i3vEf",
          "ShortURL": "https://hs.epicpc.com/i3vEf"
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "data": [
            {
              "Id": 1,
              "QRWEBHOOK": "QR1",
              "CreatedAt": "2024-11-19 20:36:25",
              "UpdatedAt": "2024-12-02 20:40:06",
              "URL": "https://google.com",
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR1",
              "QR": "https://hs.epicpc.com/0EhVI",
              "ShortURL": "https://hs.epicpc.com/0EhVI"
            },
            {
              "Id": 3,
              "QRWEBHOOK": "QR2",
              "CreatedAt": "2024-11-19 22:07:47",
              "UpdatedAt": "2024-12-04 14:16:42",
              "URL": "https://epichs.org",
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR2",
              "QR": "https://hs.epicpc.com/xwao7",
              "ShortURL": "https://hs.epicpc.com/xwao7"
            },
            {
              "Id": 4,
              "QRWEBHOOK": "QR3",
              "CreatedAt": "2024-12-02 19:57:50",
              "UpdatedAt": "2024-12-04 14:12:52",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR3",
              "QR": "https://hs.epicpc.com/blgYq",
              "ShortURL": "https://hs.epicpc.com/blgYq"
            },
            {
              "Id": 5,
              "QRWEBHOOK": "QR4",
              "CreatedAt": "2024-12-04 14:11:26",
              "UpdatedAt": "2024-12-04 14:13:56",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR4",
              "QR": "https://hs.epicpc.com/paTVx",
              "ShortURL": "https://hs.epicpc.com/paTVx"
            },
            {
              "Id": 6,
              "QRWEBHOOK": "QR5",
              "CreatedAt": "2024-12-04 14:11:31",
              "UpdatedAt": "2024-12-04 14:14:15",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR5",
              "QR": "https://hs.epicpc.com/SDaxP",
              "ShortURL": "https://hs.epicpc.com/SDaxP"
            },
            {
              "Id": 7,
              "QRWEBHOOK": "QR6",
              "CreatedAt": "2024-12-04 14:11:37",
              "UpdatedAt": "2024-12-04 14:14:31",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR6",
              "QR": "https://hs.epicpc.com/PNcfu\t",
              "ShortURL": "https://hs.epicpc.com/PNcfu\t"
            },
            {
              "Id": 8,
              "QRWEBHOOK": "QR7",
              "CreatedAt": "2024-12-04 14:11:40",
              "UpdatedAt": "2024-12-04 14:14:44",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR7",
              "QR": "https://hs.epicpc.com/0IQBh",
              "ShortURL": "https://hs.epicpc.com/0IQBh"
            },
            {
              "Id": 9,
              "QRWEBHOOK": "QR8",
              "CreatedAt": "2024-12-04 14:11:47",
              "UpdatedAt": "2024-12-04 14:15:00",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR8",
              "QR": "https://hs.epicpc.com/FgHgU",
              "ShortURL": "https://hs.epicpc.com/FgHgU"
            },
            {
              "Id": 10,
              "QRWEBHOOK": "QR9",
              "CreatedAt": "2024-12-04 14:11:54",
              "UpdatedAt": "2024-12-04 14:15:49",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR9",
              "QR": "https://hs.epicpc.com/Sd2lq",
              "ShortURL": "https://hs.epicpc.com/Sd2lq"
            },
            {
              "Id": 11,
              "QRWEBHOOK": "QR10",
              "CreatedAt": "2024-12-04 14:11:56",
              "UpdatedAt": "2024-12-04 14:15:44",
              "URL": null,
              "Description": null,
              "webhookurl": "https://xl.epicpc.com/webhook/QR10",
              "QR": "https://hs.epicpc.com/i3vEf",
              "ShortURL": "https://hs.epicpc.com/i3vEf"
            }
          ]
        }
      }
    ],
    "Webhook4": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "10.0.24.34",
            "x-forwarded-for": "10.0.24.34",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "116",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "dnt": "1",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://xl.epicpc.com",
            "sec-fetch-site": "same-origin",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://xl.epicpc.com/webhook/70d781f0-c37f-4d91-a434-a99f5ccf91e4",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19UCS5YrmF%2Bm06Ff8KmkYhZ1lw0dfu5oBo%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KFsX8zHSY8R9vkYyEMra3%2FYkC%2Fapujog%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY5YWFiYmJkLTZiNjktNGIwMC1iMGUzLWQ5MTQzYTYzYWUzNCIsImhhc2giOiJZaXdOcHpaYzdGIiwiYnJvd3NlcklkIjoiZnRhdFJNSHQ2dThEVWlnNmtZUGdVb2pIRlhmQ0FDeGlxaUEvRHpRaGlKMD0iLCJpYXQiOjE3MzMxNDMwODYsImV4cCI6MTczMzc0Nzg4Nn0.bC6SvKkrpwpBVVxyZ_U9PZ73ud06g4NrFxvzncUSTu4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BPPG1inzYgfKGzjDO3GIef0Iv6FgRCYOv%2BXMVNf4cmgeRdLDXjxUrwUZ%2BWzLYyshwHYjnpJRomvw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19XRecLTE4KtQZSzirs0G1kkz0G5kIsI3dayoZu4p1dZI1ay41zoT9ioZNcYkUU3mzbE4vfUbm4JmkxGe1tn46%2B117A5QNsK7%2BOykHdOSW1INji1z%2FLfxqd4gAHtecFEh33DkWVk4Bb3TxI4zkARplrAJgQKea4F04%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19dJ75EmN6IOgLQ4grzmauY03WgEn1f6I8CVQtGHBkxSbgsgssG6oag78y5kCJ8K6P2NusoPGYLV88loG303l67%2F6f16hY5bshuNCmSdYZGLd6s4%2BGvT2HpQ8Y%2F9dH1ljAX2O9ZiPuleA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1733322787939%2C%22019391f0-4d28-7af4-bfd4-56382851e750%22%2C1733320265000%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fxl.epicpc.com%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19JVqBgjwIL825yUJ5iOW6BvsroGec5z5tJvF6dHPQ8rU%2FJugFaYj98E8f9ofITbSa2tERei88pWufzUJ7FWMumlT3VWnnlV3Vj7yw8%2BezEIRJbacB2wmDIvo%2BJwh3O5xgdRqgCN2sbTw%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 4,
            "webhookurl": "https://xl.epicpc.com/webhook/QR3",
            "URL": "https://example.com",
            "Description": "This is a test"
          },
          "webhookUrl": "https://xl.epicpc.com/webhook/8a0f7bf5-7c80-4f35-9924-439a588a3b91",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB13": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR7": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB14": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "NocoDB15": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR11": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB16": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR12": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB17": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR13": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB18": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR14": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB19": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR15": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB20": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR16": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB21": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR17": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB22": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR18": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ],
    "NocoDB23": [
      {
        "json": {
          "Id": 3,
          "QRWEBHOOK": "https://xl.epicpc.com/webhook/QR2",
          "CreatedAt": "2024-11-19 22:07:47",
          "UpdatedAt": "2024-12-02 19:53:36",
          "URL": "amazon.com",
          "Description": null,
          "webhookurl": "https://xl.epicpc.com/webhook/QR2",
          "QR": "https://xl.epicpc.com/webhook/QR2"
        }
      }
    ],
    "QR19": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "172.58.126.203",
            "x-forwarded-for": "172.58.126.203",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "dnt": "1",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FTBOZ6qp2CfLyrsgyXqbUBIDwJbrYe7Ck%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FTTKO8r%2Bx6b4OutswOWNiARtTpK5jWxNc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tMUyBNxhp%2BPh%2BniUpkl6T84vfFZDEkmGab25IBj%2BIqpuFuDOGADjFksDwW5yPM5%2Fx%2BpYnZ9GW1Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BstUEuRGlp4wtFTO94vc6Hin4FDr9d87GThUJ1p8pu9JIyVNhI%2FqeAtTUQtVnXAf4KZtiWo0JGb9G6rh7x6TRnrbC2%2FXEE8TJdgPWSWk8seFYzR2MkTTrDD6VEqDM%2BUz6o7tDvCf7RXvPq2wJGjRpntLVvRSxxvLc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B2YylurnJw1VkUzWUk5%2BDD0LYR998L2pxJ2YbAxTJTyQ8QnlRN6d3dULzaEGLdRi1QEU3XDT3lmK%2BkEfmIJqk8AtIo9wACD592TLK4pekdrj5qLMFklCIVZIgFOUAl9aQPtA6%2FVGs7rA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22fbbaa0fe7164b93e2c831f7816129952355ab8de07812c802f276efe6e8da0f3%23f9aabbbd-6b69-4b00-b0e3-d9143a63ae34%22%2C%22%24sesid%22%3A%5B1732182851310%2C%2201934e24-bedf-7d10-b19f-47add75cfb5f%22%2C1732182851295%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1891GciZqN5SRGwf93%2FaGTYhhn%2BDyO9RIpQ9NfGE%2BuXgzV52xBUTgyyzPwh2dyuQvVCu94oQ7orZwJ5Cz09TzqUzN5Y5Sqb25PcixcsGLnPnJKy%2F0IhLuK9h4h%2BrF4w9qahBti17czaPg%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/QR2",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 25,
  "updatedAt": "2025-02-26T20:04:32.847Z",
  "versionId": "9ea713dd-8818-4d53-a38f-95643d27dc13"
}