workflows/Unity Notification API
{
  "active": true,
  "connections": {
    "Login/Authenticate": {
      "main": [
        [
          {
            "node": "Send Message to All Uses",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login/Authenticate1": {
      "main": [
        [
          {
            "node": "Send Message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login/Authenticate2": {
      "main": [
        [
          {
            "node": "Send Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Block": {
      "main": [
        [
          {
            "node": "Login/Authenticate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unblock": {
      "main": [
        [
          {
            "node": "Login/Authenticate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login/Authenticate3": {
      "main": [
        []
      ]
    },
    "Login/Authenticate4": {
      "main": [
        []
      ]
    },
    "Login/Authenticate5": {
      "main": [
        [
          {
            "node": "Send Message5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-15T11:25:07.100Z",
  "id": "zGKfmOmYxo6vQrsf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Unity Notification API",
  "nodes": [
    {
      "parameters": {},
      "id": "1b82aead-77f7-4d47-bd1d-20fcb349c0b2",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        520,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "ithelpdesk@epicpc.com"
            },
            {
              "name": "password",
              "value": "1204Tjjn"
            }
          ]
        },
        "options": {}
      },
      "id": "8956aa41-1e01-4ce5-a3a4-7e58c280489e",
      "name": "Login/Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Thank You!</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      background-color: #f7f7f7;\n      overflow: hidden;\n      font-family: 'Arial', sans-serif;\n    }\n\n    h1 {\n      font-size: 4rem;\n      color: #333;\n      text-align: center;\n      z-index: 1;\n    }\n\n    canvas {\n      position: absolute;\n      top: 0;\n      left: 0;\n      width: 100%;\n      height: 100%;\n    }\n  </style>\n</head>\n<body>\n  <h1>Thank You!</h1>\n  <canvas id=\"confetti\"></canvas>\n\n  <script>\n    const canvas = document.getElementById('confetti');\n    const ctx = canvas.getContext('2d');\n    canvas.width = window.innerWidth;\n    canvas.height = window.innerHeight;\n\n    const confettiElements = [];\n\n    class Confetti {\n      constructor() {\n        this.x = Math.random() * canvas.width;\n        this.y = Math.random() * canvas.height - canvas.height;\n        this.size = Math.random() * 10 + 5;\n        this.speed = Math.random() * 3 + 2;\n        this.color = `hsl(${Math.random() * 360}, 100%, 50%)`;\n        this.rotation = Math.random() * 360;\n        this.rotationSpeed = Math.random() * 10;\n      }\n\n      update() {\n        this.y += this.speed;\n        this.rotation += this.rotationSpeed;\n        if (this.y > canvas.height) {\n          this.y = -10;\n          this.x = Math.random() * canvas.width;\n        }\n      }\n\n      draw() {\n        ctx.save();\n        ctx.translate(this.x, this.y);\n        ctx.rotate((this.rotation * Math.PI) / 180);\n        ctx.fillStyle = this.color;\n        ctx.fillRect(-this.size / 2, -this.size / 2, this.size, this.size);\n        ctx.restore();\n      }\n    }\n\n    function initConfetti() {\n      for (let i = 0; i < 200; i++) {\n        confettiElements.push(new Confetti());\n      }\n    }\n\n    function animateConfetti() {\n      ctx.clearRect(0, 0, canvas.width, canvas.height);\n      confettiElements.forEach((confetti) => {\n        confetti.update();\n        confetti.draw();\n      });\n      requestAnimationFrame(animateConfetti);\n    }\n\n    window.addEventListener('resize', () => {\n      canvas.width = window.innerWidth;\n      canvas.height = window.innerHeight;\n    });\n\n    initConfetti();\n    animateConfetti();\n  </script>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "45b874fe-ea13-4078-a051-b204a472955c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        540
      ]
    },
    {
      "parameters": {
        "path": "unityweblinkcheck",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9486bc6d-9577-40ed-9836-86de6649bcc0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1580,
        540
      ],
      "webhookId": "034c21b7-bd5b-406e-913f-52d8db1ee7cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/notification/send-to-all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.jwt }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "UNITY Notification"
            },
            {
              "name": "body",
              "value": "Hope you're having a good day (:"
            }
          ]
        },
        "options": {}
      },
      "id": "965f7387-4cd5-477a-a5e6-dadef04334ba",
      "name": "Send Message to All Uses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/notification/send-to-user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.jwt }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "UNITY Notification"
            },
            {
              "name": "body",
              "value": "=900!! We got this (: {{ \"\\n\" }}https://xl.epicpc.com/webhook/ed566d78-f21c-4c41-819f-2a5404f5a6a5"
            },
            {
              "name": "email",
              "value": "tstilwell@epichs.org"
            },
            {
              "name": "tabId"
            }
          ]
        },
        "options": {}
      },
      "id": "604e9d18-0aec-4ab3-af3c-5a4795af082d",
      "name": "Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://api.unitycarecrm.com/api/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc0224cb-cbe4-41bc-af0b-5a7957ca2ef5",
      "name": "Send Message1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/user/block",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.jwt }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Block').item.json.query.user }}"
            },
            {
              "name": "documentUrl",
              "value": "https://xl.epicpc.com/webhook/bf2aa39e-33b0-4e4d-bce8-11c4fe90c218"
            }
          ]
        },
        "options": {}
      },
      "id": "7ddc9038-7e08-425d-a402-2e0ccfdf30a6",
      "name": "Send Message2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "tstilwell@epichs.org"
            },
            {
              "name": "password",
              "value": "SdS9gjAxo!*ErbGirtQ3$"
            }
          ]
        },
        "options": {}
      },
      "id": "30ba7442-7448-42c5-8516-625d1b2404c7",
      "name": "Login/Authenticate1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/user/unblock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.jwt }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Unblock').item.json.query.user }}"
            },
            {
              "name": "documentUrl",
              "value": "https://epichs.org"
            }
          ]
        },
        "options": {}
      },
      "id": "afdc7bf7-074f-406f-8443-d3548c0528dd",
      "name": "Send Message3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        40
      ]
    },
    {
      "parameters": {
        "path": "bf2aa39e-33b0-4e4d-bce8-11c4fe90c218",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1420,
        40
      ],
      "id": "a9af91a7-8c2b-4f29-8834-fe667e77ceb7",
      "name": "Webhook1",
      "webhookId": "bf2aa39e-33b0-4e4d-bce8-11c4fe90c218"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Acknowledge Message</title>\n  <style>\n    /* Reset & box sizing */\n    * {\n      box-sizing: border-box;\n    }\n    /* Basic page layout */\n    body {\n      margin: 0;\n      padding: 0;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      background-color: #f9fafb; /* Light modern background */\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n    }\n    /* Card style */\n    .card {\n      background-color: #fff;   /* White background */\n      border: 2px solid #000;   /* Black border */\n      border-radius: 12px;      /* Rounded corners */\n      padding: 2rem;\n      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */\n      text-align: center;\n      max-width: 360px;\n    }\n    .card h1 {\n      margin-bottom: 1rem;\n      font-size: 1.5rem;\n    }\n    .card p {\n      margin-bottom: 2rem;\n      font-size: 1rem;\n      color: #333;\n    }\n    /* Button style */\n    .acknowledge-button {\n      background-color: #000;   /* Black background */\n      color: #fff;             /* White text */\n      border: none;\n      border-radius: 8px;      /* Rounded corners */\n      padding: 0.75rem 1.5rem;\n      font-size: 1rem;\n      cursor: pointer;\n      transition: background-color 0.2s ease;\n    }\n    .acknowledge-button:hover {\n      background-color: #333;  /* Darker on hover */\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\" id=\"message-card\">\n    <h1>This is a test.</h1>\n    <p>Please acknowledge this message.</p>\n    <button class=\"acknowledge-button\" onclick=\"acknowledgeMessage();\">\n      I Acknowledge\n    </button>\n  </div>\n  \n  <script>\n    function acknowledgeMessage() {\n      const card = document.getElementById('message-card');\n      card.innerHTML = '<h1>Thank you!</h1>';\n    }\n  </script>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1640,
        40
      ],
      "id": "25b963f1-4db9-4b4b-9601-a111c30a231d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "tstilwell@epichs.org"
            },
            {
              "name": "password",
              "value": "SdS9gjAxo!*ErbGirtQ3$"
            }
          ]
        },
        "options": {}
      },
      "id": "ef13a68b-24cc-412a-823e-43004412014d",
      "name": "Login/Authenticate2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -180
      ]
    },
    {
      "parameters": {
        "path": "block_demo",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        500,
        -180
      ],
      "id": "7269696f-47c9-45c4-8cd1-b64e01171351",
      "name": "Block",
      "webhookId": "65b977b4-109f-4537-b64c-70c08c12a1fe"
    },
    {
      "parameters": {
        "path": "unblock_demo",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        500,
        40
      ],
      "id": "44793f25-bbd1-4635-8dbb-abcca12b701c",
      "name": "Unblock",
      "webhookId": "65b977b4-109f-4537-b64c-70c08c12a1fe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/user/block",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.jwt }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=tstilwell@epichs.org"
            },
            {
              "name": "documentUrl",
              "value": "https://docu.epicpc.com/d/xvQc4Pf14c4ffc"
            }
          ]
        },
        "options": {}
      },
      "id": "856f4f92-7e70-4f02-95b6-87fbfc213146",
      "name": "Send Message4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        -520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "tstilwell@epichs.org"
            },
            {
              "name": "password",
              "value": "SdS9gjAxo!*ErbGirtQ3$"
            }
          ]
        },
        "options": {}
      },
      "id": "20ed68a9-a496-4f60-8a05-4cbffabbcbe9",
      "name": "Login/Authenticate3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "tstilwell@epichs.org"
            },
            {
              "name": "password",
              "value": "SdS9gjAxo!*ErbGirtQ3$"
            }
          ]
        },
        "options": {}
      },
      "id": "5bfda361-253f-4c10-83f8-3f211b498380",
      "name": "Login/Authenticate4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/user/unblock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.jwt }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=tstilwell@epichs.org"
            },
            {
              "name": "documentUrl",
              "value": "https://epichs.org"
            }
          ]
        },
        "options": {}
      },
      "id": "42bc8836-d5e9-467e-8b02-a2b263bee1ff",
      "name": "Send Message5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unitycarecrm.com/api/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "mbhatti@techtiz.co"
            },
            {
              "name": "password",
              "value": "Techtiz#123456"
            }
          ]
        },
        "options": {}
      },
      "id": "7b99edaa-c649-4082-9746-d704568baf1c",
      "name": "Login/Authenticate5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -680
      ]
    }
  ],
  "pinData": {
    "Send Message1": [
      {
        "json": {
          "id": 9,
          "email": "sprovencher@epichs.org",
          "createdAt": "2024-10-21T14:37:37.487Z",
          "updatedAt": "2024-12-23T14:37:31.348Z"
        }
      },
      {
        "json": {
          "id": 11,
          "email": "pvalka@epichs.org",
          "createdAt": "2024-10-21T15:08:23.352Z",
          "updatedAt": "2024-12-24T19:44:16.292Z"
        }
      },
      {
        "json": {
          "id": 10,
          "email": "Jstewart@epicpc.com",
          "createdAt": "2024-10-21T15:04:31.409Z",
          "updatedAt": "2024-10-21T15:04:31.409Z"
        }
      },
      {
        "json": {
          "id": 17,
          "email": "sgaravaglia@epicpc.com",
          "createdAt": "2024-10-21T15:59:43.011Z",
          "updatedAt": "2024-11-13T15:06:13.532Z"
        }
      },
      {
        "json": {
          "id": 6,
          "email": "ithelpdesk@epicpc.com",
          "createdAt": "2024-10-17T18:02:17.763Z",
          "updatedAt": "2024-12-31T19:23:19.742Z"
        }
      },
      {
        "json": {
          "id": 26,
          "email": "dwright@epichs.org",
          "createdAt": "2024-10-21T19:26:30.454Z",
          "updatedAt": "2024-12-26T16:31:51.925Z"
        }
      },
      {
        "json": {
          "id": 19,
          "email": "lnamoo@epicpc.com",
          "createdAt": "2024-10-21T16:12:01.238Z",
          "updatedAt": "2024-10-21T16:12:01.238Z"
        }
      },
      {
        "json": {
          "id": 8,
          "email": "wwong@epichs.org",
          "createdAt": "2024-10-18T16:58:23.033Z",
          "updatedAt": "2024-10-18T16:58:23.033Z"
        }
      },
      {
        "json": {
          "id": 24,
          "email": "eolsen@epicpc.com",
          "createdAt": "2024-10-21T18:29:03.340Z",
          "updatedAt": "2024-10-21T18:29:03.340Z"
        }
      },
      {
        "json": {
          "id": 13,
          "email": "sgriffin@epichs.org",
          "createdAt": "2024-10-21T15:20:01.871Z",
          "updatedAt": "2024-12-23T14:09:12.088Z"
        }
      },
      {
        "json": {
          "id": 2,
          "email": "mbhatti@techtiz.co",
          "createdAt": "2024-10-15T06:59:24.429Z",
          "updatedAt": "2024-12-31T14:05:11.220Z"
        }
      },
      {
        "json": {
          "id": 27,
          "email": "tnaman@epichs.org",
          "createdAt": "2024-10-22T18:00:01.459Z",
          "updatedAt": "2024-12-23T16:01:10.568Z"
        }
      },
      {
        "json": {
          "id": 29,
          "email": "jschulte@epicpc.com",
          "createdAt": "2024-10-24T12:15:44.333Z",
          "updatedAt": "2024-10-24T12:15:44.333Z"
        }
      },
      {
        "json": {
          "id": 23,
          "email": "hzawisa@epicpc.com",
          "createdAt": "2024-10-21T18:28:57.852Z",
          "updatedAt": "2024-12-11T21:13:24.351Z"
        }
      },
      {
        "json": {
          "id": 5,
          "email": "nasfar@epichs.org",
          "createdAt": "2024-10-16T18:42:09.916Z",
          "updatedAt": "2024-12-31T19:15:00.243Z"
        }
      },
      {
        "json": {
          "id": 30,
          "email": "bward@epicpc.com",
          "createdAt": "2024-10-24T12:42:39.906Z",
          "updatedAt": "2024-10-24T13:37:54.285Z"
        }
      },
      {
        "json": {
          "id": 7,
          "email": "phartwig@epichs.org",
          "createdAt": "2024-10-17T18:49:53.323Z",
          "updatedAt": "2024-12-24T15:34:05.881Z"
        }
      },
      {
        "json": {
          "id": 12,
          "email": "emozurkewich@epichs.org",
          "createdAt": "2024-10-21T15:19:46.644Z",
          "updatedAt": "2024-12-10T19:28:17.295Z"
        }
      },
      {
        "json": {
          "id": 28,
          "email": "jbell@epicpc.com",
          "createdAt": "2024-10-24T12:11:53.880Z",
          "updatedAt": "2024-12-23T19:25:50.723Z"
        }
      },
      {
        "json": {
          "id": 31,
          "email": "bhnatio@epicpc.com",
          "createdAt": "2024-10-24T14:25:20.803Z",
          "updatedAt": "2024-10-25T21:14:06.765Z"
        }
      },
      {
        "json": {
          "id": 25,
          "email": "swebster@epicpc.com",
          "createdAt": "2024-10-21T18:35:36.204Z",
          "updatedAt": "2024-12-19T14:21:35.467Z"
        }
      },
      {
        "json": {
          "id": 22,
          "email": "bkruse@epichs.org",
          "createdAt": "2024-10-21T18:05:45.076Z",
          "updatedAt": "2024-11-13T00:07:03.206Z"
        }
      },
      {
        "json": {
          "id": 15,
          "email": "sarnold@epicpc.com",
          "createdAt": "2024-10-21T15:30:24.804Z",
          "updatedAt": "2024-12-23T19:40:26.540Z"
        }
      },
      {
        "json": {
          "id": 14,
          "email": "kwertz@epichs.org",
          "createdAt": "2024-10-21T15:28:29.244Z",
          "updatedAt": "2024-12-16T14:37:47.271Z"
        }
      },
      {
        "json": {
          "id": 16,
          "email": "kvanluven@epichs.org",
          "createdAt": "2024-10-21T15:48:16.216Z",
          "updatedAt": "2024-12-10T20:41:48.776Z"
        }
      },
      {
        "json": {
          "id": 20,
          "email": "rsnyder@epicpc.com",
          "createdAt": "2024-10-21T17:09:24.689Z",
          "updatedAt": "2024-12-23T16:30:55.854Z"
        }
      },
      {
        "json": {
          "id": 3,
          "email": "fraza@techtiz.co",
          "createdAt": "2024-10-15T07:00:46.674Z",
          "updatedAt": "2024-12-31T14:17:48.568Z"
        }
      },
      {
        "json": {
          "id": 21,
          "email": "jvandenbussche@epichs.org",
          "createdAt": "2024-10-21T17:57:52.400Z",
          "updatedAt": "2024-12-27T19:38:42.668Z"
        }
      },
      {
        "json": {
          "id": 18,
          "email": "sthuma@epichs.org",
          "createdAt": "2024-10-21T16:04:58.698Z",
          "updatedAt": "2024-12-30T13:17:20.237Z"
        }
      },
      {
        "json": {
          "id": 44,
          "email": "lkrys@epichs.org",
          "createdAt": "2024-11-13T15:01:12.364Z",
          "updatedAt": "2024-12-24T17:39:34.483Z"
        }
      },
      {
        "json": {
          "id": 41,
          "email": "aadams@epichs.org",
          "createdAt": "2024-11-08T18:46:52.258Z",
          "updatedAt": "2024-12-19T20:52:23.623Z"
        }
      },
      {
        "json": {
          "id": 34,
          "email": "lkrys@epicpc.com",
          "createdAt": "2024-10-28T17:37:42.492Z",
          "updatedAt": "2024-10-28T17:37:42.492Z"
        }
      },
      {
        "json": {
          "id": 39,
          "email": "vhabbo@epichs.org",
          "createdAt": "2024-11-05T16:41:47.628Z",
          "updatedAt": "2024-11-05T16:41:47.628Z"
        }
      },
      {
        "json": {
          "id": 47,
          "email": "ssaleem@techtiz.co",
          "createdAt": "2024-11-19T12:57:37.519Z",
          "updatedAt": "2024-12-13T07:21:40.596Z"
        }
      },
      {
        "json": {
          "id": 35,
          "email": "gvirdi@epichs.org",
          "createdAt": "2024-10-28T17:41:24.313Z",
          "updatedAt": "2024-12-20T20:57:18.179Z"
        }
      },
      {
        "json": {
          "id": 52,
          "email": "dmckinney@epichs.org",
          "createdAt": "2024-11-19T18:20:13.777Z",
          "updatedAt": "2024-11-19T18:20:13.777Z"
        }
      },
      {
        "json": {
          "id": 36,
          "email": "tesnaman@epichs.org",
          "createdAt": "2024-10-30T17:21:34.516Z",
          "updatedAt": "2024-10-30T17:21:34.516Z"
        }
      },
      {
        "json": {
          "id": 54,
          "email": "mpape@epicpc.com",
          "createdAt": "2024-11-19T21:15:36.182Z",
          "updatedAt": "2024-12-20T19:47:49.540Z"
        }
      },
      {
        "json": {
          "id": 45,
          "email": "Dwilliams@epichs.org",
          "createdAt": "2024-11-14T17:35:34.937Z",
          "updatedAt": "2024-11-14T17:35:34.937Z"
        }
      },
      {
        "json": {
          "id": 37,
          "email": "dmauk@epichs.org",
          "createdAt": "2024-10-31T20:46:56.938Z",
          "updatedAt": "2024-11-04T11:05:40.219Z"
        }
      },
      {
        "json": {
          "id": 33,
          "email": "kwright@epichs.org",
          "createdAt": "2024-10-28T13:42:18.149Z",
          "updatedAt": "2024-11-13T21:54:05.666Z"
        }
      },
      {
        "json": {
          "id": 51,
          "email": "mdickerson@epicpc.com",
          "createdAt": "2024-11-19T17:48:09.967Z",
          "updatedAt": "2024-12-31T16:58:51.331Z"
        }
      },
      {
        "json": {
          "id": 40,
          "email": "jstewart@epicpc.com",
          "createdAt": "2024-11-05T22:36:10.332Z",
          "updatedAt": "2024-12-17T21:48:37.193Z"
        }
      },
      {
        "json": {
          "id": 60,
          "email": "cgeorge1@epicpc.com",
          "createdAt": "2024-11-20T14:46:22.298Z",
          "updatedAt": "2024-11-22T18:06:40.366Z"
        }
      },
      {
        "json": {
          "id": 46,
          "email": "kwagner@epichs.org",
          "createdAt": "2024-11-18T21:12:41.878Z",
          "updatedAt": "2024-12-23T17:22:26.998Z"
        }
      },
      {
        "json": {
          "id": 59,
          "email": "slasenby@epichs.org",
          "createdAt": "2024-11-20T13:28:39.872Z",
          "updatedAt": "2024-12-23T12:56:49.095Z"
        }
      },
      {
        "json": {
          "id": 56,
          "email": "cstraughter@epichs.org",
          "createdAt": "2024-11-19T22:53:44.794Z",
          "updatedAt": "2024-12-31T16:18:50.817Z"
        }
      },
      {
        "json": {
          "id": 55,
          "email": "tlawrence1@epicpc.com",
          "createdAt": "2024-11-19T21:39:56.024Z",
          "updatedAt": "2024-12-30T21:19:15.837Z"
        }
      },
      {
        "json": {
          "id": 62,
          "email": "awilliams@epicpc.com",
          "createdAt": "2024-11-20T15:10:50.773Z",
          "updatedAt": "2024-11-20T15:10:50.773Z"
        }
      },
      {
        "json": {
          "id": 38,
          "email": "dwilliams@epichs.org",
          "createdAt": "2024-11-04T19:18:35.963Z",
          "updatedAt": "2024-12-31T17:14:03.895Z"
        }
      },
      {
        "json": {
          "id": 48,
          "email": "LEUBANKS@EPICHS.ORG",
          "createdAt": "2024-11-19T14:21:45.223Z",
          "updatedAt": "2024-12-23T17:27:31.126Z"
        }
      },
      {
        "json": {
          "id": 58,
          "email": "ashaffer@epicpc.com",
          "createdAt": "2024-11-20T12:37:17.988Z",
          "updatedAt": "2024-11-20T21:18:34.569Z"
        }
      },
      {
        "json": {
          "id": 43,
          "email": "gantilla@epichs.org",
          "createdAt": "2024-11-12T21:08:39.670Z",
          "updatedAt": "2024-12-31T13:31:00.577Z"
        }
      },
      {
        "json": {
          "id": 57,
          "email": "amaya@epichs.org",
          "createdAt": "2024-11-20T12:01:07.400Z",
          "updatedAt": "2024-12-31T18:39:07.854Z"
        }
      },
      {
        "json": {
          "id": 53,
          "email": "rnewkirk@epichs.org",
          "createdAt": "2024-11-19T20:12:34.555Z",
          "updatedAt": "2024-12-27T12:50:58.593Z"
        }
      },
      {
        "json": {
          "id": 50,
          "email": "halissa@epicpc.com",
          "createdAt": "2024-11-19T17:18:12.647Z",
          "updatedAt": "2024-12-19T16:00:20.783Z"
        }
      },
      {
        "json": {
          "id": 42,
          "email": "jschulte@epichs.org",
          "createdAt": "2024-11-12T20:20:15.921Z",
          "updatedAt": "2024-12-23T22:22:12.981Z"
        }
      },
      {
        "json": {
          "id": 61,
          "email": "akhan@epicpc.com",
          "createdAt": "2024-11-20T15:10:39.259Z",
          "updatedAt": "2024-11-20T20:10:11.095Z"
        }
      },
      {
        "json": {
          "id": 86,
          "email": "STYNER@EPICPC.COM",
          "createdAt": "2024-11-21T15:17:46.255Z",
          "updatedAt": "2024-12-19T20:16:06.882Z"
        }
      },
      {
        "json": {
          "id": 76,
          "email": "gwilson1@epicpc.com",
          "createdAt": "2024-11-20T18:53:48.642Z",
          "updatedAt": "2024-12-30T14:01:38.771Z"
        }
      },
      {
        "json": {
          "id": 70,
          "email": "gsands@epicpc.com",
          "createdAt": "2024-11-20T17:24:28.272Z",
          "updatedAt": "2024-11-26T22:35:03.980Z"
        }
      },
      {
        "json": {
          "id": 79,
          "email": "danderson@epichs.org",
          "createdAt": "2024-11-20T21:20:09.754Z",
          "updatedAt": "2024-11-29T12:25:21.072Z"
        }
      },
      {
        "json": {
          "id": 74,
          "email": "dbradley@epicpc.com",
          "createdAt": "2024-11-20T18:22:18.280Z",
          "updatedAt": "2024-12-26T21:54:09.250Z"
        }
      },
      {
        "json": {
          "id": 75,
          "email": "mblair@epicpc.com",
          "createdAt": "2024-11-20T18:39:13.997Z",
          "updatedAt": "2024-11-20T18:39:13.997Z"
        }
      },
      {
        "json": {
          "id": 65,
          "email": "junderwood@epichs.org",
          "createdAt": "2024-11-20T15:33:46.929Z",
          "updatedAt": "2024-12-20T13:02:00.237Z"
        }
      },
      {
        "json": {
          "id": 63,
          "email": "ddunnaway@epicpc.com",
          "createdAt": "2024-11-20T15:11:20.291Z",
          "updatedAt": "2024-11-20T20:06:42.306Z"
        }
      },
      {
        "json": {
          "id": 81,
          "email": "Lmitchell@epichs.org",
          "createdAt": "2024-11-21T13:40:45.237Z",
          "updatedAt": "2024-12-19T20:40:24.189Z"
        }
      },
      {
        "json": {
          "id": 67,
          "email": "hleopold@epicpc.com",
          "createdAt": "2024-11-20T16:30:45.470Z",
          "updatedAt": "2024-11-21T14:57:52.946Z"
        }
      },
      {
        "json": {
          "id": 83,
          "email": "bminor@epicpc.com",
          "createdAt": "2024-11-21T15:01:12.333Z",
          "updatedAt": "2024-11-21T15:06:32.424Z"
        }
      },
      {
        "json": {
          "id": 85,
          "email": "Kshropshire@epicpc.com",
          "createdAt": "2024-11-21T15:05:46.564Z",
          "updatedAt": "2024-11-21T15:08:50.319Z"
        }
      },
      {
        "json": {
          "id": 68,
          "email": "kyerofeyeva@epicpc.com",
          "createdAt": "2024-11-20T17:09:37.287Z",
          "updatedAt": "2024-12-31T13:48:15.247Z"
        }
      },
      {
        "json": {
          "id": 91,
          "email": "hgodbold@epichs.org",
          "createdAt": "2024-11-25T14:44:36.512Z",
          "updatedAt": "2024-12-31T17:42:08.944Z"
        }
      },
      {
        "json": {
          "id": 66,
          "email": "fmohamed@epicpc.com",
          "createdAt": "2024-11-20T15:38:05.649Z",
          "updatedAt": "2024-12-20T13:21:11.554Z"
        }
      },
      {
        "json": {
          "id": 89,
          "email": "stam@epichs.org",
          "createdAt": "2024-11-22T19:58:31.995Z",
          "updatedAt": "2024-12-19T18:52:50.719Z"
        }
      },
      {
        "json": {
          "id": 73,
          "email": "sbrown2@epicpc.com",
          "createdAt": "2024-11-20T17:30:04.109Z",
          "updatedAt": "2024-12-31T11:59:39.910Z"
        }
      },
      {
        "json": {
          "id": 72,
          "email": "tpickens@epicpc.com",
          "createdAt": "2024-11-20T17:24:47.127Z",
          "updatedAt": "2024-12-31T19:09:14.188Z"
        }
      },
      {
        "json": {
          "id": 78,
          "email": "sstallworth@epicpc.com",
          "createdAt": "2024-11-20T21:19:22.302Z",
          "updatedAt": "2024-12-19T21:25:11.656Z"
        }
      },
      {
        "json": {
          "id": 80,
          "email": "styner@epicpc.com",
          "createdAt": "2024-11-20T21:26:29.763Z",
          "updatedAt": "2024-12-06T19:00:23.314Z"
        }
      },
      {
        "json": {
          "id": 90,
          "email": "atoubia@epichs.org",
          "createdAt": "2024-11-25T13:04:02.789Z",
          "updatedAt": "2024-12-05T17:41:14.881Z"
        }
      },
      {
        "json": {
          "id": 84,
          "email": "jbrown@epicpc.com",
          "createdAt": "2024-11-21T15:05:44.341Z",
          "updatedAt": "2024-12-24T16:39:17.079Z"
        }
      },
      {
        "json": {
          "id": 88,
          "email": "sfietsam@epichs.org",
          "createdAt": "2024-11-21T20:02:41.460Z",
          "updatedAt": "2024-12-31T17:12:58.630Z"
        }
      },
      {
        "json": {
          "id": 92,
          "email": "rmohamed@epichs.org",
          "createdAt": "2024-11-25T14:54:15.958Z",
          "updatedAt": "2024-12-31T13:11:15.012Z"
        }
      },
      {
        "json": {
          "id": 77,
          "email": "JGIBSON1@epicpc.com",
          "createdAt": "2024-11-20T19:23:52.309Z",
          "updatedAt": "2024-12-19T20:46:50.011Z"
        }
      },
      {
        "json": {
          "id": 69,
          "email": "aali@epicpc.com",
          "createdAt": "2024-11-20T17:14:43.434Z",
          "updatedAt": "2024-12-17T22:28:10.498Z"
        }
      },
      {
        "json": {
          "id": 82,
          "email": "rqabouq@epicpc.com",
          "createdAt": "2024-11-21T13:47:56.713Z",
          "updatedAt": "2024-12-12T18:19:40.549Z"
        }
      },
      {
        "json": {
          "id": 71,
          "email": "agray@epicpc.com",
          "createdAt": "2024-11-20T17:24:36.740Z",
          "updatedAt": "2024-12-20T15:26:40.853Z"
        }
      },
      {
        "json": {
          "id": 105,
          "email": "mrahman@epicpc.com",
          "createdAt": "2024-12-05T20:13:34.921Z",
          "updatedAt": "2024-12-05T20:13:34.921Z"
        }
      },
      {
        "json": {
          "id": 95,
          "email": "Mpape@epicpc.com",
          "createdAt": "2024-11-26T19:38:52.671Z",
          "updatedAt": "2024-11-26T19:38:52.671Z"
        }
      },
      {
        "json": {
          "id": 96,
          "email": "jgreene@epichs.org",
          "createdAt": "2024-11-27T17:26:15.166Z",
          "updatedAt": "2024-11-27T17:26:15.166Z"
        }
      },
      {
        "json": {
          "id": 104,
          "email": "Tlawrence1@epicpc.com",
          "createdAt": "2024-12-05T15:43:23.269Z",
          "updatedAt": "2024-12-27T13:56:22.457Z"
        }
      },
      {
        "json": {
          "id": 99,
          "email": "psagar@epicpc.com",
          "createdAt": "2024-12-03T07:11:14.472Z",
          "updatedAt": "2024-12-03T07:11:14.472Z"
        }
      },
      {
        "json": {
          "id": 100,
          "email": "develop@intreface.com",
          "createdAt": "2024-12-03T13:24:36.633Z",
          "updatedAt": "2024-12-03T13:24:36.633Z"
        }
      },
      {
        "json": {
          "id": 102,
          "email": "kargo@epicpc.com",
          "createdAt": "2024-12-03T15:41:15.516Z",
          "updatedAt": "2024-12-03T15:41:15.516Z"
        }
      },
      {
        "json": {
          "id": 108,
          "email": "myaldoo@epicpc.com",
          "createdAt": "2024-12-06T19:22:56.026Z",
          "updatedAt": "2024-12-20T14:23:16.796Z"
        }
      },
      {
        "json": {
          "id": 119,
          "email": "ykurishi@epicpc.com",
          "createdAt": "2024-12-10T20:49:49.137Z",
          "updatedAt": "2024-12-10T20:49:49.137Z"
        }
      },
      {
        "json": {
          "id": 115,
          "email": "aeubanks@epicpc.com",
          "createdAt": "2024-12-10T20:09:33.183Z",
          "updatedAt": "2024-12-10T20:09:33.183Z"
        }
      },
      {
        "json": {
          "id": 116,
          "email": "adavis@epicpc.com",
          "createdAt": "2024-12-10T20:23:22.865Z",
          "updatedAt": "2024-12-10T20:23:22.865Z"
        }
      },
      {
        "json": {
          "id": 117,
          "email": "acunningham@epicpc.com",
          "createdAt": "2024-12-10T20:25:51.282Z",
          "updatedAt": "2024-12-18T16:55:35.210Z"
        }
      },
      {
        "json": {
          "id": 112,
          "email": "jamici@epichs.org",
          "createdAt": "2024-12-10T18:48:26.760Z",
          "updatedAt": "2024-12-30T13:07:37.528Z"
        }
      },
      {
        "json": {
          "id": 107,
          "email": "tdarnell@epicpc.com",
          "createdAt": "2024-12-06T13:33:04.112Z",
          "updatedAt": "2024-12-06T16:01:17.672Z"
        }
      },
      {
        "json": {
          "id": 101,
          "email": "cmoore@epicpc.com",
          "createdAt": "2024-12-03T15:17:40.561Z",
          "updatedAt": "2024-12-06T19:56:10.129Z"
        }
      },
      {
        "json": {
          "id": 109,
          "email": "nshaouni@epichs.org",
          "createdAt": "2024-12-06T20:34:35.534Z",
          "updatedAt": "2024-12-06T20:34:35.534Z"
        }
      },
      {
        "json": {
          "id": 110,
          "email": "Hgodbold@epichs.org",
          "createdAt": "2024-12-07T10:37:42.296Z",
          "updatedAt": "2024-12-08T20:08:21.969Z"
        }
      },
      {
        "json": {
          "id": 97,
          "email": "rpak@epichs.org",
          "createdAt": "2024-11-27T19:04:50.662Z",
          "updatedAt": "2024-12-27T17:53:57.329Z"
        }
      },
      {
        "json": {
          "id": 111,
          "email": "salam@epichs.org",
          "createdAt": "2024-12-10T16:03:38.002Z",
          "updatedAt": "2024-12-10T16:03:38.002Z"
        }
      },
      {
        "json": {
          "id": 113,
          "email": "crobinson@epicpc.com",
          "createdAt": "2024-12-10T19:38:53.743Z",
          "updatedAt": "2024-12-23T14:14:10.879Z"
        }
      },
      {
        "json": {
          "id": 122,
          "email": "Adavis@epicpc.com",
          "createdAt": "2024-12-11T12:43:18.789Z",
          "updatedAt": "2024-12-11T12:43:18.789Z"
        }
      },
      {
        "json": {
          "id": 94,
          "email": "bnallen@epicpc.com",
          "createdAt": "2024-11-26T13:06:07.458Z",
          "updatedAt": "2024-12-20T15:43:51.971Z"
        }
      },
      {
        "json": {
          "id": 118,
          "email": "cmyers@epicpc.com",
          "createdAt": "2024-12-10T20:48:31.833Z",
          "updatedAt": "2024-12-10T21:25:02.217Z"
        }
      },
      {
        "json": {
          "id": 114,
          "email": "tholland@epicpc.com",
          "createdAt": "2024-12-10T19:43:16.291Z",
          "updatedAt": "2024-12-30T12:32:28.841Z"
        }
      },
      {
        "json": {
          "id": 98,
          "email": "aboxley@epichs.org",
          "createdAt": "2024-12-02T12:15:53.275Z",
          "updatedAt": "2024-12-20T11:54:08.943Z"
        }
      },
      {
        "json": {
          "id": 64,
          "email": "psmith@epichs.org",
          "createdAt": "2024-11-20T15:16:45.830Z",
          "updatedAt": "2024-12-24T15:03:41.627Z"
        }
      },
      {
        "json": {
          "id": 121,
          "email": "bxiong@epicpc.com",
          "createdAt": "2024-12-10T21:13:59.646Z",
          "updatedAt": "2024-12-19T00:46:08.495Z"
        }
      },
      {
        "json": {
          "id": 106,
          "email": "cgraham@epicpc.com",
          "createdAt": "2024-12-06T12:44:21.570Z",
          "updatedAt": "2024-12-23T12:33:50.253Z"
        }
      },
      {
        "json": {
          "id": 120,
          "email": "rbiondo@epichs.org",
          "createdAt": "2024-12-10T20:59:56.297Z",
          "updatedAt": "2024-12-31T12:26:49.873Z"
        }
      },
      {
        "json": {
          "id": 124,
          "email": "nqaryaqos@epicpc.com",
          "createdAt": "2024-12-11T19:33:03.053Z",
          "updatedAt": "2024-12-11T19:33:03.053Z"
        }
      },
      {
        "json": {
          "id": 125,
          "email": "mwoolfolk@epichs.org",
          "createdAt": "2024-12-11T19:45:47.741Z",
          "updatedAt": "2024-12-11T19:45:47.741Z"
        }
      },
      {
        "json": {
          "id": 126,
          "email": "tanderson@epicpc.com",
          "createdAt": "2024-12-11T19:56:17.528Z",
          "updatedAt": "2024-12-11T19:56:17.528Z"
        }
      },
      {
        "json": {
          "id": 127,
          "email": "ewood@epichs.org",
          "createdAt": "2024-12-11T20:44:06.320Z",
          "updatedAt": "2024-12-11T20:44:06.320Z"
        }
      },
      {
        "json": {
          "id": 141,
          "email": "rjoseph@epichs.org",
          "createdAt": "2024-12-13T19:11:51.520Z",
          "updatedAt": "2024-12-26T20:57:08.258Z"
        }
      },
      {
        "json": {
          "id": 130,
          "email": "mbragg@epichs.org",
          "createdAt": "2024-12-11T21:10:28.877Z",
          "updatedAt": "2024-12-11T21:14:11.431Z"
        }
      },
      {
        "json": {
          "id": 131,
          "email": "jgibson@epicpc.com",
          "createdAt": "2024-12-11T21:23:32.166Z",
          "updatedAt": "2024-12-11T21:32:01.939Z"
        }
      },
      {
        "json": {
          "id": 132,
          "email": "dthompson@epicpc.com",
          "createdAt": "2024-12-11T22:14:50.276Z",
          "updatedAt": "2024-12-11T22:14:50.276Z"
        }
      },
      {
        "json": {
          "id": 149,
          "email": "rmeans@epicpc.com",
          "createdAt": "2024-12-17T16:00:37.197Z",
          "updatedAt": "2024-12-23T14:11:42.433Z"
        }
      },
      {
        "json": {
          "id": 123,
          "email": "leubanks@epichs.org",
          "createdAt": "2024-12-11T13:54:14.611Z",
          "updatedAt": "2024-12-30T18:35:56.728Z"
        }
      },
      {
        "json": {
          "id": 144,
          "email": "jchaney@epichs.org",
          "createdAt": "2024-12-16T14:42:07.009Z",
          "updatedAt": "2024-12-31T14:59:02.637Z"
        }
      },
      {
        "json": {
          "id": 134,
          "email": "Yharris@epichs.org",
          "createdAt": "2024-12-12T17:24:45.606Z",
          "updatedAt": "2024-12-12T17:24:45.606Z"
        }
      },
      {
        "json": {
          "id": 137,
          "email": "lmitchell@epichs.org",
          "createdAt": "2024-12-12T18:38:19.485Z",
          "updatedAt": "2024-12-12T18:38:19.485Z"
        }
      },
      {
        "json": {
          "id": 128,
          "email": "ssmith@epicpc.com",
          "createdAt": "2024-12-11T20:58:00.640Z",
          "updatedAt": "2024-12-18T22:46:29.637Z"
        }
      },
      {
        "json": {
          "id": 93,
          "email": "amullen@epicpc.com",
          "createdAt": "2024-11-26T12:33:29.394Z",
          "updatedAt": "2024-12-27T12:49:15.444Z"
        }
      },
      {
        "json": {
          "id": 142,
          "email": "abouier@epichs.org",
          "createdAt": "2024-12-13T20:37:09.590Z",
          "updatedAt": "2024-12-13T20:48:36.016Z"
        }
      },
      {
        "json": {
          "id": 136,
          "email": "kshropshire@epicpc.com",
          "createdAt": "2024-12-12T18:07:39.258Z",
          "updatedAt": "2024-12-30T14:47:14.992Z"
        }
      },
      {
        "json": {
          "id": 147,
          "email": "Ssmith@epicpc.com",
          "createdAt": "2024-12-17T13:05:56.449Z",
          "updatedAt": "2024-12-17T13:05:56.449Z"
        }
      },
      {
        "json": {
          "id": 87,
          "email": "msheppard@epicpc.com",
          "createdAt": "2024-11-21T19:15:31.258Z",
          "updatedAt": "2024-12-27T17:22:16.273Z"
        }
      },
      {
        "json": {
          "id": 129,
          "email": "cgadoua@epicpc.com",
          "createdAt": "2024-12-11T20:58:56.111Z",
          "updatedAt": "2024-12-30T19:35:11.337Z"
        }
      },
      {
        "json": {
          "id": 32,
          "email": "bbooth@epichs.org",
          "createdAt": "2024-10-25T16:09:26.788Z",
          "updatedAt": "2024-12-23T15:21:35.053Z"
        }
      },
      {
        "json": {
          "id": 133,
          "email": "dogletree@epicpc.com",
          "createdAt": "2024-12-12T17:18:23.232Z",
          "updatedAt": "2024-12-19T20:38:39.763Z"
        }
      },
      {
        "json": {
          "id": 148,
          "email": "Jbrown@epicpc.com",
          "createdAt": "2024-12-17T14:11:41.806Z",
          "updatedAt": "2024-12-17T14:11:41.806Z"
        }
      },
      {
        "json": {
          "id": 140,
          "email": "Sburk@epicpc.com",
          "createdAt": "2024-12-13T18:55:51.668Z",
          "updatedAt": "2024-12-17T14:16:17.026Z"
        }
      },
      {
        "json": {
          "id": 145,
          "email": "rallen@epicpc.com",
          "createdAt": "2024-12-16T17:36:13.430Z",
          "updatedAt": "2024-12-31T19:09:20.649Z"
        }
      },
      {
        "json": {
          "id": 146,
          "email": "dmckinney@epicpc.com",
          "createdAt": "2024-12-16T21:57:55.194Z",
          "updatedAt": "2024-12-23T23:23:25.548Z"
        }
      },
      {
        "json": {
          "id": 135,
          "email": "kkinney@epicpc.com",
          "createdAt": "2024-12-12T17:38:31.372Z",
          "updatedAt": "2024-12-17T19:26:06.864Z"
        }
      },
      {
        "json": {
          "id": 143,
          "email": "tjozwiak@epicpc.com",
          "createdAt": "2024-12-16T12:27:05.561Z",
          "updatedAt": "2024-12-20T14:57:18.380Z"
        }
      },
      {
        "json": {
          "id": 138,
          "email": "nfedirko@epicpc.com",
          "createdAt": "2024-12-12T19:41:37.371Z",
          "updatedAt": "2024-12-30T14:12:46.215Z"
        }
      },
      {
        "json": {
          "id": 162,
          "email": "fwada@epicpc.com",
          "createdAt": "2024-12-19T14:37:40.775Z",
          "updatedAt": "2024-12-19T14:54:46.776Z"
        }
      },
      {
        "json": {
          "id": 156,
          "email": "rbrandt@epichs.org",
          "createdAt": "2024-12-18T19:50:19.760Z",
          "updatedAt": "2024-12-18T19:50:41.920Z"
        }
      },
      {
        "json": {
          "id": 151,
          "email": "Sjackson@epicpc.com",
          "createdAt": "2024-12-17T18:15:42.060Z",
          "updatedAt": "2024-12-31T12:54:12.599Z"
        }
      },
      {
        "json": {
          "id": 152,
          "email": "bhamad@epicpc.com",
          "createdAt": "2024-12-17T18:48:49.780Z",
          "updatedAt": "2024-12-17T21:51:26.828Z"
        }
      },
      {
        "json": {
          "id": 150,
          "email": "tpierce@epicpc.com",
          "createdAt": "2024-12-17T17:17:42.969Z",
          "updatedAt": "2024-12-17T23:00:20.901Z"
        }
      },
      {
        "json": {
          "id": 161,
          "email": "aabdelrahman@epicpc.com",
          "createdAt": "2024-12-19T14:00:49.384Z",
          "updatedAt": "2024-12-20T14:03:11.544Z"
        }
      },
      {
        "json": {
          "id": 157,
          "email": "emixon@epicpc.com",
          "createdAt": "2024-12-18T19:59:19.737Z",
          "updatedAt": "2024-12-18T19:59:41.921Z"
        }
      },
      {
        "json": {
          "id": 159,
          "email": "agratm@epichs.org",
          "createdAt": "2024-12-19T12:38:38.951Z",
          "updatedAt": "2024-12-19T15:06:33.020Z"
        }
      },
      {
        "json": {
          "id": 4,
          "email": "tstilwell@epichs.org",
          "createdAt": "2024-10-16T11:47:31.876Z",
          "updatedAt": "2024-12-31T18:48:43.188Z"
        }
      },
      {
        "json": {
          "id": 173,
          "email": "amoore2@epichs.org",
          "createdAt": "2024-12-19T20:08:35.145Z",
          "updatedAt": "2024-12-31T14:56:48.256Z"
        }
      },
      {
        "json": {
          "id": 168,
          "email": "cpelzer@epichs.org",
          "createdAt": "2024-12-19T15:55:16.266Z",
          "updatedAt": "2024-12-19T16:34:41.609Z"
        }
      },
      {
        "json": {
          "id": 163,
          "email": "bknox@epicpc.com",
          "createdAt": "2024-12-19T15:13:53.947Z",
          "updatedAt": "2024-12-31T14:23:00.594Z"
        }
      },
      {
        "json": {
          "id": 169,
          "email": "lsalama@epichs.org",
          "createdAt": "2024-12-19T18:02:18.543Z",
          "updatedAt": "2024-12-19T18:02:50.623Z"
        }
      },
      {
        "json": {
          "id": 155,
          "email": "rbrown@epicpc.com",
          "createdAt": "2024-12-18T19:44:30.638Z",
          "updatedAt": "2024-12-18T19:45:23.945Z"
        }
      },
      {
        "json": {
          "id": 167,
          "email": "Twilliams@epichs.org",
          "createdAt": "2024-12-19T15:53:51.353Z",
          "updatedAt": "2024-12-19T16:14:51.501Z"
        }
      },
      {
        "json": {
          "id": 103,
          "email": "njumper@epicpc.com",
          "createdAt": "2024-12-04T13:00:51.162Z",
          "updatedAt": "2024-12-31T18:58:35.536Z"
        }
      },
      {
        "json": {
          "id": 160,
          "email": "jdavey@epichs.org",
          "createdAt": "2024-12-19T13:17:18.441Z",
          "updatedAt": "2024-12-31T12:56:48.309Z"
        }
      },
      {
        "json": {
          "id": 164,
          "email": "nwhitmore@epichs.org",
          "createdAt": "2024-12-19T15:32:15.177Z",
          "updatedAt": "2024-12-31T17:52:55.667Z"
        }
      },
      {
        "json": {
          "id": 165,
          "email": "LHOLLINS@EPICPC.COM",
          "createdAt": "2024-12-19T15:36:34.913Z",
          "updatedAt": "2024-12-19T15:36:34.913Z"
        }
      },
      {
        "json": {
          "id": 166,
          "email": "chudson@epichs.org",
          "createdAt": "2024-12-19T15:38:11.337Z",
          "updatedAt": "2024-12-19T15:38:11.337Z"
        }
      },
      {
        "json": {
          "id": 158,
          "email": "rsaleh@epichs.org",
          "createdAt": "2024-12-18T23:32:19.168Z",
          "updatedAt": "2024-12-30T11:40:55.583Z"
        }
      },
      {
        "json": {
          "id": 170,
          "email": "ccleary@epichs.org",
          "createdAt": "2024-12-19T18:05:54.011Z",
          "updatedAt": "2024-12-19T18:13:28.299Z"
        }
      },
      {
        "json": {
          "id": 171,
          "email": "twalker@epicpc.com",
          "createdAt": "2024-12-19T18:44:21.170Z",
          "updatedAt": "2024-12-19T19:38:20.805Z"
        }
      },
      {
        "json": {
          "id": 172,
          "email": "BBARNETT@EPICPC.COM",
          "createdAt": "2024-12-19T19:51:58.203Z",
          "updatedAt": "2024-12-19T19:54:28.845Z"
        }
      },
      {
        "json": {
          "id": 174,
          "email": "kbennett@epicpc.com",
          "createdAt": "2024-12-19T20:15:16.768Z",
          "updatedAt": "2024-12-31T13:48:53.695Z"
        }
      },
      {
        "json": {
          "id": 139,
          "email": "ppannell@epichs.org",
          "createdAt": "2024-12-13T14:09:11.317Z",
          "updatedAt": "2024-12-27T17:37:12.068Z"
        }
      },
      {
        "json": {
          "id": 154,
          "email": "cmoore@epichs.org",
          "createdAt": "2024-12-18T16:53:26.808Z",
          "updatedAt": "2024-12-31T15:28:44.502Z"
        }
      },
      {
        "json": {
          "id": 153,
          "email": "yharris@epichs.org",
          "createdAt": "2024-12-17T19:21:49.637Z",
          "updatedAt": "2024-12-19T20:35:21.050Z"
        }
      },
      {
        "json": {
          "id": 178,
          "email": "awilson1@epicpc.com",
          "createdAt": "2024-12-20T14:36:18.727Z",
          "updatedAt": "2024-12-20T14:50:51.812Z"
        }
      },
      {
        "json": {
          "id": 180,
          "email": "ahobson@epichs.org",
          "createdAt": "2024-12-20T16:36:01.190Z",
          "updatedAt": "2024-12-20T16:40:02.507Z"
        }
      },
      {
        "json": {
          "id": 187,
          "email": "gnaman@epichs.org",
          "createdAt": "2024-12-30T19:35:53.887Z",
          "updatedAt": "2024-12-30T19:57:09.615Z"
        }
      },
      {
        "json": {
          "id": 181,
          "email": "Kwagner@epichs.org",
          "createdAt": "2024-12-20T16:59:02.037Z",
          "updatedAt": "2024-12-23T21:53:01.243Z"
        }
      },
      {
        "json": {
          "id": 179,
          "email": "mhannan@epicpc.com",
          "createdAt": "2024-12-20T16:27:15.192Z",
          "updatedAt": "2024-12-20T16:29:17.070Z"
        }
      },
      {
        "json": {
          "id": 182,
          "email": "krawlings@epichs.org",
          "createdAt": "2024-12-24T13:05:19.419Z",
          "updatedAt": "2024-12-24T13:05:19.419Z"
        }
      },
      {
        "json": {
          "id": 176,
          "email": "jyang@epichs.org",
          "createdAt": "2024-12-20T13:14:40.481Z",
          "updatedAt": "2024-12-20T13:15:02.926Z"
        }
      },
      {
        "json": {
          "id": 177,
          "email": "aharding@epichs.org",
          "createdAt": "2024-12-20T14:25:01.971Z",
          "updatedAt": "2024-12-20T14:25:01.971Z"
        }
      },
      {
        "json": {
          "id": 188,
          "email": "kdoherty@epicpc.com",
          "createdAt": "2024-12-31T10:29:15.932Z",
          "updatedAt": "2024-12-31T10:29:45.694Z"
        }
      },
      {
        "json": {
          "id": 186,
          "email": "nmehrara@epicpc.com",
          "createdAt": "2024-12-30T15:04:21.039Z",
          "updatedAt": "2024-12-31T17:05:53.819Z"
        }
      },
      {
        "json": {
          "id": 183,
          "email": "mdanner@epicpc.com",
          "createdAt": "2024-12-26T20:34:55.127Z",
          "updatedAt": "2024-12-30T15:23:52.419Z"
        }
      },
      {
        "json": {
          "id": 49,
          "email": "Krankin@epichs.org",
          "createdAt": "2024-11-19T14:24:57.944Z",
          "updatedAt": "2024-12-31T17:15:51.579Z"
        }
      },
      {
        "json": {
          "id": 184,
          "email": "mneal@epicpc.com",
          "createdAt": "2024-12-27T16:17:26.108Z",
          "updatedAt": "2024-12-31T12:02:06.979Z"
        }
      },
      {
        "json": {
          "id": 185,
          "email": "mmorris@epichs.org",
          "createdAt": "2024-12-27T18:10:09.931Z",
          "updatedAt": "2024-12-31T13:53:32.711Z"
        }
      },
      {
        "json": {
          "id": 175,
          "email": "jwalls@epichs.org",
          "createdAt": "2024-12-19T20:25:26.263Z",
          "updatedAt": "2024-12-31T15:52:18.330Z"
        }
      }
    ],
    "Block": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "66.249.83.40",
            "x-forwarded-for": "66.249.83.40",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "user-agent": "Mozilla/5.0 (Linux; Android 7.0; SM-G930V Build/NRD90M) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Mobile Safari/537.36 (compatible; Google-Read-Aloud; +https://support.google.com/webmasters/answer/1061943)",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {
            "user": "vhabbo@epic.com"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/block_demo",
          "executionMode": "production"
        }
      }
    ],
    "Unblock": [
      {
        "json": {
          "headers": {
            "host": "xl.epicpc.com",
            "x-real-ip": "66.249.83.40",
            "x-forwarded-for": "66.249.83.40",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "user-agent": "Mozilla/5.0 (Linux; Android 7.0; SM-G930V Build/NRD90M) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Mobile Safari/537.36 (compatible; Google-Read-Aloud; +https://support.google.com/webmasters/answer/1061943)",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {
            "user": "vhabbo@epic.com"
          },
          "body": {},
          "webhookUrl": "https://xl.epicpc.com/webhook/block_demo",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-03-06T18:14:21.666Z",
  "versionId": "535c8a7c-25a6-4844-91be-0ca3e0da5c36"
}